<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">
        <p:messages id="mainMessage" showDetail="true" showSummary="false" closable="true" />
        <h:form id="form">
            <p:messages id="mainMessage3" showDetail="true" showSummary="false" closable="true" />
            <p:growl id="growl" showDetail="true" showSummary="false" widgetVar="growl" />

            <p:dataTable value="#{stationController.lazyStationPlan}" id="tableStationId"
                         lazy="true" var="stationPlan" rowKey="#{stationPlan.id}"
                         selection="#{stationController.selectStationPlans}" filterDelay="3000"
                         rowIndexVar="cusIdx" editable="true" editMode="cell"
                         rows="20" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                         rowsPerPageTemplate="5,10,15,20,30,50,60,80,100,150,200" widgetVar="tableStationWidget"
                         emptyMessage="#{msg['datatable.empty']}" styleClass="StationTable Container100 NoPadding MarTop10">
                <f:facet name="header">
                    <div class="Card NoPadding" style="background: transparent;">
                        <div class="Container5" style="text-align: left;">
                            <p:tooltip position="right" for="addCusId"></p:tooltip>
                            <p:commandButton id="addCusId" icon="fa fa-plus-circle" styleClass="OrangeButton White" style="margin-top: 5px"
                                             onclick="PF('block').show()"
                                             oncomplete="PF('addStationDlg').show();PF('block').hide()" update=":actForm"
                                             actionListener="#{stationController.preAddStationPlan}"
                                             title="#{msg['button.insert']}"
                                             />
                        </div>
                        <div class="Container10" style="text-align: left;">
                            <p:tooltip position="left" for="proficientTypeId"></p:tooltip>
                            <p:selectOneMenu filter="true" filterMatchMode="contains" style="margin-left: -15px;margin-top: -2px;font-weight: bold;width: 167px;"
                                             value="#{stationController.selectProficientType}" id="proficientTypeId" >
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type0']}" itemValue="0" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type1']}" itemValue="1" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type2']}" itemValue="2" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type3']}" itemValue="3" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type5']}" itemValue="5" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type7']}" itemValue="7" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type8']}" itemValue="8" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type9']}" itemValue="9" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type10']}" itemValue="10" />
                                <f:selectItem itemLabel="#{msg['label.station.proficient.type11']}" itemValue="11" />
                                <p:ajax update="form,tableStationId,@widgetVar(tableStationWidget)" listener="#{stationController.onStart}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="Container80 Responsive50">

                            <h:outputText styleClass="Fs20" value="#{stationController.selectProficientTypeStr}" />
                        </div>
                        <div class="Container5" style="text-align: right;">
                            <p:commandButton id="toggler" type="button"
                                             style="float:right" icon="fa fa-sliders" styleClass="Fs14 White GreenButton" />
                            <p:columnToggler datasource="tableStationId" trigger="toggler" />
                        </div>
                    </div>

                </f:facet>

                <p:ajax event="page" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                <p:ajax event="filter" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                <p:column headerText="#{msg['datatable.header.stt']}" width="2" style="text-align: center">
                    <h:outputText value="#{cusIdx +1 }" />
                </p:column>
                <p:column selectionMode="multiple" width="2" style="text-align: center" styleClass="center" >
                </p:column>
                <p:column headerText="#{msg['label.station.proficient.type']}" width="50"
                          filterBy="#{stationPlan.proficientTypeStr}">
                    <h:outputText id="proficientTypeStr" value="#{stationPlan.proficientTypeStr}"/>
                    <p:tooltip for="proficientTypeStr"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.crNumber']}" width="50"
                          filterBy="#{stationPlan.crNumber}">
                    <h:outputText id="crNumberId" value="#{stationPlan.crNumber}"/>
                    <p:tooltip for="crNumberId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.rescue.vendor']}" width="40"
                          filterBy="#{stationPlan.vendor.vendorName}">
                    <h:outputText id="stationPlanVendorId" value="#{stationPlan.vendor.vendorName}"/>
                    <p:tooltip for="stationPlanVendorId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.networkType']}" width="20"
                          filterBy="#{stationPlan.networkType}">
                    <h:outputText id="stationPlanNetworkType" value="#{stationPlan.networkType}"/>
                    <p:tooltip for="stationPlanNetworkType"></p:tooltip>
                </p:column>

                <p:column headerText="#{msg['datatable.header.createby']}" width="20"
                          filterBy="#{stationPlan.userCreate}">
                    <h:outputText id="createby" value="#{stationPlan.userCreate}"/>
                    <p:tooltip for="createby"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.rescue.update.date']}" width="60"
                          filterBy="#{stationPlan.updateTime}" filterStyleClass="timeRunClass"
                          style="text-align: center">
                    <h:outputText value="#{stationPlan.updateTime}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg['table.header.action']}" width="30" style="text-align: center">
                    <div style="text-align: center">
                        <p:tooltip position="top"></p:tooltip>
                        <p:commandButton title="#{msg['datatable.header.station']}"
                                         rendered="#{stationController.selectProficientType != 1}"
                                         actionListener="#{stationController.preShowStationDetail(stationPlan)}"
                                         oncomplete="PF('dlgShowStation').show()"
                                         icon="fa fa-table"
                                         update ="dlgShowStation"
                                         styleClass="Fs14 White GreenButton" />

                        <p:tooltip position="top"></p:tooltip>
                        <p:commandButton title="#{msg['label.station.DT']}"
                                         actionListener="#{stationController.preShowStationDT(stationPlan)}"
                                         oncomplete="PF('dlgShowStationDT').show()"
                                         icon="fa fa-search"
                                         update ="showStationDTForm"
                                         styleClass="Fs14 White BlueButton" />

                        <p:tooltip position="top"></p:tooltip>
                        <p:commandButton icon="fa fa-download" ajax="false"
                                         disabled="#{stationPlan.fileContent == null}"
                                         styleClass="Fs14 White OrangeButton"
                                         title="#{msg['button.download.template']}">
                            <p:fileDownload value="#{stationController.onDownloadFileResult(stationPlan)}"/>
                        </p:commandButton>


                        <ui:remove>
                            <p:commandButton title="#{msg['label.station.dowload.DT.nodeB']}"
                                             actionListener="#{stationController.preAddStationPlan}"
                                             oncomplete="PF('block').show()"
                                             icon="fa fa-download"
                                             styleClass="Fs14 White OrangeButton"/>
                        </ui:remove>
                    </div>
                </p:column>



            </p:dataTable>
            <p:outputPanel id="actionPanel" style="position: fixed;right: 0px; bottom: 30px;width: 45px;" >
                <p:tooltip position="top" />
                <p:commandButton icon="fa fa-trash" actionListener="#{stationController.preDeleteStationPlan}"
                                 update="@widgetVar(comfirmDeleteStationPlan),:form"
                                 title="#{msg['label.del']}" styleClass="White RedButton Fs14 MarTop5" >
                </p:commandButton>
            </p:outputPanel>

        </h:form>
        <p:dialog widgetVar="addStationDlg" width="60%"
                  height="50%"  modal="true" showEffect="size" hideEffect="scale">
            <f:facet name="header">
                <h:outputText value="#{msg['label.import']}"/>
            </f:facet>
            <h:form id="actForm">
                <div class="Container100 Flex FlexWrap">
                    <div class="Container50 Flex FlexWrap">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['datatable.header.crNumber']}" />
                        <p:inputText class="ui-g-7" id="crNumberInputId" value="#{stationController.currStationPlan.crNumber}" >
                            <p:ajax event="change" update="viewButtonImport" />
                        </p:inputText>
                    </div>
                    <div class="Container50 Flex FlexWrap">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['label.vendorName']}"/>
                        <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7"
                                         value="#{stationController.currStationPlan.vendor}" id="vendorName" converter="vendorConverter">
                            <p:ajax event="change" update="@this,viewButtonImport" listener="#{stationController.onChangeSelectVendor}"/>

                            <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                            <f:selectItems var="vendorObj" itemLabel="#{vendorObj.vendorName}"
                                           itemValue="#{vendorObj}" value="#{stationController.vendors}" />

                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="Container100 Flex FlexWrap">

                    <div class="Container50 Flex FlexWrap" style="margin-bottom: 10px">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['label.networkType']}" rendered="#{stationController.selectProficientType != 1 and stationController.selectProficientType != 5}"/>
                        <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7" rendered="#{stationController.selectProficientType != 1 and stationController.selectProficientType != 5}"
                                         value="#{stationController.currStationPlan.networkType}" id="networkType" >
                            <p:ajax event="change" update="viewButtonImport"/>
                            <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                            <f:selectItem itemLabel="#{msg['label.networkType.2G']}" itemValue="#{msg['label.networkType.2G']}" />
                            <f:selectItem itemLabel="#{msg['label.networkType.3G']}" itemValue="#{msg['label.networkType.3G']}" />


                        </p:selectOneMenu>
                    </div>

                </div>

                <div class="Container100 NoPadding TexAlCenter">

                    <h:outputText class="control-label Container100"
                                  value="Bạn cần chọn đúng file import theo từng vendor và loại node mạng!"
                                  style="color: green"
                    />
                    <p:outputPanel class="Container100 TexAlCenter" id="viewButtonImport">
                        <p:commandButton icon="fa fa-download"
                                         rendered="#{stationController.fileUploadEvents.size() == 0}"
                                         disabled="#{stationController.currStationPlan.networkType == null or stationController.currStationPlan.networkType == '' or
                                       stationController.currStationPlan.vendor == null or stationController.currStationPlan.crNumber == null or stationController.currStationPlan.crNumber == ''}"
                                         styleClass="White MarTop5 Fs14" ajax="false"
                                         value="Tải file template" style="margin: 5px">

                            <p:fileDownload value="#{stationController.onDownloadTemplate()}"/>
                        </p:commandButton>
                        <p:fileUpload allowTypes="/(\.|\/)(xls|xlsx|rar|zip)$/"
                                      disabled="#{stationController.currStationPlan.networkType == null or stationController.currStationPlan.networkType == '' or
                                       stationController.currStationPlan.vendor == null or stationController.currStationPlan.crNumber == null or stationController.currStationPlan.crNumber == ''}"
                                      uploadLabel="#{msg['button.import.temp']}"
                                      fileUploadListener="#{stationController.handleImportStationPlan}"
                                      label="#{msg['label.fileImport']}" onstart="PF('block').show()"
                                      oncomplete="PF('block').hide()"
                                      update=":form,:actForm,uploadPanel,viewListFileUpload,viewButtonImport" multiple="true" auto="true"
                                      invalidFileMessage="#{msg['message.invalid.file.excel']}"
                                      invalidSizeMessage="#{msg['message.invalid.file.size']}"
                                      mode="advanced" skinSimple="true" sizeLimit="30097152" dragDropSupport="true">
                        </p:fileUpload>

                    </p:outputPanel>
                </div>
                <div class="Container100 Flex FlexWrap NoPadding TexAlCenter" style="overflow: hidden;margin-top: -30px">
                    <p:outputPanel class="Container100 TexAlCenter" id="viewListFileUpload" >
                        <p:repeat value="#{stationController.fileUploadEvents}" var="listFileUpload" >

                            <h:panelGrid columns="2" cellpadding="5" style="text-align: center;margin-left: 200px" >
                                <p:commandButton icon="fa fa-close" styleClass="PinkButton White Fs14" title="#{msg['button.delete']}" style="size: 111px"
                                                 actionListener="#{stationController.removeFileImport(listFileUpload)}"
                                                 onstart="PF('block').show()" oncomplete="PF('block').hide()"
                                                 rendered="#{stationController.fileUploadEvents.size() >0}"
                                                 update=":form,@widgetVar(listFileUpload),actForm:viewListFileUpload,actForm:uploadPanel"
                                                 process="@this">
                                </p:commandButton>

                                <h:outputText value="#{listFileUpload.file.fileName}" style="font-style: italic;font-weight:bold;text-align: center"/>
                            </h:panelGrid>
                        </p:repeat>
                    </p:outputPanel>
                    <p:outputPanel class="Container100 TexAlCenter" id="uploadPanel" >
                        <p:commandButton icon="fa fa-upload" styleClass="White Fs14" value="#{msg['button.import']}" style="size: 111px"
                                         actionListener="#{stationController.ImportStationPlan}"
                                         onstart="PF('block').show()" oncomplete="PF('block').hide()"
                                         rendered="#{stationController.fileUploadEvents.size() >0}"
                                         update=":form,buttonResultImport,actForm:uploadPanel"
                                         process="@this">
                        </p:commandButton>
                        <p:commandButton style="color: white;" icon="fa fa-download" ajax="false" id="buttonResultImport"
                                         rendered="#{stationController.resultImport != null}"
                                         value="#{msg['report.result']}">
                            <p:fileDownload value="#{stationController.resultImport}"/>
                        </p:commandButton>
                    </p:outputPanel>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog id="dlgShowStation" widgetVar="dlgShowStation"
                  modal="true" resizable="false"
                  header="#{msg['datatable.header.station']}"
                  width="90%" style="top: 50px; bottom: 30px; overflow: auto">
            <h:panelGrid columns="1" width="100%">
                <div class="Container100 Flex FlexWrap">
                    <p:dataTable value="#{stationController.stationDetails}" id="tableStationDetailId"
                                 lazy="false" var="stationDetail" rowKey="#{stationDetail.id}" filterDelay="2000"
                                 rowIndexVar="cusIdx" editable="true" editMode="cell"
                                 rows="20" paginator="true" paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 rowsPerPageTemplate="5,10,15,20,30,50,60,80,100,150,200" widgetVar="tableStationDetailWidget"
                                 emptyMessage="#{msg['datatable.empty']}" styleClass="StationTable Container100 NoPadding MarTop10">
                        <f:facet name="header">
                            <div class="Card NoPadding" style="background: transparent;">

                                <div class="Container80">
                                    <h:outputText styleClass="Fs20" value="#{msg['datatable.header.station']}" />
                                </div>
                                <div class="Container20" style="text-align: right;">
                                    <p:commandButton id="toggler" type="button"
                                                     style="float:right" icon="fa fa-sliders" styleClass="Fs14 White" />
                                    <p:columnToggler datasource="tableStationDetailId" trigger="toggler" />
                                </div>
                            </div>

                        </f:facet>

                        <p:ajax event="page" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                        <p:ajax event="filter" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                        <p:column headerText="#{msg['datatable.header.stt']}" width="5">
                            <h:outputText value="#{cusIdx +1 }" />
                        </p:column>
                        <p:column headerText="#{msg['label.station.rncBsc']}" width="50"
                                  filterBy="#{stationDetail.rncBsc}">
                            <h:outputText id="rncBscId" value="#{stationDetail.rncBsc}"/>
                            <p:tooltip for="rncBscId"></p:tooltip>
                        </p:column>
                        <p:column headerText="#{msg['label.station.stationCode']}" width="50"
                                  filterBy="#{stationDetail.stationCode}">
                            <h:outputText id="stationCodeId" value="#{stationDetail.stationCode}"/>
                            <p:tooltip for="stationCodeId"></p:tooltip>
                        </p:column>
                        <p:column headerText="#{msg['label.station.cellCode']}" width="50"
                                  filterBy="#{stationDetail.cellCode}">
                            <h:outputText id="cellCodeId" value="#{stationDetail.cellCode}"/>
                            <p:tooltip for="cellCodeId"></p:tooltip>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.update.date']}" width="80"
                                  filterBy="#{stationDetail.updateTime}"
                                  style="text-align: center">
                            <h:outputText value="#{stationDetail.updateTime}">
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msg['datatable.header.station']}" width="20" style="text-align: center">
                            <div style="text-align: center">
                                <p:tooltip position="top"></p:tooltip>
                                <p:commandButton title="#{msg['datatable.header.station']}"
                                                 actionListener="#{stationController.preAddStationPlan}"
                                                 onstart="PF('block').show()"
                                                 oncomplete="PF('block').hide()"
                                                 icon="fa fa-table"
                                                 styleClass="Fs14 White OrangeButton" />
                                <p:tooltip position="top"></p:tooltip>
                            </div>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:panelGrid>
        </p:dialog>

        <p:dialog id="dlgShowStationDT" widgetVar="dlgShowStationDT"
                  modal="true" resizable="false"
                  header="#{msg['label.station.DT']}"
                  width="90%" style="top: 50px; bottom: 30px; overflow: auto">
            <h:form id="showStationDTForm">
                <h:panelGrid columns="1" width="100%">
                    <div class="Container100 Flex FlexWrap">
                        <p:dataTable value="#{stationController.lazyStationDT}" id="tableStationDTId"
                                     lazy="true" var="stationDT" rowKey="#{stationDetail.id}" filterDelay="2000"
                                     rowIndexVar="cusIdx" editable="true" editMode="cell"
                                     rows="20" paginator="true" paginatorPosition="bottom"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                     rowsPerPageTemplate="5,10,15,20,30,50,60,80,100,150,200" widgetVar="tableStationDTWidget"
                                     emptyMessage="#{msg['datatable.empty']}" styleClass="StationTable Container100 NoPadding MarTop10">
                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">

                                    <div class="Container80">
                                        <h:outputText styleClass="Fs20" value="#{msg['label.station.DT']}" />
                                    </div>
                                    <div class="Container20" style="text-align: right;">
                                        <p:commandButton id="toggler1" type="button"
                                                         style="float:right" icon="fa fa-sliders" styleClass="Fs14 White" />
                                        <p:columnToggler datasource="tableStationDTId" trigger="toggler1" />
                                    </div>
                                </div>

                            </f:facet>

                            <p:ajax event="page" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                            <p:ajax event="filter" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                            <p:column headerText="#{msg['datatable.header.stt']}" width="5">
                                <h:outputText value="#{cusIdx +1 }" />
                            </p:column>
                            <p:column headerText="#{msg['label.nodecode']}" width="30"
                                      filterBy="#{stationDT.node.nodeCode}">
                                <h:outputText id="nodeCodeId" value="#{stationDT.node.nodeCode}"/>
                            </p:column>
                            <p:column headerText="#{msg['label.schedule.impact']}" width="50"
                                      filterBy="#{stationDT.flowRunAction.flowRunName}">
                                <h:outputText id="flowRunNameId" value="#{stationDT.flowRunAction.flowRunName}"/>
                            </p:column>
                            <p:column headerText="#{msg['datatable.header.status']}" width="30"  filterBy="#{stationDT.flowRunAction.status}" >
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('WdflowRunActionTable').filter()" >
                                        <f:selectItem itemLabel="#{msg['datatable.header.status']}" itemValue="" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status0']}" itemValue="0" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status1']}" itemValue="1" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status2']}" itemValue="2" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status3']}" itemValue="3" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status4']}" itemValue="4" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status6']}" itemValue="6" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status7']}" itemValue="7" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status10']}" itemValue="10" />
                                        <!--20171031_hienhv4_load tham so truoc khi chay_start-->
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status11']}" itemValue="11" />
                                        <!--20171031_hienhv4_load tham so truoc khi chay_end-->
                                        <!--20171103_hienhv4_Them trang thai tam dung_start-->
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status8']}" itemValue="8" />
                                        <!--20171103_hienhv4_Them trang thai tam dung_end-->
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 0}">
                                    <i class="fa  fa-unlock-alt  Fs18 Gray" style=""></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status0']}" title="#{msg['view.label.flowrunaction.status0']}"
                                                  rendered="#{stationDT.flowRunAction.status == 0}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 1}">
                                    <i class="fa fa-clock-o Fs20" style="color: #00BFFF !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status1']}" rendered="#{stationDT.flowRunAction.status == 1}"
                                                  style="color: #00BFFF;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 2}">
                                    <i class="fa fa-spinner fa-pulse fa-fw Fs20" style="color: #4169E1 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status2']}"
                                                  style="color: #4169E1; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 3}">
                                    <i class="fa fa-check-circle Fs20" style="color: #228B22 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status3']}"
                                                  style="color: #228B22; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 4}">
                                    <i class="fa fa-warning Fs20" style="color: #FF8C00 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status4']}"
                                                  style="color: #FF8C00; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 6}">
                                    <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status6']}" rendered="#{stationDT.flowRunAction.status == 6}"
                                                  style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 7}">
                                    <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status7']}" rendered="#{stationDT.flowRunAction.status == 7}"
                                                  style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 10}">
                                    <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status10']}" rendered="#{stationDT.flowRunAction.status == 10}"
                                                  style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <!--20171031_hienhv4_load tham so truoc khi chay_start-->
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 11}">
                                    <i class="fa  fa-repeat  Fs18" style="color: brown;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status11']}" title="#{msg['view.label.flowrunaction.status11']}"
                                                  rendered="#{stationDT.flowRunAction.status == 11}" style="color: brown; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>
                                <!--20171031_hienhv4_load tham so truoc khi chay_end-->

                                <!--20171103_hienhv4_Them trang thai tam dung_start-->
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunAction.status == 8}">
                                    <i class="fa  fa-pause  Fs18" style="color: lightcoral;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status8']}" title="#{msg['view.label.flowrunaction.status8']}"
                                                  rendered="#{stationDT.flowRunAction.status == 8}" style="color: lightcoral; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>
                                <!--20171103_hienhv4_Them trang thai tam dung_end-->

                            </p:column>
                            <p:column headerText="#{msg['label.schedule.rollack']}" width="50"
                                      rendered="#{stationController.selectProficientType == 10 or stationController.selectProficientType == 11}"
                                      filterBy="#{stationDT.flowRunActionRollback.flowRunName}">
                                <h:outputText id="flowRunNameRollbackId" value="#{stationDT.flowRunActionRollback.flowRunName}"/>
                            </p:column>
                            <p:column headerText="#{msg['datatable.header.status']}" width="30"
                                      rendered="#{stationController.selectProficientType == 10 or stationController.selectProficientType == 11}"
                                      filterBy="#{stationDT.flowRunActionRollback.status}" >
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('WdflowRunActionTable').filter()" >
                                        <f:selectItem itemLabel="#{msg['datatable.header.status']}" itemValue="" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status0']}" itemValue="0" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status1']}" itemValue="1" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status2']}" itemValue="2" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status3']}" itemValue="3" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status4']}" itemValue="4" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status6']}" itemValue="6" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status7']}" itemValue="7" />
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status10']}" itemValue="10" />
                                        <!--20171031_hienhv4_load tham so truoc khi chay_start-->
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status11']}" itemValue="11" />
                                        <!--20171031_hienhv4_load tham so truoc khi chay_end-->
                                        <!--20171103_hienhv4_Them trang thai tam dung_start-->
                                        <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status8']}" itemValue="8" />
                                        <!--20171103_hienhv4_Them trang thai tam dung_end-->
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 0}">
                                    <i class="fa  fa-unlock-alt  Fs18 Gray" style=""></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status0']}" title="#{msg['view.label.flowrunaction.status0']}"
                                                  rendered="#{stationDT.flowRunActionRollback.status == 0}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 1}">
                                    <i class="fa fa-clock-o Fs20" style="color: #00BFFF !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status1']}" rendered="#{stationDT.flowRunActionRollback.status == 1}"
                                                  style="color: #00BFFF;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 2}">
                                    <i class="fa fa-spinner fa-pulse fa-fw Fs20" style="color: #4169E1 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status2']}"
                                                  style="color: #4169E1; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 3}">
                                    <i class="fa fa-check-circle Fs20" style="color: #228B22 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status3']}"
                                                  style="color: #228B22; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 4}">
                                    <i class="fa fa-warning Fs20" style="color: #FF8C00 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status4']}"
                                                  style="color: #FF8C00; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 6}">
                                    <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status6']}" rendered="#{stationDT.flowRunActionRollback.status == 6}"
                                                  style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 7}">
                                    <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status7']}" rendered="#{stationDT.flowRunActionRollback.status == 7}"
                                                  style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 10}">
                                    <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status10']}" rendered="#{stationDT.flowRunActionRollback.status == 10}"
                                                  style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <!--20171031_hienhv4_load tham so truoc khi chay_start-->
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 11}">
                                    <i class="fa  fa-repeat  Fs18" style="color: brown;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status11']}" title="#{msg['view.label.flowrunaction.status11']}"
                                                  rendered="#{stationDT.flowRunActionRollback.status == 11}" style="color: brown; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>
                                <!--20171031_hienhv4_load tham so truoc khi chay_end-->

                                <!--20171103_hienhv4_Them trang thai tam dung_start-->
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{stationDT.flowRunActionRollback.status == 8}">
                                    <i class="fa  fa-pause  Fs18" style="color: lightcoral;"></i>
                                    <br />
                                    <h:outputText value="#{msg['view.label.flowrunaction.status8']}" title="#{msg['view.label.flowrunaction.status8']}"
                                                  rendered="#{stationDT.flowRunActionRollback.status == 8}" style="color: lightcoral; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>
                                <!--20171103_hienhv4_Them trang thai tam dung_end-->

                            </p:column>
                            <p:column headerText="#{msg['datatable.header.time.timeRunActual']}"
                                      filterBy="#{stationDT.flowRunAction.timeRun}"
                                      rendered="#{stationController.selectProficientType == 10 or stationController.selectProficientType == 11}"
                                      width="80" style="text-align: center;">
                                <h:outputText value="#{stationDT.flowRunAction.timeRun}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="#{msg['label.command.type.impact.dt.rollback']}" width="20" style="text-align: center"
                                      rendered="#{stationController.selectProficientType == 10 or stationController.selectProficientType == 11}" >
                                <p:commandButton icon="fa fa-play" styleClass="PinkButton White Fs16"
                                                 disabled="#{stationDT.flowRunAction.status != 3 || (stationDT.flowRunActionRollback.status &lt; 1)|| !sessionUtil.execute}"
                                                 title="#{msg['view.button.run.dt']}" process="@this"
                                                 actionListener="#{stationController.runDTRollback(stationDT.flowRunActionRollback)}"
                                                 onstart="PF('block').show()"
                                                 oncomplete="PF('block').hide()" update="tableStationDTId"
                                                 >
                                </p:commandButton>
                            </p:column>

                            <ui:remove>
                                <p:column headerText="#{msg['label.group.action']}" width="50"
                                          filterBy="#{stationDT.groupActionName}">
                                    <h:outputText id="groupActionNameId" value="#{stationDT.groupActionName}"/>
                                </p:column>
                            </ui:remove>

                            <p:column headerText="#{msg['label.fileName']}" width="50"
                                      rendered="#{stationController.selectProficientType == 0 or stationController.selectProficientType == 1}"
                                      filterBy="#{stationDT.fileName}">
                                <h:outputText id="fileNameId" value="#{stationDT.fileName}"/>
                            </p:column>
                            <p:column headerText="#{msg['label.dowload.fileName']}" width="20"
                                      rendered="#{stationController.selectProficientType == 0 or stationController.selectProficientType == 1}"
                                      style="text-align: center">
                                <div style="text-align: center">
                                    <p:tooltip position="top"></p:tooltip>
                                    <p:commandButton title="#{msg['label.dowload.fileName']}"
                                                     rendered="#{stationDT.fileName != '' and stationDT.fileName != null}"
                                                     onstart="PF('block').show()"
                                                     oncomplete="PF('block').hide()"
                                                     icon="fa fa-download"
                                                     update=":form"
                                                     ajax="false"
                                                     styleClass="Fs14 White OrangeButton" >
                                        <p:fileDownload value="#{stationController.onDownloadFilePutOSS(stationDT)}" />
                                    </p:commandButton>
                                </div>
                            </p:column>

                        </p:dataTable>
                    </div>
                </h:panelGrid>
            </h:form>
        </p:dialog>
        <p:dialog widgetVar="defineRuleDlg" width="60%"
                  height="50%"  modal="true" showEffect="size" hideEffect="scale">
            <f:facet name="header">
                <h:outputText value="#{msg['label.rule']}"/>
            </f:facet>
            <h:form id="ruleForm">
                <div style="overflow: auto; height: 500px; text-align:center; margin-bottom: 20px;">
                    <p:panel id="hotspot" header="#{msg['label.rule.sd.hotspot']}" style="margin-bottom: 20px;">
                        <h:panelGrid columns="4" cellpadding="10">
                            <f:facet name="header">
                                <h:outputText value = "#{msg['label.rule.sd.hotspot']}"/>
                            </f:facet>

                            <h:outputText value="" />
                            <h:outputText value="#{msg['label.TU']} &lt;" />
                            <p:spinner value="#{changeHrController.hotspot1SDRightValue}" stepFactor="1"/>
                            <p:inputText id="hotspot1SDValue" value="#{changeHrController.hotspot1SDValue}" required="true"/>

                            <p:spinner value="#{changeHrController.hotspot2SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt;= #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.hotspot2SDRightValue}" stepFactor="1"/>
                            <p:inputText id="hotspot2SDValue" value="#{changeHrController.hotspot2SDValue}" required="true"/>

                            <p:spinner value="#{changeHrController.hotspot3SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']}" />
                            <h:outputText value="" />
                            <p:inputText id="hotspot3SDValue" value="#{changeHrController.hotspot3SDValue}" required="true"/>
                        </h:panelGrid>
                    </p:panel>
                    <p:panel id="normal" header="#{msg['label.rule.sd.normal']}" style="margin-bottom: 20px;">
                        <h:panelGrid columns="4" cellpadding="10">
                            <h:outputText value="" />
                            <h:outputText value="#{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal1SDRightValue}" stepFactor="1"/>
                            <p:inputText id="normal1SDValue" value="#{changeHrController.normal1SDValue}" required="true"/>

                            <p:spinner value="#{changeHrController.normal2SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal2SDRightValue}" stepFactor="1"/>
                            <p:inputText id="normal2SDValue" value="#{changeHrController.normal2SDValue}" required="true"/>

                            <p:spinner value="#{changeHrController.normal3SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal3SDRightValue}" stepFactor="1"/>
                            <p:inputText id="normal3SDValue" value="#{changeHrController.normal3SDValue}" required="true"/>

                            <p:spinner value="#{changeHrController.normal4SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']}" />
                            <h:outputText value="" />
                            <p:inputText id="normal4SDValue" value="#{changeHrController.normal4SDValue}" required="true"/>
                        </h:panelGrid>
                    </p:panel>
                    <p:panel id="hr" header="#{msg['label.rule.hr']}" style="margin-bottom: 20px;">
                        <h:panelGrid columns="4" cellpadding="10">
                            <h:outputText value="" />
                            <h:outputText value="#{msg['label.TU']} &lt;" />
                            <p:spinner value="#{changeHrController.normal1HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal1HRValue" value="#{changeHrController.normal1HRValue}" decimalPlaces="0" required="true"/>

                            <p:spinner value="#{changeHrController.normal2HRLeftValue}" stepFactor="1" min="#{changeHrController.normal1HRRightValue}"/>
                            <h:outputText value="&lt;= #{msg['label.TU']} &lt;" />
                            <p:spinner value="#{changeHrController.normal2HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal2HRValue" value="#{changeHrController.normal2HRValue}" decimalPlaces="0" required="true"/>

                            <p:spinner value="#{changeHrController.normal3HRLeftValue}" stepFactor="1" min="#{changeHrController.normal2HRRightValue}"/>
                            <h:outputText value="&lt;= #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal3HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal3HRValue" value="#{changeHrController.normal3HRValue}" decimalPlaces="0" required="true"/>

                            <p:spinner value="#{changeHrController.normal4HRLeftValue}" stepFactor="1" min="#{changeHrController.normal3HRRightValue}"/>
                            <h:outputText value="&lt; #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal4HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal4HRValue" value="#{changeHrController.normal4HRValue}" decimalPlaces="0" required="true"/>

                            <p:spinner value="#{changeHrController.normal5HRLeftValue}" stepFactor="1" min="#{changeHrController.normal4HRRightValue}"/>
                            <h:outputText value="&lt; #{msg['label.TU']}" />
                            <h:outputText value="" />
                            <p:inputNumber id="normal5HRValue" value="#{changeHrController.normal5HRValue}" decimalPlaces="0" required="true"/>
                        </h:panelGrid>
                    </p:panel>
                </div>

                <div class="Container100 NoPadding TexAlCenter">
                    <p:commandButton value="#{msg['button.confirm']}"
                                     styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White"
                                     onclick="PF('block').show()"
                                     oncomplete="PF('block').hide();PF('defineRuleDlg').hide()" update=":actForm"
                    />

                    <!--<p:commandButton value="#{msg['button.cancel']}" styleClass="ui-confirmdialog-no AquaButton" process="@this"
                                     oncomplete ="PF('defineRuleDlg').hide()"
                                     actionListener="#{changeHrController.selectChangePlans.clear()}"
                                     update=":form"
                                     icon="ui-icon-close fa fa-close Fs14 White" />-->
                </div>
                <div class="Container100 Flex FlexWrap NoPadding TexAlCenter" style="overflow: hidden;">
                    <div class="Container100 TexAlCenter" >

                    </div>
                </div>
            </h:form>
        </p:dialog>
        <p:confirmDialog global="true" header="#{msg['button.delete']}"  showEffect="face" hideEffect="scale"
                         widgetVar="comfirmDeleteStationPlan" id="comfirmDeleteStationPlan">
            <f:facet name="message">
                <h:outputText value="#{msg['title.confirm.delete']}" />
                <p:spacer width="100%" height="1px"></p:spacer>
            </f:facet>

            <p:commandButton value="Yes" update=":form" process="@this"
                             actionListener="#{stationController.deleteStationPlan}"
                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="No" styleClass="ui-confirmdialog-no AquaButton" process="@this"
                             oncomplete ="PF('comfirmDeleteRiSgRcPlan').hide()"
                             actionListener="#{stationController.selectStationPlans.clear()}"
                             update=":form"
                             icon="ui-icon-close fa fa-close Fs14 White" />
        </p:confirmDialog>


        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="block" draggable="false" closable="false" resizable="false" >
            <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
                <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
                <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
            </span>
        </p:dialog>
        <ui:include src="../topo/index.xhtml" />

        <script type="text/javascript">
            $(document).ready(function () {
                var currentTabID = "tab-7";
                var currentIconID = "10";
                ChangeTab(currentTabID);
            });
            function focusToEnd(index) {
                var txt = document.getElementById('traceForm:logTxt' + index);
                if (txt.createTextRange) {
                    //IE  
                    var FieldRange = txt.createTextRange();
                    FieldRange.moveStart('character', txt.value.length);
                    FieldRange.collapse();
                    FieldRange.select();
                } else {
                    //Firefox and Opera  
                    txt.focus();
                    var length = txt.value.length;
                    txt.setSelectionRange(length, length);
                }
                try {
// 					var cmdDiv= document.getElementById('cmdDiv'+index);
// 					if(cmdDiv!=null)
// 						cmdDiv.scrollTop = cmdDiv.scrollHeight;
                } catch (e) {
                    console.log(e);
                }

            }

        </script>
        <style type="text/css">
            .StationTable .ui-datatable-header {
                background: #00aaff;
                color: white;
                text-transform: uppercase;
            }
            .StationTable .ui-datatable-header .ui-button {
                padding: 0px !important;
            }
            .StationTable table thead tr th{
                background: white;
            }
            .StationTable .ui-paginator{
                background: white;
            }
            .StationTable .ui-datatable-odd{
                background: #F4F4F4;
            }
            .StationTable .ui-paginator .ui-paginator-pages .ui-paginator-page{
                padding: 1px 6px;
                margin-right: 2px;
                border-radius: 50% !important;
            }
            .StationTable .ui-paginator .ui-paginator-pages .ui-state-active,
            .StationTable .ui-paginator .ui-paginator-pages .ui-state-focus{
                background: rgb(0, 150, 136) none repeat scroll 0% 0% !important;
                color: white !important;
                border: none !important;
            }
            .ui-fieldset-legend {
                background: transparent none repeat scroll 0% 0% !important;
                color: rgb(82, 82, 82) !important;
                padding-right: 6px !important;
                padding-left: 6px !important;
            }
            .state tbody tr td{
                text-align: center;
            }
            .state thead tr td{
                font-weight: bold;
            }
            .SlimButton {
                width: 16px !important;
                min-width: 8px !important;
                height: 16px !important;
                min-height: 8px !important;
            }
            .SlimButton .ui-button-text{
                padding: 0px !important;
            }
            .ui-datatable .ui-column-filter{
                width: 95% !important;
                padding-left: 0px!important;
                padding-right: 0px!important;
            }
            .ui-filter-column{
                vertical-align: bottom;
            }
            table tbody#form:tableEnodeId_data.ui-datatable-data.ui-widget-content tr.ui-widget-content.ui-datatable-odd.ui-datatable-selectable td.ui-selection-column{
                padding: 0px !important;
                text-align: center;
            }
            tr td.ui-selection-column {
                padding: 0px !important;
                text-align: center;
            }
            tr td.ui-selection-column div .ui-chkbox-box{
                margin: 0px !important;
            }
            div.DataSrt div table.ui-datagrid-data tbody tr.ui-datagrid-row td.ui-datagrid-column{
                padding: 5px 0px !important;
            }
            .ui-datatable table tbody tr td.NodeSrt{
                padding: 6px 3px !important;
                text-align: center !important;
            }
            .timeRunClass::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color:    red;
                opacity:  1;
                content: "Enter your number";
            }

        </style>
    </ui:define>
</ui:composition>