<ui:composition template="/layout/olympos/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="content">
        <style type="text/css">
            .ui-multiselectlistbox-listcontainer{
                width: 100% !important;
            }
            .cd-text-required {
                color: red;
            }
        </style>
        <script type="text/javascript">
            function showStatus() {
                PF('blockSearch').block();
            }
            function hideStatus() {
                PF('blockSearch').unblock();
            }
        </script>
        <h:form id="form">
            <div class="messagebox tc">
                <p:growl id="mainMessage" showDetail="true" showSummary="false"
                         life="30000"/>
            </div>
            <pe:blockUI content="blockContent"
                        widgetVar="blockSearch"/>

            <h:panelGrid id="blockContent" columns="2"
                         style="display:none;table-layout:auto;" styleClass="blockUi">
                <h:graphicImage library="olympos-layout/images"
                                name="ajax-loader.gif"
                                style="margin-right: 12px; vertical-align: middle;"/>
                <h:outputText value="#{msg['label.process']} ......"
                              style="white-space: nowrap;"/>
            </h:panelGrid>

            <p:layout id="layoutData" styleClass="NoPadding" onResize="setLayoutForm()" >
                <p:layoutUnit rendered="#{admViewDataController.functionCode == null or admViewDataController.functionCode.trim().isEmpty()}" position="west" resizable="true" style="height: 80vh;" size="15%">
                    <p:dataTable var="select" value="#{admViewDataController.lstFunctions}" rowStyleClass="#{select.choose ? 'rowChoose' : 'rowNoChoose'}"
                                 style="width: 100%; height: 100%" id="tableFuntions">
                        <p:column headerText="#{msg['subtab.functionList']}"
                                  filterBy="#{select.functionTitle}"
                                  sortBy="#{select.functionTitle}"
                                  filterStyle="width : 90%">
                            <p:commandLink actionListener="#{admViewDataController.onViewFunction(select)}"
                                           value="#{select.functionTitle}"
                                           style="text-decoration: none; width: 100%"
                                           onstart="PF('blockSearch').block();"
                                           oncomplete="PF('blockSearch').unblock();"
                                           update="tableFuntions :form:pnlSearch :form:pnlResult :form:btnSearch :form:btnExport form:pnMain">
                                <p:graphicImage class="fa fa-eye"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:layoutUnit>
                <p:layoutUnit position="center" id="layoutFlowCenter"
                              resizable="true">
                    <p:outputPanel id="pnMain"
                             style="border-radius: 0px !important; margin-top: 5px; margin-bottom: 5px;">
                        <p:panel header="#{msg['subtab.search']}" toggleable="true" rendered="#{admViewDataController.listConfigFunc.size() > 0}"
                                 style="border-radius: 0px !important; margin-top: 5px; margin-bottom: 5px;">
                            <h:panelGrid id="pnlSearch" cellpadding="5" columns="6" width="100%">
                                <h:panelGrid cellpadding="5" columns="6" width="100%">
                                    <c:forEach  items="#{admViewDataController.listCondsUltility}" var="cond">
                                        <p:outputLabel class="cd-text-required" 
                                                       value="#{cond.condition.controlLabel}" 
                                                       rendered="#{cond.condition.isRequire == 'isRequire'}" 
                                                       style="width: 135px"
                                                       />
                                        <p:outputLabel value="#{cond.condition.controlLabel}" 
                                                       rendered="#{cond.condition.isRequire == null or cond.condition.isRequire == ''}" 
                                                       style="width: 135px"
                                                       />
                                        <p:inputText value="#{cond.valueSearch}" maxlength="1000" 
                                                     rendered="#{cond.condition.controlType == 'TextBox'}" 
                                                     style="width: 135px" />
                                        <p:spinner value="#{cond.valueSearch}" 
                                                   rendered="#{cond.condition.controlType == 'Spinner'}" 
                                                   min="#{cond.condition.minValue}" max="#{cond.condition.maxValue}"/>
                                        <p:inputTextarea value="#{cond.valueSearch}" maxlength="1000" 
                                                         rendered="#{cond.condition.controlType == 'TextArea'}" 
                                                         style="width: 135px" autoResize="false" rows="2" />
                                        <p:calendar value="#{cond.valueSearch}" 
                                                    rendered="#{cond.condition.controlType == 'DatePicker'}"
                                                    style="width: 135px" pattern="dd/MM/yyyy">
                                        </p:calendar>
                                        <p:calendar value="#{cond.valueSearch}" 
                                                    rendered="#{cond.condition.controlType == 'DateTimePicker'}"
                                                    style="width: 135px" pattern="dd/MM/yyyy HH:mm:ss">
                                        </p:calendar>
                                        <p:selectOneMenu value="#{cond.valueSearch}" 
                                                         rendered="#{cond.condition.controlType == 'SelectedBox' and cond.condDepend!= null and !cond.condDepend.isEmpty()}"
                                                         style="width: 100px" filter="true">
                                            <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                           itemLabel="#{item.label}"/>
                                            <p:ajax event="change" listener="#{admViewDataController.onChangeControl(query.query.id.queryId, cond.condition.id.controlId)}" 
                                                    update=":form:pnlSearch"/>
                                        </p:selectOneMenu>
                                        <p:selectOneMenu value="#{cond.valueSearch}" 
                                                         rendered="#{cond.condition.controlType == 'SelectedBox' and ( cond.condDepend == null or cond.condDepend.isEmpty())}"
                                                         style="width: 100px" filter="true">
                                            <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                           itemLabel="#{item.label}"/>
                                        </p:selectOneMenu>
                                        <p:selectManyMenu value="#{cond.listValueSearch}" 
                                                          showCheckbox="true"
                                                          scrollHeight="110"
                                                          rendered="#{cond.condition.controlType == 'MultiSelect' and ( cond.condDepend == null or cond.condDepend.isEmpty())}"
                                                          style="width: 135px" filter="true">
                                            <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                           itemLabel="#{item.label}"/>
                                        </p:selectManyMenu>
                                        <p:selectManyMenu value="#{cond.listValueSearch}" 
                                                          showCheckbox="true"
                                                          scrollHeight="110"
                                                          rendered="#{cond.condition.controlType == 'MultiSelect' and ( cond.condDepend != null and !cond.condDepend.isEmpty())}"
                                                          style="width: 135px" filter="true">
                                            <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                           itemLabel="#{item.label}"/>
                                            <p:ajax event="change" listener="#{admViewDataController.onChangeControl(query.query.id.queryId, cond.condition.id.controlId)}" 
                                                    update=":form:pnlSearch"/>
                                        </p:selectManyMenu>
                                    </c:forEach>
                                </h:panelGrid>
                                <h:panelGrid cellpadding="5" columns="6" width="100%">
                                    <c:forEach  items="#{admViewDataController.listConfigFunc}" var="query">
                                        <c:forEach  items="#{query.conditions}" var="cond" rendered="#{query.conditions != null or !query.conditions.isEmpty()}">
                                            <p:outputLabel class="cd-text-required" 
                                                           value="#{cond.condition.controlLabel}" 
                                                           rendered="#{cond.condition.isRequire == 'isRequire'}" 
                                                           style="width: 135px"
                                                           />
                                            <p:outputLabel value="#{cond.condition.controlLabel}" 
                                                           rendered="#{cond.condition.isRequire == null or cond.condition.isRequire == ''}" 
                                                           style="width: 135px"
                                                           />
                                            <p:inputText value="#{cond.valueSearch}" maxlength="1000" 
                                                         rendered="#{cond.condition.controlType == 'TextBox'}" 
                                                         style="width: 135px" />
                                            <p:spinner value="#{cond.valueSearch}" 
                                                       rendered="#{cond.condition.controlType == 'Spinner'}" 
                                                       min="#{cond.condition.minValue}" max="#{cond.condition.maxValue}"/>
                                            <p:inputTextarea value="#{cond.valueSearch}" maxlength="1000" 
                                                             rendered="#{cond.condition.controlType == 'TextArea'}" 
                                                             style="width: 135px" autoResize="false" rows="2" />
                                            <p:calendar value="#{cond.valueSearch}" 
                                                        rendered="#{cond.condition.controlType == 'DatePicker'}"
                                                        style="width: 135px" pattern="dd/MM/yyyy">
                                            </p:calendar>
                                            <p:calendar value="#{cond.valueSearch}" 
                                                        rendered="#{cond.condition.controlType == 'DateTimePicker'}"
                                                        style="width: 135px" pattern="dd/MM/yyyy HH:mm:ss" >
                                            </p:calendar>
                                            <p:selectOneMenu value="#{cond.valueSearch}" 
                                                             rendered="#{cond.condition.controlType == 'SelectedBox' and cond.condDepend!= null and !cond.condDepend.isEmpty()}"
                                                             style="width: 100px" filter="true">
                                                <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                               itemLabel="#{item.label}"/>
                                                <p:ajax event="change" listener="#{admViewDataController.onChangeControl(query.query.id.queryId, cond.condition.id.controlId)}" 
                                                        update=":form:pnlSearch"/>
                                            </p:selectOneMenu>
                                            <p:selectOneMenu value="#{cond.valueSearch}" 
                                                             rendered="#{cond.condition.controlType == 'SelectedBox' and ( cond.condDepend == null or cond.condDepend.isEmpty())}"
                                                             style="width: 100px" filter="true">
                                                <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                               itemLabel="#{item.label}"/>
                                            </p:selectOneMenu>
                                            <p:selectManyMenu value="#{cond.listValueSearch}" 
                                                              showCheckbox="true"
                                                              scrollHeight="110"
                                                              rendered="#{cond.condition.controlType == 'MultiSelect' and ( cond.condDepend == null or cond.condDepend.isEmpty())}"
                                                              style="width: 135px" filter="true">
                                                <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                               itemLabel="#{item.label}"/>
                                            </p:selectManyMenu>
                                            <p:selectManyMenu value="#{cond.listValueSearch}" 
                                                              showCheckbox="true"
                                                              scrollHeight="110"
                                                              rendered="#{cond.condition.controlType == 'MultiSelect' and ( cond.condDepend != null and !cond.condDepend.isEmpty())}"
                                                              style="width: 135px" filter="true">
                                                <f:selectItems value="#{cond.condition.lstSelect}" var="item" itemValue="#{item.value}"
                                                               itemLabel="#{item.label}"/>
                                                <p:ajax event="change" listener="#{admViewDataController.onChangeControl(query.query.id.queryId, cond.condition.id.controlId)}" 
                                                        update=":form:pnlSearch"/>
                                            </p:selectManyMenu>
                                        </c:forEach>
                                    </c:forEach>
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:panelGrid width="100%">
                                <f:facet name="footer">
                                    <div align="center">
                                        <h:panelGrid columns="2" cellpadding="5">
                                            <p:commandButton id="btnSearch" value="#{msg['button.search']}"
                                                             actionListener="#{admViewDataController.onSearch}"
                                                             update=":form:mainMessage :form:pnlResult"
                                                             onstart="PF('blockSearch').block();"
                                                             oncomplete="PF('blockSearch').unblock();"
                                                             disabled="#{admViewDataController.selectedObj == null}"
                                                             icon="fa fa-search"/>
                                            <p:commandButton id="btnExport" value="#{msg['button.export']}" ajax="false" 
                                                             onclick="PrimeFaces.monitorDownload(showStatus, hideStatus);" 
                                                             disabled="#{admViewDataController.selectedObj == null}"
                                                             icon="fa fa-file-excel-o">
                                                <p:fileDownload value="#{admViewDataController.onExport()}" />
                                            </p:commandButton>
                                        </h:panelGrid>
                                    </div>
                                </f:facet>
                            </h:panelGrid>
                        </p:panel>
                        <p:outputPanel id="pnlResult"
                                 style="border-radius: 0px !important; margin-top: 5px; margin-bottom: 5px;">
                            <c:forEach id="gridData"  items="#{admViewDataController.listConfigFunc}" var="query">
                                <p:dataTable var="obj" value="#{query.datas}" rows="#{query.rows}" 
                                             id="#{query.query.widgetName}"
                                             widgetVar="#{query.query.widgetName}"
                                             resizableColumns="true" scrollable="true"
                                             rowIndexVar="rowIndex"
                                             lazy="true">
                                    <f:facet name="header">
                                        <div class="Card NoPadding" style="background: transparent;">
                                            <ui:remove>
                                            <div class="Container50 Responsive50" style="text-align: left;">
                                                <p:outputLabel value="Total: #{query.totalRows} rows  " style="font-size: 16px; text-align: left; width: 50px"/>
                                                <p:commandLink title="#{msg['button.firstPage']}"
                                                               class="cd-btn-table"
                                                               actionListener="#{admViewDataController.onSearch(1, query.query.id.queryId)}"
                                                               update="#{query.query.widgetName}"
                                                               disabled="#{query.page == 1}"
                                                               onstart="PF('blockSearch').block();"
                                                               oncomplete="PF('blockSearch').unblock();">
                                                    <i class="fa fa-angle-double-left" style="font-size:30px;color:green;"></i>
                                                </p:commandLink>
                                                <p:commandLink title="#{msg['button.prePage']}"
                                                               class="cd-btn-table"
                                                               actionListener="#{admViewDataController.onSearch(2, query.query.id.queryId)}"
                                                               update="#{query.query.widgetName}"
                                                               disabled="#{query.page == 1}"
                                                               onstart="PF('blockSearch').block();"
                                                               oncomplete="PF('blockSearch').unblock();">
                                                    <i class="fa fa-angle-left" style="font-size:30px;color:green;"></i>
                                                </p:commandLink>
                                                <p:outputLabel value="#{query.page}" style="font-size: 16px; text-align: center; width: 30px"/>
                                                <p:commandLink title="#{msg['button.nextPage']}"
                                                               class="cd-btn-table"
                                                               actionListener="#{admViewDataController.onSearch(3, query.query.id.queryId)}"
                                                               update="#{query.query.widgetName}"
                                                               disabled="#{query.page == query.totalPages or query.totalRows == 0}"
                                                               onstart="PF('blockSearch').block();"
                                                               oncomplete="PF('blockSearch').unblock();">
                                                    <i class="fa fa-angle-right" style="font-size:30px;color:green;"></i>
                                                </p:commandLink>
                                                <p:commandLink title="#{msg['button.lastPage']}"
                                                               class="cd-btn-table"
                                                               actionListener="#{admViewDataController.onSearch(4, query.query.id.queryId)}"
                                                               update="#{query.query.widgetName}"
                                                               disabled="#{query.page == query.totalPages or query.totalRows == 0}"
                                                               onstart="PF('blockSearch').block();"
                                                               oncomplete="PF('blockSearch').unblock();">
                                                    <i class="fa fa-angle-double-right" style="font-size:30px;color:green;"></i>
                                                </p:commandLink>
                                                <p:selectOneMenu value="#{query.rows}"
                                                                 style="width: 15px" 
                                                                 class="ui-paginator-rpp-options ui-widget ui-state-default ui-corner-left">
                                                    <f:selectItem itemValue="10" itemLabel="10"/>
                                                    <f:selectItem itemValue="20" itemLabel="20"/>
                                                    <f:selectItem itemValue="50" itemLabel="50"/>
                                                    <f:selectItem itemValue="100" itemLabel="100"/>
                                                    <f:selectItem itemValue="200" itemLabel="200"/>
                                                    <f:selectItem itemValue="500" itemLabel="500"/>
                                                    <p:ajax event="change" listener="#{admViewDataController.onSearch(0, query.query.id.queryId)}" 
                                                            update="#{query.query.widgetName}"
                                                            onstart="PF('blockSearch').block();"
                                                            oncomplete="PF('blockSearch').unblock();"/>
                                                </p:selectOneMenu>
                                            </div>
                                            </ui:remove>
                                            <div class="Container80 Responsive50" style="text-align: left">
                                                <h:outputText styleClass="Fs18" value="#{query.query.gridName!= null and query.query.gridName!= '' ? query.query.gridName : ''}" />
                                            </div>
                                            <div class="Container20" style="text-align: right;">
                                                <h:commandLink title="Export">
                                                    <p:commandButton title="Export" icon="fa fa-file-excel-o" ></p:commandButton>
                                                    <p:dataExporter type="xls" target="#{query.query.widgetName}" fileName="DataExport">
                                                    </p:dataExporter>  
                                                </h:commandLink>
                                            </div>
                                        </div>
                                    </f:facet>
                                    <p:column style="width: 40px; text-align: center;">
                                        <f:facet name="header">
                                            <h:outputText value="#{msg['table.header.stt']}"/>
                                        </f:facet>
                                        <h:outputText value="#{(query.page-1)* query.rows + rowIndex+ 1}"/>
                                    </p:column>
                                    <c:forEach items="#{query.columns}" var="column">
                                        <p:column style="width: 120px; text-align: center;" 
                                                  rendered="#{column.columnStyle == 'Date'}">
                                            <f:facet name="header">
                                                <h:outputText value="#{column.columnName}"/>
                                            </f:facet>
                                            <h:outputText value="#{obj[column.fieldInDataModel]}" title="#{obj[column.fieldInDataModel]}"/>
                                        </p:column>
                                        <p:column style="width: 120px; text-align: center;" 
                                                  rendered="#{column.columnStyle == 'DateTime'}">
                                            <f:facet name="header">
                                                <h:outputText value="#{column.columnName}"/>
                                            </f:facet>
                                            <h:outputText value="#{obj[column.fieldInDataModel]}" title="#{obj[column.fieldInDataModel]}"/>
                                        </p:column>
                                        <p:column style="width: 120px; text-align: left;" 
                                                  rendered="#{column.columnStyle == null or column.columnStyle == '' or column.columnStyle == 'Link' or column.columnStyle == 'LinkDialog' or column.columnStyle == 'LinkDownload'}">
                                            <f:facet name="header">
                                                <h:outputText value="#{column.columnName}"/>
                                            </f:facet>
                                            <h:outputText value="#{obj[column.fieldInDataModel]}" title="#{obj[column.fieldInDataModel]}"/>
                                        </p:column>
                                        <p:column style="width: 120px; text-align: right;" 
                                                  rendered="#{column.columnStyle == 'Integer' or column.columnStyle == 'Float' or column.columnStyle == 'Number' or column.columnStyle == 'LinkDownload'}">
                                            <f:facet name="header">
                                                <h:outputText value="#{column.columnName}"/>
                                            </f:facet>
                                            <h:outputText value="#{obj[column.fieldInDataModel]}" title="#{obj[column.fieldInDataModel]}"/>
                                        </p:column>
                                    </c:forEach>
                                    <f:facet name="footer">
                                        <div class="NoPadding" style="background: transparent; text-align: center; alignment-adjust: central; width: 100%; display: inline; vertical-align: middle;">
                                            <p:outputLabel value="Total #{query.totalRows} rows" style="font-size: 16px; text-align: left; width: 50px; vertical-align: middle; margin-right: 15px;"/>
                                            <p:commandLink title="#{msg['button.firstPage']}"
                                                           class="cd-btn-table"
                                                           actionListener="#{admViewDataController.onSearch(1, query.query.id.queryId)}"
                                                           update="#{query.query.widgetName}"
                                                           disabled="#{query.page == 1}" style="vertical-align: middle; margin-right: 15px; text-decoration: none"
                                                           onstart="PF('blockSearch').block();"
                                                           oncomplete="PF('blockSearch').unblock();">
                                                <i class="fa fa-angle-double-left" style="font-size:25px; color:#0084b4; vertical-align: middle;"></i>
                                            </p:commandLink>
                                            <p:commandLink title="#{msg['button.prePage']}"
                                                           class="cd-btn-table" style="vertical-align: middle; margin-right: 15px; text-decoration: none"
                                                           actionListener="#{admViewDataController.onSearch(2, query.query.id.queryId)}"
                                                           update="#{query.query.widgetName}"
                                                           disabled="#{query.page == 1}"
                                                           onstart="PF('blockSearch').block();"
                                                           oncomplete="PF('blockSearch').unblock();">
                                                <i class="fa fa-angle-left" style="font-size:25px; color:#0084b4; vertical-align: middle;"></i>
                                            </p:commandLink>
                                            <p:outputLabel value="#{query.page}" style="font-size: 16px; text-align: center; width: 30px; vertical-align: middle; margin-right: 15px;"/>
                                            <p:commandLink title="#{msg['button.nextPage']}"
                                                           class="cd-btn-table" style="vertical-align: middle; margin-right: 15px; text-decoration: none"
                                                           actionListener="#{admViewDataController.onSearch(3, query.query.id.queryId)}"
                                                           update="#{query.query.widgetName}"
                                                           disabled="#{query.page == query.totalPages or query.totalRows == 0}"
                                                           onstart="PF('blockSearch').block();"
                                                           oncomplete="PF('blockSearch').unblock();">
                                                <i class="fa fa-angle-right" style="font-size:25px; color:#0084b4; vertical-align: middle;"></i>
                                            </p:commandLink>
                                            <p:commandLink title="#{msg['button.lastPage']}"
                                                           class="cd-btn-table" style="vertical-align: middle; margin-right: 15px; text-decoration: none"
                                                           actionListener="#{admViewDataController.onSearch(4, query.query.id.queryId)}"
                                                           update="#{query.query.widgetName}"
                                                           disabled="#{query.page == query.totalPages or query.totalRows == 0}"
                                                           onstart="PF('blockSearch').block();"
                                                           oncomplete="PF('blockSearch').unblock();">
                                                <i class="fa fa-angle-double-right" style="font-size:25px; color:#0084b4; vertical-align: middle;"></i>
                                            </p:commandLink>
                                            <p:selectOneMenu value="#{query.rows}"
                                                             style="width: 15px; vertical-align: middle;" 
                                                             class="ui-paginator-rpp-options ui-widget ui-state-default ui-corner-left">
                                                <f:selectItem itemValue="10" itemLabel="10"/>
                                                <f:selectItem itemValue="20" itemLabel="20"/>
                                                <f:selectItem itemValue="50" itemLabel="50"/>
                                                <f:selectItem itemValue="100" itemLabel="100"/>
                                                <p:ajax event="change" listener="#{admViewDataController.onSearch(0, query.query.id.queryId)}" 
                                                        update="#{query.query.widgetName}"
                                                        onstart="PF('blockSearch').block();"
                                                        oncomplete="PF('blockSearch').unblock();"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </f:facet>
                                </p:dataTable>
                            </c:forEach>
                        </p:outputPanel>
                    </p:outputPanel>
                </p:layoutUnit>
            </p:layout>
        </h:form>
        
        <style type="text/css">
            .rowChoose {
                background-color: #eeeeee !important;
            }
            .rowNoChoose {
                background-color: #ffffff !important;
            }
            
            #layout-footer {
                display: none;
                height: 0px;
            }
        </style>
        
        <script type="text/javascript">
            $(document).ready(function () {
                setLayoutForm();
            });
            
            function setLayoutForm(event) {
                var heightLayout = window.innerHeight - 47 - 20;
                $("#form\\:layoutData").css('height', heightLayout);
                $("#form\\:layoutData").children().css('height', heightLayout);
                $("#form\\:layoutData").children().children().css('height',
                    heightLayout);
            }
            
            $(window).on('load', function () {
                setUpTab('tab3', 'tab3-4');
            });
        </script>
    </ui:define>
</ui:composition>
