<ui:composition template="/layout/olympos/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="content">
        <h:form id="form">
            <div class="messagebox tc">
                <p:growl id="mainMessage" showDetail="true" showSummary="false"
                         life="30000"/>
            </div>
            <pe:blockUI content="blockContent"
                        widgetVar="blockSearch"/>

            <h:panelGrid id="blockContent" columns="2"
                         style="display:none;table-layout:auto;" styleClass="blockUi">
                <h:graphicImage library="olympos-layout/images"
                                name="ajax-loader.gif"
                                style="margin-right: 12px; vertical-align: middle;"/>
                <h:outputText value="#{msg['label.process']} ......"
                              style="white-space: nowrap;"/>
            </h:panelGrid>

            <h:panelGrid cellpadding="3"></h:panelGrid>


            <p:dataTable var="obj" value="#{admAlarmScheduleController.lazyModel}"
                         resizableColumns="true"
                         scrollable="true"
                         paginator="true" rows="25" filterEvent="keyup"
                         rowKey="#{obj.functionCode}" rowIndexVar="rowIndex"
                         paginatorPosition="bottom" id="objectTable"
                         widgetVar="objectTable" rowsPerPageTemplate="25, 50, 100"
                         emptyMessage="#{msg['table.nodata']}" lazy="true"
                         editable="false" editMode="cell">
                <f:facet name="header">
                    <div class="Card NoPadding" style="background: transparent;">
                        <div class="Container20 Responsive50" style="text-align: left;">
                        </div>
                        <div class="Container60 Responsive50">
                            <h:outputText styleClass="Fs18" value="#{msg['label.adm.alarmSchedule']}" />
                        </div>
                        <div class="Container20" style="text-align: right;">
                            <p:commandButton title="#{msg['button.search']}"
                                             icon="fa fa-search White"
                                             onstart="PF('blockSearch').block();" oncomplete="PF('blockSearch').unblock();"
                                             update="objectTable"/>
                            <p:commandButton title="#{msg['button.add']}" 
                                             actionListener="#{admAlarmScheduleController.prepareEdit(null, false)}"
                                             onstart="PF('blockSearch').block();"
                                             icon="fa fa-plus White"
                                             oncomplete="PF('dlgAdd').show(); PF('blockSearch').unblock();" update=":form:dlgAdd"/>
                        </div>
                    </div>
                </f:facet>
                <p:column style="width: 50px; text-align: center;">
                    <f:facet name="header">
                        <h:outputText value="#{msg['table.header.stt']}"/>
                    </f:facet>
                    <h:outputText value="#{rowIndex+ 1}"/>
                </p:column>
                <p:column style="width: 150px; text-align: center;" exportable="false">
                    <f:facet name="header">
                        <h:outputText value="#{msg['table.header.action']}"/>
                    </f:facet>
                    <p:splitButton value="#{msg['button.update']}" icon="fa fa-fw fa-edit White"
                                   onclick="PF('blockSearch').block();"
                                   actionListener="#{admAlarmScheduleController.prepareEdit(obj, true)}"
                                   oncomplete="PF('dlgAdd').show(); PF('blockSearch').unblock();" update=":form:dlgAdd">
                        <p:menuitem value="#{msg['table.header.delete']}" icon="fa fa-remove Red"
                                    actionListener="#{admAlarmScheduleController.onDelete(obj)}" 
                                    update=":form:mainMessage :form:objectTable">
                            <p:confirm id="confirmDeleteObjs" icon="ui-icon-alert" 
                                       header="#{msg['table.header.delete']}" 
                                       message="#{msg['label.message.confirmDialog']}"/>
                        </p:menuitem>
                    </p:splitButton>
                </p:column>
                <p:column style="width: 150px; text-align: center;" 
                          sortBy="#{obj.functionCode}"
                              filterBy="#{obj.functionCode}"
                              filterStyle="width:70%"
                          >
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.adm.functionCode']}"/>
                    </f:facet>
                    <p:outputLabel value="#{obj.functionCode}"/>
                </p:column>
                <p:column style="width: 150px;text-align: center;" 
                          sortBy="#{obj.startDate}"
                          filterBy="#{obj.startDate-BW}"
                          filterStyle="width:70%">
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.startDate']}"/>
                    </f:facet>
                    <f:facet name="filter">
                        <p:calendar pattern="dd/MM/yyyy">
                            <p:ajax event="dateSelect" oncomplete="PF('objectTable').filter()"/>
                        </p:calendar>
                    </f:facet>
                    <h:outputText value="#{obj.startDate}" >
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
                <p:column style="width: 150px;text-align: center;" 
                          sortBy="#{obj.endDate}"
                          filterBy="#{obj.endDate-BW}"
                          filterStyle="width:70%">
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.endDate']}"/>
                    </f:facet>
                    <f:facet name="filter">
                        <p:calendar pattern="dd/MM/yyyy">
                            <p:ajax event="dateSelect" oncomplete="PF('objectTable').filter()"/>
                        </p:calendar>
                    </f:facet>
                    <h:outputText value="#{obj.endDate}" >
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
                <p:column style="width: 150px; text-align: center;" 
                          sortBy="#{obj.repeatNumber}"
                          filterBy="#{obj.repeatNumber}"
                          filterStyle="width:70%"
                          >
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.cycle']}"/>
                    </f:facet>
                    <p:outputLabel value="#{obj.runCycle}"/>
                </p:column>
                <p:column style="width: 150px; text-align: center;" 
                          sortBy="#{obj.status}"
                          filterBy="#{obj.status}"
                          filterStyle="width:70%"
                          >
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.status']}"/>
                    </f:facet>
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('objectTable').filter()">
                        <f:selectItem itemLabel="" itemValue=""></f:selectItem>
                        <f:selectItem itemLabel="#{msg['label.active']}" itemValue="1"></f:selectItem>
                        <f:selectItem itemLabel="#{msg['label.inactive']}" itemValue="0"></f:selectItem>
                    </p:selectOneMenu>
                    </f:facet>
                    <p:outputLabel value="#{msg['label.active']}" rendered="#{obj.status == 1}"/>
                    <p:outputLabel value="#{msg['label.inactive']}" rendered="#{obj.status == 0}"/>
                </p:column>
                <p:column style="width: 150px;text-align: center;" 
                          sortBy="#{obj.lastRunTime}"
                          filterBy="#{obj.lastRunTime-BW}"
                          filterStyle="width:70%">
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.lastRunTime']}"/>
                    </f:facet>
                    <f:facet name="filter">
                        <p:calendar pattern="dd/MM/yyyy">
                            <p:ajax event="dateSelect" oncomplete="PF('objectTable').filter()"/>
                        </p:calendar>
                    </f:facet>
                    <h:outputText value="#{obj.lastRunTime}" >
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>

            <p:dialog closeOnEscape="true" widgetVar="dlgAdd" width="auto" id="dlgAdd" modal="true" showEffect="size" hideEffect="scale"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.alarmSchedule.add']}" rendered="#{!admAlarmScheduleController.isEdit}"/>
                    <h:outputText value="#{msg['dlg.header.adm.alarmSchedule.update']}" rendered="#{admAlarmScheduleController.isEdit}"/>
                </f:facet>
                <h:panelGrid columns="1" cellpadding="5" id="pnl-schedule">
                    <h:outputText class="cd-text-required" value="#{msg['label.adm.functionCode']}:"></h:outputText>
                    <p:selectOneMenu value="#{admAlarmScheduleController.addOrUpdateObj.functionCode}"
                                     style="width: 135px"
                                     rendered="#{!admAlarmScheduleController.isEdit}" filter="true">
                        <f:selectItem itemLabel="#{msg['label.choose']}" itemValue=""></f:selectItem>
                        <f:selectItems value="#{admAlarmScheduleController.listAdmFunc}" var="item" itemLabel="#{item.functionCode}" itemValue="#{item.functionCode}"/>
                    </p:selectOneMenu>
                    <p:inputText value="#{admAlarmScheduleController.addOrUpdateObj.functionCode}" rendered="#{admAlarmScheduleController.isEdit}" disabled="true"/>
                    <h:outputText class="cd-text-required" value="#{msg['label.startDate']}:"></h:outputText>
                    <p:calendar value="#{admAlarmScheduleController.addOrUpdateObj.startDate}" pattern="dd/MM/yyyy HH:mm:ss" mask="true"/>
                    <h:outputText class="cd-text-required" value="#{msg['label.endDate']}:"></h:outputText>
                    <p:calendar value="#{admAlarmScheduleController.addOrUpdateObj.endDate}" pattern="dd/MM/yyyy HH:mm:ss" mask="true"/>
                    <h:outputText class="cd-text-required" value="#{msg['label.cycle']}:"></h:outputText>
                    <h:panelGrid columns="2" cellpadding="0">
                        <p:inputText value="#{admAlarmScheduleController.addOrUpdateObj.repeatNumber}"/>
                        <p:selectOneMenu value="#{admAlarmScheduleController.addOrUpdateObj.repeatTime}" style="width: 25%">
                            <f:selectItem itemLabel="#{msg['label.hour']}" itemValue="1"></f:selectItem>
                            <f:selectItem itemLabel="#{msg['label.day']}" itemValue="2"></f:selectItem>
                        </p:selectOneMenu>
                    </h:panelGrid>
                    <h:outputText class="cd-text-required" value="#{msg['label.status']}:"></h:outputText>
                    <p:selectOneMenu value="#{admAlarmScheduleController.addOrUpdateObj.status}" style="width: 135px">
                        <f:selectItem itemLabel="#{msg['label.active']}" itemValue="1"></f:selectItem>
                        <f:selectItem itemLabel="#{msg['label.inactive']}" itemValue="0"></f:selectItem>
                    </p:selectOneMenu>
                    <h:outputText value="#{msg['label.lastRunTime']}:"></h:outputText>
                    <p:calendar value="#{admAlarmScheduleController.addOrUpdateObj.lastRunTime}" disabled="true"
                                pattern="dd/MM/yyyy HH:mm:ss"/>
                </h:panelGrid>
                <h:panelGrid width="100%">
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.save']}"
                                                 actionListener="#{admAlarmScheduleController.saveOrUpdate()}"
                                                 update=":form:mainMessage :form:objectTable"/>
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgAdd').hide();"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>
            <p:confirmDialog global="true" closeOnEscape="true">
                <p:commandButton value="#{msg['button.confirm']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                 onstart="PF('blockSearch').block();"
                                 oncomplete="PF('blockSearch').unblock();">
                </p:commandButton>
                <p:commandButton value="#{msg['button.cancel']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>
        </h:form>
        <style type="text/css">
            span.cd-text-required::after {
                color: red;
                content: "*";
            }
        </style>
        <script type="text/javascript">
            $(window).on('load', function() {
                setUpTab('tab1','tab1-3');

            });
        </script>
    </ui:define>
</ui:composition>