<ui:composition template="/layout/olympos/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="content">
        <h:form id="form">
            <div class="messagebox tc">
                <p:growl id="mainMessage" showDetail="true" showSummary="false"
                         life="30000"/>
            </div>
            <pe:blockUI content="blockContent"
                        widgetVar="blockSearch"/>

            <h:panelGrid id="blockContent" columns="2"
                         style="display:none;table-layout:auto;" styleClass="blockUi">
                <h:graphicImage library="olympos-layout/images"
                                name="ajax-loader.gif"
                                style="margin-right: 12px; vertical-align: middle;"/>
                <h:outputText value="#{msg['label.process']} ......"
                              style="white-space: nowrap;"/>
            </h:panelGrid>

            <h:panelGrid cellpadding="3"></h:panelGrid>

            <p:dataTable var="obj" value="#{admFuncController.lazyModel}"
                         resizableColumns="true"
                         scrollable="true"
                         paginator="true" rows="25" filterEvent="keyup"
                         rowKey="#{obj.functionCode}" rowIndexVar="rowIndex"
                         paginatorPosition="bottom" id="objectTable"
                         widgetVar="objectTable" rowsPerPageTemplate="25, 50, 100"
                         emptyMessage="#{msg['table.nodata']}" lazy="true"
                         editable="false" editMode="cell">
                <f:facet name="header">
                    <div class="Card NoPadding" style="background: transparent;">
                        <div class="Container20 Responsive50" style="text-align: left;">

                        </div>
                        <div class="Container60 Responsive50">
                            <h:outputText styleClass="Fs18" value="#{msg['label.adm.admFunc']}" />
                        </div>
                        <div class="Container20" style="text-align: right;">
                            <p:commandButton title="#{msg['button.search']}" 
                                             icon="fa fa-search White" styleClass="GreenButton"
                                             onstart="PF('blockSearch').block();" oncomplete="PF('blockSearch').unblock();"
                                             update="objectTable"/>
                            <p:commandButton title="#{msg['button.add']}" 
                                             actionListener="#{admFuncController.prepareEdit(null, false)}"
                                             onstart="PF('blockSearch').block();"
                                             icon="fa fa-plus White" styleClass="OrangeButton"
                                             oncomplete="PF('dlgAdd').show(); PF('blockSearch').unblock();" update=":form:dlgAdd"/>
                            <p:commandButton title="#{msg['button.import']}" 
                                             actionListener="#{admFuncController.preImportXml(true)}"
                                             onstart="PF('blockSearch').block();"
                                             icon="fa fa-upload White" styleClass="GreenButton"
                                             oncomplete="PF('dlgImportXML').show(); PF('blockSearch').unblock();" update=":form:dlgImportXML"/>
                            <p:commandButton title="#{msg['button.export']}" 
                                             actionListener="#{admFuncController.preImportXml(false)}"
                                             onstart="PF('blockSearch').block();"
                                             icon="fa fa-download White" styleClass="OrangeButton"
                                             oncomplete="PF('dlgImportXML').show(); PF('blockSearch').unblock();" update=":form:dlgImportXML"/>
                        </div>
                    </div>
                </f:facet>
                <p:column style="width: 50px; text-align: center;">
                    <f:facet name="header">
                        <h:outputText value="#{msg['table.header.stt']}"/>
                    </f:facet>
                    <h:outputText value="#{rowIndex+ 1}"/>
                </p:column>

                <p:column style="width: 150px; text-align: center;" exportable="false">
                    <f:facet name="header">
                        <h:outputText value="#{msg['table.header.action']}"/>
                    </f:facet>
                    <p:splitButton value="#{msg['button.configQuery']}" icon="fa fa-fw fa-edit White"
                                   onclick="PF('blockSearch').block();"
                                   actionListener="#{admFuncController.prepareConfigQuery(obj)}"
                                   oncomplete="PF('dlgConfigQuery').show(); PF('blockSearch').unblock();" update=":form:dlgConfigQuery">
                        <p:menuitem value="#{msg['button.update']}" icon="fa fa-fw fa-edit Blue"
                                    onclick="PF('blockSearch').block();"
                                    actionListener="#{admFuncController.prepareEdit(obj, true)}"
                                    oncomplete="PF('dlgAdd').show(); PF('blockSearch').unblock();" update=":form:dlgAdd">
                        </p:menuitem>
                        <p:menuitem value="#{msg['table.header.delete']}" icon="fa fa-remove Red"
                                    actionListener="#{admFuncController.onDelete(obj)}" 
                                    update=":form:mainMessage :form:objectTable">
                            <p:confirm id="confirmDeleteObjs" icon="ui-icon-alert" 
                                       header="#{msg['table.header.delete']}" 
                                       message="#{msg['label.message.confirmDialog']}"/>
                        </p:menuitem>
                    </p:splitButton>
                </p:column>
                <p:column style="width: 150px;" 
                          sortBy="#{obj.functionCode}"
                          filterBy="#{obj.functionCode}"
                          filterStyle="width:70%">
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.adm.functionCode']}"/>
                    </f:facet>
                    <h:outputText value="#{obj.functionCode}" title="#{obj.functionCode}"/>
                </p:column>
                <p:column style="width: 150px;" 
                          sortBy="#{obj.functionName}"
                          filterBy="#{obj.functionName}"
                          filterStyle="width:70%">
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.adm.functionName']}"/>
                    </f:facet>
                    <h:outputText value="#{obj.functionName}" title="#{obj.functionName}"/>
                </p:column>
                <p:column style="width: 150px;" 
                          sortBy="#{obj.functionTitle}"
                          filterBy="#{obj.functionTitle}"
                          filterStyle="width:70%">
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.adm.functionTitle']}"/>
                    </f:facet>
                    <h:outputText value="#{obj.functionTitle}" title="#{obj.functionTitle}"/>
                </p:column>
                <p:column style="width: 150px;text-align: center;" 
                          sortBy="#{obj.functionType}"
                          filterBy="#{obj.functionType}"
                          filterStyle="width:70%">
                    <f:facet name="header">
                        <h:outputText value="#{msg['label.adm.functionType']}"/>
                    </f:facet>
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('objectTable').filter()" style="width: 135px">
                            <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                            <f:selectItem itemValue="report" itemLabel="#{msg['inocAdmFunc.report']}"/>
                            <f:selectItem itemValue="reportOnly" itemLabel="#{msg['inocAdmFunc.report.without.search']}"/>
                            <f:selectItem itemValue="chart" itemLabel="#{msg['inocAdmFunc.chart']}"/>
                            <f:selectItem itemValue="category" itemLabel="#{msg['inocAdmFunc.category.without.export']}"/>
                            <f:selectItem itemValue="csv" itemLabel="#{msg['inocAdmFunc.csv']}"/>
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{msg['inocAdmFunc.report']}" rendered="#{obj.functionType == 'report'}"/>
                    <h:outputText value="#{msg['inocAdmFunc.report.without.search']}" rendered="#{obj.functionType == 'reportOnly'}"/>
                    <h:outputText value="#{msg['inocAdmFunc.chart']}" rendered="#{obj.functionType == 'chart'}"/>
                    <h:outputText value="#{msg['inocAdmFunc.category.without.export']}" rendered="#{obj.functionType == 'category'}"/>
                    <h:outputText value="#{msg['inocAdmFunc.csv']}" rendered="#{obj.functionType == 'csv'}"/>
                </p:column>
            </p:dataTable>

            <p:confirmDialog global="true" closeOnEscape="true">
                <p:commandButton value="#{msg['button.confirm']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                 onstart="PF('blockSearch').block();"
                                 oncomplete="PF('blockSearch').unblock();">
                </p:commandButton>
                <p:commandButton value="#{msg['button.cancel']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>

            <p:dialog closeOnEscape="true" widgetVar="dlgAdd" width="auto" id="dlgAdd" modal="true" showEffect="size" hideEffect="scale"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.add']}" rendered="#{!admFuncController.edit}"/>
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.update']}" rendered="#{admFuncController.edit}"/>
                </f:facet>
                <h:panelGrid columns="4" cellpadding="5" id="pnl-schedule">
                    <h:outputText class="cd-text-required" value="#{msg['label.adm.functionCode']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateObj.functionCode}" disabled="#{admFuncController.edit}"/>
                    <h:outputText  class="cd-text-required" value="#{msg['label.adm.functionName']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateObj.functionName}"/>
                    <h:outputText class="cd-text-required" value="#{msg['label.adm.functionType']}: "></h:outputText>
                    <p:selectOneMenu value="#{admFuncController.addOrUpdateObj.functionType}" style="width: 135px">
                        <f:selectItem itemValue="report" itemLabel="#{msg['inocAdmFunc.report']}"/>
                        <f:selectItem itemValue="reportOnly" itemLabel="#{msg['inocAdmFunc.report.without.search']}"/>
                        <f:selectItem itemValue="chart" itemLabel="#{msg['inocAdmFunc.chart']}"/>
                        <f:selectItem itemValue="category" itemLabel="#{msg['inocAdmFunc.category.without.export']}"/>
                        <f:selectItem itemValue="csv" itemLabel="#{msg['inocAdmFunc.csv']}"/>
                    </p:selectOneMenu>
                    <h:outputText  class="cd-text-required" value="#{msg['label.adm.functionTitle']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateObj.functionTitle}"/>
                    <h:outputText value="#{msg['label.adm.refreshInterval']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateObj.refreshInterval}" maxlength="9"/>
                </h:panelGrid>
                <h:panelGrid width="100%">
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.save']}"
                                                 onstart="PF('blockSearch').block();"
                                                 oncomplete="PF('blockSearch').unblock();"
                                                 actionListener="#{admFuncController.saveOrUpdate()}"
                                                 update=":form:mainMessage :form:objectTable"/>
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgAdd').hide();"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>

            <p:dialog closeOnEscape="true" widgetVar="dlgConfigQuery" 
                      id="dlgConfigQuery" modal="true" showEffect="size" hideEffect="scale"
                      width="100%" 
                      height="95vh"
                      draggable="true"
                      resizable="true"
                      >
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.configQuery']}"/>
                </f:facet>
                <p:dataTable var="obj" value="#{admFuncController.lazyModelFuncQuery}"
                             resizableColumns="true"
                             scrollable="true"
                             paginator="true" rows="25" filterEvent="keyup"
                             rowKey="#{obj.id.queryId}" rowIndexVar="rowIndex"
                             paginatorPosition="bottom" id="objectTableQuery"
                             widgetVar="objectTableQuery" rowsPerPageTemplate="25, 50, 100"
                             emptyMessage="#{msg['table.nodata']}" lazy="true"
                             editable="true" editMode="row">
                    <f:facet name="header">
                        <div class="Card NoPadding" style="background: transparent;">
                            <div class="Container20 Responsive50" style="text-align: left;">

                            </div>
                            <div class="Container60 Responsive50">
                                <h:outputText styleClass="Fs18" value="#{msg['label.adm.admFunc']}" />
                            </div>
                            <div class="Container20" style="text-align: right;">
                                <p:commandButton title="#{msg['button.search']}" 
                                                 icon="fa fa-search White"
                                                 onstart="PF('blockSearch').block();" oncomplete="PF('blockSearch').unblock();"
                                                 update="objectTableQuery"/>
                                <p:commandButton title="#{msg['button.add']}" 
                                                 actionListener="#{admFuncController.prepareEditQuery(null, false)}"
                                                 onstart="PF('blockSearch').block();"
                                                 icon="fa fa-plus White"
                                                 oncomplete="PF('dlgAddQuery').show(); PF('blockSearch').unblock();" update=":form:dlgAddQuery"/>
                            </div>
                        </div>
                    </f:facet>
                    <p:ajax event="rowEdit" listener="#{admFuncController.onRowEdit}"
                            update=":form:mainMessage"/>
                    <p:ajax event="rowEditCancel" listener="#{admFuncController.onRowCancel}"
                            update=":form:mainMessage"/>
                    <p:column style="width: 10px; text-align: center;">
                        <f:facet name="header">
                            <h:outputText value="#{msg['table.header.stt']}"/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+ 1}"/>
                    </p:column>
                    <p:column style="width: 100px; text-align: center;" exportable="false">
                        <f:facet name="header">
                            <h:outputText value="#{msg['table.header.action']}"/>
                        </f:facet>
                        <p:splitButton value="#{msg['button.update']}" icon="fa fa-fw fa-edit White"
                                       onclick="PF('blockSearch').block();"
                                       actionListener="#{admFuncController.prepareEditQuery(obj, true)}"
                                       oncomplete="PF('dlgAddQuery').show(); PF('blockSearch').unblock();" update=":form:dlgAddQuery">
                            <p:menuitem value="#{msg['button.testQuery']}" icon="fa fa-heartbeat Blue"
                                        actionListener="#{admFuncController.onTestDirectQuery(obj)}"
                                        rendered="#{obj.queryType == 'direct'}"
                                        update=":form:mainMessage">
                            </p:menuitem>
                            <p:menuitem value="#{msg['button.show.columns']}" icon="fa fa-columns Blue"
                                        actionListener="#{admFuncController.showTabChildOfQuery(obj, 'columns')}"
                                        update=":form:tabChildOfQuery">
                            </p:menuitem>
                            <p:menuitem value="#{msg['button.show.conditions']}" icon="fa fa-key Blue"
                                        actionListener="#{admFuncController.showTabChildOfQuery(obj, 'conditions')}"
                                        update=":form:tabChildOfQuery">
                            </p:menuitem>
                            <p:menuitem value="#{msg['button.show.groupSum']}" icon="fa fa-list-alt Blue"
                                        actionListener="#{admFuncController.showTabChildOfQuery(obj, 'groupSum')}"
                                        update=":form:tabChildOfQuery">
                            </p:menuitem>
                            <p:menuitem value="#{msg['table.header.delete']}" icon="fa fa-remove Red"
                                        actionListener="#{admFuncController.onDeleteQuery(obj)}" 
                                        update=":form:mainMessage :form:objectTableQuery">
                                <p:confirm id="confirmDeleteObjs" icon="ui-icon-alert" 
                                           header="#{msg['button.confirm']}" 
                                           message="#{msg['label.message.confirmDialog']}"/>
                            </p:menuitem>
                        </p:splitButton>
                    </p:column>
                    <p:column style="width: 150px;text-align: center;"
                              sortBy="#{obj.queryName}"
                              filterBy="#{obj.queryName}"
                              filterStyle="width:70%">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.queryName']}"/>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="input">
                                <h:inputText value="#{obj.queryName}"/>
                            </f:facet>
                            <f:facet name="output">
                                <h:outputText value="#{obj.queryName}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 150px;text-align: center;"
                              sortBy="#{obj.gridName}"
                              filterBy="#{obj.gridName}"
                              filterStyle="width:70%">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.gridName']}"/>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="input">
                                <h:inputText value="#{obj.gridName}"/>
                            </f:facet>
                            <f:facet name="output">
                                <h:outputText value="#{obj.gridName}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 150px;text-align: center;" 
                              sortBy="#{obj.gridName}">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.queryString']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.queryString}" title="#{obj.queryString}"/>
                    </p:column>
                    <p:column style="width: 50px;text-align: center;"
                              sortBy="#{obj.sheetName}"
                              filterBy="#{obj.sheetName}"
                              filterStyle="width:70%">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.sheetName']}"/>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="input">
                                <h:inputText value="#{obj.sheetName}"/>
                            </f:facet>
                            <f:facet name="output">
                                <h:outputText value="#{obj.sheetName}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 50px;text-align: center;"
                              sortBy="#{obj.queryIndex}"
                              filterBy="#{obj.queryIndex}"
                              filterStyle="width:70%">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.queryIndex']}"/>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="input">
                                <h:inputText value="#{obj.queryIndex}"/>
                            </f:facet>
                            <f:facet name="output">
                                <h:outputText value="#{obj.queryIndex}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 50px;text-align: center;" 
                              sortBy="#{obj.chartType}"
                              filterBy="#{obj.chartType}"
                              filterStyle="width:70%">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.chart']}"/>
                        </f:facet>
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('objectTableQuery').filter()">
                                <f:selectItem itemValue="" itemLabel=""/>
                                <f:selectItem itemValue="yes" itemLabel="#{msg['inocAdmFunc.chartType.yes']}"/>
                            </p:selectOneMenu>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{obj.chartType}" >
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="yes" itemLabel="#{msg['inocAdmFunc.chartType.yes']}"/>
                                </p:selectOneMenu>
                            </f:facet>
                            <f:facet name="output">
                                <h:outputText value="#{msg['inocAdmFunc.chartType.yes']}" rendered="#{obj.chartType == 'yes'}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 50px;text-align: center;"
                              sortBy="#{obj.isLarge}"
                              filterBy="#{obj.isLarge}"
                              filterStyle="width:70%">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.isLarge']}"/>
                        </f:facet>
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('objectTableQuery').filter()">
                                <f:selectItem itemValue="" itemLabel=""/>
                                <f:selectItem itemValue="yes" itemLabel="#{msg['inocAdmFunc.isLarge']}"/>
                            </p:selectOneMenu>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{obj.isLarge}">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItem itemValue="yes" itemLabel="#{msg['inocAdmFunc.isLarge']}"/>
                                </p:selectOneMenu>
                            </f:facet>
                            <f:facet name="output">
                                <h:outputText value="#{msg['inocAdmFunc.isLarge']}" rendered="#{obj.isLarge == 'yes'}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg['table.header.edit']}" style="width:32px; text-align: center">
                        <p:rowEditor />
                    </p:column>
                </p:dataTable>
                <p:tabView id="tabChildOfQuery" dynamic="true" activeIndex="#{admFuncController.tabIndex}">
                    <p:tab title="#{msg['dlg.header.adm.admFunc.colums']}">
                        <p:dataTable var="obj" value="#{admFuncController.lazyModelFuncQueryColumns}"
                                     resizableColumns="true"
                                     scrollable="true" rows="100"
                                     paginator="true" filterEvent="keyup"
                                     rowKey="#{obj.id.columnCode}" rowIndexVar="rowIndex"
                                     paginatorPosition="bottom" id="objectTableQueryColumns"
                                     widgetVar="objectTableQueryColumns" rowsPerPageTemplate="25, 50, 100"
                                     emptyMessage="#{msg['table.nodata']}" lazy="true"
                                     editable="true" editMode="row">
                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">
                                    <div class="Container20 Responsive50" style="text-align: left;">

                                    </div>
                                    <div class="Container60 Responsive50">
                                        <h:outputText styleClass="Fs18" value="#{msg['dlg.header.adm.admFunc.colums']}" />
                                    </div>
                                    <div class="Container20" style="text-align: right;">
                                        <p:commandButton title="#{msg['button.search']}" 
                                                         icon="fa fa-search White"
                                                         onstart="PF('blockSearch').block();" oncomplete="PF('blockSearch').unblock();"
                                                         update="objectTableQueryColumns"/>
                                    </div>
                                </div>
                            </f:facet>
                            <p:ajax event="rowEdit" listener="#{admFuncController.onRowEditColumn}"
                                    update=":form:mainMessage"/>
                            <p:ajax event="rowEditCancel" listener="#{admFuncController.onRowEditColumnCancel}"
                                    update=":form:mainMessage"/>
                            <p:column style="width: 50px; text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['table.header.stt']}"/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+ 1}"/>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.id.columnCode}"
                                      filterBy="#{obj.id.columnCode}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnCode']}"/>
                                </f:facet>
                                <h:outputText value="#{obj.id.columnCode}"/>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.columnName}"
                                      filterBy="#{obj.columnName}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnName']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.columnName}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.columnName}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.columnNameL1}"
                                      filterBy="#{obj.columnNameL1}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnNameL1']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.columnNameL1}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.columnNameL1}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.columnNameL2}"
                                      filterBy="#{obj.columnNameL2}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnNameL2']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.columnNameL2}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.columnNameL2}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.columnStyle}"
                                      filterBy="#{obj.columnStyle}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnStyle']}"/>
                                </f:facet>
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('objectTableQueryColumns').filter()">
                                        <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                        <f:selectItem itemValue="Float" itemLabel="Float"/>
                                        <f:selectItem itemValue="Integer" itemLabel="Integer"/>
                                        <f:selectItem itemValue="Number" itemLabel="Number"/>
                                        <f:selectItem itemValue="Date" itemLabel="Date"/>
                                        <f:selectItem itemValue="DateTime" itemLabel="DateTime"/>
                                        <f:selectItem itemValue="Link" itemLabel="Link"/>
                                        <f:selectItem itemValue="LinkDialog" itemLabel="LinkDialog"/>
                                        <f:selectItem itemValue="LinkDownload" itemLabel="LinkDownload"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.columnStyle}">
                                            <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                            <f:selectItem itemValue="Float" itemLabel="Float"/>
                                            <f:selectItem itemValue="Integer" itemLabel="Integer"/>
                                            <f:selectItem itemValue="Number" itemLabel="Number"/>
                                            <f:selectItem itemValue="Date" itemLabel="Date"/>
                                            <f:selectItem itemValue="DateTime" itemLabel="DateTime"/>
                                            <f:selectItem itemValue="Link" itemLabel="Link"/>
                                            <f:selectItem itemValue="LinkDialog" itemLabel="LinkDialog"/>
                                            <f:selectItem itemValue="LinkDownload" itemLabel="LinkDownload"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.columnStyle}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.columnIndex}"
                                      filterBy="#{obj.columnIndex}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnIndex']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.columnIndex}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.columnIndex}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.chartIndex}"
                                      filterBy="#{obj.chartIndex}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.chartIndex']}"/>
                                </f:facet>
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('objectTableQueryColumns').filter()">
                                        <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                        <f:selectItem itemValue="time" itemLabel="time"/>
                                        <f:selectItem itemValue="group" itemLabel="group"/>
                                        <f:selectItem itemValue="label" itemLabel="label"/>
                                        <f:selectItem itemValue="group|label" itemLabel="group|label"/>
                                        <f:selectItem itemValue="line" itemLabel="line"/>
                                        <f:selectItem itemValue="bar" itemLabel="bar"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.chartIndex}">
                                            <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                            <f:selectItem itemValue="time" itemLabel="time"/>
                                            <f:selectItem itemValue="group" itemLabel="group"/>
                                            <f:selectItem itemValue="label" itemLabel="label"/>
                                            <f:selectItem itemValue="group|label" itemLabel="group|label"/>
                                            <f:selectItem itemValue="line" itemLabel="line"/>
                                            <f:selectItem itemValue="bar" itemLabel="bar"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.chartIndex}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.formula}"
                                      filterBy="#{obj.formula}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.formula']}"/>
                                </f:facet>
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('objectTableQueryColumns').filter()">
                                        <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                        <f:selectItem itemValue="SUM" itemLabel="SUM"/>
                                        <f:selectItem itemValue="AVERAGE" itemLabel="AVERAGE"/>
                                        <f:selectItem itemValue="MIN" itemLabel="MIN"/>
                                        <f:selectItem itemValue="MAX" itemLabel="MAX"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.formula}" >
                                            <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                            <f:selectItem itemValue="SUM" itemLabel="SUM"/>
                                            <f:selectItem itemValue="AVERAGE" itemLabel="AVERAGE"/>
                                            <f:selectItem itemValue="MIN" itemLabel="MIN"/>
                                            <f:selectItem itemValue="MAX" itemLabel="MAX"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.formula}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.isDisplay}"
                                      filterBy="#{obj.isDisplay}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.isDisplay']}"/>
                                </f:facet>
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('objectTableQueryColumns').filter()">
                                        <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                        <f:selectItem itemValue="0" itemLabel="0"/>
                                        <f:selectItem itemValue="1" itemLabel="1"/>
                                        <f:selectItem itemValue="2" itemLabel="2"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.isDisplay}">
                                            <f:selectItem itemValue="0" itemLabel="0"/>
                                            <f:selectItem itemValue="1" itemLabel="1"/>
                                            <f:selectItem itemValue="2" itemLabel="2"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.isDisplay}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.sortType}"
                                      filterBy="#{obj.sortType}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.sortType']}"/>
                                </f:facet>
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('objectTableQueryColumns').filter()">
                                        <f:selectItem itemValue="" itemLabel="#{msg['label.choose']}"/>
                                        <f:selectItem itemValue="ASC" itemLabel="ASC"/>
                                        <f:selectItem itemValue="DESC" itemLabel="DESC"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.sortType}">
                                            <f:selectItem itemValue="" itemLabel="NO"/>
                                            <f:selectItem itemValue="ASC" itemLabel="ASC"/>
                                            <f:selectItem itemValue="DESC" itemLabel="DESC"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.sortType}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="#{msg['table.header.edit']}" style="width:32px; text-align: center">
                                <p:rowEditor />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="#{msg['dlg.header.adm.admFunc.conditions']}">
                        <p:dataTable var="obj" value="#{admFuncController.lazyModelFuncQueryCond}"
                                     resizableColumns="true"
                                     scrollable="true" rows="100"
                                     paginator="true" filterEvent="keyup"
                                     rowKey="#{obj.id.controlId}" rowIndexVar="rowIndex"
                                     paginatorPosition="bottom" id="objectTableQueryCond"
                                     widgetVar="objectTableQueryCond" rowsPerPageTemplate="25, 50, 100"
                                     emptyMessage="#{msg['table.nodata']}" lazy="true"
                                     editable="true" editMode="row">
                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">
                                    <div class="Container20 Responsive50" style="text-align: left;">

                                    </div>
                                    <div class="Container60 Responsive50">
                                        <h:outputText styleClass="Fs18" value="#{msg['dlg.header.adm.admFunc.conditions']}" />
                                    </div>
                                    <div class="Container20" style="text-align: right;">
                                        <p:commandButton title="#{msg['button.search']}" 
                                                         icon="fa fa-search White"
                                                         onstart="PF('blockSearch').block();" oncomplete="PF('blockSearch').unblock();"
                                                         update="objectTableQueryCond"/>
                                        <p:commandButton title="#{msg['button.add']}" 
                                                         actionListener="#{admFuncController.prepareEditQueryCond(null, false)}"
                                                         rendered="#{!admFuncController.isDirectSql}"
                                                         onstart="PF('blockSearch').block();"
                                                         icon="fa fa-plus White"
                                                         oncomplete="PF('dlgAddCondition').show(); PF('blockSearch').unblock();" update=":form:dlgAddCondition"/>
                                    </div>
                                </div>
                            </f:facet>
                            <p:ajax event="rowEdit" listener="#{admFuncController.onRowEditCond}"
                                    update=":form:mainMessage"/>
                            <p:ajax event="rowEditCancel" listener="#{admFuncController.onRowEditCondCancel}"
                                    update=":form:mainMessage"/>
                            <p:column style="width: 50px; text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['table.header.stt']}"/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+ 1}"/>
                            </p:column>
                            <p:column style="width: 150px; text-align: center;" exportable="false">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['table.header.action']}"/>
                                </f:facet>
                                <p:splitButton value="#{msg['button.update']}" icon="fa fa-fw fa-edit White"
                                               onclick="PF('blockSearch').block();"
                                               actionListener="#{admFuncController.prepareEditQueryCond(obj, true)}"
                                               oncomplete="PF('dlgAddCondition').show(); PF('blockSearch').unblock();" update=":form:dlgAddCondition">
                                    <p:menuitem value="#{msg['button.childrenCond']}" icon="fa fa-heartbeat Blue"
                                                actionListener="#{admFuncController.preShowChildCond(obj)}"
                                                rendered="#{obj.controlType == 'MultiSelect' || obj.controlType == 'SelectedBox'}"
                                                oncomplete="PF('dlgChildConditions').show(); "
                                                update=":form:mainMessage :form:dlgChildConditions">
                                    </p:menuitem>
                                    <p:menuitem value="#{msg['table.header.delete']}" icon="fa fa-remove Red"
                                                actionListener="#{admFuncController.onDeleteQueryCond(obj)}" 
                                                update=":form:mainMessage :form:tabChildOfQuery:objectTableQueryCond">
                                        <p:confirm id="confirmDeleteObjs" icon="ui-icon-alert" 
                                                   header="#{msg['button.confirm']}" 
                                                   message="#{msg['label.message.confirmDialog']}"/>
                                    </p:menuitem>
                                </p:splitButton>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.columnCode}"
                                      filterBy="#{obj.columnCode}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnCode']}"/>
                                </f:facet>
                                <h:outputText value="#{obj.columnCode}"/>
                            </p:column>
                            <p:column style="width: 50px;text-align: center;" 
                                      sortBy="#{obj.controlIndex}"
                                      filterBy="#{obj.controlIndex}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.controlIndex']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.controlIndex}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.controlIndex}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 70px;text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.compareType']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.compareType}" style="width: 55px">
                                            <f:selectItem itemValue="" itemLabel=""/>
                                            <f:selectItems value="#{admFuncController.lstComapareType}" var="item" itemValue="#{item.value}"
                                                           itemLabel="#{item.label}"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.compareType}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.dataType']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.dataType}" style="width: 55px">
                                            <f:selectItem itemValue="" itemLabel=""/>
                                            <f:selectItem itemValue="Date" itemLabel="Date"/>
                                            <f:selectItem itemValue="Number" itemLabel="Number"/>
                                            <f:selectItem itemValue="Text" itemLabel="Text"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.dataType}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.controlType']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.controlType}" style="width: 55px">
                                            <f:selectItem itemValue="" itemLabel=""/>
                                            <f:selectItem itemValue="DatePicker" itemLabel="DatePicker"/>
                                            <f:selectItem itemValue="DateTimePicker" itemLabel="DateTimePicker"/>
                                            <f:selectItem itemValue="MultiSelect" itemLabel="MultiSelect"/>
                                            <f:selectItem itemValue="SelectedBox" itemLabel="SelectedBox"/>
                                            <f:selectItem itemValue="TextBox" itemLabel="TextBox"/>
                                            <f:selectItem itemValue="TextArea" itemLabel="TextArea"/>
                                            <f:selectItem itemValue="Spinner" itemLabel="Spinner"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.controlType}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;" 
                                      sortBy="#{obj.controlLabel}"
                                      filterBy="#{obj.controlLabel}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.controlLabel']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.controlLabel}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.controlLabel}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 100px;text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.databind']}"/>
                                </f:facet>
                                <h:outputText value="#{obj.databind}" title="#{obj.databind}"/>
                            </p:column>
                            <p:column style="width: 50px;text-align: center;" 
                                      sortBy="#{obj.minValue}"
                                      filterBy="#{obj.minValue}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.minValue']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.minValue}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.minValue}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width: 50px;text-align: center;" 
                                      sortBy="#{obj.maxValue}"
                                      filterBy="#{obj.maxValue}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.maxValue']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.maxValue}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.maxValue}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="#{msg['table.header.edit']}" style="width:32px; text-align: center">
                                <p:rowEditor />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="#{msg['dlg.header.adm.admFunc.colGroup']}">
                        <p:dataTable var="obj" value="#{admFuncController.lazyModelFuncQueryColGroup}"
                                     resizableColumns="true"
                                     scrollable="true" rows="100"
                                     paginator="true" filterEvent="keyup"
                                     rowKey="#{obj.id.controlId}" rowIndexVar="rowIndex"
                                     paginatorPosition="bottom" id="objectTableQueryColGroup"
                                     widgetVar="objectTableQueryColGroup" rowsPerPageTemplate="25, 50, 100"
                                     emptyMessage="#{msg['table.nodata']}" lazy="true"
                                     editable="true" editMode="row">
                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">
                                    <div class="Container20 Responsive50" style="text-align: left;">

                                    </div>
                                    <div class="Container60 Responsive50">
                                        <h:outputText styleClass="Fs18" value="#{msg['dlg.header.adm.admFunc.colGroup']}" />
                                    </div>
                                    <div class="Container20" style="text-align: right;">
                                        <p:commandButton title="#{msg['button.search']}" 
                                                         icon="fa fa-search White"
                                                         onstart="PF('blockSearch').block();" oncomplete="PF('blockSearch').unblock();"
                                                         update="objectTableQueryColGroup"/>
                                        <p:commandButton title="#{msg['button.add']}" 
                                                         actionListener="#{admFuncController.prepareEditQueryColGroup(null, false)}"
                                                         onstart="PF('blockSearch').block();"
                                                         icon="fa fa-plus White"
                                                         oncomplete="PF('dlgAddColGroup').show(); PF('blockSearch').unblock();" update=":form:dlgAddColGroup"/>
                                    </div>
                                </div>
                            </f:facet>
                            <p:ajax event="rowEdit" listener="#{admFuncController.onRowEditColGroup}"
                                    update=":form:mainMessage"/>
                            <p:ajax event="rowEditCancel" listener="#{admFuncController.onRowEditColGroupCancel}"
                                    update=":form:mainMessage"/>
                            <p:column style="width: 35px; text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['table.header.stt']}"/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+ 1}"/>
                            </p:column>
                            <p:column style="width: 20%;text-align: center;" 
                                      sortBy="#{obj.id.columnCode}"
                                      filterBy="#{obj.id.columnCode}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.columnCode']}"/>
                                </f:facet>
                                <h:outputText value="#{obj.id.columnCode}"/>
                            </p:column>
                            <p:column style="width: 20%;text-align: center;" 
                                      sortBy="#{obj.groupIndex}"
                                      filterBy="#{obj.groupIndex}"
                                      filterStyle="width:70%">
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.groupIndex']}"/>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <h:inputText value="#{obj.groupIndex}"/>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{obj.groupIndex}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column style="width: 20%;text-align: center;"
                                      filterBy="#{obj.groupType}"
                                      sortBy="#{obj.groupType}" >
                                <f:facet name="header">
                                    <h:outputText value="#{msg['label.adm.groupType']}"/>
                                </f:facet>
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('objectTableQueryColGroup').filter()" style="width: 75px">
                                        <f:selectItem itemValue="" itemLabel=""/>
                                        <f:selectItem itemValue="vertical" itemLabel="#{msg['inocAdmFunc.groupType.vertical']}"/>
                                        <f:selectItem itemValue="horizontal" itemLabel="#{msg['inocAdmFunc.groupType.horizontal']}"/>
                                        <f:selectItem itemValue="sum" itemLabel="#{msg['inocAdmFunc.groupType.sum']}"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <p:cellEditor>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{obj.groupType}" style="width: 55px">
                                            <f:selectItem itemValue="" itemLabel=""/>
                                            <f:selectItem itemValue="vertical" itemLabel="#{msg['inocAdmFunc.groupType.vertical']}"/>
                                            <f:selectItem itemValue="horizontal" itemLabel="#{msg['inocAdmFunc.groupType.horizontal']}"/>
                                            <f:selectItem itemValue="sum" itemLabel="#{msg['inocAdmFunc.groupType.sum']}"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <f:facet name="output">
                                        <h:outputText value="#{msg['inocAdmFunc.groupType.vertical']}" rendered="#{obj.groupType == 'vertical'}"/>
                                        <h:outputText value="#{msg['inocAdmFunc.groupType.horizontal']}" rendered="#{obj.groupType == 'horizontal'}"/>
                                        <h:outputText value="#{msg['inocAdmFunc.groupType.sum']}" rendered="#{obj.groupType == 'sum'}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="#{msg['table.header.edit']}" style="width:32px; text-align: center">
                                <p:rowEditor />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                </p:tabView>

                <h:panelGrid width="100%">
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgConfigQuery').hide();"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>
            <p:dialog closeOnEscape="true" widgetVar="dlgAddQuery" width="auto" 
                      id="dlgAddQuery" modal="true" showEffect="size" hideEffect="scale"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.addQuery']}" rendered="#{!admFuncController.isEdit}"/>
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.updateQuery']}" rendered="#{admFuncController.isEdit}"/>
                </f:facet>
                <h:panelGrid columns="1" >
                    <h:outputText value="#{msg['label.adm.queryName']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateQueryObj.queryName}" style="width: 500px"/>
                    <h:outputText value="#{msg['label.dbName']}: "></h:outputText>
                    <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryObj.dbId}" style="width: 465px">
                        <f:selectItem itemValue="" itemLabel="Database default"/>
                        <f:selectItems value="#{admFuncController.listDatabases}" var="db" itemValue="#{db.dbId}" itemLabel="#{db.dbName}"/>
                    </p:selectOneMenu>
                    <h:outputText value="#{msg['label.adm.queryType']}: "></h:outputText>
                    <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryObj.queryType}" style="width: 465px" disabled="#{admFuncController.isEdit}">
                        <f:selectItem itemValue="normal" itemLabel="#{msg['inocAdmFunc.queryType.normal']}"/>
                        <f:selectItem itemValue="direct" itemLabel="#{msg['inocAdmFunc.queryType.direct']}"/>
                    </p:selectOneMenu>
                    <h:outputText value="#{msg['label.adm.queryIndex']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateQueryObj.queryIndex}" style="width: 500px"/>
                    <h:outputText  class="cd-text-required" value="#{msg['label.adm.queryString']}: "></h:outputText>
                    <p:inputTextarea value="#{admFuncController.addOrUpdateQueryObj.queryString}" style="width: 500px" autoResize="false" rows="7"/>
                </h:panelGrid>
                <h:panelGrid width="100%">
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.save']}"
                                                 onstart="PF('blockSearch').block();"
                                                 oncomplete="PF('blockSearch').unblock();"
                                                 actionListener="#{admFuncController.saveOrUpdateQuery()}"
                                                 update=":form:mainMessage :form:objectTableQuery"/>
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgAddQuery').hide();"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>

            <p:dialog closeOnEscape="true" widgetVar="dlgAddCondition" width="auto" 
                      id="dlgAddCondition" modal="true" showEffect="size" hideEffect="scale"
                      height="80vh"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.addQueryCondition']}" rendered="#{!admFuncController.isEdit}"/>
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.addQueryCondition']}" rendered="#{admFuncController.isEdit}"/>
                </f:facet>
                <h:panelGrid columns="1" >
                    <h:panelGrid columns="2" >
                        <h:panelGrid columns="1" >
                            <h:outputText value="#{msg['label.adm.columnCode']}: "></h:outputText>
                            <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryCondObj.columnCode}" style="width: 195px"
                                             rendered="#{!admFuncController.isEdit and !admFuncController.isDirectSql}">
                                <f:selectItems value="#{admFuncController.listColumnAvailable}" var="item" itemValue="#{item.value}" 
                                               itemLabel="#{item.label}"/>
                            </p:selectOneMenu>
                            <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryCondObj.columnCode}" style="width: 195px"
                                             rendered="#{admFuncController.isEdit and !admFuncController.isDirectSql}" disabled="true">
                                <f:selectItems value="#{admFuncController.listColumnAvailable}" var="item" itemValue="#{item.value}" 
                                               itemLabel="#{item.label}"/>
                            </p:selectOneMenu>
                            <p:inputText value="#{admFuncController.addOrUpdateQueryCondObj.columnCode}" style="width: 195px" disabled="true"
                                         rendered="#{admFuncController.isDirectSql}"/>
                            <h:outputText class="cd-text-required" value="#{msg['label.adm.compareType']}: "></h:outputText>
                            <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryCondObj.compareType}" style="width: 195px">
                                <f:selectItem itemValue="" itemLabel=""/>
                                <f:selectItems value="#{admFuncController.lstComapareType}" var="item" itemValue="#{item.value}"
                                               itemLabel="#{item.label}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <h:panelGrid columns="1" >
                            <h:outputText class="cd-text-required" value="#{msg['label.adm.dataType']}: "></h:outputText>
                            <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryCondObj.dataType}" style="width: 195px">
                                <f:selectItem itemValue="" itemLabel=""/>
                                <f:selectItem itemValue="Date" itemLabel="Date"/>
                                <f:selectItem itemValue="Number" itemLabel="Number"/>
                                <f:selectItem itemValue="Text" itemLabel="Text"/>
                            </p:selectOneMenu>
                            <h:outputText class="cd-text-required" value="#{msg['label.adm.controlType']}: "></h:outputText>
                            <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryCondObj.controlType}" style="width: 195px">
                                <f:selectItem itemValue="" itemLabel=""/>
                                <f:selectItem itemValue="DatePicker" itemLabel="DatePicker"/>
                                <f:selectItem itemValue="DateTimePicker" itemLabel="DateTimePicker"/>
                                <f:selectItem itemValue="MultiSelect" itemLabel="MultiSelect"/>
                                <f:selectItem itemValue="SelectedBox" itemLabel="SelectedBox"/>
                                <f:selectItem itemValue="TextBox" itemLabel="TextBox"/>
                                <f:selectItem itemValue="TextArea" itemLabel="TextArea"/>
                                <f:selectItem itemValue="Spinner" itemLabel="Spinner"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </h:panelGrid>
                    <h:panelGrid columns="2" >
                        <p:selectManyCheckbox  value="#{admFuncController.selectedRequireAndCommon}">
                            <f:selectItem itemLabel="#{msg['inocAdmFuncForm.isRequire']}" itemValue="isRequire" />
                            <f:selectItem itemLabel="#{msg['inocAdmFuncForm.isCommon']}" itemValue="isCommon" />
                        </p:selectManyCheckbox>
                    </h:panelGrid>
                    <h:outputText value="#{msg['label.adm.defaultValue']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateQueryCondObj.defaultValue}" style="width: 500px"/>
                    <h:outputText class="cd-text-required" value="#{msg['label.adm.controlLabel']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateQueryCondObj.controlLabel}" style="width: 500px"/>
                    <h:outputText value="#{msg['label.adm.databind']}: "></h:outputText>
                    <p:inputTextarea value="#{admFuncController.addOrUpdateQueryCondObj.databind}" style="width: 500px" autoResize="false" rows="4"/>
                    <h:outputText value="#{msg['label.adm.controlIndex']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateQueryCondObj.controlIndex}" style="width: 500px"/>
                </h:panelGrid>
                <h:panelGrid width="100%">
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.save']}"
                                                 onstart="PF('blockSearch').block();"
                                                 oncomplete="PF('blockSearch').unblock();"
                                                 actionListener="#{admFuncController.onSaveOrUpdateQueryCondition()}"
                                                 update=":form:mainMessage :form:tabChildOfQuery:objectTableQueryCond"/>
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgAddCondition').hide();"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>

            <p:dialog closeOnEscape="true" widgetVar="dlgAddColGroup" width="auto" 
                      id="dlgAddColGroup" modal="true" showEffect="size" hideEffect="scale"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.addQueryColGroup']}" rendered="#{!admFuncController.isEdit}"/>
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.addQueryColGroup']}" rendered="#{admFuncController.isEdit}"/>
                </f:facet>
                <h:panelGrid columns="1" >
                    <h:outputText value="#{msg['label.adm.columnCode']}: "></h:outputText>
                    <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryColGroupObj.id.columnCode}" style="width: 465px"
                                     rendered="#{!admFuncController.isEdit}">
                        <f:selectItems value="#{admFuncController.listColumnAvailable}" var="item" itemValue="#{item.value}" 
                                       itemLabel="#{item.label}"/>
                    </p:selectOneMenu>
                    <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryColGroupObj.id.columnCode}" style="width: 465px"
                                     rendered="#{admFuncController.isEdit}" disabled="true">
                        <f:selectItems value="#{admFuncController.listColumnAvailable}" var="item" itemValue="#{item.value}" 
                                       itemLabel="#{item.label}"/>
                    </p:selectOneMenu>
                    <h:outputText value="#{msg['label.adm.groupType']}: "></h:outputText>
                    <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryColGroupObj.groupType}" style="width: 465px">
                        <f:selectItem itemValue="vertical" itemLabel="#{msg['inocAdmFunc.groupType.vertical']}"/>
                        <f:selectItem itemValue="horizontal" itemLabel="#{msg['inocAdmFunc.groupType.horizontal']}"/>
                        <f:selectItem itemValue="sum" itemLabel="#{msg['inocAdmFunc.groupType.sum']}"/>
                    </p:selectOneMenu>
                    <h:outputText value="#{msg['label.adm.groupIndex']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateQueryColGroupObj.groupIndex}" style="width: 500px"/>
                </h:panelGrid>
                <h:panelGrid width="100%">
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.save']}"
                                                 onstart="PF('blockSearch').block();"
                                                 oncomplete="PF('blockSearch').unblock();"
                                                 actionListener="#{admFuncController.onSaveOrUpdateQueryColGroup()}"
                                                 update=":form:mainMessage :form:tabChildOfQuery:objectTableQueryColGroup"/>
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgAddColGroup').hide();"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>

            <p:dialog closeOnEscape="true" widgetVar="dlgChildConditions"
                      id="dlgChildConditions" modal="true" showEffect="size" hideEffect="scale"
                      width="650px"
                      height="70vh"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.childConditions']}"/>
                </f:facet>
                <h:panelGrid columns="1" >
                    <h:outputText value="#{msg['label.adm.columnCode']}: "></h:outputText>
                    <p:selectOneMenu value="#{admFuncController.addOrUpdateQueryCondDependObj.id.controlChild}" style="width: 465px">
                        <f:selectItems value="#{admFuncController.listConditions}" var="item" itemValue="#{item.value}" 
                                       itemLabel="#{item.label}"/>
                    </p:selectOneMenu>
                    <h:outputText value="#{msg['label.adm.condDependIndex']}: "></h:outputText>
                    <p:inputText value="#{admFuncController.addOrUpdateQueryCondDependObj.condDependIndex}" style="width: 500px"/>
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.add']}"
                                                 actionListener="#{admFuncController.onAddChildrenCondition()}"
                                                 update=":form:mainMessage :form:objectTableQueryCondDepend"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
                <p:dataTable var="obj" value="#{admFuncController.lazyModelFuncQueryCondDepend}"
                             resizableColumns="true"
                             scrollable="true"
                             paginator="true" rows="25" filterEvent="keyup"
                             rowKey="#{obj.functionCode}" rowIndexVar="rowIndex"
                             paginatorPosition="bottom" id="objectTableQueryCondDepend"
                             widgetVar="objectTableQueryCondDepend" rowsPerPageTemplate="25, 50, 100"
                             emptyMessage="#{msg['table.nodata']}" lazy="true"
                             editable="false" editMode="cell">
                    <f:facet name="header">
                        <div class="Card NoPadding" style="background: transparent;">
                            <div class="Container20 Responsive50" style="text-align: left;">
                            </div>
                            <div class="Container60 Responsive50">
                                <h:outputText styleClass="Fs18" value="#{msg['label.adm.condDepend']}" />
                            </div>
                            <div class="Container20" style="text-align: right;">
                                <p:commandButton title="#{msg['button.search']}" 
                                                 icon="fa fa-search White"
                                                 onstart="PF('blockSearch').block();" oncomplete="PF('blockSearch').unblock();"
                                                 update="objectTableQueryCondDepend"/>
                            </div>
                        </div>
                    </f:facet>
                    <p:column style="width: 50px; text-align: center;">
                        <f:facet name="header">
                            <h:outputText value="#{msg['table.header.stt']}"/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+ 1}"/>
                    </p:column>
                    <p:column style="width: 150px; text-align: center;" exportable="false">
                        <f:facet name="header">
                            <h:outputText value="#{msg['table.header.action']}"/>
                        </f:facet>
                        <p:commandButton value="#{msg['table.header.delete']}" icon="fa fa-remove Red"
                                         actionListener="#{admFuncController.onDeleteCondDepend(obj)}" 
                                         update=":form:mainMessage :form:objectTableQueryCondDepend">
                            <p:confirm id="confirmDeleteObjs" icon="ui-icon-alert" 
                                       header="#{msg['table.header.delete']}" 
                                       message="#{msg['label.message.confirmDialog']}"/>
                        </p:commandButton>
                    </p:column>
                    <p:column style="width: 150px; text-align: center;" >
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.columnCode']}"/>
                        </f:facet>
                        <p:outputLabel value="#{obj.id.childrenName}"/>
                    </p:column>
                    <p:column style="width: 150px; text-align: center;" >
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.adm.condDependIndex']}"/>
                        </f:facet>
                        <p:outputLabel value="#{obj.condDependIndex}"/>
                    </p:column>
                </p:dataTable>
            </p:dialog>

            <p:dialog closeOnEscape="true" widgetVar="dlgImportXML"
                      id="dlgImportXML" modal="true" showEffect="size" hideEffect="scale"
                      width="auto"
                      height="auto"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.importXML']}" rendered="#{admFuncController.isImport}"/>
                    <h:outputText value="#{msg['dlg.header.adm.admFunc.exportXML']}" rendered="#{!admFuncController.isImport}"/>
                </f:facet>
                <h:panelGrid columns="1" style="width: 100%;">
                    <h:outputText value="#{msg['label.adm.functionCode']}"></h:outputText>
                    <p:inputTextarea id="functionCodeImport" rows="3" cols="50" 
                                     value="#{admFuncController.functionCodes}" autoResize="false"
                                     style="width: 99%">
                        <p:ajax event="change" update=":form:functionCodeImport"/>
                    </p:inputTextarea>
                    <h:outputText style="color: red; float: right" value="#{msg['label.adm.functionCode.import.note']}"/>
                    <f:facet name="footer">
                        <div align="center">
                            <h:panelGrid columns="2" cellpadding="5">
                                <p:commandButton value="#{msg['button.export']}" ajax="false" 
                                                 onclick="PrimeFaces.monitorDownload(showStatus, hideStatus);" 
                                                 icon="fa fa-file-code-o"
                                                 rendered="#{!admFuncController.isImport}"
                                                 >
                                    <p:fileDownload value="#{admFuncController.onExportXml()}" />
                                </p:commandButton>
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgImportXML').hide();"
                                                 rendered="#{!admFuncController.isImport}"
                                                 class="RedButton"/>
                                <p:fileUpload fileUploadListener="#{admFuncController.onImportXml}" mode="advanced" dragDropSupport="true"
                                              rendered="#{admFuncController.isImport}"
                                              update="messages" fileLimit="1" allowTypes="/(\.|\/)(xml)$/" />
                            </h:panelGrid>
                        </div>
                        <div align="center">
                            <h:panelGrid columns="1" cellpadding="5">
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgImportXML').hide();"
                                                 rendered="#{admFuncController.isImport}"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>
                </h:panelGrid>
                <p:growl id="messages" showDetail="true" />
            </p:dialog>
        </h:form>
        <style type="text/css">
            span.cd-text-required::after {
                color: red;
                content: "*";
            }
        </style>
        <script type="text/javascript">
            function showStatus() {
                PF('blockSearch').block();
            }
            function hideStatus() {
                PF('blockSearch').unblock();
            }
        </script>
        <script type="text/javascript">
            $(window).on('load', function() {
                setUpTab('tab4','tab4-4');
            });
        </script>
    </ui:define>
</ui:composition>
