<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">
        <p:growl id="mainMessage" widgetVar="mainMessage2" showDetail="true" showSummary="false" life="100" />
        <h:form id="form">
            <p:messages id="msg" showDetail="true" showSummary="false" closable="true" />
            <p:dataTable value="#{processController.processes}" var="process"
                rowIndexVar="pIndex" >
                <p:column headerText="STT" width="30">
                    <h:outputText value="#{pIndex + 1}"/>
                </p:column>
                <p:column headerText="Process name">
                    <h:outputText value="#{process.processName}"/>
                </p:column>
                <p:column headerText="Server" width="100">
                    <h:outputText value="#{process.ipServer}"/>
                </p:column>
                <p:column headerText="Base dir">
                    <h:outputText value="#{process.baseDir}"/>
                </p:column>
                <p:column headerText="Status">
                    <h:outputText value="#{process.statusLog}"    />
                </p:column>
                <p:column headerText="Action">
                    <div style="text-align: center">


                        <p:commandButton icon="fa fa-file-text-o"
                                         title="Logs"
                                         styleClass="BlueButton Fs14 White"
                                         disabled="#{process.logDir==null}"
                                         onclick="PF('block').show()"
                                         actionListener="#{processController.preLoadLog(process)}"
                                         oncomplete="PF('block').hide();PF('logDlg').show()"
                                         update=":formLog"

                        />
                        <p:commandButton icon="fa fa-cog"
                                         title="Config"
                                         styleClass="BlueButton Fs14 White"
                                         disabled="#{process.configDir==null}"
                                         onclick="PF('block').show()"
                                         actionListener="#{processController.preConfig(process)}"
                                         oncomplete="PF('block').hide();PF('configDlg').show()"
                                         update=":formConfig"

                        />
                    <p:commandButton id="statusSubQuery" icon="fa fa-refresh"
                                     title="Restart"
                         styleClass="RedButton Fs14 White"
                                     disabled="#{process.restartCmd==null}"
                         onclick="PF('block').show();PF('comfirmAction').show()"
                         actionListener="#{processController.preConfirm(process,'restart')}"
                         oncomplete="PF('block').hide()"
                         update=":formAction"

                    />
                    <p:commandButton id="startSubQuery" icon="fa fa-play"
                                     title="Start"
                                     styleClass="OrangeButton Fs14 White"
                                     disabled="#{process.startCmd==null}"
                                     onclick="PF('block').show();PF('comfirmAction').show()"
                                     actionListener="#{processController.preConfirm(process,'start')}"
                                     oncomplete="PF('block').hide()"
                                     update=":formAction"

                    />
                    <p:commandButton id="stopSubQuery" icon="fa fa-stop"
                                     title="Stop"
                                     styleClass="AquaButton Fs14 White"
                                     disabled="#{process.stopCmd==null}"
                                     onclick="PF('block').show();PF('comfirmAction').show()"
                                     actionListener="#{processController.preConfirm(process,'stop')}"
                                     oncomplete="PF('block').hide()"
                                     update=":formAction"

                    />
                    </div>
                </p:column>
            </p:dataTable>
        </h:form>

        <p:dialog header="Logs file" widgetVar="logDlg" width="90%" modal="true" style="top:20px; bottom:5px; overflow: auto" >
            <h:form id="formLog" style="">
                <h:outputText value="Log dir: #{processController.selectedProcess.logDir}"/>
                <p:dataTable value="#{processController.logFiles}" var="f" rowIndexVar="stt" paginator="true"
                        rows="15"  id="logTable"  >

                    <p:column headerText="STT" width="30">
                        <h:outputText value="#{stt +1}"/>
                    </p:column>
                    <p:column headerText="File" filterBy="#{f.filePath}" filterMatchMode="contains" width="300">
                        <h:outputText value="#{f.filePath}"/>
                    </p:column>
                    <p:column headerText="Size" width="50">
                        <h:outputText value="#{f.size}"/>
                    </p:column>
                    <p:column headerText="Changed" width="150">
                        <h:outputText value="#{f.dateChanged}"/>
                    </p:column>
                    <p:column headerText="Download" width="50">
                        <p:commandButton  icon="fa fa-download"  actionListener="#{processController.downloadLog(f)}" ajax="false"
                            styleClass="White"     process=":formLog" update="@none">
                        </p:commandButton>

                    </p:column>
                </p:dataTable>
            </h:form>
        </p:dialog>

        <p:dialog header="Config file" widgetVar="configDlg" width="90%" modal="true">
            <h:outputText value="Config dir: #{processController.selectedProcess.configDir}"/>
            <h:form id="formConfig">
                <p:tabView>
                    <c:forEach var="f" items="#{processController.selectedProcess.fileConfigs}">
                        <p:tab title="#{f.filePath}">
                            <h:inputTextarea value="#{f.content}" style="width: 100%" rows="15"
                            />
                            <p:commandButton value="Save" actionListener="#{processController.saveConfig(f)}"
                                update=":mainMessage" process="@parent"/>
                        </p:tab>
                    </c:forEach>
                </p:tabView>
            </h:form>
        </p:dialog>
        <p:confirmDialog global="true" header="#{processController.selectedProcess.processName}" showEffect="face"
                         hideEffect="scale"
                         widgetVar="comfirmAction" id="comfirmAction" width="30%">
            <f:facet name="message">
                <h:form id="formAction">
                    <h:outputText style="font-weight: bold;" value="Confirm action: "/>
                    <h:outputText value="&#160;" />
                    <h:outputText style="color: red; font-weight: bold;" value="#{processController.action.toUpperCase()}"/>
                    <h:outputText value="&#160;" />
                    <h:outputText style="color: black; font-weight: bold;" value="#{processController.selectedProcess.processName}"/>

                    <p:spacer width="100%" height="1px"/>
                    <h:outputLabel value="Password: *"/>
                    <p:password value="#{processController.processPassword}" required="true">
                        <p:ajax update=":formAction:actionBtn" event="keyup"/>
                    </p:password>
                    <p:spacer width="100%" height="1px"/>

                    <p:commandButton id="actionBtn" value="Yes" update=":form" process="@this"
                                     oncomplete="PF('comfirmAction').hide();PF('block').hide()"
                                     onclick="PF('block').show()"
                                     disabled="#{processController.processPassword != processController.DEFAULT_PASSWORD}"
                                     actionListener="#{processController.processAction}"
                                     styleClass="ui-confirmdialog-yes RedButton"
                                     icon="ui-icon-check fa fa-check Fs14 White"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no AquaButton"
                                     onclick="PF('comfirmAction').hide()"
                                     icon="ui-icon-close fa fa-close Fs14 White"/>
                </h:form>
            </f:facet>
        </p:confirmDialog>
        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="block" draggable="false" closable="false" resizable="false">
	        	<span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;">
	        		<i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"></i>
				  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x"
                       style="color: #00AAFF; font-size: 3em;"></i>
				  	<i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
				</span>
        </p:dialog>

        <script type="text/javascript">
            $(document).ready(function() {
                ChangeTab("group-tab-2","tab2-5");
                $("#form\\:searchTreeId").bind("keypress", function(e) {
                    if (e.keyCode == 13) {
                        return false;
                    }
                });

            });
        </script>
        <style type="text/css">
        </style>
    </ui:define>
</ui:composition>