<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >

    <p:dialog widgetVar="dlgRunMultiMop" modal="true"
              width="50%" style="top: 100px;"
              header="#{msg['label.form.dialog.run.multi']}">

        <h:form>
            <p:dataList value="#{generateFlowRunController.selectedFlowRunActions}" var="flowRunAction" itemType="disc">
                #{flowRunAction.flowRunName}
            </p:dataList>
            <div class="ui-g" style="margin-left: 5px">
                <h:outputText value="#{msg['label.one.account']}:" style="margin-right: 5px; color: #0084b4" />
                <p:selectBooleanCheckbox id="chxOneAccount" value="#{drawTopoStatusExecController.oneAccount}">
                    <p:ajax update="accountInfo"/>
                </p:selectBooleanCheckbox>
            </div>
            <p:outputPanel id="accountInfo">
                <p:outputLabel rendered="#{drawTopoStatusExecController.oneAccount}" class="ui-g" style="margin: 5px;">
                    <p:inputText value="#{drawTopoStatusExecController.account}"
                                 style="width: 100%" placeholder="#{msg['prompt.account']}" />
                </p:outputLabel>

                <p:outputLabel rendered="#{drawTopoStatusExecController.oneAccount}" class="ui-g" style="margin: 5px;">
                    <p:password placeholder="#{msg['prompt.pass']}" style="width: 100%"
                                value="#{drawTopoStatusExecController.password}" />
                </p:outputLabel>

                <p:outputLabel rendered="#{!drawTopoStatusExecController.oneAccount}" class="ui-g" style="margin: 5px;">
                    <p:dataTable var="obj" value="#{drawTopoStatusExecController.mapAccount.entrySet()}"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 paginator="true" rows="10" filterEvent="keyup" rowKey="#{obj.key}"
                                 rowIndexVar="rowIndex" paginatorPosition="bottom" id="tableAccount"
                                 rowsPerPageTemplate="10,15,20"  scrollHeight="true"
                                 emptyMessage="#{msg['datatable.empty']}" editable="true">
                        <p:column style="width: 5%; text-align: left;" headerText="#{msg['datatable.header.stt']}">
                            <h:outputText value="#{rowIndex+1}"/>
                        </p:column>
                        <p:column headerText="#{msg['key.nodeCode']}" style="text-align: left">
                            <h:outputText value="#{obj.key}"/>
                        </p:column>
                        <p:column width="31%" headerText="#{msg['prompt.account']}" style="text-align: left">
                            <p:inputText value="#{obj.value.account}" />
                        </p:column>
                        <p:column width="31%" headerText="#{msg['prompt.pass']}" style="text-align: left">
                            <p:password value="#{obj.value.password}" />
                        </p:column>
                    </p:dataTable>
                </p:outputLabel>
                <p:selectOneMenu value="#{drawTopoStatusExecController.modeRun}" 
                                 title="#{msg['title.run.type']}" style="width: 90%; margin-top: 5px;" id="runType1">
                    <f:selectItem itemValue="1" itemLabel="#{msg['title.run.type.auto.1']}" />
                    <f:selectItem itemValue="2" itemLabel="#{msg['title.run.type.auto.2']}" />
                </p:selectOneMenu>

                <p:selectOneMenu value="#{drawTopoStatusExecController.runningType}"
                                 title="#{msg['title.running.type']}" style="width: 90%" id="runningType">
                    <f:selectItem itemValue="2" itemLabel="#{msg['title.running.type.2']}" />
                    <f:selectItem itemValue="1" itemLabel="#{msg['title.running.type.1']}" />
                </p:selectOneMenu>
            </p:outputPanel>
            <div style="text-align: center;margin-left: auto;margin-right: auto;display: block">
                <p:commandButton actionListener="#{drawTopoStatusExecController.onExecuteMultiMop(generateFlowRunController.selectedFlowRunActions)}"
                                 disabled="#{!sessionUtil.execute || generateFlowRunController.selectedFlowRunActions.size()==0}"  
                                 onstart="PF('loadingDialog').show()" styleClass="RedButton White Fs14"
                                 oncomplete="PF('loadingDialog').hide();PF('dlgRunMultiMop').hide()"
                                 value="#{msg['button.confirm']}" update=":growl,:dataForm"/>
                <p:commandButton value="#{msg['button.cancel']}" styleClass="GrayButton White Fs14" onclick="PF('dlgRunMultiMop').hide()"/>
            </div>
        </h:form>
    </p:dialog>
    <p:overlayPanel modal="true" widgetVar="nodeParamValue" showEffect="scale" hideEffect="fade" dismissable="true" showCloseIcon="true" my="right top">
        <p:dataList  value="#{generateFlowRunController.paramNodes}" var="p" paginator="true" rows="10" itemType="decimal">
            #{p[0]} : <b>#{p[1]}</b>
        </p:dataList>
    </p:overlayPanel>

</ui:composition>