<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">

        <p:growl id="growl" showDetail="true" showSummary="false" />
        <h:form id="dataForm">
            <div class="Container100 Flex FlexWrap MarTop10">
                <p:dataTable value="#{generateFlowRunController.lazyFlowRunAction}" id="tableFlowRunId"
                             lazy="true" var="flowRunAction" rowKey="#{flowRunAction.flowRunId}"
                             rows="10" paginator="true" paginatorPosition="bottom"
                             rowIndexVar="flowIdx"  
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                             rowsPerPageTemplate="5,10,15" widgetVar="WdflowRunActionTable"
                             emptyMessage="#{msg['datatable.empty']}" styleClass="StyleTable"
                             selection="#{generateFlowRunController.selectedFlowRunActions}">
                    <f:facet name="header">
                        <div class="Card NoPadding" style="background: transparent;">
                            <div class="Container20 Responsive50" style="text-align: left;">
                                <p:tooltip position="right" for="addFlowRunId"></p:tooltip>
                                <p:commandButton id="addFlowRunId" icon="fa fa-plus-circle" styleClass="GreenButton Fs14 White"  oncomplete="PF('addEditFlowRunDlg').show()"
                                                 update=":actForm"
                                                 rendered="#{!generateFlowRunController.tabExecute}"
                                                 disabled="#{!sessionUtil.createMop}"
                                                 title="#{msg['label.add.template']}" actionListener="#{generateFlowRunController.preAddFlowRunAction}" />
                                <p:commandButton id="rescueFlowRunId" icon="fa fa-plus-circle" styleClass="GreenButton Fs14 White"  oncomplete="PF('addEditFlowRunDlg').show()"
                                                 update=":actForm"
                                                 rendered="#{generateFlowRunController.tabExecute}"
                                                 disabled="#{!sessionUtil.rescue}"
                                                 title="#{msg['label.add.template']}" actionListener="#{generateFlowRunController.preAddFlowRunAction}" />

                                <p:commandButton icon="fa fa-paper-plane-o" styleClass="OrangeButton Fs14 White" 
                                                 actionListener="#{drawTopoStatusExecController.prepareStartExcuteMultiMop(generateFlowRunController.selectedFlowRunActions)}" 
                                                 onclick="PF('loadingDialog').show()" rendered="#{generateFlowRunController.tabExecute}"
                                                 oncomplete="PF('dlgRunMultiMop').show();PF('loadingDialog').hide()" update="@widgetVar(dlgRunMultiMop)"
                                                 title="#{msg['label.form.dialog.run.multi']}"/>
                            </div>
                            <div class="Container60 Responsive50">
                                <h:outputText value="#{msg['datatable.header.flowrunaction']}" />
                            </div>
                            <div class="Container20" style="text-align: right;">
                               
                                <p:commandButton id="toggler" type="button"  
                                                 style="float:right" icon="fa fa-sliders" styleClass="Fs14 White OrangeButton" />
                                <p:columnToggler datasource="tableFlowRunId" trigger="toggler" />
                                
                                <p:commandButton style="float: right;" icon="fa fa-share-square" ajax="false"
                                                 styleClass="Fs14 White GreenButton"
                                                 title="#{msg['button.export']}">
                                    <p:fileDownload value="#{generateFlowRunController.onExport()}" />
                                </p:commandButton>
                            </div>
                        </div>

                    </f:facet>
                    <p:column headerText="#{msg['datatable.header.stt']}" width="25" selectionMode="multiple" rendered="#{generateFlowRunController.tabExecute}" style="text-align: center">
                        <h:outputText value="#{flowIdx +1 }" />
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.stt']}" width="25" selectionMode="multiple" rendered="#{!generateFlowRunController.tabExecute}" style="text-align: center" >
                        <h:outputText value="#{flowIdx +1 }" />
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.name.flowrunaction']}" filterBy="#{flowRunAction.flowRunName}"
                              width="145">
                        <h:outputText id="aaa" value="#{flowRunAction.flowRunName}" style="white-space: pre-line;" title="#{flowRunAction.flowRunName}">
                        </h:outputText>
                        <p:tooltip for="aaa" position="top"></p:tooltip>
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.createby']}" filterBy="#{flowRunAction.createBy}"
                              width="60">
                        <h:outputText id="flowRunActionCreateBy" value="#{flowRunAction.createBy}" style="white-space: pre-line;" title="#{flowRunAction.createBy}">

                        </h:outputText>
                        
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.executeby']}" filterBy="#{flowRunAction.executeBy}"
                              width="60">
                        <h:outputText value="#{flowRunAction.executeBy}" style="white-space: pre-line;" title="#{flowRunAction.executeBy}">

                        </h:outputText>

                    </p:column>
                    <p:column headerText="#{msg['datatable.header.crNumber']}" filterBy="#{flowRunAction.crNumber}"
                              width="60">
                        <p:inputTextarea value="#{flowRunAction.crNumber}" style="width: calc(100% - 0px);
                                         background: transparent; border:none; white-space: pre-line;padding:0px !important " readonly="true"/>

                    </p:column>

                    <p:column headerText="#{msg['datatable.header.template']}" filterBy="#{flowRunAction.flowTemplates.flowTemplateName}"
                              width="120" style="text-align: center;">
                        <h:outputText style="white-space: pre-line;"
                                      value="#{flowRunAction.flowTemplates.flowTemplateName}" title="#{flowRunAction.flowTemplates.flowTemplateName}"/>
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.time.create']}" filterBy="#{flowRunAction.createDate}"
                              width="80" visible="#{!generateFlowRunController.tabExecute}">
                        <h:outputText value="#{flowRunAction.createDate}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.time.execute']}" id="timeRunId" filterStyleClass="timeRunClass" filterBy="#{flowRunAction.timeRun}"
                              width="80" style="text-align: center;">
                        <h:outputText value="#{flowRunAction.timeRun}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                        <!-- 						<p:watermark value="dd/MM/yyyy HH:mm:ss[-dd/MM/yyyy HH:mm:ss]"  for="timeRunId:filter"></p:watermark> -->
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.time.timeRunActual']}" 
                              filterBy="#{flowRunAction.timeRunActual}" visible="#{generateFlowRunController.tabExecute}"
                              width="80" style="text-align: center;">
                        <h:outputText value="#{flowRunAction.timeRunActual}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="#{msg['datatable.header.time.endRun']}" filterBy="#{flowRunAction.endRun}"
                              width="80" visible="#{generateFlowRunController.tabExecute}" style="text-align: center;">
                        <h:outputText value="#{flowRunAction.endRun}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    
                    <p:column headerText="#{msg['datatable.header.node']}" width="200">
                        <p:dataGrid value="#{flowRunAction.nodeRuns}" columns="2"  styleClass="DataNodeRun"
                                    style="background: transparent; max-height:120px;overflow: auto;" var="nodeRun" rowIndexVar="n" type="ordered"
                                    emptyMessage="#{msg['datatable.empty']}">
                            <p:inputText value="#{n + 1}. #{nodeRun.node.nodeCode}" style="background: transparent;border:none; padding: 0px!important" readonly="true"/>
                            <p:commandButton icon="fa fa-eye" styleClass="TransparentButton Blue ViewBt"
                                             oncomplete="PF('nodeParamValue').show('#{component.clientId}')" update="@widgetVar(nodeParamValue)"
                                             actionListener="#{generateFlowRunController.quickViewParam(flowRunAction,nodeRun.node, nodeRun.id.subFlowRun)}">
                            </p:commandButton>
                        </p:dataGrid>
                    </p:column>
                    <ui:remove>
                        <!--20170419_HaNV15_Add_Start-->
                        <p:column headerText= "#{msg['common.country.code']}"
                                  sortBy="#{flowRunAction.countryCode.countryCode}" 
                                  filterBy="#{flowRunAction.countryCode.countryCode}"
                                  width="50" >
                            <h:outputText value="#{flowRunAction.countryCode.countryCode}" />
                        </p:column>
                        <!--20170419_HaNV15_Add_Start-->
                    </ui:remove>
                    <p:column headerText="#{msg['lable.mop.type']}" width="50"  filterBy="#{flowRunAction.mopType}" >
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('WdflowRunActionTable').filter()" >
                                <f:selectItem itemLabel="#{msg['lable.mop.type']}" itemValue="" />
                                <f:selectItem itemLabel="#{msg['label.impact.type.normal']}" itemValue="0" />
                                <f:selectItem itemLabel="#{msg['label.impact.type.uctt']}" itemValue="1" />
                            </p:selectOneMenu>
                        </f:facet>
                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.mopType == 0}"> 
                            <i class="fa  fa-legal  Fs18" style="color: #228B22 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['label.impact.type.normal']}" title="#{msg['label.impact.type.normal']}" 
                                          rendered="#{flowRunAction.mopType == 0}" style="color: #228B22; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>
                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.mopType == 1}"> 
                            <i class="fa  fa-medkit  Fs18" style="color: #ff4500 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['label.impact.type.uctt']}" title="#{msg['label.impact.type.uctt']}" 
                                          rendered="#{flowRunAction.mopType == 1}" style="color: #ff4500; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.cr.status']}" width="40"  filterBy="#{flowRunAction.crStatus}" style="text-align: center;" >
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('WdflowRunActionTable').filter()" >
                                <f:selectItem itemLabel="#{msg['datatable.header.status']}" itemValue="" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr0']}" itemValue="0" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr1']}" itemValue="1" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr2']}" itemValue="2" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr3']}" itemValue="3" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr4']}" itemValue="4" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr5']}" itemValue="5" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr6']}" itemValue="6" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr7']}" itemValue="7" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr8']}" itemValue="8" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status.cr9']}" itemValue="9" />
                            </p:selectOneMenu>
                        </f:facet>	
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr0']}" 
                                      rendered="#{flowRunAction.crStatus == 0}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr1']}" 
                                      rendered="#{flowRunAction.crStatus == 1}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr2']}" 
                                      rendered="#{flowRunAction.crStatus == 2}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr3']}" 
                                      rendered="#{flowRunAction.crStatus == 3}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr4']}" 
                                      rendered="#{flowRunAction.crStatus == 4}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr5']}" 
                                      rendered="#{flowRunAction.crStatus == 5}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr6']}" 
                                      rendered="#{flowRunAction.crStatus == 6}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr7']}" 
                                      rendered="#{flowRunAction.crStatus == 7}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr8']}" 
                                      rendered="#{flowRunAction.crStatus == 8}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        <h:outputText value="#{msg['view.label.flowrunaction.status.cr9']}" 
                                      rendered="#{flowRunAction.crStatus == 9}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>			
                    </p:column>
                    <p:column headerText="#{msg['datatable.header.status']}" width="50"  filterBy="#{flowRunAction.status}" >
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('WdflowRunActionTable').filter()" >
                                <f:selectItem itemLabel="#{msg['datatable.header.status']}" itemValue="" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status0']}" itemValue="0" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status1']}" itemValue="1" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status2']}" itemValue="2" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status3']}" itemValue="3" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status4']}" itemValue="4" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status6']}" itemValue="6" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status7']}" itemValue="7" />
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status10']}" itemValue="10" />
                                <!--20171031_hienhv4_load tham so truoc khi chay_start-->
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status11']}" itemValue="11" />
                                <!--20171031_hienhv4_load tham so truoc khi chay_end-->
                                <!--20171103_hienhv4_Them trang thai tam dung_start-->
                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status8']}" itemValue="8" />
                                <!--20171103_hienhv4_Them trang thai tam dung_end-->
                            </p:selectOneMenu>
                        </f:facet>
                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 0}"> 
                            <i class="fa  fa-unlock-alt  Fs18 Gray" style=""></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status0']}" title="#{msg['view.label.flowrunaction.status0']}" 
                                          rendered="#{flowRunAction.status == 0}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>
                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 1}">
                            <i class="fa fa-clock-o Fs20" style="color: #00BFFF !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status1']}" rendered="#{flowRunAction.status == 1}" 
                                          style="color: #00BFFF;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>	

                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 2}">
                            <i class="fa fa-spinner fa-pulse fa-fw Fs20" style="color: #4169E1 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status2']}"
                                          style="color: #4169E1; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel> 

                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 3}">
                            <i class="fa fa-check-circle Fs20" style="color: #228B22 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status3']}"  
                                          style="color: #228B22; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>

                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 4}">
                            <i class="fa fa-warning Fs20" style="color: #FF8C00 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status4']}"  
                                          style="color: #FF8C00; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel> 

                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 6}">
                            <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status6']}" rendered="#{flowRunAction.status == 6}"
                                          style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>

                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 7}">
                            <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status7']}" rendered="#{flowRunAction.status == 7}"
                                          style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>	

                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 10}">
                            <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status10']}" rendered="#{flowRunAction.status == 10}"
                                          style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>
                        
                        <!--20171031_hienhv4_load tham so truoc khi chay_start-->
                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 11}"> 
                            <i class="fa  fa-repeat  Fs18" style="color: brown;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status11']}" title="#{msg['view.label.flowrunaction.status11']}" 
                                          rendered="#{flowRunAction.status == 11}" style="color: brown; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>
                        <!--20171031_hienhv4_load tham so truoc khi chay_end-->
                        
                        <!--20171103_hienhv4_Them trang thai tam dung_start-->
                        <p:outputPanel style="width: 100%; text-align:center" rendered="#{flowRunAction.status == 8}"> 
                            <i class="fa  fa-pause  Fs18" style="color: lightcoral;"></i> 
                            <br />
                            <h:outputText value="#{msg['view.label.flowrunaction.status8']}" title="#{msg['view.label.flowrunaction.status8']}" 
                                          rendered="#{flowRunAction.status == 8}" style="color: lightcoral; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                        </p:outputPanel>
                        <!--20171103_hienhv4_Them trang thai tam dung_end-->

                    </p:column>
                    <p:column headerText="#{msg['datatable.header.action']}"
                              width="#{generateFlowRunController.tabExecute?45:45}" styleClass="TexAlCenter">
                        <p:tooltip position="left" ></p:tooltip>
                        <p:commandButton icon="fa fa-eye" oncomplete="PF('loadingDialog').hide();PF('addEditFlowRunDlg').show();resizeDialogContent()"
                                         onclick="PF('loadingDialog').show()" title="#{msg[!generateFlowRunController.tabExecute?'label.update':'label.view.dt']}"
                                         actionListener="#{generateFlowRunController.preEditFlowRunAction(flowRunAction)}"
                                         update=":actForm,@widgetVar(addEditFlowRunDlg),:actForm:tabInputNode" styleClass="Fs14 White MarRight5">

                        </p:commandButton>

                        <p:commandButton icon="fa fa-location-arrow " title="#{msg['view.button.run.dt']}"
                                         actionListener="#{drawTopoStatusExecController.buildTopoDiagram(flowRunAction)}"
                                         oncomplete="PF('loadingDialog').hide();PF('showTopo').show();resizeDialogContent()"
                                         onclick="PF('loadingDialog').show()" update=":showTopo"
                                         rendered="#{generateFlowRunController.tabExecute}"
                                         styleClass="OrangeButton Fs14 White MarTop5 ">
                        </p:commandButton>

                        <p:commandButton icon="fa fa-copy" oncomplete="PF('loadingDialog').hide()"
                                         onclick="PF('loadingDialog').show()" title="#{msg['button.clone']}"
                                         actionListener="#{generateFlowRunController.cloneFlowRun(flowRunAction)}"
                                         disabled="#{!sessionUtil.createMop}"
                                         rendered="#{!generateFlowRunController.tabExecute}"
                                         update="@form,:growl" styleClass="GreenButton Fs14 White MarTop5 MarRight5">
                        </p:commandButton>
                        <p:commandButton icon="fa fa-trash" oncomplete="PF('comfirmApprove#{flowRunAction.flowRunId}').show();PF('loadingDialog').hide()"
                                         onstart="PF('loadingDialog').show()" 
                                         disabled="#{!sessionUtil.createMop || flowRunAction.status &gt; 1}"
                                         rendered="#{!generateFlowRunController.tabExecute}"
                                         update="comfirmApproveId" title="#{msg['label.del']}" styleClass="RedButton Fs14 White MarTop5">
                        </p:commandButton>
                        <p:confirmDialog global="true" header="#{msg['view.dialog.header.del.flowrunaction']}" 
                                         id="comfirmApproveId"
                                         showEffect="face" hideEffect="scale" widgetVar="comfirmApprove#{flowRunAction.flowRunId}">
                            <f:facet name="message">
                                <h:outputText value="#{msg['title.confirm.delete']}"/>
                                <p:spacer width="100%" height="1px"></p:spacer>
                                <h:outputText style="color: black; font-weight: bold;" value="#{msg['datatable.header.name.flowrunaction']}"/>
                                <h:outputText value=": "/>
                                <h:outputText style="color: black" value="#{flowRunAction.flowRunName}"/>
                            </f:facet>

                            <p:commandButton value="Yes" update="@form :growl" process="@this"  oncomplete="PF('comfirmApprove#{flowRunAction.flowRunId}').hide();PF('loadingDialog').hide()"
                                             title="#{msg['view.dialog.header.del.flowrunaction']}"
                                             onstart="PF('loadingDialog').show()" 
                                             actionListener="#{generateFlowRunController.deleteFlowRunAction(flowRunAction)}"
                                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no AquaButton" onclick="PF('comfirmApprove#{flowRunAction.flowRunId}').hide()"
                                             icon="ui-icon-close fa fa-close Fs14 White" />
                        </p:confirmDialog>




                    </p:column>
                    
                </p:dataTable>
            </div>
        </h:form>
        <p:dialog header="#{msg['view.dialog.header.update.flowrunaction']}" widgetVar="addEditFlowRunDlg" width="99%" styleClass="FlowRunDlg"
                  style="top:20px; bottom:5px;"  height="99%"  modal="true" draggable="true" resizable="true" id="dlgInput"  onShow="beforeOpenDialog()" onHide="afterCloseDialog()" >

            <f:facet name="header">
                #{msg['view.dialog.header.update.flowrunaction']}
            </f:facet>

            <h:form id="actForm">
                <div id="p1" class="Container100 Flex FlexWrap NoPadding" style="overflow: hidden;">
                    <div class="Card">
                        <div class="Container20 Responsive50" style="padding-top: 5px">
                            <SPAN class="title-top"> 
                                <p:selectOneMenu value="#{generateFlowRunController.flowRunAction.crNumber}" title="#{msg['view.choose.cr']}"
                                                 disabled="#{!sessionUtil.createMop or generateFlowRunController.tabExecute or !generateFlowRunController.editMop or true}"
                                                 validator="notNullValidator"
                                                 required="true" requiredMessage="#{msg['view.require.choosecr']}">

                                    <f:selectItems value="#{generateFlowRunController.crs}"></f:selectItems>
                                    <p:ajax event="change" update="chooseTemplate,flowRunName,actionPanel1,@this,timeRunId" />
                                    <p:ajax event="itemSelect" update="chooseTemplate,flowRunName,actionPanel1,@this,timeRunId" />
                                </p:selectOneMenu>

                                <label class="title-elem" >#{msg['view.choose.cr2']}</label>
                            </SPAN>
                        </div>
                        <div class="Container20 Responsive50" style="padding-top: 5px">
                            <span class="md-inputfield">
                                <p:inputTextarea value="#{generateFlowRunController.flowRunAction.flowRunName}" id="flowRunName" 
                                                 title="#{msg['datatable.header.name.flowrunaction']}" rows="1"
                                                 validator="notNullValidator"
                                                 disabled="#{generateFlowRunController.flowRunAction.crNumber == null || !sessionUtil.createMop || !generateFlowRunController.editMop}"
                                                 required="true" requiredMessage="#{msg['view.require.flowrunaction']}">
                                    <p:ajax event="keyup" update="chooseTemplate"/>
                                    <p:ajax event="blur" update="chooseTemplate,@this"/>

                                </p:inputTextarea>

                                <label>#{msg['datatable.header.name.flowrunaction']}</label>
                            </span>
                            <p:message for="flowRunName"></p:message>
                        </div>

                        <!--20170419_HaNV15_Add_Start-->
                        <div class="Container20 Responsive50" style="padding-top: 5px">
                            <SPAN class="title-top">
                                <p:selectOneMenu id="countryCode"  immediate="true"
                                                 value="#{generateFlowRunController.flowRunAction.countryCode}" 
                                                 filter="true" 
                                                 filterMatchMode="contains" 
                                                 autoWidth="false"
                                                 style="max-width: calc(100% - 55px)"
                                                 disabled="#{!sessionUtil.createMop or !generateFlowRunController.editMop}"
                                                 converter="countryConverter">
                                    <f:selectItem itemLabel="#{msg['common.choose']}"
                                                  itemValue=""/>
                                    <f:selectItems var="countryCodeObj" 
                                                   itemLabel="#{countryCodeObj.countryCode}" 
                                                   itemValue="#{countryCodeObj}" 
                                                   value="#{nodeController.countrys}"/>
                                    <p:ajax event="change"></p:ajax>
                                </p:selectOneMenu>
                                <label class="title-elem">#{msg['common.country.code']}</label>
                            </SPAN>
                        </div>
                        <!--20170419_HaNV15_Add_End-->

                        <div class="Container20 Responsive50" style="padding-top: 5px">
                            <SPAN class="title-top">

                                <p:selectOneMenu id="chooseTemplate" filter="true" filterMatchMode="contains"
                                                 value="#{generateFlowRunController.selectedFlowTemplates}"
                                                 converter="flowTemplateConverter" autoWidth="false" style="max-width: calc(100% - 55px)"
                                                 title="#{msg['datatable.header.template']}" validator="notNullValidator"
                                                 disabled="#{generateFlowRunController.flowRunAction.crNumber == null || generateFlowRunController.flowRunAction.flowRunName ==null
                                                             || generateFlowRunController.flowRunAction.flowRunName.isEmpty()
                                                             || !sessionUtil.createMop || !generateFlowRunController.editMop}">
                                    <f:selectItem itemLabel="#{msg['view.choose.flow.template']}"
                                                  itemValue="" />
                                    <f:selectItems value="#{generateFlowRunController.flowTemplates}"
                                                   var="f" itemLabel="#{f.flowTemplateName}" itemValue="#{f}"></f:selectItems>
                                    <p:ajax event="change" onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()"
                                            listener="#{generateFlowRunController.onChangeFlowTemplates()}"
                                            update="chooseNodePanel,timeRunId, :searchNodeForm, actionPanel1,actionPanel2,ParamInterPolateNode" />
                                </p:selectOneMenu>

                                <label class="title-elem" >#{msg['datatable.header.template']}</label>
                            </SPAN>
                        </div>


                        <div class="Container20 Responsive50" style="padding-top: 5px;padding-left: 5px;text-align: right;">
                            <SPAN class="title-top"> 
                                <p:calendar id="timeRunId" value="#{generateFlowRunController.flowRunAction.timeRun}" locale="#{language.localeCode}"
                                            mindate="#{generateFlowRunController.flowRunAction.createDate}" showButtonPanel="true"
                                            title="#{msg['datatable.header.time.execute']}"  showOn="button" validator="notNullValidator"
                                            disabled="#{generateFlowRunController.flowRunAction.crNumber == null || !sessionUtil.createMop || !generateFlowRunController.editMop || true}"
                                            pattern="dd/MM/yyyy HH:mm:ss"   pages="2" effect="slideDown"
                                            required="true" requiredMessage="#{msg['view.require.time.execute']}" 
                                            showOtherMonths="true" selectOtherMonths="true" >
                                    <p:ajax event="dateSelect" update="chooseNodePanel" /> 
                                </p:calendar>	 
                                <label class="title-elem" style="padding-left: calc(100% - 35px - 170px - 22px)" >#{msg['datatable.header.time.execute']}</label>
                            </SPAN>	 
                            <p:message for="timeRunId"></p:message>	 
                        </div>
                    </div>
                </div>
                <!--quytv7_add Description-->
                <div  id="p3" class="Container100 Flex FlexWrap">
                    <div class="Container100" style="padding-top: 5px;padding-left: 25px;padding-right: 35px">
                        <span class="title-top">

                            <p:outputPanel  style="margin-top: 10px;">
                                <h:outputText class="responsive125" value="#{msg['datatable.header.description']}"/>
                                <p:editor class="responsive875" style="padding: 0px" id="description" maxlength="3900"  height="150"
                                          value="#{generateFlowRunController.flowRunAction.description}"/>
                            </p:outputPanel>

                        </span>
                        <p:message for="description"></p:message>
                    </div>
                </div>
                <div  id="p4" class="Container100 Flex FlexWrap">
                    <div class="Container100" style="padding-top: 5px;padding-left: 25px;padding-right: 35px">
                        <p:outputPanel id="ParamInterPolateNode" >
                            <h:outputText class="responsive125" value="#{msg['label.template.paramInterpolateNode']}" rendered="#{generateFlowRunController.listParamInterPolateNode.size() >0}">
                            </h:outputText>
                            <p:outputPanel rendered="#{generateFlowRunController.listParamInterPolateNode.size() >0}"
                                    class="responsive875"
                                    style="border-color: #999999;border-style: solid;border-width: thin; max-height: 200px">
                                <p:repeat value="#{generateFlowRunController.listParamInterPolateNode}" varStatus="loop"
                                          var="paramInterpolateNode">

                                    <p:outputPanel >
                                        <h:outputText class="responsive125" value="#{paramInterpolateNode.paramCode}">
                                        </h:outputText>

                                        <p:inputText class="responsive875" value="#{paramInterpolateNode.paramValue}" id="paramInterpolateNode-#{loop.index}">
                                            <p:ajax event="change" update="actForm:chooseNodePanel,actForm:tabInputNode,@parent"
                                                    onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()"
                                                    listener="#{generateFlowRunController.onchangeNodeInterpolate}"/>
                                        </p:inputText>

                                    </p:outputPanel>

                                </p:repeat>

                            </p:outputPanel>
                        </p:outputPanel>
                    </div>
                </div>
                <div  id="p2" class="Container100 Flex FlexWrap">
                    <p:outputPanel rendered="#{sessionUtil.createMop and generateFlowRunController.editMop}"
                                   id="chooseNodePanel" styleClass="Card Container100" style="padding-bottom: 0px;">
                        <p:outputPanel  styleClass="Container80 Responsive50" style="width: calc(100% - 90px)!important;">
                            <SPAN class="title-top"> 
                                <p:autoComplete multiple="true" dropdown="true"
                                                value="#{generateFlowRunController.nodes}" id="chooseNode"  
                                                styleClass="AutoComWid100" var="n" itemValue="#{n}"  
                                                itemLabel="#{n.nodeCode}" scrollHeight="300" dropdownMode="current"
                                                completeMethod="#{generateFlowRunController.completeNodeRun}"
                                                converter="nodeConverter" style="max-height: 100px; overflow: auto;"
                                                title="#{msg['view.choose.node.run']}"
                                                rendered="#{(generateFlowRunController.rerender || !sessionUtil.createMop)}"
                                                disabled="#{generateFlowRunController.selectedFlowTemplates==null || generateFlowRunController.flowRunAction.timeRun==null || !sessionUtil.createMop || !generateFlowRunController.editMop}">
                                    <p:ajax event="itemSelect" onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide();resizeDialogContent()"
                                            listener="#{generateFlowRunController.handleSelectNode}" 
                                            update="tabInputNode,@parent" />
                                    <p:ajax event="itemUnselect" update="@parent,tabInputNode,:dataForm" onstart="PF('loadingDialog').show();" oncomplete="PF('loadingDialog').hide();resizeDialogContent()" listener="#{generateFlowRunController.handleUnSelectNode}" />


                                </p:autoComplete>
                                <label class="title-elem" >#{msg['view.choose.node.run']}</label>
                            </SPAN>
                            <p:watermark value="#{msg['view.choose.node.run2']}" for="chooseNode"></p:watermark>
                        </p:outputPanel>
                        <div class="Container10" style="width: 45px !important;">
                            <p:commandButton icon="fa fa-search" styleClass="AquaButton Fs14 White" 
                                             disabled="#{generateFlowRunController.selectedFlowTemplates==null || generateFlowRunController.flowRunAction.timeRun==null || !sessionUtil.createMop}"
                                             actionListener="#{generateFlowRunController.preSearch}"
                                             title="#{msg['view.choose.node.run.advance']}" 
                                             update="chooseNodePanel,:searchNodeForm" process="@this"
                                             oncomplete="PF('searchNodeRun').show()">
                            </p:commandButton>
                        </div>
                        <div class="Container10" style="width: 45px !important;">
                            <p:commandButton icon="fa fa-upload" styleClass="AquaButton Fs14 White" 
                                             disabled="#{generateFlowRunController.selectedFlowTemplates==null || generateFlowRunController.flowRunAction.timeRun==null || !sessionUtil.createMop}"
                                             oncomplete="PF('importDlg').show()" update="chooseNodePanel"
                                             actionListener="#{generateFlowRunController.setRerender(false)}"
                                             title="#{msg['view.title.import.param']}" process="@this"
                                             >
                            </p:commandButton>
                        </div>
                    </p:outputPanel>
                </div>
                <div class="Container100 Flex FlexWrap">
                    <c:set  var="subFlowRuns" value="#{generateFlowRunController.subFlowRuns}"></c:set>
                    <p:tabView id="tabInputNode" scrollable="true" style="width: 100%">
                        <p:ajax event="tabChange" listener="#{generateFlowRunController.onChangeSubFlowRuns}"
                                onstart="PF('loadingDialog').show()" oncomplete="resizeDialogContent();PF('loadingDialog').hide()"
                                update="@this" />
                        <c:forEach items="#{subFlowRuns}" var="subFlowRun">
                            <p:tab title="#{subFlowRun}" id="tab-#{subFlowRun}" titleStyle="font-weight: bold">
                                <div class="Container100 Flex FlexWrap">
                                    <c:set  var="nodes" scope="request" value="#{generateFlowRunController.nodes}"></c:set>
                                    <p:tabView id="tabInputParam-#{subFlowRun}" binding="#{generateFlowRunController.tabview}" scrollable="true" style="width: 100%" >
                                        <p:ajax event="tabChange" listener="#{generateFlowRunController.onChangeNode}"
                                                onstart="PF('loadingDialog').show()" oncomplete="resizeDialogContent();PF('loadingDialog').hide()"
                                                update="@this" />
                                        <c:forEach items="#{nodes}" var="node">
                                            <p:tab title="#{node.nodeCode}" id="tab-#{node.nodeId}" titleStyle="font-weight: bold">
                                                <div class="Container100 Flex FlexWrap">
                                                    <c:set var="paramInputs" scope="request" value="#{generateFlowRunController.getParamInputs(subFlowRun,node)}"></c:set>
                                                    <div class="Container50 Responsive50">
                                                        <!--<p:outputPanel styleClass="Card fixedElement" id="card-#{node.nodeId}">-->
                                                        <p:outputPanel styleClass="Card" id="card-#{node.nodeId}">
                                                            <div class="Container100 Responsive50">
                                                                <h2 class="Container50 Responsive50 Fs20">
                                                                    #{msg['view.tilte.param']}</h2>
                                                                <h2 class="Container50 Responsive50 Fs20">
                                                                    #{msg['view.tilte.value']}</h2>
                                                            </div>
                                                            <p:outputPanel class="Container100 Responsive50" id="subcard-#{node.nodeId}">
                                                                <c:set var="paramInput2s" value="#{generateFlowRunController.distinctParamValueSameParamCode(subFlowRun,node, generateFlowRunController.mapParamValue)}"></c:set>
                                                                <c:forEach
                                                                    items="#{paramInput2s}"
                                                                    var="param" varStatus="p">
                                                                    <p:outputPanel styleClass="Container100 Responsive50" id="param-#{node.nodeId}-#{p.index}" rendered="#{param.isDeclare}">
                                                                        <div class="Container50 MarTop10">
                                                            #{param.paramInput.paramCode}-<span style="color:#{param.paramInput.color} !important">#{param.paramInput.paramInputId}</span>
                                                                            <p:commandButton id="descriptionParam-#{node.nodeId}-#{p.index}" icon="fa fa-info" styleClass="TransparentButton Blue" rendered="#{param.isDescription}"/>
                                                                            <p:tooltip for="descriptionParam-#{node.nodeId}-#{p.index}" value="#{param.description}"/>
                                                                        </div>
                                                                        <p:outputPanel styleClass="Container50 ">

                                                                            <p:inputText placeholder="#{param.isFormula ? msg['info.formula.value'] : (param.paramInput.inOut ? msg['info.reference.value'] : '')}" 
                                                                                         title="#{param.isFormula ? param.formula : (param.paramInput.inOut ? param.paramInput.cmdInOut : msg['view.tooltip.input.value'])}" value="#{param.paramValue}"
                                                                                         id="inp#{node.nodeId}-#{p.index}"
                                                                                         disabled="#{param.paramInput.readOnly 
                                                                                     || param.isFormula || param.disableByInOut
                                                                                     || !sessionUtil.createMop
                                                                                     || !generateFlowRunController.editMop}">
                                                                                <p:ajax event="blur" listener="#{generateFlowRunController.onKeyUpValueParam(param,subFlowRun,node,generateFlowRunController.mapParamValue)}" 
                                                                                        update="previewCmd-#{node.nodeId},subcard-#{node.nodeId}" onstart="PF('loadingDialog').show()"  
                                                                                        oncomplete="PF('loadingDialog').hide()" />
                                                                            </p:inputText>
                                                                            <p:commandButton icon="fa fa-remove" styleClass="TransparentButton Fs16" process="@parent" 
                                                                                             disabled="#{param.paramInput.readOnly || param.paramInput.inOut || param.isFormula || !sessionUtil.createMop || !generateFlowRunController.editMop}"
                                                                                             update="previewCmd-#{node.nodeId},subcard-#{node.nodeId}" actionListener="#{param.setParamValue(null)}" 
                                                                                             oncomplete="$('#actForm\\:tabInputNode\\:inp#{node.nodeId}-#{p.index}').blur()" />
                                                                        </p:outputPanel>
                                                                    </p:outputPanel>

                                                                </c:forEach>
                                                            </p:outputPanel>
                                                        </p:outputPanel>
                                                    </div>
                                                    <p:outputPanel id="previewCmd-#{node.nodeId}"
                                                                   styleClass="Container50 Responsive50">
                                                        <h2 class="Container100 Responsive50 Fs20 TexAlCenter">
                                            #{msg['view.tilte.preview.dt']}</h2>
                                                        <c:forEach items="#{generateFlowRunController.mapGroupAction.get(subFlowRun.concat('#').concat(node.nodeCode))}" var="groupAction" varStatus="g">
                                                            <c:if test="#{groupAction!=null}">
                                                                <p:outputPanel styleClass="Card" rendered="#{!groupAction.isNoCommand(node)}" >
                                                                    <div class="Container100 Responsive50">
                                                                        <DIV class="Container90 ">
                                                                            <h2>
                                                                                <h:outputText value="#{groupAction.groupActionName}"
                                                                                              style="color: blue" />
                                                                            </h2>
                                                                        </DIV>

                                                                        <div class="Container10 ">

                                                                            <p:inputSwitch rendered="#{groupAction!=null}" styleClass="MyInputSwitch" id="switchDeclare#{node.nodeId}-#{g.index}"
                                                                                           disabled="#{!sessionUtil.createMop || !generateFlowRunController.editMop}"
                                                                                           value="#{groupAction.declare}" showLabels="true" style="width: 100px" >
                                                                                <!--20171018_hienhv4_clone dau viec_start-->
                                                                                <p:ajax update="@parent,subcard-#{node.nodeId},previewCmd-#{node.nodeId}" 
                                                                                        listener="#{generateFlowRunController.checkOffParam(subFlowRun, node, groupAction)}"
                                                                                        onstart="PF('loadingDialog').show()"  
                                                                                        oncomplete="PF('loadingDialog').hide()">
                                                                                </p:ajax>
                                                                                <!--20171018_hienhv4_clone dau viec_end-->
                                                                            </p:inputSwitch>
                                                                            <p:tooltip for="switchDeclare#{node.nodeId}-#{g.index}" value="#{msg['view.swith.on.declare']} / #{msg['view.swith.on.nodeclare']}"></p:tooltip>

                                                                        </div>

                                                                    </div>
                                                                    <p:outputPanel rendered="#{groupAction.declare}">
                                                                        <p:repeat  value="#{groupAction.actionOfFlows}" var="actionOfFlow" >
                                                                            <p:outputPanel styleClass="Container100 Responsive50 NoPadding" rendered="#{!actionOfFlow.isNoCommand(node)}"
                                                                                           style="background: #{actionOfFlow.isRollback==0?'#f1f2f3':'#e1e2e3'}; color:#{actionOfFlow.isRollback==0?'black':'red'}">
                                                                                <p:outputPanel styleClass="Container100 Responsive50">
                                                                                    <h:outputText value="#{actionOfFlow.action.name}"
                                                                                                  styleClass="Fs20 FontBold">
                                                                                    </h:outputText>

                                                                                </p:outputPanel>

                                                                                <p:outputPanel styleClass="Container100 Responsive50 OvAuto" style="border: 1px solid white;border-left: none;border-right: none;">

                                                                                    <p:outputPanel style="width: 100%; font-family: Console;">
                                                                                        <ui:remove>
                                                                                            <c:forEach items="#{actionOfFlow.action.actionDetails}" var="actionDetail">
                                                                                                <c:if test="#{actionDetail.vendor==node.vendor and actionDetail.nodeType==node.nodeType and actionDetail.version==node.version }">
                                                                                                    <h:outputText escape="false" style="opacity: 0.5"
                                                                                                                  value="#{actionDetail.buildCommand(paramInputs,true,actionOfFlow,generateFlowRunController.flowRunAction.status)}" />

                                                                                                </c:if>
                                                                                            </c:forEach>
                                                                                        </ui:remove>
                                                                                        <!--20171018_hienhv4_clone dau viec_start-->
                                                                                        <h:outputText escape="false"
                                                                                                      value="#{actionOfFlow.buildCommand(generateFlowRunController.mapParamValue, subFlowRun, true, node, (generateFlowRunController.flowRunAction.getTimeLoadParam() == null ? 0 : 1), groupAction.cloneNumber, groupAction.clone)}" />
                                                                                        <!--20171018_hienhv4_clone dau viec_end-->
                                                                                    </p:outputPanel>
                                                                                </p:outputPanel>
                                                                            </p:outputPanel>

                                                                        </p:repeat>

                                                                    </p:outputPanel>
                                                                </p:outputPanel>
                                                            </c:if>
                                                        </c:forEach>

                                                    </p:outputPanel>
                                                </div>
                                            </p:tab>
                                        </c:forEach>
                                    </p:tabView>
                                </div>
                            </p:tab>
                        </c:forEach>
                    </p:tabView>
                </div>

                <p:outputPanel id="actionPanel1" style="position: fixed;right: 25px; bottom: 30px;width: 45px;">

                    <p:commandButton icon="fa fa-play" styleClass="AquaButton White Fs16"
                                     disabled="#{generateFlowRunController.selectedFlowTemplates==null || !sessionUtil.createMop || !generateFlowRunController.execute}"
                                     title="#{msg['view.button.run.dt']}" process="@this"
                                     actionListener="#{drawTopoStatusExecController.buildTopoDiagram(generateFlowRunController.flowRunAction)}"
                                     oncomplete="PF('loadingDialog').hide();PF('showTopo').show();resizeDialogContent()"
                                     onclick="PF('loadingDialog').show()" update=":showTopo"
                                     rendered="#{sessionUtil.rescue}"  >
                    </p:commandButton>

                    <p:commandButton title="#{msg['view.button.export']}" ajax="false" process="@none" style="margin-top:2px;"
                                     disabled="#{generateFlowRunController.flowRunAction.crNumber==null || generateFlowRunController.selectedFlowTemplates==null}"
                                     icon="fa fa-cloud-download" styleClass="Fs16 White" update="@none" 
                                     actionListener="#{generateFlowRunController.exportDt}" />

                    <p:commandButton title="#{msg['view.button.save']}"
                                     disabled="#{generateFlowRunController.selectedFlowTemplates==null || !generateFlowRunController.editMop}"
                                     icon="fa fa-save" styleClass="Fs16 White" 
                                     oncomplete="PF('loadingDialog').hide()"
                                     onclick="PF('loadingDialog').show()"
                                     actionListener="#{generateFlowRunController.saveDT}"
                                     rendered="#{sessionUtil.createMop or sessionUtil.rescue}"
                                     update=":dataForm, :growl, :actForm, actionPanel1" style="margin-top:2px" />
                    <p:commandButton title="#{msg['view.button.load.param']}"
                                     disabled="#{generateFlowRunController.selectedFlowTemplates==null || !generateFlowRunController.editMop}"
                                     icon="fa fa-repeat" styleClass="YelowButton Fs16 White"
                                     oncomplete="PF('loadingDialog').hide()"
                                     onclick="PF('loadingDialog').show()"
                                     actionListener="#{generateFlowRunController.loadParamDt}"
                                     update=":dataForm, :growl, :actForm, actionPanel1" style="margin-top:2px" />
                </p:outputPanel>

                <p:outputPanel id="actionPanel2" style="position: fixed;right: 65px; bottom: 30px;width: 45px;">

                    <p:commandButton title="#{msg[generateFlowRunController.approveMop?'view.button.check':'view.button.uncheck']}"
                                     disabled="#{generateFlowRunController.selectedFlowTemplates==null || !generateFlowRunController.editMop}"
                                     icon="fa #{generateFlowRunController.approveMop?'fa-check':'fa-unlock'}" styleClass="Fs16 White ForestButton"  
                                     actionListener="#{generateFlowRunController.approveDT}"
                                     oncomplete="PF('loadingDialog').hide()"
                                     onclick="PF('loadingDialog').show()"
                                     rendered="#{(sessionUtil.approveMop or sessionUtil.rescueMop)}"
                                     update=":dataForm, :growl, :actForm"  />
                    <p:commandButton icon="fa fa-upload" styleClass="AquaButton White Fs16" style="margin-top:2px;" 
                                     disabled="#{generateFlowRunController.selectedFlowTemplates==null || !sessionUtil.createMop}"
                                     oncomplete="PF('importTempDlg').show()" 
                                     title="#{msg['view.title.import.temp']}" process="@this"
                                     rendered="#{sessionUtil.createMop}"
                                     >
                    </p:commandButton>
                </p:outputPanel>


            </h:form>
            <a class="cd-top" title="#{msg['label.goto.head']}"  />
        </p:dialog>
        <p:dialog id="searchNodeRunId" widgetVar="searchNodeRun" header="#{msg['view.choose.node.run']}" 
                  width="95%" modal="true" style="top:20px" height="550" draggable="true" resizable="true" styleClass="searchNodeDlg">

            <p:ajax event="close" update=":actForm:chooseNodePanel,:actForm:tabInputNode" onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()" 
                    listener="#{generateFlowRunController.copyNodeSearch}"></p:ajax>	 

            <h:form id="searchNodeForm">
                <div class="Container100 NoPadding">
                    <div class="Container50 Responsive50">

                        <p:dataTable value="#{generateFlowRunController.lazyNode}" var="node" rowKey="#{node.nodeId}" rows="10" paginator="true" paginatorPosition="bottom" lazy="true"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                     pageLinks="5"
                                     rowsPerPageTemplate="5,10,15" rowIndexVar="nodeIdx" selection="#{generateFlowRunController.preNodes}" id="tableSearchNode"
                                     style="padding: 0px ! important;" widgetVar="availableNodeData">
                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">
                                    <div class="Container25">
                                        <p:selectOneButton styleClass="OneButtonNode" value="#{generateFlowRunController.searchNodeLab}">
                                            <f:selectItem itemLabel="Lab" itemValue="1" />
                                            <f:selectItem itemLabel="Net" itemValue="0" />	            
                                            <f:selectItem itemLabel="All" itemValue="-1" />
                                            <p:ajax listener="#{generateFlowRunController.changeTypeNode}" update="tableSearchNode,:searchNodeForm:ctmTableSearchNode"></p:ajax>
                                        </p:selectOneButton>

                                    </div>
                                    <div class="Container50 TexAlCenter">
                                        <h:outputText value="#{msg['datatable.header.node.available']}"/>
                                    </div>
                                    <div class="Container25 TexAlRight" >
                                        <p:commandButton icon="fa fa-mail-forward " styleClass="Fs14 White" 
                                                         actionListener="#{generateFlowRunController.addNodeSearch}" 
                                                         title="#{msg['view.button.add.node.search']}"
                                                         process=":searchNodeForm"
                                                         update=":searchNodeForm">
                                        </p:commandButton>
                                    </div>
                                </div>	
                            </f:facet>
                            <p:column selectionMode="multiple" width="20" />

                            <p:column headerText="#{msg['datatable.header.stt']}" width="20">
                                <h:outputText value="#{nodeIdx +1 }" />
                            </p:column>
                            <p:column headerText="Node Code" filterBy="#{node.nodeCode}"  width="20%">
                                <h:outputText value="#{node.nodeCode}" title="#{node.nodeCode}" />
                            </p:column>
                            <p:column headerText="IP" filterBy="#{node.nodeIp}">
                                <h:outputText value="#{node.nodeIp}" title="#{node.nodeIp}" />
                            </p:column>
                            <p:column headerText="Vendor" filterBy="#{node.vendor.vendorName}">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('availableNodeData').filter()">
                                        <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="" />
                                        <f:selectItems var="vendor" itemLabel="#{vendor.vendorName}"
                                                       itemValue="#{vendor.vendorName}" value="#{generateFlowRunController.vendor4Searchs}" />
                                    </p:selectOneMenu>
                                </f:facet>	
                                <h:outputText value="#{node.vendor.vendorName}" />
                            </p:column>
                            <p:column headerText="Node Type" filterBy="#{node.nodeType.typeName}">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('availableNodeData').filter()">
                                        <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="" />
                                        <f:selectItems var="typeObj" itemLabel="#{typeObj.typeName}"
                                                       itemValue="#{typeObj.typeName}" value="#{generateFlowRunController.nodeType4Searchs}" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{node.nodeType.typeName}" />
                            </p:column>
                            <p:column headerText="Version" filterBy="#{node.version.versionName}">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('availableNodeData').filter()">
                                        <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="" />
                                        <f:selectItems var="version" itemLabel="#{version.versionName}"
                                                       itemValue="#{version.versionName}" value="#{generateFlowRunController.version4Searchs}" />
                                    </p:selectOneMenu>
                                </f:facet>	
                                <h:outputText value="#{node.version.versionName}" />
                            </p:column>
                        </p:dataTable>
                        <p:contextMenu for="tableSearchNode" id="ctmTableSearchNode"  >
                            <p:menuitem icon="ui-icon-circle-arrow-w" value="#{msg['view.menu.item.move.lab.node']}" 
                                        disabled="#{generateFlowRunController.searchNodeLab == '1'}" update="tableSearchNode"
                                        actionListener="#{generateFlowRunController.onChangeTypeNode(1)}"></p:menuitem>
                            <p:menuitem icon="ui-icon-circle-arrow-e" value="#{msg['view.menu.item.move.net.node']}" 
                                        disabled="#{generateFlowRunController.searchNodeLab == '0'}" update="tableSearchNode"
                                        actionListener="#{generateFlowRunController.onChangeTypeNode(0)}" ></p:menuitem>
                        </p:contextMenu>
                    </div>
                    <div class="Container50 Responsive50">

                        <p:dataTable value="#{generateFlowRunController.nodeSeachs}" var="node" rows="10" paginator="true" paginatorPosition="bottom" rowKey="#{node.nodeId}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}" id="tableSelectedNode"
                                     rowsPerPageTemplate="5,10,15" rowIndexVar="nodeIdx" style="padding: 0px ! important;"
                                     selection="#{generateFlowRunController.tmpNodes}">

                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">
                                    <div class="Container20 TexAlLeft">
                                        <p:commandButton icon="fa fa-mail-reply " styleClass="RedButton Fs14 White" 
                                                         title="#{msg['view.button.remove.node.search']}" update=":searchNodeForm"
                                                         actionListener="#{generateFlowRunController.removeNodeSearch}"
                                                         process=":searchNodeForm">
                                        </p:commandButton>

                                    </div>
                                    <div class="Container60 TexAlCenter" >
                                        <h:outputText value="#{msg['label.node.run']}"/>
                                    </div>
                                    <div class="Container20">
                                    </div>
                                </div>	


                            </f:facet>

                            <p:column selectionMode="multiple" width="20"/>

                            <p:column headerText="#{msg['datatable.header.stt']}" width="20">
                                <h:outputText value="#{nodeIdx +1 }" />
                            </p:column>
                            <p:column headerText="Node Code" filterBy="#{node.nodeCode}" width="20%">
                                <h:outputText value="#{node.nodeCode}" />
                            </p:column>
                            <p:column headerText="IP" filterBy="#{node.nodeIp}">
                                <h:outputText value="#{node.nodeIp}" />
                            </p:column>
                            <p:column headerText="Vendor" filterBy="#{node.vendor.vendorName}">
                                <h:outputText value="#{node.vendor.vendorName}" />
                            </p:column>
                            <p:column headerText="Node Type" filterBy="#{node.nodeType.typeName}">
                                <h:outputText value="#{node.nodeType.typeName}" />
                            </p:column>
                            <p:column headerText="Version" filterBy="#{node.version.versionName}">
                                <h:outputText value="#{node.version.versionName}" />
                            </p:column>

                        </p:dataTable>
                    </div>
                </div>				
            </h:form>	
        </p:dialog>

        <p:dialog id="importDlgId" widgetVar="importDlg" header="#{msg['view.title.import.param']}" 
                  width="50%" modal="true" draggable="true" resizable="true" styleClass="searchNodeDlg">

            <p:ajax event="close" update=":actForm:chooseNodePanel,:actForm:tabInputNode,:growl" onstart="PF('loadingDialog').show()" 
                    oncomplete="PF('loadingDialog').hide();resizeDialogContent()" 
                    listener="#{generateFlowRunController.pushParamToForm}"></p:ajax>	 

            <h:form id="importForm">
                <div class="Container100 NoPadding">
                    <p:commandLink value="#{msg['button.download.template']}" ajax="false" onclick="PrimeFaces.monitorDownload(PF('statusDialog').show(), PF('statusDialog').hide())"
                                   style="color:blue; margin-left:10px;font-weight: bold;font-size: 13px " process="@this"
                                   actionListener="#{generateFlowRunController.exportTemplateImportParam}">

                    </p:commandLink>
                    <p:fileUpload  allowTypes="/(\.|\/)(xls|xlsx)$/" 
                                   uploadLabel="#{msg['button.import']}" fileUploadListener="#{generateFlowRunController.handleImportParams}"
                                   label="#{msg['label.fileImport']}" oncomplete="PF('importDlg').hide()"
                                   invalidFileMessage="#{msg['message.invalid.file.excel']}" invalidSizeMessage="#{msg['message.invalid.file.size']}"
                                   mode="advanced" skinSimple="true" sizeLimit="2097152" dragDropSupport="true">
                    </p:fileUpload>
                </div>
            </h:form>
        </p:dialog>			
        <p:dialog id="importTempDlgId" widgetVar="importTempDlg" header="#{msg['view.title.import.temp']}" 
                  width="50%" modal="true" draggable="true" resizable="true" styleClass="searchNodeDlg">

            <p:ajax event="close" update=":actForm:chooseNodePanel,:actForm:tabInputNode,:growl" 
                    onstart="PF('loadingDialog').show()" 
                    oncomplete="PF('loadingDialog').hide();resizeDialogContent()" 
                    ></p:ajax>	 

            <h:form id="importTempForm">
                <div class="Container100 NoPadding">
                    <p:commandLink value="#{msg['button.download.old.temp']}" ajax="false" onclick="PrimeFaces.monitorDownload(PF('statusDialog').show(), PF('statusDialog').hide())"
                                   style="color:blue; margin-left:10px;font-weight: bold;font-size: 13px " process="@this"
                                   disabled="#{generateFlowRunController.exportOldTemp()==null}">
                        <p:fileDownload value="#{generateFlowRunController.exportOldTemp()}" contentDisposition="attachment" />
                    </p:commandLink>
                    <p:fileUpload  allowTypes="/(\.|\/)(xls|xlsx)$/" 
                                   uploadLabel="#{msg['button.import.temp']}" fileUploadListener="#{generateFlowRunController.handleImportTempFile}"
                                   label="#{msg['label.fileImport']}" oncomplete="PF('importTempDlg').hide()"
                                   invalidFileMessage="#{msg['message.invalid.file.excel']}" invalidSizeMessage="#{msg['message.invalid.file.size']}"
                                   mode="advanced" skinSimple="true" sizeLimit="2097152" dragDropSupport="true">
                    </p:fileUpload>
                </div>
            </h:form>
        </p:dialog>				
        <p:dialog modal="true" widgetVar="statusDialog"
                  header="Downloading..." draggable="false" closable="false">
            <p:graphicImage
                value="/resources/olympos-layout/images/ajax-loader.gif" />
        </p:dialog>

        <ui:include src="../topo/index.xhtml" />
        <ui:include src="execute_multi_mop.xhtml" />
        <p:dialog modal="true" class="transparent-dialog" showHeader="false" 
                  widgetVar="loadingDialog" draggable="false" closable="false" resizable="false" >
            <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
                <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
                <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
            </span>
        </p:dialog>
		
		<script type="text/javascript">
			$(document).ready(function() {
				var currentTabID = "tab-2";
				var currentIconID = "10";
				ChangeTab(currentTabID);
			});
			var offset = 300,
			//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
			offset_opacity = 1200,
			//duration of the top scrolling animation (in ms)
			scroll_top_duration = 700,
			//grab the "back to top" link
			$back_to_top = $('.cd-top');
			$back_to_top.on('click', function(event){
				event.preventDefault();
				$('.FlowRunDlg .ui-dialog-content').animate({
					scrollTop: 0 ,
				 	}, scroll_top_duration
				);
			});
			function start() {
				PF('statusDialog').show();
			}

			function stop() {
				PF('statusDialog').hide();
			}
			$('.FlowRunDlg .ui-dialog-content').scroll(function(e){ 
				  var $el = $('.fixedElement'); 
				  var isPositionFixed = ($el.css('position') == 'fixed');
				  if($(window).width()&lt;960){
					  
				  }else{
					  var offset2 = $('#actForm\\:tabInputNode .ui-tabs-navscroller').height();
					  offset2 += $('#p1').height()+$('#p2').height()+20+28+10+10;
					  console.log(offset2);
					  if ($(this).scrollTop() &gt; offset2 &amp;&amp; !isPositionFixed){ 
					    $('.fixedElement').css({
					    	'position': 'fixed',
					    	'top':'60px',
					    	'left': '40px',
					    	'bottom': '80px',
					    	'width': 'calc(50% - 80px)',
					    	'overflow': 'auto',    	
					    }); 
					  }
					  if ($(this).scrollTop() &lt; offset2 &amp;&amp; isPositionFixed)
					  {
					    $('.fixedElement').css({'position': 'static', 'top': '0px','width': '100%'}); 
					  } 
				  }
				  ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
					if( $(this).scrollTop() > offset_opacity ) { 
						$back_to_top.addClass('cd-fade-out');
					}
			});
			function beforeOpenDialog(){
				$('body').css('overflow','hidden');
			}
			function afterCloseDialog(){
				$('body').css('overflow','auto');
			}
			function resizeDialogContent(){
				$('.FlowRunDlg .ui-dialog-content').css('height',$('#dlgInput').height()-28-10-40)
			}
		</script>
		<style type="text/css">
            .StyleTable .ui-datatable-header {
                background: #00aaff;
                color: white;
                text-transform: uppercase;
            }
            .StyleTable .ui-datatable-header .ui-button {
                padding: 0px !important;
            }
            .StyleTable table thead tr th{
                background: white;
            }
            .StyleTable .ui-paginator{
                background: white;
            }
            .StyleTable .ui-datatable-odd{
                background: #F4F4F4;
            }
            .StyleTable .ui-paginator .ui-paginator-pages .ui-paginator-page{
                padding: 1px 6px;
                margin-right: 2px;
                border-radius: 50% !important;
            }
            .StyleTable .ui-paginator .ui-paginator-pages .ui-state-active,
            .StyleTable .ui-paginator .ui-paginator-pages .ui-state-focus{
                background: rgb(0, 150, 136) none repeat scroll 0% 0% !important;
                color: white !important;
                border: none !important;
            }
			.AutoComWid100 {
				width: 100%;
				
			}
			
			.AutoComWid100 ul {
				width: calc(100% - 58px);
				float: left;
			}
			#actForm\:chooseNode_input{
				width: 130%;
			}
			.MyInputSwitch{
				//width: 150px !important;
			}
			
			.fixedElement {
			    //background-color: #c0c0c0;
			    position: static;
			    z-index:2000;
			}
			.timeRunClass::-moz-placeholder { 
				/* Mozilla Firefox 19+ */
			   color:    red;
			   opacity:  1;
			   content: "Enter your number";
			}
			.cd-top {
			    background: #109BDC url("#{facesContext.externalContext.request.contextPath}/resources/olympos-layout/images/cd-top-arrow.svg") no-repeat scroll center 50%;
			    bottom: 140px;
			    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
			    display: inline-block;
			    height: 30px;
			    opacity: 0;
			    overflow: hidden;
			    position: fixed;
			    right: 32px;
			    text-indent: 100%;
			    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
			    visibility: hidden;
			    white-space: nowrap;
			    width: 30px;
			    cursor: pointer;
			    border-radius: 5px; 
			}
			.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
			    transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
			}
			.cd-top.cd-is-visible {
			    opacity: 1;
			    visibility: visible;
			}
			.cd-top.cd-fade-out {
			    opacity: 0.5;
			}
			.no-touch .cd-top:hover {
			    background-color: #e86256;
			    opacity: 1;
			}
			.cd-top:hover {
			    //background-color: #e86256;
			    opacity: 1;
			}
			@media only screen and (min-width: 768px) {
				.cd-top {
				    bottom: 140px;
				    right: 35px;
				}
			}
			@media only screen and (min-width: 1024px) {
				.cd-top {
				    bottom: 140px;
				    height: 35px;
				    right: 35px;
				    width: 35px;
				}
			}
			.ui-datatable .ui-column-filter{
				width: 95% !important;
				padding-left: 0px!important;
				padding-right: 0px!important;
			}
			.searchNodeDlg .ui-dialog-content{
				padding: 1px !important;
			}
			.ui-filter-column{
				vertical-align: bottom;
			}
			.ui-column-customfilter .ui-selectonemenu{
				min-width: 20px !important;
				padding: 0px !important;
			}
			.ui-column-customfilter .ui-selectonemenu label{
				width: 36px !important;
				padding-left: 0px !important;
				padding-right: 0px !important;
			}
			.SwLabNet1{
				width: 62px !important;				
			}
			.SwLabNet1 .ui-inputswitch-off{
				width: 57px !important;
			}
			.SwLabNet1 .ui-inputswitch-off span{
				width: 27px !important;
			}
			
			.SwLabNet1 .ui-inputswitch-handle{
				width: 27px !important;
			}
			.OneButtonNode .ui-state-active .ui-button-text{
				background-color: green !important;
			}
			.OneButtonNode .ui-button-text-only .ui-button-text{
				padding: 5px 10px 5px 10px !important;			
			}
			.ParamValue.ui-state-disabled{
				opacity: 1 !important;
			}
			.ViewBt{
				width: 20px !important;
				min-width: 20px !important;
			}
			.ViewBt .ui-button-text{
				width: 20px !important;
				padding: 0px !important;
			}
                        .DataNodeRun table tr td {
				padding-right: 0px !important;
			}
		</style>
	</ui:define>
</ui:composition>