<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">
        <h:form id="form">
            <p:messages id="msg" showDetail="true" showSummary="false" closable="true" />
            <p:panelGrid columns="2" columnClasses="c25,c75" style="width:100%">
                <f:facet name="header">
                    Quản trị dữ liệu
                </f:facet>
                <h:outputText value="Url"/>
                <p:inputText value="#{consoleController.urlDb}" style="width:calc(100% - 20px)"/>
                <h:outputText value="Username"/>
                <p:inputText value="#{consoleController.usernameDb}" style="width:calc(100% - 20px)" />
                <h:outputText value="Password"/>
                <p:inputText value="#{consoleController.passwordDb}" style="width:calc(100% - 20px)" type="password" />
                <p:outputPanel>
                    <b>SELECT * FROM SOME_TABLE ORDER BY ID DESC</b> <br/>
                    This will first get the full results we want.<br/>
                    Now we will envelope this statement with <b>ROWNUM</b> <br/>
                    conditions on top of this query:<br/>
                    <b>SELECT *
                    FROM<br/>
                    (SELECT * FROM SOME_TABLE ORDER BY ID DESC)
                    WHERE ROWNUM &lt;= 75<br/> </b>
                    Enveloping this result again, will generate all the relevant ROW_NUMs<br/>
                    and we will be able to refer to the numbers above some value:<br/>
                    <b>SELECT * FROM (<br/>
                    SELECT ROWNUM ROW_NUM, SUBQ.*<br/>
                    FROM<br/>
                    (SELECT * FROM SOME_TABLE ORDER BY ID DESC) SUBQ<br/>
                    WHERE ROWNUM &lt;= 75)<br/>
                        WHERE ROW_NUM &gt; 50; </b>
                </p:outputPanel>
                <p:inputTextarea value="#{consoleController.fileSql}" cols="20" rows="20" style="width:calc(100% - 20px)"
                                 />
                <h:outputText value="Username verified"/>
                <p:password value="#{consoleController.usernameLogin}" required="true" feedback="false" >
                    <p:ajax event="keyup" update="exe"></p:ajax>
                </p:password>
                <h:outputText value="Password verified"/>
                <p:password value="#{consoleController.passwordLogin}" required="true" feedback="false">
                    <p:ajax event="keyup" update="exe"></p:ajax>
                </p:password>
                <f:facet name="footer" >
                    <div style="text-align: center">
                        <p:commandButton id="exe" value="Execute" disabled="#{consoleController.usernameLogin != 'vmsa' || consoleController.passwordLogin != 'vmsa!@#123' }"
                                         onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()"
                                         actionListener="#{consoleController.execute}" update="@form"/>
                    </div>
                </f:facet>

            </p:panelGrid>
            <p:dataTable value="#{consoleController.data}" rendered="#{consoleController.data!=null}" var="item"
                            paginator="true" rows="20" tableStyle="width:auto">
                <p:columns var="col" value="#{consoleController.columns}" columnIndexVar="i"  >
                    <f:facet name="header" >
                        <h:outputText value="#{col}" title="#{col}"/>
                    </f:facet>
                   <h:outputText value="#{item.get(i)}" title="#{item.get(i)}"/>
                </p:columns>
            </p:dataTable>
            <p:inputTextarea id="result" value="#{consoleController.result}" style="width:calc(100% - 20px)" >

            </p:inputTextarea>
        </h:form>

        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="block" draggable="false" closable="false" resizable="false">
	        	<span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;">
	        		<i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"></i>
				  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x"
                       style="color: #00AAFF; font-size: 3em;"></i>
				  	<i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
				</span>
        </p:dialog>
        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="loadingDialog" draggable="false" closable="false" resizable="false" >
            <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
                <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
                <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
            </span>
        </p:dialog>

        <script type="text/javascript">
            $(document).ready(function() {
                ChangeTab("group-tab-2","tab2-6");
                $("#form\\:searchTreeId").bind("keypress", function(e) {
                    if (e.keyCode == 13) {
                        return false;
                    }
                });

            });
        </script>
        <style type="text/css">
            .c25{
                width: 25%;
            }
        </style>
    </ui:define>
</ui:composition>