<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/olympos/template.xhtml">
    <ui:define name="content">
        <h:form id="form-service-mapping">
            <p:growl id="growl" showDetail="true" showSummary="false" />

            <p:dataTable value="#{serviceTemplateMapController.lazyDataService}" lazy="true" id="serviceData"
                         var="service" rows="10" paginator="true" paginatorPosition="bottom" rowKey="#{service.mappingId.hashCode}"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}" rowsPerPageTemplate="5,10,15" rowIndexVar="serviceIdx"
                         style="padding: 0px ! important;" widgetVar="serviceData">
                <f:facet name="header">
                    <div class="Card NoPadding" style="background: transparent;">
                        <div class="Container20"></div>
                        <div class="Container60 TexAlCenter">
                            <h:outputText value="#{msg['data.header.service.template']}" />
                        </div>
                        <div class="Container20">
                            <h:commandLink style="float: right;">
                                <p:commandButton title="Export" icon="fa fa-file-excel-o" ></p:commandButton>
                                <p:dataExporter type="xls" target="serviceData" fileName="service-mapping" pageOnly="false"/>
                            </h:commandLink>
                            <p:commandButton style="float: right;" icon="fa fa-plus-square" 
                                             actionListener="#{serviceTemplateMapController.clean}" oncomplete="PF('insUpdateDlg').show()"
                                             update=":form-ins" title="#{msg['button.insert']}" styleClass="White" />
                        </div>
                    </div>
                </f:facet>

                <p:column headerText="#{msg['datatable.header.stt']}" width="20">
                    <h:outputText value="#{serviceIdx +1 }" />
                </p:column>
                <p:column headerText="Service Code" width="100"
                          filterBy="#{service.serviceCode}">
                    <h:outputText value="#{service.serviceCode}" />
                </p:column>
                <p:column headerText="#{msg['datatable.header.template']}" width="350"
                          filterBy="#{service.template.flowTemplateName}">
                    <h:outputText value="#{service.template.flowTemplateName}" />
                </p:column>
                <p:column headerText="#{msg['label.vendorName']}" width="100" 
                          filterBy="#{service.vendor.vendorName}">
                    <h:outputText value="#{service.vendor.vendorName}" />
                </p:column>
                <p:column headerText="#{msg['label.versionName']}" width="100" 
                          filterBy="#{service.version.versionName}">
                    <h:outputText value="#{service.version.versionName}" />
                </p:column>
                <p:column headerText="#{msg['label.auto.nodeType.name']}" width="100" 
                          filterBy="#{service.nodeType.typeName}">
                    <h:outputText value="#{service.nodeType.typeName}" />
                </p:column>
                <p:column exportable="false" width="100" styleClass="TexAlCenter">
                    <p:commandButton icon="fa fa-edit" rendered="true" actionListener="#{serviceTemplateMapController.preEdit(service)}"
                                     styleClass="White Fs14" update=":form-ins"
                                     oncomplete="PF('insUpdateDlg').show()"/>
                    <p:commandButton icon="fa fa-trash" actionListener="#{serviceTemplateMapController.preEdit(service)}"
                                     styleClass="White Fs14 RedButton" update=":comfirmDeleteId"
                                     oncomplete="PF('comfirmDelete').show()"/>	
                </p:column>
            </p:dataTable>
        </h:form>
        <h:form id="form-ins">
            <p:dialog header="" widgetVar="insUpdateDlg" modal="true" width="80%">
                <f:facet name="header">
                    <h:outputText value="#{msg['view.dlg.ins.update.service']}"/>
                </f:facet>
                <div class="Container100 Flex FlexWrap NoPadding" style="overflow: hidden;">
                    <div class="Card">
                        <div class="Container33 Responsive50">
                            <SPAN class="title-top"> 
                                <p:inputText id="serviceCode" placeholder="Service Code" required="true"
                                             value="#{serviceTemplateMapController.serviceMapping.serviceCode}"
                                             maxlength="200"></p:inputText>
                                <label class="title-elem">Service Code *</label>
                            </SPAN>
                        </div>
                        <div class="Container33 Responsive50">
                            <SPAN class="title-top"> 
                                <p:selectOneMenu id="chooseTemplate" filter="true" filterMatchMode="contains"
                                                 value="#{serviceTemplateMapController.serviceMapping.template}" 
                                                 converter="flowTemplateConverter" autoWidth="false" style="max-width: calc(100% - 55px)"
                                                 title="#{msg['datatable.header.template']}" required="true">
                                    <f:selectItem itemLabel="#{msg['view.choose.flow.template']}" itemValue="" />
                                    <f:selectItems value="#{generateFlowRunController.flowTemplates}" var="f" itemLabel="#{f.flowTemplateName}" itemValue="#{f}"></f:selectItems>
                                </p:selectOneMenu> 
                                <label class="title-elem">#{msg['datatable.header.template']} *</label>
                            </SPAN>
                        </div>
                        <div class="Container33 Responsive50">
                            <SPAN class="title-top"> 
                                <p:autoComplete id="vendor" size="20" placeholder="#{msg['label.auto.vendor.name']}" dropdown="true" scrollHeight="200"
                                                value="#{serviceTemplateMapController.serviceMapping.vendor}" completeMethod="#{actionController.autoCompleVendor}" var="obj" required="true"
                                                converter="vendorConverter" itemLabel="#{obj.vendorName}" itemValue="#{obj}" /> 
                                <label class="title-elem">#{msg['label.auto.vendor.name']} *</label>
                            </SPAN>
                        </div>
                    </div>
                    <div class="Card">
                        <div class="Container33 Responsive50">
                            <SPAN class="title-top"> 
                                <p:autoComplete id="nodeType" size="20" placeholder="#{msg['label.auto.nodeType.name']}" dropdown="true" scrollHeight="200"
                                                value="#{serviceTemplateMapController.serviceMapping.nodeType}" completeMethod="#{actionController.autoCompleNodeType}" var="obj" required="false"
                                                converter="nodeTypeConverter" itemLabel="#{obj.typeName}" itemValue="#{obj}" /> 
                                <label class="title-elem">#{msg['label.auto.nodeType.name']}</label>
                            </SPAN>
                        </div>
                        <div class="Container33 Responsive50">
                            <SPAN class="title-top"> 
                                <p:autoComplete id="version" size="20" placeholder="#{msg['label.versionName']}" dropdown="true" scrollHeight="200"
                                                value="#{serviceTemplateMapController.serviceMapping.version}" completeMethod="#{actionController.autoCompleteVersion}" var="obj" converter="versionConverter"
                                                required="false" itemLabel="#{obj.versionName}" itemValue="#{obj}" /> 
                                <label class="title-elem">#{msg['label.versionName']}</label>
                            </SPAN>
                        </div>
                    </div>
                </div>
                <div class="Container100 Flex FlexWrap NoPadding" style="overflow: hidden;">
                    <p:commandButton value="#{msg['button.save']}" actionListener="#{serviceTemplateMapController.saveOrUpdate}"
                                     onstart="PF('block').show()" oncomplete="PF('block').hide();PF('insUpdateDlg').hide()" update=":form-service-mapping" />
                </div>
            </p:dialog>
        </h:form>
        <p:confirmDialog global="true" header="#{msg['view.dialog.header.delete.service']}"  showEffect="face" hideEffect="scale"
                         widgetVar="comfirmDelete" id="comfirmDeleteId" >
            <f:facet name="message">
                <h:outputText value="#{msg['title.confirm.delete']}" />
                <p:spacer width="100%" height="1px"></p:spacer>
                <h:outputText style="color: black; font-weight: bold;" value="" />
                <h:outputText value=": " />
                <h:outputText style="color: black" value="#{serviceTemplateMapController.serviceMapping}" />
            </f:facet>

            <p:commandButton value="Yes" update=":form-service-mapping" process="@this" oncomplete="PF('comfirmDelete').hide()"
                             actionListener="#{serviceTemplateMapController.delete}"
                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no AquaButton" onclick="PF('comfirmDelete').hide()"
                             icon="ui-icon-close fa fa-close Fs14 White" />
        </p:confirmDialog>

        <p:dialog modal="true" class="transparent-dialog" showHeader="false" widgetVar="block" draggable="false" closable="false" resizable="false">
            <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;">
                <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"></i>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
                <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px; font-size: 1.2em"></i>
            </span>
        </p:dialog>
        <script type="text/javascript">

        </script>
        <style type="text/css">
            .ui-datatable .ui-column-filter{
                width: 95% !important;
                padding-left: 0px!important;
                padding-right: 0px!important;
            }
            .ui-filter-column{
                vertical-align: bottom;
            }
            .ui-column-customfilter .ui-selectonemenu{
                min-width: 20px !important;
                padding: 0px !important;
            }
            .ui-column-customfilter .ui-selectonemenu label{
                width: 36px !important;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }	
        </style>
    </ui:define>
</ui:composition>
