<ui:composition template="/layout/olympos/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
>
    <ui:define name="content">
        <p:panel header="#{msg['common.search.info']}" style="margin-bottom:10px; margin-left: 3px; margin-right: 3px">
            <h:panelGrid columns="1" width="100%">
                <h:form id="searchForm" enctype="multipart/form-data">
                    <p:growl id="growlCmd" showDetail="true" showSummary="false" />

                    <div class="Container100 Flex FlexWrap">
                        <div class="Card ui-g" style="padding: 0">
                            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="control-label Container27" value="#{msg['label.cmd']}"/>
                                <p:inputText class="ui-g-7" id="cmdRunCondition" value="#{commandController.obj.commandTelnetParser.cmd}" />
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="control-label Container27" value="#{msg['label.cmdName']}"/>
                                <p:inputText class="ui-g-7" id="cmdNameCondition" value="#{commandController.obj.commandName}"/>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="control-label Container27" value="#{msg['label.vendorName']}"/>
                                <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7" 
                                                 value="#{commandController.obj.vendor}" id="vendorNameCondition" converter="vendorConverter">
                                    <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                                    <f:selectItems var="vendorObj" itemLabel="#{vendorObj.vendorName}" 
                                                   itemValue="#{vendorObj}" value="#{commandController.vendors}" />
                                </p:selectOneMenu>
                            </div>
                            <p:outputPanel rendered="#{sessionUtil.showNodeType}" class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText rendered="#{sessionUtil.showNodeType}" class="control-label Container27" value="#{msg['label.nodeTypeName']}"/>
                                <p:selectOneMenu rendered="#{sessionUtil.showNodeType}" filter="true" filterMatchMode="contains" class="ui-g-7" value="#{commandController.obj.nodeType}" id="nodeTypeNameCondition" converter="nodeTypeConverter">
                                    <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                                    <f:selectItems var="typeObj" itemLabel="#{typeObj.typeName}"
                                                   itemValue="#{typeObj}" value="#{commandController.nodeTypes}" />
                                </p:selectOneMenu>
                            </p:outputPanel>
                            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="control-label Container27" value="#{msg['label.versionName']}"/>
                                <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7" value="#{commandController.obj.version}" id="versionNameCondition" converter="versionConverter">
                                    <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                                    <f:selectItems var="verObj" itemLabel="#{verObj.versionName}"
                                                   itemValue="#{verObj}" value="#{commandController.versions}" />
                                </p:selectOneMenu>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="control-label Container27" value="#{msg['label.operator']}"/>
                                <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7" value="#{commandController.opeSelected}" id="operatorCondition" converter="operatorConverter">
                                    <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                                    <f:selectItems var="operObj" itemLabel="#{operObj.label}"
                                                   itemValue="#{operObj}" value="#{commandController.operators}" />
                                </p:selectOneMenu>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="control-label Container27" value="#{msg['label.protocol']}"/>
                                <p:selectOneMenu class="ui-g-7" value="#{commandController.protocolSelected}" id="protocol" converter="operatorConverter">
                                    <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                                    <f:selectItems var="protocolObj" itemLabel="#{protocolObj.label}"
                                                   itemValue="#{protocolObj}" value="#{commandController.protocols}" />
                                </p:selectOneMenu>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="control-label Container27" value="#{msg['label.command.type']}"/>

                                    <p:selectOneMenu class="ui-g-7"
                                                     value="#{commandController.obj.commandType}" id="commandTypeCondition">

                                        <f:selectItem itemValue="-1" itemLabel="#{msg['common.choose']}"/>
                                        <f:selectItem itemValue="0" itemLabel="#{msg['label.command.type.impact']}"/>
                                        <f:selectItem itemValue="1" itemLabel="#{msg['label.command.type.view']}"/>
                                        <f:selectItem itemValue="2" itemLabel="#{msg['label.command.type.getParam']}"/>
                                    </p:selectOneMenu>

                            <ui:remove>
                                <p:selectOneMenu rendered="#{sessionUtil.onlyViewCommand}" class="ui-g-7" value="#{commandController.obj.commandType}" id="commandType1">
                                    <f:selectItem itemValue="1" itemLabel="#{msg['label.command.type.view']}" />
                                </p:selectOneMenu>
                            </ui:remove>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;margin-left: auto;margin-right: auto;display: block; padding-top: 5px; clear: both">
                        <p:commandButton style="color: white;" icon="fa fa-search" 
                                         actionListener="#{commandController.onSearch()}"
                                         update=":tableCommand" value="#{msg['button.search']}"/>
                        <p:commandButton rendered="#{sessionUtil.checkComponent('MS_COMMAND_INSERT')}" style="color: white;" icon="fa fa-plus" 
                                         actionListener="#{commandController.prepareInsert()}"
                                         oncomplete="PF('insertCmdConfigDialog').show()"
                                         update=":tableCommand :insertCmdConfigDialog" value="#{msg['button.insert']}"/>

                        <p:commandButton style="color: white;" icon="fa fa-download" ajax="false"
                                         value="#{msg['button.export']}">
                            <p:fileDownload value="#{commandController.onExport()}" />
                        </p:commandButton>
                        <p:commandButton rendered="#{sessionUtil.checkComponent('MS_COMMAND_IMPORT')}" style="color: white;" icon="fa fa-cloud-upload" 
                                         oncomplete="PF('importDialog').show()"
                                         update=":tableCommand" value="#{msg['button.import']}"/>
                    </div>
                </h:form>
            </h:panelGrid>
        </p:panel>

        <h:panelGrid columns="1" width="100%">
            <div class="Container100 Flex FlexWrap">
                <p:dataTable var="obj" value="#{commandController.lazyModel}" widgetVar="tableCommand"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                             paginator="true" rows="10" filterEvent="keyup" rowKey="#{obj.commandDetailId}"
                             rowIndexVar="rowIndex" paginatorPosition="bottom" id="tableCommand" resizableColumns="true"
                             rowsPerPageTemplate="10,15,20" sortMode="mutiple" sortBy="#{obj.createTime}" sortOrder="descending"
                             emptyMessage="#{msg['datatable.empty']}" lazy="true" editable="false">
                    <f:facet name="header">
                        <h:outputText style="float:left; margin-left: 8px; margin-top: 5px" value="#{msg['common.search.result']}"/>
                        <p:commandButton id="toggler" type="button" style="color: white; float:right" icon="fa fa-calculator" >
                            <p:columnToggler datasource="tableCommand" trigger="toggler"/>
                        </p:commandButton>
                        <p:commandButton style="visibility: hidden; display: none">
                            <div style="clear: both"></div>
                        </p:commandButton>
                    </f:facet>
                    <p:column style="width: 30px; text-align: left;" >
                        <f:facet name="header">  
                            <h:outputText value="#{msg['datatable.header.stt']}"/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>
                    </p:column>
                    <p:column style="text-align: center;white-space: pre-wrap" sortBy="#{obj.vendor.vendorName}" id="vendorName">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.vendorName']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.vendor.vendorName}"/>
                    </p:column>
                    <p:column style="text-align: center;white-space: pre-wrap; width:50px" rendered="#{sessionUtil.showNodeType}" sortBy="#{obj.nodeType.typeName}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.nodeTypeName']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.nodeType.typeName}"/>
                    </p:column>
                    <p:column style="text-align: center;white-space: pre-wrap; width:50px" sortBy="#{obj.version.versionName}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.versionName']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.version.versionName}"/>
                    </p:column>
                    <p:column style="text-align: left;white-space: pre-wrap; width:120px" sortBy="#{obj.commandName}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.cmdName']}"/>
                        </f:facet>
                        <h:outputText style="white-space: pre-wrap" title="#{obj.commandName}" value="#{obj.commandName}"/>
                    </p:column>
                    <p:column style="text-align: left;white-space: pre-wrap;width: 150px" sortBy="#{obj.commandTelnetParser.cmd}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.cmd']}"/>
                        </f:facet>
                        <h:outputText style="white-space: pre-wrap" id="cmdRun" title="#{obj.commandTelnetParser.cmd}" value="#{obj.commandTelnetParser.cmd}" />
                    </p:column>
                    <p:column style="text-align: left;width: 50px;white-space: pre-wrap" sortBy="#{obj.commandTelnetParser.cmdEnd}">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.cmdEnd']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.cmdEnd}"/>
                    </p:column>
                    <p:column style="text-align: left;white-space: pre-wrap" sortBy="#{obj.operator}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.operator']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.operator}"/>
                    </p:column>
                    <p:column style="text-align: left;white-space: pre-wrap" sortBy="#{obj.standardValue}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.standardValue']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.standardValue}"/>
                    </p:column>

                    <p:column style="text-align: left;white-space: pre-wrap">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.command.type']}"/>
                        </f:facet>
                        <h:outputText rendered="#{obj.commandType == 0}" value="#{msg['label.command.type.impact']}"/>
                        <h:outputText rendered="#{obj.commandType == 1}" value="#{msg['label.command.type.view']}"/>
                        <h:outputText rendered="#{obj.commandType == 1}" value="#{msg['label.command.type.getParam']}"/>
                    </p:column>
                    <p:column style="text-align: left;white-space: pre-wrap; width:50px">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.protocol']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.protocol}"/>
                    </p:column>
                    <p:column style="text-align: center; width:80px; white-space: pre-wrap" sortBy="#{obj.createTime}">
                        <f:facet name="header">  
                            <h:outputText style="white-space: pre-wrap" value="#{msg['label.updateTime']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.createTimeStr}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.cmdTimeout']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.cmdTimeout}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.rowStart']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.rowStart}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.rowEnd']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.rowEnd}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.rowOutput']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.rowOutput}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.columnOutput']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.columnOutput}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.countRow']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.countRow}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.splitColumnRegex']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.splitColumnRegex}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.regexOutput']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.regexOutput}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.pagingCmd']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.pagingCmd}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.pagingRegex']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.pagingRegex}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.confirmCmd']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.confirmCmd}"/>
                    </p:column>
                    <p:column style="text-align: left" visible="false">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.confirmRegex']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.commandTelnetParser.confirmRegex}"/>
                    </p:column>
                    <p:column style="text-align: center;white-space: pre-wrap" filterBy="#{obj.userName}">
                        <f:facet name="header">
                            <h:outputText value="#{msg['datatable.header.createby']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.userName}"/>
                    </p:column>
                    <p:column style="text-align: left;white-space: pre-wrap">
                        <f:facet name="header">
                            <h:outputText value="#{msg['label.cmdDescription']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.description}"/>
                    </p:column>
                    <p:column style="width:100px;text-align: left; " exportable="false" headerText="#{msg['datatable.header.action']}" >
                        <p:commandButton rendered="#{sessionUtil.checkComponent('MS_COMMAND_UPDATE')}" styleClass="GreenButton Fs14 White MarTop5 MarRight5" 
                                         actionListener="#{commandController.prepareEdit(obj)}" title="#{msg['button.update']}"
                                         oncomplete="PF('insertCmdConfigDialog').show()" icon="fa fa-pencil" update=":tableCommand :insertCmdConfigDialog"/>
                        <p:commandButton rendered="#{sessionUtil.checkComponent('MS_COMMAND_CLONE')}" styleClass="OrangeButton Fs14 White MarRight5"
                                         actionListener="#{commandController.prepareClone(obj)}" title="#{msg['button.clone']}"
                                         oncomplete="PF('insertCmdConfigDialog').show()" icon="fa fa-copy" update=":tableCommand :insertCmdConfigDialog"/>


                        <br/>
                        <p:commandButton rendered="#{sessionUtil.checkComponent('MS_COMMAND_CHECK')}" styleClass="Fs14 White MarTop5 MarRight5" 
                                         actionListener="#{commandController.prepareCheck(obj)}" title="#{msg['button.check']}"
                                         oncomplete="PF('checkDialog').show()" 
                                         onclick="PF('tableCommand').unselectAllRows();
                                                 PF('tableCommand').selectRow(#{rowIndex} - PF('tableCommand').paginator.getCurrentPage() * PF('tableCommand').paginator.cfg.rows);"
                                         icon="fa fa-check" update=":checkDialog"/>
                        <p:commandButton styleClass="Fs14 White MarRight5" actionListener="#{commandController.prepareViewTemplate(obj)}" title="#{msg['title.view.template']}"
                                         oncomplete="PF('dlgViewTemplate').show()" update="dlgViewTemplate" icon="fa fa-eye"/>

                        <br/>
                        <p:commandButton rendered="#{sessionUtil.checkComponent('MS_COMMAND_DELETE')}" styleClass="RedButton Fs14 White MarTop5"
                                         actionListener="#{commandController.prepareDelete(obj)}" title="#{msg['button.delete']}"
                                         oncomplete="PF('confirmDialogCmd').show()" icon="fa fa-remove" update=":tableCommand :cmdConfigForm"/>


                    </p:column>
                </p:dataTable>
            </div>
        </h:panelGrid>

        <p:dialog resizable="false" header="#{msg['title.view.template']}" id="dlgViewTemplate" 
                  widgetVar="dlgViewTemplate" height="500px" modal="true" width="90%">
            <h:form>      	
                <p:dataTable var="obj" value="#{commandController.templates}" lazy="false"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                             paginator="true" rows="10" filterEvent="keyup" rowKey="#{obj.flowTemplatesId}"
                             rowIndexVar="rowIndex" paginatorPosition="bottom" id="tableTemplate"
                             rowsPerPageTemplate="10,15,20" sortBy="#{obj.flowTemplateName}"
                             emptyMessage="#{msg['datatable.empty']}" editable="false">
                    <p:column style="width: 5%; text-align: center;" headerText="#{msg['datatable.header.stt']}">
                        <h:outputText value="#{rowIndex+1}"/>
                    </p:column>
                    <p:column filterBy="#{obj.flowTemplateName}" filterMatchMode="contains" sortBy="#{obj.flowTemplateName}">
                        <f:facet name="header">  
                            <h:outputText style="text-align: center" value="#{msg['datatable.header.template']}"/>
                        </f:facet>
                        <h:outputText style="text-align: left" value="#{obj.flowTemplateName}"/>
                    </p:column>
                    <p:column style="text-align: center" filterBy="#{obj.createBy}" sortBy="#{obj.createBy}" filterMatchMode="contains">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['datatable.header.createby']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.createBy}"/>
                    </p:column>
                    <p:column style="text-align: center" sortBy="#{obj.createDate}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['label.updateTime']}"/>
                        </f:facet>
                        <h:outputText value="#{obj.createDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column rendered="#{obj.status == 9}" style="text-align: center" sortBy="#{obj.status}">
                        <f:facet name="header">  
                            <h:outputText value="#{msg['datatable.header.status']}"/>
                        </f:facet>
                        <h:outputText value="#{msg['label.status.approved']}"/>
                    </p:column>
                    <p:column rendered="#{obj.status != 9}" style="text-align: center" sortBy="#{obj.status}">
                        <f:facet name="header">  
                            <h:outputText style="text-align: center" value="#{msg['datatable.header.status']}"/>
                        </f:facet>
                        <h:outputText value="#{msg['label.status.not.approved']}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:dialog>

        <p:dialog resizable="false" header="#{msg['title.check.command']}" id="checkDialog" 
                  widgetVar="checkDialog" height="500px" modal="true" width="90%">
            <h:form id="cmdCheckForm" enctype="multipart/form-data">
                <div class="Container100 Flex FlexWrap">
                    <p:fieldset toggleable="true" legend="Input" style="margin-bottom: 10px; width: 100%">

                        <p:growl id="growlCmdCheck" showDetail="true" showSummary="false" />

                        <div style="width: 100%; float: left;">
                            <h:outputText class="cd-text-required responsive125" value="#{msg['label.node.run']}"
                            rendered="#{commandController.commandSend.commandDetail.protocol != 'FTP'}"
                            />
                            <p:autoComplete style="float: left; width: 87.5%;" size="20" dropdown="true" scrollHeight="200"
                                            value="#{commandController.commandSend.nodeRun}" id="nodeRun"
                                            completeMethod="#{commandController.autoCompleNode}"
                                            rendered="#{commandController.commandSend.commandDetail.protocol != 'FTP'}"
                                            var="nodeObj" converter="nodeConverter" itemLabel="#{nodeObj.nodeCode}"
                                            itemValue="#{nodeObj}">
                                <p:column headerText="#{msg['key.nodeCode']}">
                                    <h:outputText value="#{nodeObj.nodeCode}" />
                                </p:column>
                                <p:column headerText="IP">
                                    <h:outputText value="#{nodeObj.nodeIp}" />
                                </p:column>
                                <p:column headerText="#{msg['label.effectip']}">
                                    <h:outputText value="#{nodeObj.effectIp}" />
                                </p:column>
                                <p:ajax event="itemSelect" listener="#{commandController.onChangeNodeCheckCmd}" update="AcountPass"/>
                            </p:autoComplete>
                        </div>

                        <p:outputPanel class="ui-g" style="width: 100%; float: left;" id="AcountPass" rendered="#{commandController.commandSend.commandDetail.protocol != 'FTP'}">
                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.account']}"/>
                                <p:inputText placeholder="#{msg['prompt.account']}" class="ui-g-8"
                                             readonly="#{commandController.commandSend.nodeRun == null or(commandController.commandSend.nodeRun != null and commandController.commandSend.account != null and commandController.commandSend.account != '')}"
                                             value="#{commandController.commandSend.account}"/>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.pass']}"/>
                                <p:password placeholder="#{msg['prompt.pass']}" class="ui-g-8" redisplay="true"
                                            readonly="#{commandController.commandSend.nodeRun == null or(commandController.commandSend.nodeRun != null and commandController.commandSend.account != null and commandController.commandSend.account != '')}"
                                            value="#{commandController.commandSend.password}"/>
                            </div>
                        </p:outputPanel>


                        <p:outputPanel id="paramArea" class="ui-g" style="width: 100%; float: left;">
                            <c:forEach
                                items="#{commandController.params}"
                                var="param">
                                <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                    <h:outputText class="cd-text-required ui-g-3" value="#{param.paramCode}"/>
                                    <p:inputText class="ui-g-8" value="#{param.paramValue}"
                                                 disabled="#{param.readOnly || param.isFormula}">
                                        <p:ajax listener="#{commandController.updateParam}" update="cmdSend, paramArea" />
                                    </p:inputText>
                                </div>
                            </c:forEach>
                        </p:outputPanel>

                        <div style="margin-top: 10px; width: 100%; float: left;">
                            <h:outputText class="responsive125" value="#{msg['label.cmd']}"/>
                            <p:outputPanel class="responsive875" id="cmdSend" style="padding: 0">
                                <div style="white-space: pre-line; display: block; border: 1px solid #d1d1d1; min-height: 20px; border-radius: 3px; padding: 0.5em">
                                    <h:outputText escape="false" value="#{commandController.buildCommand()}"/>
                                </div>
                            </p:outputPanel>
                        </div>

                        <p:outputPanel rendered="#{commandController.commandSend.commandDetail.vendor.vendorId == 5}" class="ui-g" style="width: 100%; float: left;">
                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="ui-g-3" value="MEID"/>
                                <p:selectOneMenu class="ui-g-8" value="#{commandController.commandSend.meid}" id="meid">
                                    <f:selectItem itemValue="0" itemLabel="0" />
                                    <f:selectItem itemValue="5" itemLabel="5" />
                                    <f:selectItem itemValue="6" itemLabel="6" />
                                </p:selectOneMenu>
                            </div>
                        </p:outputPanel>
                    </p:fieldset>

                    <div class="row" style="clear: both; text-align: center;margin-left: auto;margin-right: auto;display: block">
                        <p:commandButton style="color: white;" icon="fa fa-check"
                                         actionListener="#{commandController.checkCommand()}"
                                         onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
                                         update="cmdResult cmdResultDetail cmdResultFinal growlCmdCheck" value="#{msg['button.check']}"/>
                        <p:commandButton style="color: white;" icon="fa fa-close" 
                                         onclick="PF('checkDialog').hide()" value="#{msg['button.close']}"/>
                    </div>

                    <p:fieldset toggleable="true" legend="Output" style="margin-bottom: 10px; margin-top: 10px; width: 100%">
                        <div style="float: left; width: 100%">
                            <h:outputText class="responsive125" value="#{msg['label.check.command.resultFinal']}"/>
                            <p:inputText class="responsive875" readonly="true" id="cmdResultFinal" value="#{commandController.commandSend.resultFinal}"
                                         style="border: 1px solid #d1d1d1; opacity: 1; background-color: white;"/>
                        </div>
                        <div style="margin-top: 10px; float: left; width: 100%">
                            <h:outputText class="responsive125" value="#{msg['label.check.command.result']}"/>
                            <p:inputTextarea class="responsive875" autoResize="false" 
                                             style="height: 100px; border: 1px solid #d1d1d1; opacity: 1; background-color: white; overflow: auto; resize: none" readonly="true" 
                                             rows="3" id="cmdResult" value="#{commandController.commandSend.result}"/>
                        </div>
                        <div style="margin-top: 10px; float: left; width: 100%">
                            <h:outputText class="responsive125" value="#{msg['label.check.command.resultDetail']}"/>
                            <p:inputTextarea style="border: 1px solid #d1d1d1; opacity: 1; background-color: white; overflow: auto; height: 250px; resize: none" readonly="true" 
                                             rows="10" autoResize="false" class="responsive875" id="cmdResultDetail" value="#{commandController.commandSend.resultDetail}"/>
                        </div>
                    </p:fieldset>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog resizable="false" header="#{commandController.dialogHeader}" id="insertCmdConfigDialog" widgetVar="insertCmdConfigDialog" height="500px" modal="true" width="90%">
            <h:form id="cmdConfigForm" enctype="multipart/form-data">
                <div class="Container100 Flex FlexWrap">
                    <p:fieldset style="margin-bottom: 10px; width: 100%" toggleable="true" legend="#{msg['title.fieldset.cmd']}">
                        <div class="ui-g">
                            <p:growl id="growlCmdConfig" showDetail="true" showSummary="false" />
                            <h:inputHidden value="#{commandController.obj.commandDetailId}"/>
                            <h:inputHidden value="#{commandController.obj.commandTelnetParser.telnetParserId}"/>

                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.vendorName']}"/>
                                <p:selectOneMenu filter="true" filterMatchMode="contains" rendered="#{commandController.isEdit}" class="ui-g-8" value="#{commandController.vendorSelected}" 
                                                 id="vendorNameAdd" converter="vendorConverter">

                                    <f:selectItems var="vendorObj" itemLabel="#{vendorObj.vendorName}" 
                                                   itemValue="#{vendorObj}" value="#{commandController.vendors}" />

                                </p:selectOneMenu>

                                <p:selectManyMenu filter="true" filterMatchMode="contains" showCheckbox="true" scrollHeight="100"
                                                  converter="vendorConverter" value="#{commandController.vendorSeleteds}"
                                                  rendered="#{!commandController.isEdit}" class="ui-g-8" id="vendorName1">
                                    <f:selectItems var="vendorObj" itemLabel="#{vendorObj.vendorName}" 
                                                   itemValue="#{vendorObj}" value="#{commandController.vendors}" />
                                </p:selectManyMenu>

                            </div>

                            <p:outputPanel rendered="#{sessionUtil.showNodeType}" style="margin-top: 10px;" class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText rendered="#{sessionUtil.showNodeType}" class="cd-text-required ui-g-3" value="#{msg['label.nodeTypeName']}"/>
                                <p:selectOneMenu filter="true" filterMatchMode="contains" rendered="#{commandController.isEdit and sessionUtil.showNodeType}" class="ui-g-8" value="#{commandController.nodeTypeSelected}" 
                                                 id="nodeTypeName" converter="nodeTypeConverter">

                                    <f:selectItems var="typeObj" itemLabel="#{typeObj.typeName}"
                                                   itemValue="#{typeObj}" value="#{commandController.nodeTypes}" />

                                </p:selectOneMenu>
                                <p:selectManyMenu filter="true" filterMatchMode="contains" showCheckbox="true" scrollHeight="100"
                                                  converter="nodeTypeConverter" value="#{commandController.nodeTypeSelecteds}"
                                                  rendered="#{!commandController.isEdit and sessionUtil.showNodeType}" class="ui-g-8" id="nodeTypeName1" required="false">
                                    <f:selectItems var="typeObj" itemLabel="#{typeObj.typeName}"
                                                   itemValue="#{typeObj}" value="#{commandController.nodeTypes}" />
                                </p:selectManyMenu>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{sessionUtil.showNodeType}" style="margin-top: 10px;" class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.versionName']}"/>
                                <p:selectOneMenu filter="true" filterMatchMode="contains" rendered="#{commandController.isEdit}" class="ui-g-8" value="#{commandController.versionSelected}" 
                                                 id="versionName" converter="versionConverter">

                                    <f:selectItem itemValue="null" itemLabel="#{msg['common.choose']}" />
                                    <f:selectItems var="verObj" itemLabel="#{verObj.versionName}"
                                                   itemValue="#{verObj}" value="#{commandController.versions}" />

                                </p:selectOneMenu>
                                <p:selectManyMenu filter="true" filterMatchMode="contains" showCheckbox="true" scrollHeight="100"
                                                  converter="versionConverter" value="#{commandController.versionSelecteds}"
                                                  rendered="#{!commandController.isEdit}" class="ui-g-8" id="versionName1" required="false">
                                    <f:selectItems var="versionObj" itemLabel="#{versionObj.versionName}"
                                                   itemValue="#{versionObj}" value="#{commandController.versions}" />
                                </p:selectManyMenu>
                            </p:outputPanel>

                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.command.type']}"/>
                                <p:selectOneMenu class="ui-g-8" value="#{commandController.obj.commandType}" id="commandType">

                                    <f:selectItem itemValue="0" itemLabel="#{msg['label.command.type.impact']}" />
                                    <f:selectItem itemValue="1" itemLabel="#{msg['label.command.type.view']}" />
                                    <f:selectItem itemValue="2" itemLabel="#{msg['label.command.type.getParam']}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.operator']}"/>
                                <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-8" value="#{commandController.opeSelected}" 
                                                 id="operator" converter="operatorConverter">

                                    <f:selectItem itemValue="" itemLabel="#{msg['common.choose']}" />
                                    <f:selectItems var="operObj" itemLabel="#{operObj.label}" 
                                                   itemValue="#{operObj}" value="#{commandController.operators}" />
                                    <p:ajax event="change" listener="#{commandController.onChangeOperator}" update="cmdStandardValue standardValueLabel"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText id="standardValueLabel" class="#{commandController.standardValueRequired ? 'cd-text-required' : ''} ui-g-3" value="#{msg['label.standardValue']}"/>
                                <p:inputText class="ui-g-8" maxlength="500" id="cmdStandardValue" 
                                             readonly="#{commandController.standardValueReadonly}"
                                             placeholder="#{commandController.standardValuePrompt}"
                                             value="#{commandController.obj.standardValue}">
                                <p:ajax event="blur" listener="#{commandController.reloadParam()}" update=":cmdConfigForm:tableParam"/>
                                </p:inputText>
                            </div>

                            <div class="ui-g-12 ui-md-6 ui-lg-12 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required responsive125" value="#{msg['label.cmdName']}"/>
                                <p:inputText class="responsive875" maxlength="500" id="cmdName" value="#{commandController.obj.commandName}" />
                            </div>
                        </div>
                    </p:fieldset>

                    <p:fieldset id="parseInfo" style="margin-bottom: 10px; width: 100%" toggleable="true" legend="#{msg['title.fieldset.cmd.parse']}">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.protocol']}"/>
                                <p:selectOneMenu class="ui-g-8" value="#{commandController.protocolSelected}"
                                                 id="protocolSelected" converter="operatorConverter">
                                    <f:selectItems var="protocolObj" itemLabel="#{protocolObj.label}" 
                                                   itemValue="#{protocolObj}" value="#{commandController.protocols}" />
                                    <p:ajax event="change" update="parseInfo" listener="#{commandController.afterProtocolSelected}"/>
                                </p:selectOneMenu>
                            </div>
                            <!--20171309_Quytv7_Them giao thuc ftp_start-->
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'FTP'}" style="margin-top: 10px;"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="cd-text-required ui-g-3"
                                              value="#{msg['label.cmd.ftp.ip']}"/>
                                <p:inputText class="ui-g-8" id="ftpIp"
                                             value="#{commandController.obj.commandTelnetParser.ftpIp}"/>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'FTP'}" style="margin-top: 10px;"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="cd-text-required ui-g-3"
                                              value="#{msg['label.cmd.ftp.account']}"/>
                                <p:inputText class="ui-g-8" id="ftpAccount"
                                             value="#{commandController.obj.commandTelnetParser.ftpAccount}"/>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'FTP'}" style="margin-top: 10px;"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="cd-text-required ui-g-3"
                                              value="#{msg['label.cmd.ftp.pass']}"/>
                                <p:password class="ui-g-8" id="ftpPassword" redisplay="true"
                                             value="#{commandController.obj.commandTelnetParser.ftpPassword}"/>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'FTP'}" style="margin-top: 10px;"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="cd-text-required ui-g-3"
                                              value="#{msg['label.cmd.ftp.dir']}"/>
                                <p:inputText class="ui-g-8" id="ftpDestination" placeholder="/home/destination"
                                             value="#{commandController.obj.commandTelnetParser.ftpDestination}"/>
                            </p:outputPanel>
                            <!--20171309_Quytv7_Them giao thuc ftp_end-->
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}" style="margin-top: 10px;"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="cd-text-required ui-g-3"
                                              value="#{msg['label.command.structure']}"/>
                                <p:selectOneMenu class="ui-g-8"
                                                 value="#{commandController.obj.commandTelnetParser.structureCmd}"
                                                 id="structureCmd">
                                    <f:selectItem itemLabel="#{msg['label.cmd.structure.type.single']}" itemValue="0"/>
                                    <f:selectItem itemLabel="#{msg['label.cmd.structure.type.couple']}" itemValue="1"/>
                                </p:selectOneMenu>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.command.source.getParam']}"/>
                                <p:selectOneMenu class="ui-g-8"
                                                 value="#{commandController.obj.sourceGetParam}" id="sourceGetParam">
                                    <f:selectItem itemValue="0"
                                                  itemLabel="#{msg['label.command.source.getParam.system']}"/>
                                    <f:selectItem itemValue="1"
                                                  itemLabel="#{msg['label.command.source.getParam.ncms']}"/>
                                    <p:ajax event="change" update="parseInfo,PanelSourceParamKey" />
                                </p:selectOneMenu>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{(commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH') and commandController.obj.sourceGetParam == 1 }"
                                           id="PanelSourceParamKey"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">

                                <h:outputText class="ui-g-3" value="#{msg['label.command.source.getParam.paramKey']}"/>
                                <ui:remove>
                                    <p:selectOneMenu class="ui-g-8"
                                                     value="#{commandController.obj.parammKey}" id="sourceGetParamKey">
                                        <f:selectItem itemValue="-1" itemLabel="#{msg['common.choose']}"/>
                                        <f:selectItems var="paramKeyObj" itemLabel="#{paramKeyObj.paramCode}"
                                                       itemValue="#{paramKeyObj.paramCode}" value="#{commandController.params}"/>

                                    </p:selectOneMenu>
                                </ui:remove>
                            </p:outputPanel>

                            <div class="ui-g-12 ui-md-6 ui-lg-12 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="cd-text-required responsive125" value="#{msg['label.cmd']}"/>
                                <p:inputTextarea rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                             class="responsive875" rows="10" autoResize="false" maxlength="4000" id="cmdRunTelnetSsh" value="#{commandController.obj.commandTelnetParser.cmd}">
                                    <p:ajax event="blur" listener="#{commandController.reloadParam()}" update=":cmdConfigForm:tableParam,PanelSourceParamKey"/>
                                </p:inputTextarea>
                                <p:inputTextarea rendered="#{commandController.protocolSelected.value == 'FTP'}"
                                                 readonly="true"
                                                 class="responsive875" rows="10" autoResize="false" maxlength="4000" id="cmdRunFtp" value="#{commandController.obj.commandTelnetParser.cmd}">
                                    <p:ajax event="blur" listener="#{commandController.reloadParam()}" update=":cmdConfigForm:tableParam,PanelSourceParamKey"/>
                                </p:inputTextarea>
                                <p:inputTextarea rows="10" autoResize="false" rendered="#{commandController.protocolSelected.value == 'SQL'}"
                                                 class="responsive875" maxlength="3000" id="cmdRun1" value="#{commandController.obj.commandTelnetParser.cmd}">
                                    <p:ajax event="blur" listener="#{commandController.reloadParam()}" update=":cmdConfigForm:tableParam,PanelSourceParamKey"/>
                                </p:inputTextarea>
                            </div>


                            <p:outputPanel id="tableParamPanel" class="ui-g" style="margin-top: 10px;margin-bottom: 10px; margin-left: 12.5%">
                                <p:dataTable var="obj" value="#{commandController.params}"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                             paginator="true" rows="10" filterEvent="keyup" rowKey="#{obj.paramInputId}"
                                             rowIndexVar="rowIndex" paginatorPosition="bottom" id="tableParam"
                                             rowsPerPageTemplate="10,15,20" editMode="cell"
                                             emptyMessage="#{msg['datatable.empty']}" editable="true">
                                    
                                    <p:ajax event="cellEdit" listener="#{commandController.noAction}" update="@this"/>
                                    
                                    <p:column style="width: 30px; text-align: center;" headerText="#{msg['datatable.header.stt']}">
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>
                                    <p:column headerText="#{msg['label.paramCode']}" style="text-align: left">
                                        <h:outputText value="#{obj.paramCode}"/>
                                    </p:column>
                                    <p:column  headerText="#{msg['label.paramFormula']}" style="text-align: left; width: 32%;">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <p:inputText rendered="#{obj.paramType == 0 or obj.paramType == 1}" value="#{obj.paramFormula}" readonly="true" style="width: 85%;"/>
                                                <p:commandButton title="#{msg['label.user.guide']}: #{msg['label.paramFormula']}" rendered="#{obj.paramType == 0}" icon="fa fa-info" styleClass="TransparentButton Blue ViewBt" onclick="PF('formulaDlg').show()" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText rendered="#{obj.paramType == 0}" onkeypress="if (event.keyCode == 13) {
                                                            return false;
                                                        }"
                                                             value="#{obj.paramFormula}" style="width: 85%;"></p:inputText>
                                                <p:commandButton title="#{msg['label.user.guide']}: #{msg['label.paramFormula']}" rendered="#{obj.paramType == 0}" icon="fa fa-info" styleClass="TransparentButton Blue ViewBt" onclick="PF('formulaDlg').show()" />
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column  headerText="#{msg['label.cmd.description']}" style="text-align: left; width: 15%;">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <p:inputText value="#{obj.description}" readonly="true" style="width: 88%;"/>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText maxlength="500" onkeypress="if (event.keyCode == 13) {
                                                            return false;
                                                        }"
                                                             value="#{obj.description}" style="width: 88%;"></p:inputText>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="#{msg['label.paramReadOnly']}" style="text-align: center; width: 60px">
                                        <p:selectBooleanCheckbox value="#{obj.readOnly}"/>
                                    </p:column>
                                    <p:column  headerText="#{msg['label.command.source.getParam.ConfigCode']}" style="text-align: left; width: 15%;">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <p:inputText value="#{obj.configCode}" readonly="true" style="width: 88%;"/>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText maxlength="500" onkeypress="if (event.keyCode == 13) {
                                                            return false;
                                                        }"
                                                             value="#{obj.configCode}" style="width: 88%;"></p:inputText>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>


                                    <p:column headerText="#{msg['label.command.source.getParam.paramKey']}" style="text-align: center; width: 40px">
                                        <p:selectBooleanCheckbox value="#{obj.isParamKey}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>


                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.cmdEnd']}"/>
                                <p:inputText class="ui-g-8" maxlength="100" id="cmdEnd" placeholder="#{msg['prompt.cmdEnd']}"
                                             value="#{commandController.obj.commandTelnetParser.cmdEnd}"/>
                                <p:commandButton title="#{msg['label.user.guide']}: #{msg['label.cmdEnd']}"
                                                 icon="fa fa-info" styleClass="TransparentButton Blue ViewBt" onclick="PF('commandEndDlg').show()" />
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.cmdTimeout']}"/>
                                <p:inputNumber class="ui-g-8 input-number-fix" symbol="s" symbolPosition="s" 
                                               maxlength="3" minValue="0" maxValue="9999" id="cmdTimeout" placeholder="#{msg['prompt.cmdTimeout']}"
                                               value="#{commandController.obj.commandTelnetParser.cmdTimeout}"/>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.rowStart']}"/>
                                <p:selectOneMenu class="ui-g-3" value="#{commandController.obj.commandTelnetParser.rowStartOperator}" id="rowStartOperator">
                                    <f:selectItem itemLabel="CONTAIN" itemValue="CONTAIN" />
                                    <f:selectItem itemLabel="START WITH" itemValue="START WITH" />
                                    <f:selectItem itemLabel="END WITH" itemValue="END WITH" />
                                    <f:selectItem itemLabel="PATTERN (REGEX)" itemValue="REGEX" />
                                </p:selectOneMenu>
                                <p:inputText class="ui-g-5" maxlength="500" id="rowStart" value="#{commandController.obj.commandTelnetParser.rowStart}">
                                    <p:ajax event="blur" listener="#{commandController.reloadParam()}" update=":cmdConfigForm:tableParam"/>
                                </p:inputText>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.rowOutput']}"/>
                                <p:inputNumber class="ui-g-8 input-number-fix"  maxlength="5" minValue="0" maxValue="99999" 
                                               id="rowOutput" placeholder="#{msg['prompt.start.from.1']}"
                                               value="#{commandController.obj.commandTelnetParser.rowOutput}"/>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.splitColumnRegex']}"/>
                                <p:inputText class="ui-g-8" maxlength="500" id="splitColumnRegex" placeholder="#{msg['prompt.splitColumnRegex']}"
                                             value="#{commandController.obj.commandTelnetParser.splitColumnRegex}"/>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}">
                                <h:outputText class="ui-g-3" value="#{msg['label.columnOutput']}"/>
                                <p:inputNumber class="ui-g-8 input-number-fix" maxlength="5" minValue="0" maxValue="99999" 
                                               id="columnOutput" placeholder="#{msg['prompt.start.from.1']}"
                                               value="#{commandController.obj.commandTelnetParser.columnOutput}"/>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.countRow']}"/>
                                <p:inputNumber class="ui-g-8 input-number-fix" maxlength="5" minValue="0" 
                                               maxValue="99999" id="countRow" placeholder="#{msg['prompt.countRow']}"
                                               value="#{commandController.obj.commandTelnetParser.countRow}"/>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.rowEnd']}"/>
                                <p:selectOneMenu class="ui-g-3" value="#{commandController.obj.commandTelnetParser.rowEndOperator}" id="rowEndOperator">
                                    <f:selectItem itemLabel="CONTAIN" itemValue="CONTAIN" />
                                    <f:selectItem itemLabel="START WITH" itemValue="START WITH" />
                                    <f:selectItem itemLabel="END WITH" itemValue="END WITH" />
                                    <f:selectItem itemLabel="REGEX" itemValue="PATTERN (REGEX)" />
                                </p:selectOneMenu>
                                <p:inputText class="ui-g-5" maxlength="500" id="rowEnd" value="#{commandController.obj.commandTelnetParser.rowEnd}">
                                    <p:ajax event="blur" listener="#{commandController.reloadParam()}" update=":cmdConfigForm:tableParam"/>
                                </p:inputText>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.regexOutput']}"/>
                                <p:inputText class="ui-g-8" maxlength="500" id="regexOutput" value="#{commandController.obj.commandTelnetParser.regexOutput}">
                                    <p:ajax event="blur" listener="#{commandController.reloadParam()}" update=":cmdConfigForm:tableParam"/>
                                </p:inputText>
                                <p:commandButton title="#{msg['label.user.guide']}: #{msg['label.regexOutput']}" 
                                                 icon="fa fa-info" styleClass="TransparentButton Blue ViewBt" onclick="PF('regexOutputDlg').show()" />
                            </p:outputPanel>
                            
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.joinChar']}"/>
                                <p:inputText class="ui-g-8" maxlength="10" id="joinChar" value="#{commandController.obj.commandTelnetParser.valueJoinChar}"/>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.pagingCmd']}"/>
                                <p:inputText class="ui-g-8" maxlength="100" id="pagingCmd" value="#{commandController.obj.commandTelnetParser.pagingCmd}"/>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="ui-g-3" value="#{msg['label.pagingRegex']}"/>
                                <p:inputText class="ui-g-8" maxlength="500" id="pagingRegex" value="#{commandController.obj.commandTelnetParser.pagingRegex}"/>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="ui-g-3" value="#{msg['label.confirmCmd']}"/>
                                <p:selectOneMenu style="width: 133px !important;" class="ui-g-3" value="#{commandController.obj.commandTelnetParser.confirmCmdType}" id="confirmCmdType">
                                    <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="0" />
                                    <f:selectItem itemLabel="#{msg['prompt.pass']}" itemValue="1" />
                                    <f:selectItem itemLabel="#{msg['prompt.pass.root']}" itemValue="2" />
                                    <p:ajax update="confirmCmdPanel"/>
                                </p:selectOneMenu>
                                <p:outputPanel id="confirmCmdPanel">
                                    <p:password placeholder="#{msg['prompt.pass.root']}" style="width: 25%" id="confirmCmdRoot"
                                                rendered="#{commandController.obj.commandTelnetParser.confirmCmdType == 2}" redisplay="true"
                                                value="#{commandController.obj.commandTelnetParser.confirmCmdRoot}" />
                                    <p:inputText rendered="#{commandController.obj.commandTelnetParser.confirmCmdType == 0}" style="width: 25%" maxlength="100" id="confirmCmd" value="#{commandController.obj.commandTelnetParser.confirmCmd}"/>
                                </p:outputPanel>
                            </p:outputPanel>

                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="ui-g-3" value="#{msg['label.confirmRegex']}"/>
                                <p:inputText class="ui-g-8" maxlength="500" id="confirmRegex" value="#{commandController.obj.commandTelnetParser.confirmRegex}"/>
                            </p:outputPanel>
                            
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.counter']}"/>
                                <p:selectBooleanCheckbox value="#{commandController.obj.commandTelnetParser.isCounterValue}">
                                    <p:ajax update="advancedConfigPanel"/>
                                </p:selectBooleanCheckbox>
                            </p:outputPanel>
                            <!--hienhv4_20170629_add_start-->
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="ui-g-3" value="#{msg['label.value.type']}"/>
                                <p:selectOneMenu class="ui-g-8" value="#{commandController.obj.commandTelnetParser.removeDuplicate}" id="removeDuplicate">
                                    <f:selectItem itemLabel="#{msg['label.value.type0']}" itemValue="0" />
                                    <f:selectItem itemLabel="#{msg['label.value.type1']}" itemValue="1" />
                                </p:selectOneMenu>
                            </p:outputPanel>
                            <!--hienhv4_20170629_add_end-->
                            <!--quytv7_20171009_add cmdEndOrder_start-->
                            <p:outputPanel rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                       or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                <h:outputText class="ui-g-3" value="#{msg['label.cmdEndOrder']}"/>
                                <p:inputText class="ui-g-8" maxlength="100" id="cmdEndOrder"
                                             value="#{commandController.obj.commandTelnetParser.cmdEndOrder}"/>
                                <p:commandButton title="#{msg['label.user.guide']}: #{msg['label.cmdEndOrder']}"
                                                 icon="fa fa-info" styleClass="TransparentButton Blue ViewBt" onclick="PF('commandEndDlg').show()" />
                            </p:outputPanel>
                            <!--quytv7_20171009_add cmdEndOrder_end-->
                            <p:outputPanel id="advancedConfigPanel" rendered="#{commandController.protocolSelected.value == 'TELNET'
                                                                                or commandController.protocolSelected.value == 'SSH'}"
                                           class="ui-g-12 ui-md-6 ui-lg-12 ui-g-nopad" style="margin-top: 10px">
                                <p:fieldset rendered="#{!commandController.obj.commandTelnetParser.isCounterValue}"
                                            id="advancedConfig" toggleable="true" collapsed="true" legend="#{msg['label.cmd.config.advanced']}">
                                    <p:outputPanel id="advancedConfigPenalIn">
                                        <div class="ui-g">
                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.direct']}"/>
                                                <p:selectOneMenu class="ui-g-8" value="#{commandController.obj.commandTelnetParser.valueDirect}" id="valueDirect">
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.direct.0']}" itemValue="0" />
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.direct.1']}" itemValue="1" />
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.direct.2']}" itemValue="2" />
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.direct.3']}" itemValue="3" />
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.direct.4']}" itemValue="4" />
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.direct.5']}" itemValue="5" />
                                                    <p:ajax update="advancedConfigPenalIn"/>
                                                </p:selectOneMenu>
                                            </p:outputPanel>
                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.valueOutResult']}"/>
                                                <p:selectBooleanCheckbox id="valueOutResult" value="#{commandController.obj.commandTelnetParser.isValueOutResult}" >
                                                    <p:ajax update="advancedConfigPenalIn"/>
                                                </p:selectBooleanCheckbox>
                                            </p:outputPanel>
                                        </div>
                                        <div class="ui-g" style="margin-top: 8px">
                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.convert']}"/>
                                                <p:selectOneMenu class="ui-g-8" value="#{commandController.obj.commandTelnetParser.valueConvert}" id="valueConvert">
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.convert.0']}" itemValue="0" />
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.convert.1']}" itemValue="1" />
                                                    <f:selectItem itemLabel="#{msg['label.cmd.value.convert.2']}" itemValue="2" />
                                                </p:selectOneMenu>
                                            </p:outputPanel>
                                            <p:outputPanel id="isValueOutResultPanel" class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" rendered="#{commandController.obj.commandTelnetParser.isValueOutResult}">
                                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.interval']}"/>
                                                <p:inputText class="ui-g-8" maxlength="500" id="valueInterval" placeholder="0-1000"
                                                             value="#{commandController.obj.commandTelnetParser.valueInterval}"/>
                                            </p:outputPanel>
                                        </div>
                                        <div class="ui-g">
                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.start']}"/>
                                                <p:inputNumber class="ui-g-8 input-number-fix" maxlength="5" minValue="0" 
                                                               maxValue="99999" id="valueStart" placeholder="#{msg['prompt.start.from.1']}"
                                                               value="#{commandController.obj.commandTelnetParser.valueStart}"/>
                                            </p:outputPanel>

                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad">
                                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.end']}"/>
                                                <p:inputNumber class="ui-g-8 input-number-fix" maxlength="5" minValue="0" 
                                                               maxValue="99999" id="valueEnd" placeholder="#{msg['prompt.start.from.1']}"
                                                               value="#{commandController.obj.commandTelnetParser.valueEnd}"/>
                                            </p:outputPanel>

                                        </div>
                                        <div class="ui-g">
                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" rendered="#{commandController.obj.commandTelnetParser.valueDirect != 4 and commandController.obj.commandTelnetParser.valueDirect != 5}">
                                                <h:outputText class="ui-g-3" value="#{msg['label.cmd.value.valueSequence']}"/>
                                                <p:selectBooleanCheckbox id="valueSequence" value="#{commandController.obj.commandTelnetParser.isValueSequence}" >
                                                </p:selectBooleanCheckbox>
                                            </p:outputPanel>
                                        </div>
                                        <div class="ui-g">
                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" rendered="#{commandController.obj.commandTelnetParser.valueDirect == 4 or commandController.obj.commandTelnetParser.valueDirect == 5}" >
                                                <h:outputText class="ui-g-3" value="#{msg['label.splitColumnRegex']}"/>
                                                <p:inputText class="ui-g-8" maxlength="500" id="splitColumnRegexAdvance" 
                                                             value="#{commandController.obj.commandTelnetParser.splitColumnRegexAdvance}"/>
                                            </p:outputPanel>
                                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-6 ui-g-nopad" rendered="#{commandController.obj.commandTelnetParser.valueDirect == 4 or commandController.obj.commandTelnetParser.valueDirect == 5}" >
                                                <h:outputText class="ui-g-3" value="#{msg['label.columnOutput']}"/>
                                                <p:inputNumber class="ui-g-8 input-number-fix" maxlength="5" minValue="0" 
                                                               maxValue="99999" id="columnOutputAdvance" placeholder="#{msg['prompt.start.from.1']}"
                                                               value="#{commandController.obj.commandTelnetParser.columnOutputAdvance}"/>
                                            </p:outputPanel>
                                        </div>
                                    </p:outputPanel>
                                </p:fieldset>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-12 ui-g-nopad" style="margin-top: 10px">
                                <h:outputText class="responsive125" value="#{msg['label.cmdDescription']}"/>
                                <p:inputTextarea autoResize="false" class="responsive875" maxlength="1000" id="cmdDes" value="#{commandController.obj.description}"/>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-md-6 ui-lg-12 ui-g-nopad" style="margin-top: 10px;">
                                <h:outputText class="responsive125" value="#{msg['label.cmdExpectedResult']}"/>
                                <p:editor class="responsive875" style="padding: 0px" id="cmdExpectedResult" value="#{commandController.obj.expectedResult}"/>
                            </p:outputPanel>
                        </div>
                    </p:fieldset>
                    <div class="row" style="margin-bottom: 10px; text-align: center;margin-left: auto;margin-right: auto;display: block">
                        <p:commandButton style="color: white;" icon="fa fa-save" onstart="PF('statusDialog').show()"
                                         actionListener="#{commandController.onSaveOrUpdate()}" oncomplete="PF('statusDialog').hide()"
                                         update=":cmdConfigForm:growlCmdConfig :tableCommand" value="#{msg['button.save']}"/>
                        <p:commandButton style="color: white;" icon="fa fa-close" 
                                         onclick="PF('insertCmdConfigDialog').hide()" value="#{msg['button.close']}"/>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <p:confirmDialog id="confirmDialogCmd" message="#{msg['title.confirm.delete']}"
                         header="#{msg['label.del']}" severity="alert" widgetVar="confirmDialogCmd">
            <p:commandButton id="confirmCmd" value="#{msg['button.confirm']}"
                             actionListener="#{commandController.onDelete()}"
                             update=":tableCommand :searchForm:growlCmd" oncomplete="PF('confirmDialogCmd').hide()" />
            <p:commandButton id="cancelCmd" value="#{msg['button.cancel']}"
                             onclick="PF('confirmDialogCmd').hide()"/>
        </p:confirmDialog>

        <p:dialog modal="true" class="transparent-dialog" showHeader="false" widgetVar="statusDialog" draggable="false" closable="false" resizable="false">
            <p:graphicImage name="/other/images/loading.gif" style="background: transparent; margin: -20px;" width="50" height="50"/>
        </p:dialog>

        <p:dialog modal="true" widgetVar="importDialog" header="#{msg['title.importCommand']}" 
                  width="600" draggable="false" closable="false" resizable="false">
            <h:form id="importForm" enctype="multipart/form-data">
                <p:growl id="importMsg" showDetail="true" />

                <p:fileUpload value="#{commandController.uploadFile}" allowTypes="/(\.|\/)(xls|xlsx)$/" 
                              uploadLabel="#{msg['button.import']}" fileUploadListener="#{commandController.onImport}"
                              label="#{msg['label.fileImport']}" update=":importForm :tableCommand :resultImportForm"
                              invalidFileMessage="#{msg['message.invalid.file.excel']}" invalidSizeMessage="#{msg['message.invalid.file.size']}"
                              mode="advanced" skinSimple="true" sizeLimit="2097152">
                </p:fileUpload>

                <div class="row" style="margin-top: 20px;text-align: center;margin-left: auto;margin-right: auto;display: block">
                    <p:commandButton style="color: white;" icon="fa fa-download" ajax="false"
                                     value="#{msg['button.download.template']}">
                        <p:fileDownload value="#{commandController.onDownloadTemplate()}" />
                    </p:commandButton>
                    <p:commandButton style="color: violet;" icon="fa fa-close" 
                                     onclick="PF('importDialog').hide()" value="#{msg['button.close']}"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog modal="true" widgetVar="resultImportDialog" header="#{msg['title.result.import']}" 
                  width="600" draggable="false" closable="true" resizable="false">
            <h:form id="resultImportForm" enctype="multipart/form-data">

                <h:outputText rendered="#{!commandController.hasError}" value="#{msg['meassage.import.success']}"/>
                <h:outputText rendered="#{commandController.hasError}" value="#{msg['meassage.import.fail']}"/>
                <br/>
                <br/>
                <p:commandLink id="nonAjax" style="margin-top: 10px" value="#{msg['title.commandImportResult']}" ajax="false">
                    <p:fileDownload value="#{commandController.getImportResult()}"/>
                </p:commandLink>

                <div class="row" style="margin-top: 20px;text-align: center;margin-left: auto;margin-right: auto;display: block">
                    <p:commandButton style="color: white;" icon="fa fa-close" 
                                     onclick="PF('resultImportDialog').hide()" value="#{msg['button.close']}"/>
                </div>
            </h:form>
        </p:dialog>
        
        <ui:include src="user_guide.xhtml" />

        <script type="text/javascript">
            $(document).ready(function () {
                var currentTabID = "tab-3";
                ChangeTab(currentTabID);
            });

            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>
        <style type="text/css">
            #cmdCheckForm\:nodeRun_input {
                width: 97%;
            }

            .ViewBt{
                width: 20px !important;
                min-width: 20px !important;
            }
            .ViewBt .ui-button-text{
                width: 20px !important;
                padding: 0px !important;
            }
        </style>
    </ui:define>
</ui:composition>