<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">
        <h:form id="form">

            <p:growl id="mainMessage" showDetail="true" showSummary="false"
                     life="5000" />

            <p:blockUI block="layoutData" widgetVar="blockDataForm">
                LOADING<br />
                <p:graphicImage
                    value="/resources/olympos-layout/images/ajax-loader.gif" />
            </p:blockUI>
            <p:blockUI block="form:treeSolution" widgetVar="blockTree">
                <p:graphicImage
                    value="/resources/olympos-layout/images/ajax-loader.gif" />
            </p:blockUI>

            <p:layout id="layoutData" 
                      onResize="setLayoutForm()">
                <p:layoutUnit position="west" resizable="true" style="width: calc(100% + 50px)">
                    <h:panelGroup>
                        <div class="ui-g">

                        </div>
                    </h:panelGroup>
                    <p:tree widgetVar="treeSolution" id="treeSolution" class="Container100"
                            value="#{rescueInfomationController.rootNode}" var="node"
                            selection="#{rescueInfomationController.selectedNode}" 
                            style=" border-style: none;height: 500px;width: 220px;margin-top: 5px;background-color: #FBFCFD" skipChildren="true" 
                            selectionMode="single" dynamic="true" cache="false" animate="true">
                        <p:ajax event="select" listener="#{rescueInfomationController.preClickNode()}"
                                update=":form" oncomplete="setLayoutForm()"
                                />
                        <p:treeNode expandedIcon="ui-icon-folder-open"
                                    collapsedIcon="ui-icon-folder-collapsed">
                            <h:outputText value="#{node.name}" title="#{node.name}" />
                        </p:treeNode>
                        <p:treeNode type="impact_label" icon="ui-icon-plusthick">
                            <h:outputText value="#{node.name}" title="#{node.name}" />
                        </p:treeNode>
                        <p:treeNode type="rollback_label" icon="ui-icon-plusthick">
                            <h:outputText value="#{node.name}" title="#{node.name}" />
                        </p:treeNode>
                        <p:treeNode type="rollback_label" icon="ui-icon-plusthick">
                            <h:outputText value="#{node.name}" title="#{node.name}" />
                        </p:treeNode>

                        <p:treeNode type="parent" icon="ui-icon-folder-collapsed"
                                    id="Node-#{node.id}">
                            <h:outputText value="#{node.name}" title="#{node.name}" />
                        </p:treeNode>
                        
                        
                        <p:treeNode type="child" icon="ui-icon-circle-triangle-e"
                                    id="childNode-#{node.id}">

                            <p:commandLink
                                ondblclick="dbClickTree([{name: 'dbClickTree', value: ''}])"
                                style="text-decoration: none;">
                                <div>
                                    <h:outputText id="text-childNode" value="#{node.name}"
                                                  title="#{node.name}&lt;br /&gt; &lt;i style='color: yellow;' &gt; #{msg['tip.add.action.template']} &lt;i /&gt;" />
                                    <p:tooltip for="text-childNode" position="top"></p:tooltip>
                                </div>
                            </p:commandLink>

                            <p:draggable for="text-childNode" revert="true" opacity="0.3" />
                        </p:treeNode>

                    </p:tree>
                    <p:remoteCommand name="dbClickTree"	update=":formAddIncidentSolution"
                                     oncomplete="PF('dlgActionFlow').show()"
                                     actionListener="#{rescueInfomationController.preClickNode()}">
                    </p:remoteCommand>
                    <p:contextMenu for="treeSolution" id="contextMenuActionParent"
                                   nodeType="parent">
                        <p:menuitem value="#{msg['label.add']}" update=":formAddIncidentSolution"
                                    oncomplete="PF('dlgAddIncidentSolution').show()"
                                    icon=" ui-icon-circle-plus"
                                    actionListener="#{rescueInfomationController.checkAddIncidentSolution()}" />
                        <p:menuitem value="#{msg['label.del']}"
                                    update="@widgetVar(formDelIncidentSolution), form:mainMessage"
                                    actionListener="#{rescueInfomationController.prepareDelIncidentSolution()}"
                                    icon=" ui-icon-trash" />
                        <p:menuitem value="#{msg['label.update.action']}"
                                    update="@widgetVar(dlgAddIncidentSolution)" oncomplete="PF('dlgAddIncidentSolution').show()"
                                    actionListener="#{rescueInfomationController.prepareEdit}"
                                    icon="ui-icon-pencil" />
                    </p:contextMenu>

                </p:layoutUnit>
                <p:layoutUnit position="center" id="layoutGroupRescueInfoPlan"
                              resizable="true">

                    <ui:include src="SGSN_RNC/Sgsn_Rnc.xhtml" /> 
                    <ui:include src="MSC_RNC/Msc_Rnc.xhtml" /> 



                    <!--<ui:include src="/faces/rescue/Sgsn_Rnc/MSC_RNC.xhtml" />--> 
                </p:layoutUnit>



            </p:layout>

        </h:form>
        <ui:include src="SGSN_RNC/Sgsn_Rnc_Common.xhtml" />
        <ui:include src="MSC_RNC/Msc_Rnc_Common.xhtml" />





        <h:form id="formAddIncidentSolution">
            <p:dialog id="dlgAddIncidentSolution" widgetVar="dlgAddIncidentSolution"
                      modal="true"
                      focus="cancelAction1" width="auto%">
                <f:facet name="header">
                    <h:outputText value="#{msg['label.rescue.add.incident.solution']}"/>
                </f:facet>
                <div class="Card" style="width: 100%">
                    <p:fieldset legend="#{msg['label.rescue.name']}">
                        <p:inputText value="#{rescueInfomationController.insertIncidentSolution.name}"
                                     title="#{msg['label.rescue.name']}"
                                     style="width: calc(100% - 2em);"
                                     placeholder="#{msg['label.rescue.name']}" id="incidentNameInputId" />
                    </p:fieldset>
                </div>
                <div class="Card" style="width: 100%">
                    <p:fieldset legend="#{msg['label.action.desc']}">
                        <p:inputTextarea style="width: calc(100% - 2em);"
                                         value="#{rescueInfomationController.insertIncidentSolution.description}"
                                         placeholder="#{msg['label.action.desc']}" autoResize="true"
                                         title="#{msg['label.action.desc']}" rows="1" />
                    </p:fieldset>
                </div>

                <div class="Container100 Flex">
                    <div
                        style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                        <p:commandButton id="saveAction" type="submit"
                                         value="#{msg['label.update']}" icon="fa fa-save"
                                         styleClass="Fs14 White"
                                         update="form:treeSolution, form:mainMessage"
                                         actionListener="#{rescueInfomationController.insertChildNode}" />
                        <p:spacer height="10px;" />
                        <p:commandButton id="cancelAction1" type="submit"
                                         icon="fa fa-close" value="#{msg['label.cancel']}"
                                         styleClass="GrayButton Fs14"
                                         actionListener="#{rescueInfomationController.cleanRiSgRcPlan()}"
                                         update=":formAddIncidentSolution" oncomplete="PF('dlgAddIncidentSolution').hide()" />
                    </div>
                </div>
            </p:dialog>
        </h:form>

        <h:form id="formDelIncidentSolution">
            <p:confirmDialog id="confDlgDelIncidentSolution" widgetVar="confDlgDelIncidentSolution"
                             header="#{msg['label.confirm.del']}"
                             message="#{rescueInfomationController.getNameIncidentSolutionSelected()}">

                <h:panelGrid columns="3">
                    <p:commandButton id="delAction" type="submit"
                                     value="#{msg['label.del']}" update="form:treeSolution"
                                     style="width: 120px; height: 25px;font-size: 12px"
                                     actionListener="#{rescueInfomationController.deleteIncidentSolutionNode}"
                                     oncomplete="PF('confDlgDelIncidentSolution').hide()" />
                    <p:spacer height="10px;" />
                    <p:commandButton id="cancelActionConfirm" type="submit"
                                     value="#{msg['label.cancel']}"
                                     onclick="PF('confDlgDelIncidentSolution').hide()"
                                     style="width: 120px; height: 25px;font-size: 12px" />
                </h:panelGrid>
            </p:confirmDialog>
        </h:form>
        <script type="text/javascript">
            $(document).ready(function () {
                var currentTabID = "tab-1";
                ChangeTab(currentTabID);
                setLayoutForm();
            });

            function setLayoutForm(event) {
                var heightLayout = window.innerHeight - 47 - 20;
                console.log("heightLayout: " + heightLayout);
                $("#form\\:layoutData").css('height', heightLayout);
                $("#form\\:layoutData").children().css('height', heightLayout);
                $("#form\\:layoutData").children().children().css('height',
                        heightLayout);
            }

            function beforeOpenDialog() {
                $('body').css('overflow', 'hidden');
            }

            function afterCloseDialog() {
                $('body').css('overflow', 'auto');
            }

            function onNodeClick(node, event) {
                var str = "";
                var test = node;
            }

            function handleDrop(event, ui) {
                ui.draggable.draggable('option', 'revert', true);
            }
        </script>

        <style type="text/css">
            #form\:listCmdDetail.ui-orderlist .ui-orderlist-list {
                width: 95% !important;
            }

            .ui-selectonemenu-table {
                width: 700px !important;
            }

            .ui-selectonemenu {
                width: 100% !important;
            }

            .ui-selectonemenu-label {
                width: 100% !important;
            }

            .TransparentButton .ui-button-text {
                background-color: white;
                border: none;
                color: white;
            }

            .ui-treenode-leaf,.ui-treenode-label {
                height: 20px !important;
            }

            #form\:treeSolution .ui-tree-container {
                overflow: hidden !important;
            }

            #form\:panelControll button {
                opacity: 0.5;
            }

            #form\:panelControll button:HOVER {
                opacity: 1;
            }

            #form\:autoCommandTelnet_input {
                width: 97%;
            }

            .ui-panel-titlebar-icon {
                margin-left: 0px !important;
            }

            .inputInRow {
                width: calc(100% -      20px);
                border: none;
                background: transparent;
            }

            .ui-cell-editor-input .ui-selectonemenu {
                width: calc(100% -      54px) !important;
            }

            .ui-menu {
                width: auto;
            }

            #layout-footer {
                display: none;
                height: 0px;
            }

            .ui-layout-container .ui-layout-unit {
                border: 0px;
                border-radius: 0px;
                font-family: "latoregular";
            }

            .ui-layout-unit {
                padding: 0em;
                visibility: hidden;
            }

            .RiSgRcTable .ui-datatable-header {
                background: #009688;
                color: white;
                font-size: 14px;
                font-weight: bold;
            } 
            .RiSgRcTable table thead tr th{
                /*background: #cbfff9;*/
            }
            .RiSgRcTable .ui-paginator{
                background: white;
            }
            .RiSgRcTable .ui-datatable-odd{
                /*background: #cbfff9;*/
            }
            .RiSgRcTable .ui-paginator .ui-paginator-pages .ui-paginator-page{
                padding: 1px 6px;
                margin-right: 2px;
                border-radius: 50% !important;
            }
            .RiSgRcTable .ui-paginator .ui-paginator-pages .ui-state-active,
            .RiSgRcTable .ui-paginator .ui-paginator-pages .ui-state-focus{
                background: rgb(0, 150, 136) none repeat scroll 0% 0% !important;
                color: white !important;
                border: none !important;
            }

            .RiMsRcTable .ui-datatable-header {
                background: #009688;
                color: white;
                font-size: 14px;
                font-weight: bold;
            } 
            .RiMsRcTable table thead tr th{
                //background: #cbfff9;
            }
            .RiMsRcTable .ui-paginator{
                background: white;
            }
            .RiMsRcTable .ui-datatable-odd{
                //background: #cbfff9;
            }
            .RiMsRcTable .ui-paginator .ui-paginator-pages .ui-paginator-page{
                padding: 1px 6px;
                margin-right: 2px;
                border-radius: 50% !important;
            }
            .RiMsRcTable .ui-paginator .ui-paginator-pages .ui-state-active,
            .RiMsRcTable .ui-paginator .ui-paginator-pages .ui-state-focus{
                background: rgb(0, 150, 136) none repeat scroll 0% 0% !important;
                color: white !important;
                border: none !important;
            }

            .ui-fieldset-legend {
                background: transparent none repeat scroll 0% 0% !important;
                color: rgb(82, 82, 82) !important;
                padding-right: 6px !important;
                padding-left: 6px !important;
            }
            .state tbody tr td{
                text-align: center;
            }
            .state thead tr td{
                font-weight: bold;
            }
            .SlimButton {
                width: 16px !important;
                min-width: 8px !important;
                height: 16px !important;
                min-height: 8px !important;
            }
            .SlimButton .ui-button-text{
                padding: 0px !important;
            }
            .OneButtonMapType .ui-button-text{
                background-color: #8f7ee6 !important;
            }
            .OneButtonMapType .ui-state-active .ui-button-text{
                background-color: #FF00FF !important;
            }
            .OneButtonMapType .ui-button-text-only .ui-button-text{
                padding: 5px 10px 5px 10px !important;
                width: 120px;
            }
        </style>
    </ui:define>
</ui:composition>