<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	>
	<ui:include src="../execute/index.xhtml" />
	<script type="text/javascript">
			$(document).ready(function() {
				var currentTabID = "tab-4";
				var currentIconID = "10";
				ChangeTab(currentTabID);
			});
			
	</script>		
</ui:composition>