<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <h:form id="formMscRncCommon">
        <p:confirmDialog global="true" header="#{msg['view.dialog.header.delete.rescue.info']}"  showEffect="face" hideEffect="scale"
                         widgetVar="comfirmDeleteRiMsRcPlan" id="comfirmDeleteRiMsRcPlan">
            <f:facet name="message">
                <h:outputText value="#{msg['title.confirm.delete']}" />
                <p:spacer width="100%" height="1px"></p:spacer>
            </f:facet>

            <p:commandButton value="Yes" update="form:formMscRnc:tableRiMsRcPlanId" process="@this"
                             actionListener="#{rescueInfomationController.deleteRiMsRcPlan}"
                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="No" styleClass="ui-confirmdialog-no AquaButton" 
                             onclick="PF('comfirmDeleteRiMsRcPlan').hide()" process="@this"
                             actionListener="#{rescueInfomationController.selectedRiMsRcPlan.clear()}"
                             update="form:formMscRnc:tableRiMsRcPlanId"
                             icon="ui-icon-close fa fa-close Fs14 White" />
        </p:confirmDialog>
        <p:dialog id="dlgUploadRiMsRcPlan" widgetVar="dlgUploadRiMsRcPlan" width="70%"
                  height="30%" modal="true" header="#{msg['label.upload.rescue.info']}">
            <p:outputPanel style="text-align: center;margin: 5px" id="importRescue">
                <p:fileUpload
                    fileUploadListener="#{rescueInfomationController.onImportRiMsRcPlan}" process="@this"
                    mode="advanced" dragDropSupport="false" multiple="true"
                    auto="false" update="form:mainMessage, form:formMscRnc:tableRiMsRcPlanId,importRescue"
                    sizeLimit="100000000" fileLimit="10"
                    allowTypes="/(\.|\/)(xls|xlsx)$/" />
                <p:commandButton  icon="fa fa-download"
                                  styleClass="White MarTop5 Fs14" ajax="false"
                                  value="Tải file template" style="margin: 5px">
                    <p:fileDownload value="#{rescueInfomationController.onDownloadTemplateRiMsRcPlan()}" />
                </p:commandButton>
                <p:commandButton  icon="fa fa-download"
                                  styleClass="White MarTop5 Fs14" ajax="false"
                                  rendered="#{rescueInfomationController.isRiMsRcImport}"
                                  value="Kết quả import" style="margin: 5px;">
                    <p:fileDownload value="#{rescueInfomationController.onRiMsRcResultImport()}" />
                </p:commandButton>
                <p:commandButton  icon="fa fa-close"
                                  styleClass="White MarTop5 Fs14"
                                  value="#{msg['label.cancel']}" style="margin: 5px;"
                                  oncomplete="PF('dlgUploadRiMsRcPlan').hide()" >
                </p:commandButton>
            </p:outputPanel>
        </p:dialog>
        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="loadingDialog" draggable="false" closable="false"
                  resizable="false">
            <p:graphicImage name="/other/images/loading.gif"
                            style="background: transparent; margin: -20px;" width="50"
                            height="50" />
        </p:dialog>
        <p:dialog id="dlgAddRiMsRcPlanId" widgetVar="dlgAddRiMsRcPlanNode"
                  width="70%" height="50%" modal="true"
                  header="#{msg['label.form.add.rescue.information']}">
            <p:panelGrid style="width: 100%;">
                <div class="Card NoPadding">
                    <div class="Container30">
                        <label class="control-label cd-text-required" for="deptId">
                            <h:outputText value="#{msg['label.rescue.RNC']}" style="margin-bottom: 5px;text-align: center"/>
                        </label>
                        <p:autoComplete size="26" placeholder="#{msg['label.nodecode']}"
                                        dropdown="true" scrollHeight="200" label="label.nodecode"
                                        value="#{rescueInfomationController.nodeRnc}"
                                        completeMethod="#{rescueInfomationController.autoCompleNodeRNC}"
                                        var="obj" converter="nodeConverter" itemLabel="#{obj.nodeCode}"
                                        itemValue="#{obj}">
                        </p:autoComplete>
                    </div>

                    <div class="Container30">
                        <label class="control-label cd-text-required" for="deptId">
                            <h:outputText value="#{msg['label.rescue.current.MSC']}" />
                        </label>
                        <p:autoComplete size="26" placeholder="#{msg['label.nodecode']}"
                                        dropdown="true" scrollHeight="200" label="label.nodecode"
                                        value="#{rescueInfomationController.nodeMscCurrent}"
                                        completeMethod="#{rescueInfomationController.autoCompleNodeMSC}"
                                        var="obj" converter="nodeConverter" itemLabel="#{obj.nodeCode}"
                                        itemValue="#{obj}">
                        </p:autoComplete>
                    </div>
                    <div class="Container30">
                        <label class="control-label cd-text-required" for="deptId">
                            <h:outputText value="#{msg['label.rescue.backup.MSC']}" />
                        </label>
                        <p:autoComplete size="26" placeholder="#{msg['label.nodecode']}"
                                        dropdown="true" scrollHeight="200" label="label.nodecode"
                                        value="#{rescueInfomationController.nodeMscBackup}"
                                        completeMethod="#{rescueInfomationController.autoCompleNodeMSC}"
                                        var="obj" converter="nodeConverter" itemLabel="#{obj.nodeCode}"
                                        itemValue="#{obj}">
                        </p:autoComplete>
                    </div>
                </div>

                <div class="Container100 Flex">
                    <div
                        style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                        <p:commandButton id="saveAction" type="submit"
                                         value="#{msg['label.update']}" icon="fa fa-save"
                                         styleClass="Fs14 White" widgetVar="gjh"
                                         update="form:formMscRnc:tableRiMsRcPlanId, form:mainMessage"
                                         actionListener="#{rescueInfomationController.saveRiMsRcPlan}" />
                        <p:spacer height="10px;" />
                        <p:commandButton id="cancelAction" type="submit"
                                         icon="fa fa-close" value="#{msg['label.cancel']}"
                                         styleClass="White Fs14"
                                         oncomplete="PF('dlgAddRiMsRcPlanNode').hide()" />
                    </div>
                </div>

            </p:panelGrid>
        </p:dialog>
        <p:dialog id="dlgRiMsRcCrossCheck" widgetVar="dlgRiMsRcCrossCheck"
                  width="500px" height="50%" modal="true"
                  header="#{msg['label.form.add.rescue.crosscheck']}">
            <p:panelGrid style="width: 50%;">
                <div class="Card NoPadding">
                    <div class="Container100">

                        <div  style="margin-top: 10px;">
                            <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.form.add.rescue.mscdown']}"/>
                            
                            <p:selectCheckboxMenu id="menu" value="#{rescueInfomationController.nodeMscDown}" label="MSC" onShow="true"
                                                  converter="nodeConverter" scrollHeight="150" style="width: 190px;"
                                                  filter="true" filterMatchMode="startsWith" 
                                                  >
                                 <f:selectItems var="mscDownObj" itemLabel="#{mscDownObj.nodeCode}" 
                                               itemValue="#{mscDownObj}" value="#{rescueInfomationController.listNodeMscDown}" />
                            </p:selectCheckboxMenu>
                        </div>
                    </div>

                    <div class="Container100 Flex">
                        <div
                            style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                            <p:commandButton id="crossCheck" type="submit"
                                             value="#{msg['label.rescue.auto.crosscheck']}" icon="fa fa-check"
                                             styleClass="Fs14 White"
                                             update="form:formMscRnc:tableRiMsRcPlanId, form:mainMessage"
                                             actionListener="#{rescueInfomationController.onClickAutoCheckRiMsRcPlan}" />
                            <p:spacer height="10px;" />
                            <p:commandButton id="cancelCheck" type="submit"
                                             icon="fa fa-close" value="#{msg['label.cancel']}"
                                             styleClass="White Fs14"
                                             oncomplete="PF('dlgRiMsRcCrossCheck').hide()" />
                        </div>
                    </div>
                </div>

            </p:panelGrid>
        </p:dialog>
        
        <p:dialog id="dlgRiMsRcCreateMop" widgetVar="dlgRiMsRcCreateMop"
                  width="50%" height="50%" modal="true"
                  header="#{msg['label.form.add.rescue.rescueNode']}">
            <p:panelGrid style="width: 100%;">
                <div class="Card NoPadding">
                    <div class="Container100 Flex">
                        <div
                            style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                            <p:commandButton id="riMsRcCreateMop" type="submit"
                                             onclick="PF('loadingDialog').show()"
                                             oncomplete="PF('loadingDialog').hide()"
                                             value="#{msg['label.form.add.rescue.rescue']}" icon="fa fa-check"
                                             styleClass="Fs14 White"
                                             update="form:formMscRnc:tableRiMsRcPlanId, form:mainMessage"
                                             actionListener="#{rescueInfomationController.onClickRiMsRcCreateMop}" />
                            <p:spacer height="10px;" />
                            <p:commandButton id="cancelRiMsRcCreateMop" type="submit"
                                             icon="fa fa-close" value="#{msg['label.cancel']}"
                                             styleClass="White Fs14" 
                                             update="form:formMscRnc:tableRiMsRcPlanId"
                                             actionListener="#{rescueInfomationController.selectedRiMsRcPlan.clear()}"
                                             oncomplete="PF('dlgRiMsRcCreateMop').hide()" />
                        </div>
                    </div>
                </div>
            </p:panelGrid>
        </p:dialog>
        <p:dialog id="dlgRiMsRcRefreshParam" widgetVar="dlgRiMsRcRefreshParam" modal="true"
                  width="50%" style="top: 100px;"
                  header="#{msg['label.form.add.rescue.refreshParam']} 
                  ">
            <div style="text-align: center;margin-left: auto;margin-right: auto;display: block">
                <p:selectBooleanCheckbox id="chxUseAccountSystem" value="#{rescueInfomationController.useAccountSystem}" >
                    <p:ajax update="useAccountSystem"/>
                </p:selectBooleanCheckbox>
            </div>
            <div style="text-align: center;margin-left: auto;margin-right: auto;display: block">
                <h:outputText value="Dùng account hệ thống" style="color: #0084b4" />
                
            </div>
            <br/>
            <p:outputPanel id="useAccountSystem">
                <div class="ui-g" style="margin-left: 5px">
                    <h:outputText rendered="#{!rescueInfomationController.useAccountSystem}" value="#{msg['label.one.account']}:" style="margin-right: 5px; color: #0084b4" />
                    <p:selectBooleanCheckbox id="chxOneAccount" rendered="#{!rescueInfomationController.useAccountSystem}" value="#{rescueInfomationController.oneAccount}">
                        <p:ajax update="accountInfo"/>
                    </p:selectBooleanCheckbox>
                </div>

                <p:outputPanel id="accountInfo">
                    <p:outputLabel rendered="#{!rescueInfomationController.useAccountSystem and rescueInfomationController.oneAccount}" class="ui-g" style="margin: 5px;">
                        <p:inputText value="#{rescueInfomationController.account}"
                                     style="width: 100%" placeholder="#{msg['prompt.account']}" />
                    </p:outputLabel>

                    <p:outputLabel rendered="#{!rescueInfomationController.useAccountSystem and rescueInfomationController.oneAccount}" class="ui-g" style="margin: 5px;">
                        <p:password placeholder="#{msg['prompt.pass']}" style="width: 100%"
                                    value="#{rescueInfomationController.password}" />
                    </p:outputLabel>

                    <p:outputLabel rendered="#{!rescueInfomationController.useAccountSystem and !rescueInfomationController.oneAccount}" class="ui-g" style="margin: 5px;">
                        <p:dataTable var="obj" value="#{rescueInfomationController.mapAccount.entrySet()}"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                     paginator="true" rows="10" filterEvent="keyup" rowKey="#{obj.key}"
                                     rowIndexVar="rowIndex" paginatorPosition="bottom" id="MsRctableAccount"
                                     rowsPerPageTemplate="10,15,20"
                                     emptyMessage="#{msg['datatable.empty']}" editable="true">
                            <p:column style="width: 5%; text-align: left;" headerText="#{msg['datatable.header.stt']}">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                            <p:column headerText="#{msg['key.nodeCode']}" style="text-align: left">
                                <h:outputText value="#{obj.key}"/>
                            </p:column>
                            <p:column width="31%" headerText="#{msg['prompt.account']}" style="text-align: left">
                                <p:inputText value="#{obj.value.account}" />
                            </p:column>
                            <p:column width="31%" headerText="#{msg['prompt.pass']}" style="text-align: left">
                                <p:password value="#{obj.value.password}" />
                            </p:column>
                        </p:dataTable>
                    </p:outputLabel>

                </p:outputPanel>
            </p:outputPanel>

            <div style="text-align: center;margin-left: auto;margin-right: auto;display: block">
                <p:commandButton actionListener="#{rescueInfomationController.onClickRiMsRcRefreshParam}"
                                 onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()"
                                 value="#{msg['label.form.add.rescue.refreshParam']}" update="form:mainMessage,form:formMscRnc:tableRiMsRcPlanId"/>
                <p:commandButton value="#{msg['button.cancel']}" onclick="PF('dlgRiMsRcRefreshParam').hide()"/>
            </div>
        </p:dialog>
    </h:form>
</ui:composition>