<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <h:form id="formMscRnc" rendered="#{rescueInfomationController.isShowIncidentSolution == 2}">
        <h:panelGroup id="panelGroupRiMsRcPlan" >
            <div class="ui-g">
                <div class="Container100">
                    <p:dataTable value="#{rescueInfomationController.lazyRiMsRcPlan}" id="tableRiMsRcPlanId"
                                 lazy="true" var="riMsRcPlan" rowKey="#{riMsRcPlan.id}" 
                                 selection="#{rescueInfomationController.selectedRiMsRcPlan}"  
                                 rowIndexVar="cusIdx" editable="true" editMode="cell"
                                 rows="10" paginator="true" paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 rowsPerPageTemplate="10,20,30,40,50,60,70,80,90,100,150,200" widgetVar="tableRiMsRcPlanWidget"
                                 emptyMessage="#{msg['datatable.empty']}" 

                                 styleClass="RiMsRcTable Container100 NoPadding MarTop10">
                        <f:facet name="header">
                            <div class="Card NoPadding" style="background: transparent;">
                                <div class="Container20 Responsive50" style="text-align: left;background: transparent;">
                                    <p:commandButton icon="fa fa-plus" styleClass="White Fs14 OrangeButton MarTop5" title="#{msg['label.add']}"
                                                     actionListener="#{rescueInfomationController.clearRiMsRcPlan}"
                                                     update = "formMscRncCommon:dlgAddRiMsRcPlanId"
                                                     oncomplete="PF('dlgAddRiMsRcPlanNode').show()">
                                    </p:commandButton>

                                    <p:commandButton  icon="fa fa-upload"
                                                      actionListener="#{rescueInfomationController.cleanRiMsRcPlan}"
                                                      styleClass="White MarTop5 OrangeButton Fs14"
                                                      oncomplete="PF('dlgUploadRiMsRcPlan').show()"
                                                      update="formMscRncCommon:dlgUploadRiMsRcPlan"
                                                      title="#{msg['button.import']}" />
                                </div>
                                <div class="Container60 Responsive50">
                                    <h:outputText styleClass="Fs20" value="#{msg['label.add.rescue.information.msc.rnc']}" />
                                </div>

                                <div class="Container20" style="text-align: right;">
                                    <p:commandButton icon="fa fa-share-square"
                                                     title="#{msg['button.export']}" ajax="false" 
                                                     styleClass="White MarTop5 OrangeButton Fs14">
                                        <p:fileDownload value="#{rescueInfomationController.onExportRiMsRcPlan()}" />
                                    </p:commandButton>
                                    <p:commandButton id="toggler" type="button"  
                                                     style="float:right" icon="fa fa-sliders" 
                                                     styleClass="Fs14 OrangeButton White MarTop5" />
                                    <p:columnToggler datasource="tableRiMsRcPlanId" trigger="toggler" />
                                </div>
                            </div>

                        </f:facet>

                        <p:column headerText="#{msg['datatable.header.stt']}" width="20" style="text-align: center">
                            <h:outputText value="#{cusIdx +1 }" />
                        </p:column>
                        <p:column selectionMode="multiple" width="22" style="text-align: center" styleClass="center" />

                        <p:column headerText="" width="15" style="text-align: center">
                            <p:rowToggler  />
                            <p:commandButton icon="fa fa-check" styleClass="Blue Fs14 TransparentButton SlimButton" 
                                             actionListener="#{rescueInfomationController.clearRiMsRcPlan()}"
                                             update="@widgetVar(tableRiMsRcPlanWidget),form:growl"
                                             rendered="#{riMsRcPlan.nodeRnc==null}">
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="#{msg['label.rescue.RNC']}" width="50" filterStyle="width:70%" style="text-align: center" 
                                  filterBy="#{riMsRcPlan.nodeRnc.nodeCode}">
                            <h:outputText value="#{riMsRcPlan.nodeRnc.nodeCode}" style="text-align: center"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.provinces']}"  width="60" style="text-align: center"
                                  filterBy="#{riMsRcPlan.nodeRnc.province.provinceCode}" filterStyle="width:70%">
                            <h:outputText value="#{riMsRcPlan.nodeRnc.province.provinceCode}" rendered="#{riMsRcPlan.nodeRnc!=null}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.vendor']}" width="60"
                                  filterBy="#{riMsRcPlan.nodeRnc.vendor.vendorName}" filterStyle="width:70%" style="text-align: center">
                            <h:outputText value="#{riMsRcPlan.nodeRnc.vendor.vendorName}" style="text-align: left"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.current.MSC']}" width="85"
                                  filterBy="#{riMsRcPlan.nodeMscCurrent.nodeCode}" filterStyle="width:70%;" style="text-align: center">
                            <h:outputText value="#{riMsRcPlan.nodeMscCurrent.nodeCode}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.vendor']}" width="60"
                                  filterBy="#{riMsRcPlan.nodeMscCurrent.vendor.vendorName}" filterStyle="width:70%;padding-bottom: 2px" style="text-align: center">
                            <h:outputText value="#{riMsRcPlan.nodeMscCurrent.vendor.vendorName}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.backup.MSC']}" width="85"
                                  filterBy="#{riMsRcPlan.nodeMscBackup.nodeCode}" filterStyle="width:70%" style="text-align: center">
                            <h:outputText value="#{riMsRcPlan.nodeMscBackup.nodeCode}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.vendor']}" width="60"
                                  filterBy="#{riMsRcPlan.nodeMscBackup.vendor.vendorName}" filterStyle="width:70%" style="text-align: center">
                            <h:outputText value="#{riMsRcPlan.nodeMscBackup.vendor.vendorName}" />
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.update.date']}" width="80" style="text-align: center">
                            <h:outputText value="#{riMsRcPlan.updateTime}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.auto.crosscheck']}" width="40" style="text-align: center">
                            <h:outputText value="#{riMsRcPlan.autoCheckName}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.action']}" width="100" style="text-align: center">
                            <div style="text-align: center">
                                <p:tooltip position="top"></p:tooltip>
                                <p:commandButton title="#{msg['view.button.edit.enodeb']}"
                                                 actionListener="#{rescueInfomationController.prepareEditRiMsRcPlan(riMsRcPlan)}"
                                                 oncomplete="PF('dlgAddRiMsRcPlanNode').show()"
                                                 update="formMscRncCommon:dlgAddRiMsRcPlanId"
                                                 icon="fa fa-edit"
                                                 styleClass="Fs14 White BlueButton" />

                                <p:commandButton title="#{msg['label.form.add.rescue.refreshParam']}"
                                                 actionListener="#{rescueInfomationController.preRiMsRcRefreshParam(riMsRcPlan)}"
                                                 oncomplete="PF('loadingDialog').hide();"
                                                 onstart="PF('loadingDialog').show();"
                                                 update="formMscRncCommon:dlgAddRiMsRcPlanId,form:mainMessage"
                                                 icon="fa fa-refresh"
                                                 styleClass="Fs14 White GreenButton" />
                            </div>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.backoffice.engineer']}" width="60" style="text-align: left">
                            <h:outputText value="#{riMsRcPlan.backOfficeEngineer}"/>
                        </p:column>


                        <p:rowExpansion>
                            <p:panelGrid styleClass="state" id="panellRescueDetail">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.RNC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.PDP.RNC']}"/>
                                        </p:column>

                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.current.MSC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.License.SAU.current.MSC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAUR.current.MSC']}"/>
                                        </p:column>

                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.backup.MSC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.License.SAU.backup.MSC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAUR.backup.MSC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.backup.after.MSC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.License.SAU.backup.after.MSC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAUR.backup.after.MSC']}"/>
                                        </p:column>
                                    </p:row>

                                </f:facet>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{riMsRcPlan.sauRnc}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{riMsRcPlan.pdpRnc}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{riMsRcPlan.sauMscCurrent}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riMsRcPlan.licenseSauMscCurrent}"/>
                                    </p:column>
                                    <p:column >
                                        <h:outputText value="#{riMsRcPlan.saurMscCurrent}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riMsRcPlan.sauMscBackup}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riMsRcPlan.licenseSauMscBackup}"/>
                                    </p:column>
                                    <p:column >
                                        <h:outputText value="#{riMsRcPlan.saurMscBackup}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riMsRcPlan.sauMscBackupAfter}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riMsRcPlan.licenseSauMscBackup}"/>
                                    </p:column>
                                    <p:column >
                                        <h:outputText value="#{riMsRcPlan.saurMscBackupAfter}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:rowExpansion>
                    </p:dataTable>
                    <p:outputPanel id="actionPanel" style="position: fixed;right: 0px; bottom: 30px;width: 45px;" >
                        <p:tooltip position="top" />

                        <p:commandButton icon="fa fa-check" styleClass="White Fs14 PinkButton MarTop5" title="#{msg['label.rescue.auto.crosscheck']}"
                                         actionListener="#{rescueInfomationController.preCrossCheckRiMsRcPlan()}"
                                         update="formMscRncCommon:dlgRiMsRcCrossCheck"
                                         oncomplete="PF('dlgRiMsRcCrossCheck').show()">
                        </p:commandButton>

                        <p:commandButton icon="fa fa-medkit" styleClass="White Fs14 PinkButton MarTop5" title="#{msg['label.form.add.rescue.rescue']}"
                                         actionListener="#{rescueInfomationController.preRiMsRcCreateMop()}"
                                         update="formMscRncCommon:dlgRiMsRcCreateMop,@widgetVar(tableRiMsRcPlanWidget),form:mainMessage" 
                                         >
                        </p:commandButton>
                        <p:commandButton icon="fa fa-trash" actionListener="#{rescueInfomationController.preDeleteRiMsRcPlan}"
                                         update="@widgetVar(tableRiMsRcPlanWidget),form:mainMessage"
                                         title="#{msg['label.del']}" styleClass="White RedButton Fs14 MarTop5" />
                    </p:outputPanel>
                </div>
            </div>
        </h:panelGroup>
    </h:form>



</ui:composition>