<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:p="http://primefaces.org/ui" 
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/layout/olympos/template.xhtml">

	<ui:define name="content">
		<p:messages id="mainMessage" showDetail="true" showSummary="true" closable="true" />
		<h:form id="form">
			<p:growl id="growl" showDetail="true" showSummary="false" />
 
			<p:dataTable value="#{eNodeBController.lazyENodeB}" id="tableEnodeId"
					lazy="true" var="enodeb" rowKey="#{enodeb.id}"
					selection="#{eNodeBController.selectedENodeBPlans}"  
					rowIndexVar="cusIdx" editable="true" editMode="cell"
					rows="20" paginator="true" paginatorPosition="bottom"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
					rowsPerPageTemplate="5,10,15,30,50,60,80,100,150,200" widgetVar="tableEnodeBWidget"
					emptyMessage="#{msg['datatable.empty']}" styleClass="EnodeBTable Container100 NoPadding MarTop10">
					<f:facet name="header">
						<div class="Card NoPadding" style="background: transparent;">
							<div class="Container20 Responsive50" style="text-align: left;">
								<p:tooltip position="right" for="addCusId"></p:tooltip>
								<p:commandButton id="addCusId" icon="fa fa-plus-circle" styleClass="OrangeButton Fs14 White"
									onclick="PF('block').show()"  
									oncomplete="PF('addEnodeBDlg').show();PF('block').hide()" update=":actForm"
									actionListener="#{eNodeBController.preAddEnodeB}"
									disabled="#{!sessionUtil.createCustomer}"
									 title="#{msg['label.add.enodeb']}" 
									  />
							</div>
							<div class="Container60 Responsive50">
								<h:outputText styleClass="Fs20" value="#{msg['datatable.header.enodeb']}" />
							</div>
							<div class="Container20" style="text-align: right;">
								<p:commandButton id="toggler" type="button"  
									style="float:right" icon="fa fa-sliders" styleClass="Fs14 White" />
								<p:columnToggler datasource="tableEnodeId" trigger="toggler" />
							</div>
						</div>

					</f:facet>
					 
					<p:column headerText="#{msg['datatable.header.stt']}" width="20">
						<h:outputText value="#{cusIdx +1 }" />
					</p:column>
					<p:column selectionMode="multiple" width="15" />
					
					<p:column headerText="" width="15">
						<p:rowToggler  />
						<p:commandButton icon="fa fa-check" styleClass="Blue Fs14 TransparentButton SlimButton" 
							actionListener="#{eNodeBController.saveEnodeB(enodeb)}"
							update="tableEnodeId,:form:growl"
							rendered="#{enodeb.node==null}">
					    </p:commandButton>
					</p:column>
					
					<p:column headerText="#{msg['datatable.header.enodeb.name']}" width="90"  
						 filterBy="#{enodeb.eNodeBName}">
						<h:outputText value="#{enodeb.eNodeBName}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.node']}"  width="100" 
						filterBy="#{enodeb.node.nodeCode}" >
						<h:outputText value="#{enodeb.node.nodeCode}" rendered="#{enodeb.node!=null}"/>
						<p:cellEditor rendered="#{enodeb.node==null}" >
							<f:facet name="output">
								<h:outputText value="#{enodeb.node2.nodeCode}" rendered="#{enodeb.node2!=null}"/>
							</f:facet>
							<f:facet name="input">
								<p:selectOneMenu value="#{enodeb.node2}" converter="nodeConverter" style="width: calc(100% - 55px)">
									<f:selectItem itemLabel="#{msg['common.choose']}"/>
									<f:selectItems value="#{enodeb.nodeIdTemps}" var="node" itemValue="#{node}" itemLabel="#{node.nodeCode}"/>
									<p:ajax event="change" update=""></p:ajax>
								</p:selectOneMenu>
							</f:facet>
						</p:cellEditor>
						
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.stationCode']}" width="70">
						
						<h:outputText value="#{enodeb.stationCode}"/>
						
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.dept.manage']}" width="70"
						>
						<h:outputText value="#{enodeb.deptManage}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.interface']}" width="50">
						<h:outputText value="#{enodeb.interfacePort}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.vlan.service']}" width="30">
						<h:outputText value="#{enodeb.vlanService}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.vlan.oam']}" width="30">
						<h:outputText value="#{enodeb.vlanOam}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.ip.service.enodeb']}" width="80">
						<h:outputText value="#{enodeb.ipServiceEnodeb}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.ip.service.gateway']}" width="80">
						<h:outputText value="#{enodeb.ipServiceGateway}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.ip.oam.enodeb']}" width="80">
						<h:outputText value="#{enodeb.ipOamEnodeb}"/>
					</p:column>
					<p:column headerText="#{msg['datatable.header.enodeb.ip.oam.gateway']}" width="80">
						<h:outputText value="#{enodeb.ipOamGateway}"/>
					</p:column>
					
					
					<p:rowExpansion>
						
						<p:panelGrid styleClass="state">
							<f:facet name="header">
								 
								<p:row>
									<p:column >#{msg['datatable.header.enodeb.state']}</p:column>
									<p:column >#{msg['datatable.header.enodeb.rx']}</p:column>
									<p:column >#{msg['datatable.header.enodeb.tx']}</p:column>
									<p:column >#{msg['datatable.header.enodeb.crc']}</p:column>
									<p:column >#{msg['datatable.header.enodeb.negotiation']}</p:column>
									<p:column >#{msg['datatable.header.enodeb.speed']}</p:column>
									<p:column >#{msg['datatable.header.enodeb.duplex']}</p:column>
									<p:column width="50">
										<h:outputText value="#{msg['datatable.header.enodeb.module']}"/>
									</p:column>
									<p:column width="50">
										<h:outputText value="#{msg['datatable.header.enodeb.mac']}"/>
									</p:column>
									<p:column width="50">
										<h:outputText value="#{msg['datatable.header.enodeb.gian']}"/>
									</p:column>
									<p:column >
										
									</p:column>
								</p:row>
								
							</f:facet>
							<p:row>
								<p:column>#{enodeb.state}</p:column>
								<p:column>#{enodeb.rx}</p:column>
								<p:column>#{enodeb.tx}</p:column>
								<p:column>#{enodeb.crc}</p:column>
								<p:column>#{enodeb.negotiation}</p:column>
								<p:column>#{enodeb.speed}</p:column>
								<p:column>#{enodeb.duplex}</p:column>
								<p:column  >
									<h:outputText value="#{enodeb.module}"/>
								</p:column>
								<p:column >
									<h:outputText value="#{enodeb.mac}"/>
								</p:column>
								<p:column >
									<h:outputText value="#{enodeb.gian}"/>
								</p:column>
								<p:column >
									<p:tooltip></p:tooltip>
									<p:commandButton icon="fa fa-refresh" onclick="PF('ref-#{enodeb.id}').disable()" widgetVar="ref-#{enodeb.id}" 
										actionListener="#{eNodeBController.refreshState(enodeb)}" oncomplete="PF('ref-#{enodeb.id}').enable()"
										update="@parent:@parent:@parent"	styleClass="White Fs15 GreenButton" />
									<p:commandButton icon="fa fa-fighter-jet" oncomplete="PF('traceDlg').show()"
										styleClass="White Fs14" title="#{msg['view.button.ping.checklist']}"/>	
								</p:column>
								
							</p:row>
						</p:panelGrid>
						
					</p:rowExpansion>
				</p:dataTable>	
				<p:contextMenu for="tableEnodeId">
					<p:menuitem icon="fa fa-trash" actionListener="#{eNodeBController.preDeleteEnodeB}"
							onclick="PF('block').show()" oncomplete="PF('block').hide();PF('comfirmDeleteEnodeb').show()"
							update=":comfirmDeleteEnodeb"
							value="#{msg['view.button.delete.enodeb']}" />
				</p:contextMenu>
				<p:outputPanel id="actionPanel" style="position: fixed;right: 25px; bottom: 30px;width: 45px;">
					<p:tooltip position="top" />
						<p:commandButton icon="fa fa-puzzle-piece" styleClass="White Fs14 MarRight5" title="#{msg['view.button.interaction.enodeb']}"
							actionListener="#{eNodeBController.deployService}"
							onclick="PF('block').show()" oncomplete="PF('block').hide()">
						</p:commandButton>
						
						<p:commandButton icon="fa fa-edit" styleClass="White MarTop5 Fs14"  
							onclick="PF('block').show()" oncomplete="PF('block').hide();PF('addEnodeBDlg').show()"
							actionListener="#{eNodeBController.preEditEnodeB(enodeb)}" update=":actForm"
							title="#{msg['view.button.edit.enodeb']}"
							 />
						<p:commandButton icon="fa fa-trash" actionListener="#{eNodeBController.preDeleteEnodeB}"
							onclick="PF('block').show()" oncomplete="PF('block').hide();PF('comfirmDeleteEnodeb').show()"
							update=":comfirmDeleteEnodeb" 
							title="#{msg['view.button.delete.enodeb']}" styleClass="White RedButton Fs14 MarTop5" />
						
				</p:outputPanel>
		</h:form>
		
		<p:dialog widgetVar="addEnodeBDlg" width="60%" 
			height="50%"  modal="true" showEffect="size" hideEffect="scale">
			<f:facet name="header">
				<h:outputText value="#{msg['view.dlg.update.enodeb']}"/>
			</f:facet>
			<h:form id="actForm">
				<div class="Container100 NoPadding">
					<p:commandLink value="#{msg['button.download.template']}" ajax="false" onclick="PrimeFaces.monitorDownload(PF('block').show(), PF('block').hide())"
						style="color:blue; margin-left:10px;font-weight: bold;font-size: 13px " process="@this"
						disabled="#{eNodeBController.templateFileImport==null}">
						<p:fileDownload value="#{eNodeBController.templateFileImport}" contentDisposition="attachment" />
					</p:commandLink>
					<p:fileUpload  allowTypes="/(\.|\/)(xls|xlsx)$/" 
                             uploadLabel="#{msg['button.import.temp']}" fileUploadListener="#{eNodeBController.handleImportEnodeB}"
                             label="#{msg['label.fileImport']}" onstart="PF('block').show()"
                             oncomplete="PF('block').hide()" update=":form"
                             invalidFileMessage="#{msg['message.invalid.file.excel']}" invalidSizeMessage="#{msg['message.invalid.file.size']}"
                             mode="advanced" skinSimple="true" sizeLimit="2097152" dragDropSupport="true">
               		</p:fileUpload>
				</div>
				<div class="Container100 Flex FlexWrap NoPadding TexAlCenter" style="overflow: hidden;">
					<div class="Container100 TexAlCenter" >
						<p:commandButton icon="fa fa-download" styleClass="White Fs14" value="#{msg['button.export.result.import']}"
							ajax="false" actionListener="#{eNodeBController.exportResult}" 
							process="@this" update="@none">
						</p:commandButton>
					</div>
				</div>
				
			</h:form>
		</p:dialog>		
		<p:dialog widgetVar="traceDlg" width="99%" style="top: 20px; bottom: 40px;"
			height="calc(100% - 80px)"  modal="true" showEffect="size" hideEffect="scale">
			<f:facet name="header">
				<h:outputText value="#{msg['view.dlg.ping.checklist']}"/>
			</f:facet>
			<h:form id="traceForm">
				<p:messages id="mainMessage2" showDetail="true" showSummary="true" closable="true" />
				<div class="Container100 Flex FlexWrap NoPadding TexAlCenter" style="overflow: hidden;">
				<div class="Container25 TexAlCenter" style="overflow: hidden;">
					<div class="Card NoPadding">
						<div class="Container100 Responsive50 TexAlCenter" style="padding-top: 5px">
							<p:commandButton icon="fa fa-terminal" value="#{msg['view.button.ping1']}"
								actionListener="#{traceController.ping(1)}" styleClass="White Fs14"
								onclick="PF('block').show()" oncomplete="PF('block').hide()" 
								update="center1,:mainMessage"/>
						</div>
						<div class="Container100 Responsive50" style="padding-top: 5px">
							<p:poll interval="1" listener="#{traceController.loadLog(1)}" update="log1,@this" oncomplete="focusToEnd(1)" autoStart="false" widgetVar="pollLog1" />

							<p:outputPanel>
								<p:outputPanel style="float: right; margin-right: 50px; margin-top: 15px;">
									<h:outputText  value="" style="color:green;font-weight: bold;" />
									<p:poll interval="1" listener="#{traceController.loadProgress(1)}" update="@parent,:mainMessage" autoStart="false"
										widgetVar="pollProgress1" />
									
								</p:outputPanel>
								<p:outputPanel id="center1">
									<h:outputText value="#{traceController.infoPing1}"/>		
									<p:outputPanel id="log1">
										<p:inputTextarea rows="3" style="width:calc(100% - 20px); height:500px; overflow: auto;" id="logTxt1" value="#{traceController.log1}" readonly="true" />
									</p:outputPanel>
								</p:outputPanel>
							</p:outputPanel>
						</div>
					</div>		
				</div>
				<div class="Container25 TexAlCenter">
							
					<div class="Card NoPadding">
						<div class="Container100 Responsive50 TexAlCenter" style="padding-top: 5px">
								<p:commandButton icon="fa fa-terminal" value="#{msg['view.button.ping2']}"
									actionListener="#{traceController.ping(2)}" styleClass="White Fs14"
									onclick="PF('block').show()" oncomplete="PF('block').hide()" 
									update="center2,:mainMessage"/>
						</div>
						<div class="Container100 Responsive50" style="padding-top: 5px">
						
							<p:poll interval="1" listener="#{traceController.loadLog(2)}" update="log2,@this" oncomplete="focusToEnd(2)" autoStart="false" widgetVar="pollLog2" />
	
							<p:outputPanel>
								<p:outputPanel style="float: right; margin-right: 50px; margin-top: 15px;">
									<h:outputText value="" style="color:green;font-weight: bold;" />
									<p:poll interval="1" listener="#{traceController.loadProgress(2)}" update="@parent,:mainMessage" autoStart="false"
										widgetVar="pollProgress2" />
									
								</p:outputPanel>
								<p:outputPanel id="center2">
									<h:outputText value="#{traceController.infoPing2}"/>		
									<p:outputPanel id="log2">
										<p:inputTextarea rows="3" style="width:calc(100% - 20px);  height:500px; overflow: auto;" id="logTxt2" value="#{traceController.log2 }" readonly="true" />
									</p:outputPanel>
								</p:outputPanel>
							</p:outputPanel>
						</div>	
					</div>
				</div>
				
				
						
				<div class="Container50 TexAlCenter" style="overflow: hidden;">
					<div class="Card NoPadding">
						<div class="Container100 Responsive50 TexAlCenter" style="padding-top: 5px">
							<p:commandButton icon="fa fa-terminal" value="#{msg['view.button.checklist']}"
								actionListener="#{traceController.checklist}" styleClass="White Fs14"
								onclick="PF('block').show()" oncomplete="PF('block').hide()" 
								update="center3,:mainMessage"/>
						</div>
						<div class="Container100 Responsive50" style="padding-top: 5px">
						
							<p:poll interval="1" listener="#{traceController.loadLog(3)}" update="log3,@this" oncomplete="focusToEnd(3)" autoStart="false" widgetVar="pollLog3" />
	
							<p:outputPanel>
								<p:outputPanel style="float: right; margin-right: 50px; margin-top: 15px;">
									<h:outputText value="" style="color:green;font-weight: bold;" />
									<p:poll interval="1" listener="#{traceController.loadProgress(3)}" update="@parent,:mainMessage" autoStart="false"
										widgetVar="pollProgress3" />
									
								</p:outputPanel>
								<p:outputPanel id="center3">
									<h:outputText value="#{traceController.infoPing3}"/>		
									<p:outputPanel id="log3">
										<p:inputTextarea rows="3" style="width:calc(100% - 20px);  height:300px; overflow: auto;" id="logTxt3" value="#{traceController.log3}" readonly="true" />
									</p:outputPanel>
								</p:outputPanel>
							</p:outputPanel>
						</div>	
					</div>
				</div>
				</div>
			</h:form>
		</p:dialog>		
		
		<p:confirmDialog global="true" header="#{msg['view.dialog.header.delete.enodeb']}"  showEffect="face" hideEffect="scale"
			widgetVar="comfirmDeleteEnodeb" id="comfirmDeleteEnodeb">
			<f:facet name="message">
				<h:outputText value="#{msg['title.confirm.delete']}" />
				<p:spacer width="100%" height="1px"></p:spacer>
				<h:outputText style="color: black; font-weight: bold;" value="#{msg['datatable.header.enodeb.name']}" />
				<h:outputText value=": " />
				<h:outputText style="color: black" value="#{eNodeBController.currEnodePlan.eNodeBName}" />
			</f:facet>

			<p:commandButton value="Yes" update=":form" process="@this" oncomplete="PF('comfirmDeleteEnodeb').hide();PF('block').hide()"
				onclick="PF('block').show()" 
				actionListener="#{eNodeBController.delete}"
				styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
			<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no AquaButton" 
				onclick="PF('comfirmDeleteEnodeb').hide()"
				 icon="ui-icon-close fa fa-close Fs14 White" />
		</p:confirmDialog>	 	
		<p:dialog modal="true" class="transparent-dialog" showHeader="false" 
        	widgetVar="block" draggable="false" closable="false" resizable="false" >
        	<span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
        		<i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
			  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
			  	<i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
			</span>
        </p:dialog>
        
		<script type="text/javascript">
			$(document).ready(function() {
				var currentTabID = "tab-7";
				var currentIconID = "10";
				ChangeTab(currentTabID);
			});
			function focusToEnd(index) {
				var txt = document.getElementById('traceForm:logTxt'+index);
				if (txt.createTextRange) {
					//IE  
					var FieldRange = txt.createTextRange();
					FieldRange.moveStart('character', txt.value.length);
					FieldRange.collapse();
					FieldRange.select();
				} else {
					//Firefox and Opera  
					txt.focus();
					var length = txt.value.length;
					txt.setSelectionRange(length, length);
				}
				try{
// 					var cmdDiv= document.getElementById('cmdDiv'+index);
// 					if(cmdDiv!=null)
// 						cmdDiv.scrollTop = cmdDiv.scrollHeight;
				}catch (e){
					console.log(e);
				}
				
			}
			 
		</script>
		<style type="text/css">
			.EnodeBTable .ui-datatable-header {
				background: #009688;
				color: white;
			} 
			.EnodeBTable table thead tr th{
				background: white;
			}
			.EnodeBTable .ui-paginator{
				background: white;
			}
			.EnodeBTable .ui-datatable-odd{
				background: #F4F4F4;
			}
			.EnodeBTable .ui-paginator .ui-paginator-pages .ui-paginator-page{
				padding: 1px 6px;
				margin-right: 2px;
				border-radius: 50% !important;
			}
			.EnodeBTable .ui-paginator .ui-paginator-pages .ui-state-active,
			.EnodeBTable .ui-paginator .ui-paginator-pages .ui-state-focus{
				background: rgb(0, 150, 136) none repeat scroll 0% 0% !important;
				color: white !important;
				border: none !important;
			}
			.ui-fieldset-legend {
				background: transparent none repeat scroll 0% 0% !important;
				color: rgb(82, 82, 82) !important;
				padding-right: 6px !important;
				padding-left: 6px !important;
			}
			.state tbody tr td{
				text-align: center;
			}
			.state thead tr td{
				font-weight: bold;
			}
			.SlimButton {
				width: 16px !important;
				min-width: 8px !important;
				height: 16px !important;
				min-height: 8px !important;
			}
			.SlimButton .ui-button-text{
				padding: 0px !important;
			}
		</style>
	</ui:define>
</ui:composition>