<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	>

<!-- 	<ui:define name="content"> -->

<p:dialog header="Topo: #{drawTopoStatusExecController.selectedFlowRunAction.flowRunName}" widgetVar="showTopo" width="99%" styleClass="FlowRunDlg"
          style="top:20px; bottom:5px;overflow:auto;"  modal="true" 
          draggable="false" resizable="true" id="showTopo"  
          onShow="beforeOpenDialog();resizeDlgTopo()" onHide="afterCloseDialog(); PF('scheduleUpdateTopo').stop();" >
    <p:layout id="layoutData" styleClass="NoPadding" style="height: 550px"
              >
        <p:layoutUnit position="east" >
            <p:outputPanel id="panelControll"
                           style="top: 80px;width: 230px">

                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #C0C0C0"/>
                    <h:outputText value="#{msg['note.diagram.default']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>
                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #b0719c"/>
                    <h:outputText value="#{msg['note.diagram.rollback.default']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>
                <p:separator ></p:separator>
                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #ADFF2F"/>
                    <h:outputText value="#{msg['note.diagram.running']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>
                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #FFD700"/>
                    <h:outputText value="#{msg['note.diagramm.rollback.running']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>

                <p:separator ></p:separator>
                
                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #008000"/>
                    <h:outputText value="#{msg['note.diagram.success']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>
                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #40E0D0"/>
                    <h:outputText value="#{msg['note.diagram.rollback.success']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>

                <p:separator ></p:separator>

                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #C34A2C"/>
                    <h:outputText value="#{msg['note.diagram.fail']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>
                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #FF00FF"/>
                    <h:outputText value="#{msg['note.diagram.rollback.fail']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>
                    
                <p:separator ></p:separator>
                
                <div class="ui-g" style="margin: 5px;">
                    <div style="width: 30px; height: 30px; background-color: #00aeef"/>
                    <h:outputText value="#{msg['note.diagram.action.manual']}" style="margin-top: 5px; margin-left: 5px;"/>
                </div>

            </p:outputPanel>
        </p:layoutUnit>
        <p:layoutUnit position="center" style="overflow:auto !important;height: 530px">
            <h:form id="topoForm" enctype="multipart/form-data">
                <p:outputPanel id="buttonPanel">
                    <p:commandButton disabled="#{(drawTopoStatusExecController.selectedFlowRunAction.status != 3 
                                         and drawTopoStatusExecController.selectedFlowRunAction.status != 4
                                         and drawTopoStatusExecController.selectedFlowRunAction.status != 8
                                         and drawTopoStatusExecController.selectedFlowRunAction.status != 6
                                         and drawTopoStatusExecController.selectedFlowRunAction.status != 10
                                         )
                                         or drawTopoStatusExecController.selectedFlowRunAction.logFilePath == null}"
                                     style="color: white; " icon="fa fa-download" ajax="false" id="downloadLog"
                                     value="#{msg['button.downoad.log']}">
                        <p:fileDownload value="#{drawTopoStatusExecController.onExportLog()}" />
                    </p:commandButton>
                    <p:commandButton disabled="#{drawTopoStatusExecController.selectedFlowRunAction.status != 3
                                                 and drawTopoStatusExecController.selectedFlowRunAction.status != 4
                                         and drawTopoStatusExecController.selectedFlowRunAction.status != 6
                                         and drawTopoStatusExecController.selectedFlowRunAction.status != 10
                                         }"
                                     onclick="PF('block').show()" oncomplete="PF('block').hide()"
                                     style="color: white; margin-left: 5px" icon="fa fa-refresh" id="rollback" styleClass="RedButton"
                                     value="#{msg['label.rollback.action']}" update="topoForm:mainMessage, formAccountNode" actionListener="#{drawTopoStatusExecController.onClickRollback()}" />
                    <p:commandButton disabled="#{(drawTopoStatusExecController.selectedFlowRunAction.status != 0
                                                 and drawTopoStatusExecController.selectedFlowRunAction.status != 1
                                                 and drawTopoStatusExecController.selectedFlowRunAction.status != 6
                                                 and drawTopoStatusExecController.selectedFlowRunAction.status != 8
                                         and drawTopoStatusExecController.selectedFlowRunAction.status != 10) or (drawTopoStatusExecController.selectedFlowRunAction.flowRunId == null and drawTopoStatusExecController.selectedFlowRunAction.status == 0)}"
                                     onclick="PF('block').show()" oncomplete="PF('block').hide()"
                                     style="color: white; float: right; margin-left: 5px" icon="fa fa-play-circle-o" id="clickStart" styleClass="BlueButton"
                                     value="#{msg['label.diagram.element.start']}" update="topoForm:mainMessage, formAccountNode" actionListener="#{drawTopoStatusExecController.onClickRunDT}" /> 
                    <p:commandButton disabled="#{(drawTopoStatusExecController.selectedFlowRunAction.status != 2) or (drawTopoStatusExecController.selectedFlowRunAction.flowRunId == null and drawTopoStatusExecController.selectedFlowRunAction.status == 0)}"
                                     oncomplete="PF('pauseDTConfirm').show()"
                                     style="color: white; float: right" icon="fa fa-pause" id="clickStop" styleClass="YellowButton"
                                     value="#{msg['label.diagram.element.pause']}" update=":pauseDTConfirm"/> 
                </p:outputPanel>
                <p:growl id="mainMessage" showDetail="true" showSummary="false" />
                <c:set  var="subFlowRuns" value="#{drawTopoStatusExecController.subFlowRuns}"></c:set>
                <p:tabView id="tabInputNode" scrollable="true" style="width: 99%;margin-top: 5px">
                    <p:ajax event="tabChange" listener="#{drawTopoStatusExecController.onChangeSubFlowRuns}"
                            onstart="PF('loadingDialog').show()" oncomplete="resizeDialogContent();PF('loadingDialog').hide()"
                            update="@this" />
                    <c:forEach items="#{subFlowRuns}" var="subFlowRun">
                        <p:tab title="#{subFlowRun}" id="tabTopo-#{subFlowRun}" titleStyle="font-weight: bold">
                            <p:diagram value="#{drawTopoStatusExecController.topoDiagram}"
                                       style="height:430px; " converter="actionFlowConverter"
                                       styleClass="ui-widget-content TopoFlowRunDiagram" var="actionData"
                                       id="topoFlowRunDiagram">
                                <f:facet name="element">
                                    <div class="Container100">
                                        <div class="Container5 signer" >
                                            <i style="margin-left: -10px; margin-top: -10px" class="fa fa-spinner fa-pulse fa-2x fa-fw Aqua" ></i>		
                                        </div>
                                        <div class="Container90">
                                            <p:commandLink id="cmdLinkActionId" disabled="#{drawTopoStatusExecController.showDiagramOnly}" title="#{drawTopoStatusExecController.showDiagramOnly?'':msg['tip.action.diagram']}"
                                                           onmousedown="onRightClickDiagram([{name:'action_of_flow_id', value:'#{actionData.stepNum}'}])" 
                                                           ondblclick="onClickDiagram([{name:'action_of_flow_id', value:'#{actionData.stepNum}'}, {name:'actionType', value:'#{actionData.actionType}'}])"

                                                           >
                                                <p:outputPanel style="width: 100%;height: calc(4em - 10px);color: #ffffff;">
                                                    <h:outputText id="actionNameId" value="#{actionData.action.name}" title="#{actionData.action.name}"></h:outputText>
                                                </p:outputPanel>
                                            </p:commandLink>
                                        </div>	
                                        <div class="Container5 " >
                                            <div title="#{actionData.groupActionName}" style="width:25px ; height: 25px; background: #00aeef; font-weight: bold; border-radius: 50%; margin-top: -20px">
                                                #{actionData.groupActionOrder2}
                                            </div>
                                        </div>
                                    </div>
                                </f:facet>
                            </p:diagram>
                            <p:outputPanel rendered="#{drawTopoStatusExecController.showDiagramOnly==false}">
                                <p:contextMenu for="cmdLinkActionId" id="contextMenuRunManual"
                                               widgetVar="contextMenuRunManual"  >
                                    <p:menuitem value="#{msg['label.diagram.run.manual']}"
                                                update="topoForm:mainMessage, formAccountNode"
                                                icon="fa fa-caret-right" oncomplete="PF('loadingDialog').hide();"
                                                onstart="PF('loadingDialog').show();"
                                                actionListener="#{drawTopoStatusExecController.prepareStartManual}"/>
                                </p:contextMenu>
                            </p:outputPanel>

                            <p:remoteCommand name="onClickDiagram" oncomplete="PF('loadingDialog').hide();"
                                             update="formShowLog, topoForm:mainMessage, formAccountNode" onstart="PF('loadingDialog').show();"
                                             actionListener="#{drawTopoStatusExecController.onClickDiagram}" />

                            <p:remoteCommand name="onRightClickDiagram" 
                                             update="formShowLog, formAccountNode, topoForm:mainMessage"
                                             actionListener="#{drawTopoStatusExecController.onRightClickDiagram}" />

                            <p:poll interval="10" id="scheduleUpdateTopo" widgetVar="scheduleUpdateTopo"
                                    update="topoForm:tabInputNode:topoFlowRunDiagram, topoForm:mainMessage, topoForm:downloadLog, topoForm:rollback, formShowLog:panelShowLogAction, topoForm:buttonPanel"
                                    listener="#{drawTopoStatusExecController.updateStatusAction}"
                                    autoStart="false" oncomplete="scrollDiagram(xhr, status, args)" />
                            <!--oncomplete="scrollDiagram(xhr, status, args)"-->

                        </p:tab>
                    </c:forEach>
                </p:tabView>

            </h:form>
        </p:layoutUnit>
    </p:layout>
</p:dialog>

<h:form id="formAccountNode">
    <p:dialog id="dlgAcountInfo" widgetVar="dlgAcountInfo" modal="true" resizable="false"
              width="calc(100% - 400px)" style="max-height: 550px"
              header="#{msg['label.form.input.accountinfo']}
					#{drawTopoStatusExecController.selectedFlowRunAction.flowTemplates.flowTemplateName}">
        <!--<ui:remove>-->
            <!--<div class="ui-g" style="margin-left: 5px">-->
                <!--<h:outputText value="#{msg['label.one.account']}:" style="margin-right: 5px; color: #0084b4"/>-->
                <!--<p:selectBooleanCheckbox id="chxOneAccount" value="#{drawTopoStatusExecController.oneAccount}">-->
                    <!--<p:ajax update="accountInfo"/>-->
                <!--</p:selectBooleanCheckbox>-->
            <!--</div>-->
        <!--</ui:remove>-->
        <p:outputPanel id="accountInfo" >
            <!--<ui:remove>-->
                <p:outputLabel rendered="#{drawTopoStatusExecController.oneAccount}" class="ui-g" style="margin: 5px;">
                    <p:inputText value="#{drawTopoStatusExecController.account}"
                                 style="width: 100%" placeholder="#{msg['prompt.account']}"/>
                                 <!--readonly="#{drawTopoStatusExecController.account != null and drawTopoStatusExecController.account != ''  and drawTopoStatusExecController.password != null and drawTopoStatusExecController.password != ''}"-->

                </p:outputLabel>

                <p:outputLabel rendered="#{drawTopoStatusExecController.oneAccount}" class="ui-g" style="margin: 5px;">
                    <p:password placeholder="#{msg['prompt.pass']}" style="width: 100%" redisplay="true"
                                value="#{drawTopoStatusExecController.password}"/>
                                <!--readonly="#{drawTopoStatusExecController.account != null and drawTopoStatusExecController.account != '' and drawTopoStatusExecController.password != null and drawTopoStatusExecController.password != '' }"-->

                </p:outputLabel>

                <p:outputLabel rendered="#{!drawTopoStatusExecController.oneAccount}" class="ui-g" style="margin: 5px;">
                    <p:dataTable var="obj" value="#{drawTopoStatusExecController.mapAccount.entrySet()}"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 paginator="false" rows="500" filterEvent="keyup" rowKey="#{obj.key}"
                                 rowIndexVar="rowIndex" paginatorPosition="bottom" id="tableAccount"
                                 rowsPerPageTemplate="500,1000" scrollable="true" scrollHeight="300"
                                 emptyMessage="#{msg['datatable.empty']}" editable="true">
                        <p:column style="width: 5%; text-align: left;" headerText="#{msg['datatable.header.stt']}">
                            <h:outputText value="#{rowIndex+1}"/>
                        </p:column>
                        <p:column headerText="#{msg['key.nodeCode']}" style="text-align: left">
                            <h:outputText value="#{obj.key}"/>
                        </p:column>
                        <p:column width="31%" headerText="#{msg['prompt.account']}" style="text-align: left">

                            <p:inputText value="#{obj.value.account}" />
                                         <!--readonly="#{drawTopoStatusExecController.selectedFlowRunAction.status != 10 and obj.value.account != null and obj.value.account != '' and obj.value.password != null and obj.value.password != ''}"-->

                        </p:column>
                        <p:column width="31%" headerText="#{msg['prompt.pass']}" style="text-align: left">
                            <p:password value="#{obj.value.password}" redisplay="true" />
                                        <!--readonly="#{drawTopoStatusExecController.selectedFlowRunAction.status != 10 and obj.value.account != null and obj.value.account != '' and obj.value.password != null and obj.value.password != ''}"-->

                        </p:column>
                    </p:dataTable>
                </p:outputLabel>
            <!--</ui:remove>-->
            <p:outputPanel rendered="#{drawTopoStatusExecController.actionOfFlowId != null 
                                                               and drawTopoStatusExecController.actionOfFlowId gt 0}" 
                           class="ui-g" style="margin: 5px;">
                <p:selectOneMenu value="#{drawTopoStatusExecController.modeRun}" title="#{msg['title.run.type']}" style="width: 100%" id="runType">
                    <f:selectItem itemValue="2" itemLabel="#{msg['title.run.type.manual.2']}" />
                    <f:selectItem itemValue="1" itemLabel="#{msg['title.run.type.manual.1']}" />
                </p:selectOneMenu>
            </p:outputPanel>

            <p:outputPanel rendered="#{(drawTopoStatusExecController.actionOfFlowId == null 
                                                               or drawTopoStatusExecController.actionOfFlowId le 0)
                                                               and drawTopoStatusExecController.runType == 1}" 
                           class="ui-g" style="margin: 5px;">
                <p:selectOneMenu value="#{drawTopoStatusExecController.modeRun}" title="#{msg['title.run.type']}" style="width: 100%" id="runType1">
                    <f:selectItem itemValue="1" itemLabel="#{msg['title.run.type.auto.1']}" />
                    <f:selectItem itemValue="2" itemLabel="#{msg['title.run.type.auto.2']}" />
                </p:selectOneMenu>
            </p:outputPanel>

            <p:outputPanel class="ui-g" style="margin: 5px;">
                <p:selectOneMenu value="#{drawTopoStatusExecController.runningType}"
                                 title="#{msg['title.running.type']}" style="width: 100%" id="runningType">
                    <f:selectItem itemValue="2" itemLabel="#{msg['title.running.type.2']}" />
                    <f:selectItem itemValue="1" itemLabel="#{msg['title.running.type.1']}" />
                </p:selectOneMenu>
            </p:outputPanel>
        </p:outputPanel>

        <div style="text-align: center;margin-left: auto;margin-right: auto;display: block;bottom: 10px">
            <p:commandButton actionListener="#{drawTopoStatusExecController.onSaveAccountNode}"
                             disabled="#{!sessionUtil.execute}"       onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()"
                             value="#{msg['button.confirm']}" update="topoForm:mainMessage formShowLog"/>
            <p:commandButton value="#{msg['button.cancel']}" onclick="PF('dlgAcountInfo').hide()"/>
        </div>
    </p:dialog>
</h:form>

<h:form id="formShowLog">
    <p:dialog id="dlgShowLogAction" widgetVar="dlgShowLogAction"
              modal="true" resizable="false"
              header="#{msg['label.header.action.logdetail']} 
						#{drawTopoStatusExecController.selectedActionFlow.action.name}"
              width="90%" style="top: 50px; bottom: 30px; overflow: auto">
        <p:ajax event="open" update="panelShowLogAction"></p:ajax>
        <h:panelGroup id="panelShowLogAction"  >
            <p:tabView  style="width:100%" id="tabShowLogAction" activeIndex="#{drawTopoStatusExecController.activeIndex}">
                <p:ajax event="tabChange" update="@parent"></p:ajax>
                <p:tab title="#{msg['label.run.type.auto']}" id="tabAuto" >
                    <p:commandButton value="#{msg['button.label.refresh']}" update="tabResultAuto"
                                     actionListener="#{drawTopoStatusExecController.showLogActionAuto(drawTopoStatusExecController.selectedActionFlow.stepNum)}"
                                     onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()" style="padding: 3px;" />
                    <p:tabView id="tabResultAuto" scrollable="true" style="width: 100%" dynamic="true"
                               rendered="#{drawTopoStatusExecController.mapLogCommand.size() > 0}">
                                     <!--<p:ajax event="tabChange" update="@parent"></p:ajax>-->
                        <c:forEach items="#{drawTopoStatusExecController.mapLogCommand}" var="actionLog"  varStatus="loop">                       		
                            <!--20171031_hienhv4_them mau sac cho node chay loi tren topo_start-->
                            <p:tab title="#{actionLog.key}" titleStyleClass="#{(actionLog.value.status == 1 ) ? 'node-exec-success' : 'node-exec-fail'}" id="log-tab-view-#{loop.index}">        		
                            <!--20171031_hienhv4_them mau sac cho node chay loi tren topo_end-->
                                <p:dataTable value="#{actionLog.value.lstLogCmd}" rowIndexVar="idx"
                                             var="cmdLog" editable="true" lazy="false"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                             paginatorPosition="bottom" paginator="true" rows="10"
                                             rowsPerPageTemplate="5,10,15">

                                    <p:column headerText="#{msg['datatable.header.stt']}"
                                              style="width : 5%; text-align: center">
                                        <h:outputText value="#{idx + 1}" />
                                    </p:column>

                                    <p:column headerText="#{msg['label.cmd']}"
                                              style="width: 20%">
                                        <h:outputText value="#{cmdLog.cmdRun}" />
                                    </p:column>

                                    <p:column width="10%" style="text-align: center" headerText="#{msg['label.check.command.resultFinal']}">
                                        <h:outputText value="#{cmdLog.resultFinal}" />
                                    </p:column>

                                    <p:column headerText="#{msg['label.check.command.result']}">
                                        <h:outputText value="#{cmdLog.result}" />
                                    </p:column>

                                    <p:column style="width: 15%" headerText="#{msg['label.finishTime']}">
                                        <h:outputText value="#{cmdLog.finishTime}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </p:column>

                                    <p:column
                                        headerText="#{msg['label.check.command.resultDetail']}"
                                        style="width: 10%; text-align: center">
                                        <p:commandButton icon="fa fa-fw fa-edit" process="@this"
                                                         update="formLogDetail"
                                                         oncomplete="PF('dlgCmdLogDetail').show()"
                                                         actionListener="#{drawTopoStatusExecController.prepareShowCmdLog(cmdLog)}">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </c:forEach>
                    </p:tabView>
                    <h:outputText
                        rendered="#{drawTopoStatusExecController.mapLogCommand.size() == 0}"
                        value="#{msg['datatable.empty']}"
                        style="font-weight: bold; text-align: center;" />
                    <div style="text-align: center;margin-top: 25px;margin-bottom: 10px">
                        <h:outputText
                            rendered="#{drawTopoStatusExecController.selectedActionFlow.actionType == 1 and (drawTopoStatusExecController.selectedFlowRunAction.status == 2)}"
                            value="#{msg['title.confirm.action.manual']}"
                            style="font-weight: bold; text-align: center" />
                    </div>
                    <div style="text-align: center;">
                        <p:commandButton value="#{msg['title.confirm.action.manual.continue']}"
                                         rendered="#{drawTopoStatusExecController.selectedActionFlow.actionType == 1 and (drawTopoStatusExecController.selectedFlowRunAction.status == 2 or drawTopoStatusExecController.selectedFlowRunAction.status == 10)}"
                                         actionListener="#{drawTopoStatusExecController.ClickContinueActionManual(1)}"
                                         style="padding: 3px;width: 125px" />
                        <p:commandButton value="#{msg['title.confirm.action.manual.cancel']}"
                                         rendered="#{drawTopoStatusExecController.selectedActionFlow.actionType == 1 and (drawTopoStatusExecController.selectedFlowRunAction.status == 2 or drawTopoStatusExecController.selectedFlowRunAction.status == 10)}"
                                         actionListener="#{drawTopoStatusExecController.ClickContinueActionManual(0)}"
                                         style="padding: 3px;width: 125px" />
                        <p:commandButton value="#{msg['title.confirm.action.manual.stop']}"
                                         rendered="#{drawTopoStatusExecController.selectedActionFlow.actionType == 1 and (drawTopoStatusExecController.selectedFlowRunAction.status == 2 or drawTopoStatusExecController.selectedFlowRunAction.status == 10)}"
                                         oncomplete ="PF('dlgShowLogAction').hide()"
                                         style="padding: 3px;width: 125px" />
                    </div>
                </p:tab>
                <p:tab title="#{msg['label.run.type.manual']}" id="tabManual">

                    <p:dataTable value="#{drawTopoStatusExecController.lstFlowRunLog}" rowIndexVar="idx" rowKey="#{flowRunLog.flowRunLogId}"
                                 var="flowRunLog" editable="true" lazy="true" selectionMode="single"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 paginatorPosition="bottom" paginator="true" rows="10" id="flowRunLogTable" selection="#{drawTopoStatusExecController.selectedFlowRunLog}"
                                 rowsPerPageTemplate="5,10,15">
                        <p:ajax event="rowSelect" listener="#{drawTopoStatusExecController.getLogActionManual}" update="formShowLog:tabShowLogAction:viewLogActionManual" />
                        <f:facet name="header">
                            <p:commandButton value="#{msg['button.label.refresh']}" update="flowRunLogTable @parent:@parent:viewLogActionManual"
                                             actionListener="#{drawTopoStatusExecController.showLogManual()}"
                                             onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()" style="padding: 3px;" />
                        </f:facet>
                        <p:column headerText="#{msg['datatable.header.stt']}"
                                  style="width : 5%; text-align: center">
                            <h:outputText value="#{idx + 1}" />
                        </p:column>

                        <p:column headerText="#{msg['datatable.header.executeby']}">
                            <h:outputText value="#{flowRunLog.username}" />
                        </p:column>

                        <p:column headerText="#{msg['datatable.header.time.create']}" style="text-align: center">
                            <h:outputText value="#{flowRunLog.createTime}">
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="#{msg['label.finishTime']}" style="text-align: center">
                            <h:outputText value="#{flowRunLog.finishTime}">
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>

                        <p:column style="width:60px;text-align: center; " exportable="false" headerText="#{msg['datatable.header.action']}" >
                            <p:commandButton class="cd-btn-table" style="color: #00aeef" title="#{msg['button.downoad.log']}"
                                             icon="fa fa-download" ajax="false">
                                <p:fileDownload value="#{drawTopoStatusExecController.onExportManualLog(flowRunLog)}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                    <br/>
                    <p:tabView id="viewLogActionManual" scrollable="true">
                        <c:forEach items="#{drawTopoStatusExecController.mapLogCommandManual}"
                                   var="actionLog" >
                            <p:tab title="#{actionLog.key}">
                                <p:dataTable value="#{actionLog.value}" rowIndexVar="idx"
                                             var="cmdLog" editable="true" lazy="false"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                             paginatorPosition="bottom" paginator="true" rows="10"
                                             rowsPerPageTemplate="5,10,15">

                                    <p:column headerText="#{msg['datatable.header.stt']}"
                                              style="width : 5%; text-align: center">
                                        <h:outputText value="#{idx + 1}" />
                                    </p:column>

                                    <p:column headerText="#{msg['label.action.name']}"
                                              style="width: 20%">
                                        <h:outputText value="#{cmdLog.actionName}" />
                                    </p:column>

                                    <p:column headerText="#{msg['label.cmd']}"
                                              style="width: 20%">
                                        <h:outputText value="#{cmdLog.cmdRun}" />
                                    </p:column>

                                    <p:column width="10%" style="text-align: center" headerText="#{msg['label.check.command.resultFinal']}">
                                        <h:outputText value="#{cmdLog.resultFinal}" />
                                    </p:column>

                                    <p:column headerText="#{msg['label.check.command.result']}">
                                        <h:outputText value="#{cmdLog.result}" />
                                    </p:column>

                                    <p:column style="width: 15%" headerText="#{msg['label.finishTime']}">
                                        <h:outputText value="#{cmdLog.finishTime}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </p:column>

                                    <p:column
                                        headerText="#{msg['label.check.command.resultDetail']}"
                                        style="width: 10%; text-align: center">
                                        <p:commandButton icon="fa fa-fw fa-edit" process="@this"
                                                         update="formLogDetail"
                                                         oncomplete="PF('dlgCmdLogDetail').show()"
                                                         actionListener="#{drawTopoStatusExecController.prepareShowCmdLog(cmdLog)}">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </c:forEach>
                    </p:tabView>
                </p:tab>
            </p:tabView>
        </h:panelGroup>
    </p:dialog>


</h:form>

<p:dialog modal="true" class="transparent-dialog" showHeader="false" 
          widgetVar="block" draggable="false" closable="false" resizable="false" >
    <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
        <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
        <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
    </span>
</p:dialog>

<p:confirmDialog global="true" header="#{msg['label.diagram.element.pause']}" 
                 id="pauseDTConfirm"
                 showEffect="face" hideEffect="scale" widgetVar="pauseDTConfirm">
    <f:facet name="message">
        <h:outputText value="#{msg['label.diagram.element.pause']}"/>
        <p:spacer width="100%" height="1px"></p:spacer>
        <h:outputText style="color: black; font-weight: bold;" value="#{msg['datatable.header.name.flowrunaction']}"/>
        <h:outputText value=": "/>
        <h:outputText style="color: black" value="#{drawTopoStatusExecController.selectedFlowRunAction.flowRunName}"/>
    </f:facet>

    <p:commandButton value="Yes" update="topoForm:mainMessage, topoForm:buttonPanel" process="@this"  oncomplete="PF('pauseDTConfirm').hide();PF('block').hide()"
                     title="#{msg['label.diagram.element.pause']}"
                     onstart="PF('block').show()" 
                     actionListener="#{drawTopoStatusExecController.onClickPauseDT()}"
                     styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no AquaButton" onclick="PF('pauseDTConfirm').hide()"
                     icon="ui-icon-close fa fa-close Fs14 White" />
</p:confirmDialog>

<h:form id="formLogDetail">

    <p:dialog width="60%" modal="true" height="400px" widgetVar="dlgCmdLogDetail"
              id="dlgCmdLogDetail" resizable="false"
              header="#{msg['label.check.command.resultDetail']}: #{drawTopoStatusExecController.selectedLogCommand.cmdRun}">
        <p:inputTextarea style="margin-top: 10px; width: 98%" rows="20"
                         value="#{drawTopoStatusExecController.selectedLogCommand.resultDetail}"
                         autoResize="true" readonly="true" />
    </p:dialog>
</h:form>

		<script type="text/javascript">
			$(document).ready(function() {
				var currentTabID = "tab-2";
				var currentIconID = "10";
				ChangeTab(currentTabID);
			});

			function scrollDiagram(xhr, status, args) {
				try {
					var indexScroll = args.idElementToScroll;
					if (indexScroll !== null) {
						var diagram = $("#topoForm\\:tabInputNode\\:topoFlowRunDiagram-"
								+ indexScroll);
						if (diagram !== null) {
							var top = diagram.offset().top
									+ $(".ui-diagram-element").css('height');
							$("#topoForm\\:tabInputNode\\:topoFlowRunDiagram").scrollTop(top.replace("px", ""));
						}
					}
				} catch (e) {

				}
			};
			function resizeDlgTopo(){
				//var h = $('#topoForm\\:tabInputNode\\:topoFlowRunDiagram-').css('height')
				//var a = window.innerHeight;
				//$('#showTopo').css('height',h);
				$('#topoForm\\:tabInputNode\\:topoFlowRunDiagram').css('height',window.innerHeight - 220);
			}
		</script>

		<style type="text/css">
.ui-diagram-element {
	width: 14em;
	height: 4em;
	line-height: 1.8em;
	text-align: center;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	border: 1px solid transparent;
	background-color: #98AFC7;
	color: #ffffff;
}

.ui-diagram-btn {
	width: 14em;
	height: 4em;
	line-height: 1.8em;
	color: #ffffff;
}

.ui-diagram-start {
	background-color: #778899;
	color: #ffffff;
}

.ui-diagram-start a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-end {
	background-color: #778899;
	color: #ffffff;
}

.ui-diagram-end a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-default {
	background-color: #C0C0C0;
	color: #ffffff;
}

.ui-diagram-default a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-success {
	background-color: #008000;
	color: #ffffff;
}

.ui-diagram-success a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-running {
	background-color: #ADFF2F;
	color: #ffffff;
}

.ui-diagram-running a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-fail {
	background-color: #C34A2C;
	color: #ffffff;
}

.ui-diagram-fail a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-rollback-default {
	background-color: #b0719c;
	color: #ffffff;
}
.ui-diagram-action-manual {
	background-color: #00aeef;
	color: #ffffff;
}
.ui-diagram-action-manual a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-rollback-default a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-rollback-success {
	background-color: #40E0D0;
	color: #ffffff;
}

.ui-diagram-rollback-success a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-rollback-running {
	background-color: #FFD700;
	color: #ffffff;
}

.ui-diagram-rollback-running a {
	color: black !important;
	text-decoration: none;
}

.ui-diagram-rollback-fail {
	background-color: #FF00FF;
	color: #ffffff;
}

.ui-diagram-rollback-fail a {
	color: black !important;
	text-decoration: none;
}

.flow-label-ok {
	font-size: 14px;
	font-weight: bold;
	color: #127C12;
}
.flow-label-nok {
	font-size: 14px;
	font-weight: bold;
	color: #816A51;
}
.signer{
	display: none;
}
.ui-diagram-running .signer{
	display: inline;
}

.ui-diagram-rollback-running .signer{
	display: inline;
}
#topoForm\:tabInputNode\:topoFlowRunDiagram{
	//height: calc(100% - 100px) !important;
}
.ui-diagram-element span{
	text-decoration: none;
	opacity: 1!important;
}
.ui-tabs-top .ui-tabs-nav li.node-exec-fail a{
	color :red !important;
}

.ui-tabs-top .ui-tabs-nav li.node-exec-success a{
	color :blue !important;
}

</style>

	<!--</ui:define>-->
</ui:composition>