<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core" 
    xmlns:p="http://primefaces.org/ui">


    <div class="Container100" id="layout-footer" style="padding: 10px 0px 0px 0px">
        <div class="Card">

            <!-- FOOTER  -->
            <div class="Container100 NoIndent" style="border-bottom:dashed 1px #ccc;" id="footerlinks">
                <h:graphicImage name="images/logo.svg" styleClass="Fleft" library="olympos-layout" style="height:20px;"/>

                <div class="DispInlBlock Fright" style="display: none;">
                    <a href="#layout-footer" class="Leaden Fs22"><i class="fa fa-facebook-square"></i></a>
                    <a href="#layout-footer" class="Leaden Fs22"><i class="fa fa-twitter-square"></i></a>
                    <a href="#layout-footer" class="Leaden Fs22"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#layout-footer" class="Leaden Fs22"><i class="fa fa-google-plus-square"></i></a>
                </div>

                <div class="EmptyBox10"></div>
            </div>

            <div class="EmptyBox10"></div>

            <div class="Container50 NoIndent Responsive100">
            	<h:form id="flang1" style="display: none;">
					 <p:selectOneButton id="lang1" value="#{language.localeCode}" valueChangeListener="#{language.countryLocaleCodeChanged}" 
					 	onchange="submit();" 	styleClass="button-lang" >
					 	<c:forEach items="#{language.countries}" var="l">
					 		<f:selectItem itemValue="#{l}" itemLabel="#{l}"/>
					 	</c:forEach>
					 	
			        </p:selectOneButton>
				</h:form>
                <div class="Container100 NoIndent" style="display: none;">
                    <a href="#" class="DispInlBlock FontLatoRegular Blue Fs12 Fleft HoverEffect">TERMS OF CONDITIONS</a>
                    <span class="Fleft Black Fs12" style="padding:0px 5px;">|</span>
                    <a href="#" class="DispInlBlock FontLatoRegular Blue Fs12 Fleft HoverEffect">SITEMAP</a>
                    <span class="Fleft Black Fs12" style="padding:0px 5px;">|</span>
                    <a href="#" class="DispInlBlock FontLatoRegular Blue Fs12 Fleft HoverEffect">PRIVACY</a>
                    <span class="Fleft Black Fs12" style="padding:0px 5px;">|</span>
                    <a href="#" class="DispInlBlock FontLatoRegular Blue Fs12 Fleft HoverEffect">LINKING POLICY</a>
                </div>
            </div>

            <div class="EmptyBox10 ShowOnMobile"></div>

            <div class="Container100 NoIndent Responsive100">
                <span class="DispBlock FontLatoRegular Black Fs12 HoverEffect TexAlRight FloatNoneOnMobile">Software Development – VTNet</span>
                <div class="EmptyBox10"></div>
                <span class="DispBlock FontLatoRegular Black Fs12 HoverEffect TexAlRight"> <i class="icon-services1">841649589492</i>  <br/> vtnet_pcntt@viettel.com.vn</span>
            </div>

        </div>
    </div>
	<script type="text/javascript">
		var currentTabID = "";
		var currentIconID = "";
		$(document).ready(function() {
			
		});		
		function submit(){
			$('#flang1').submit();
			window.location.reload();
		}
	</script>
</ui:composition>
