<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:po="http://primefaces.org/olympos">

    <h:form id="menuformsub">
        <po:menu>
            <p:submenu id="rescue_dashboards_sub" style="background-color: transparent !important">
                <p:menuitem url="#{facesContext.externalContext.request.contextPath}/rescue"
                            rendered="#{sessionUtil.getUrlDisplay('/rescue')}">
                    <i class="fa fa-bolt"></i>
                    <span class="layout-tab-menu-link-text"></span>
                </p:menuitem>
            </p:submenu>
        </po:menu>
    </h:form>

    <ul class="layout-tab-submenu" id="layout-rescue_sub">
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/rescue')}"
                value="#{facesContext.externalContext.request.contextPath}/rescue">
            <i class="fa fa-medkit"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.rescue']}</span>
        </h:outputLink>
        </li>
    </ul>

    <ul class="layout-tab-submenu" id="layout_station_dt_acess_group">
        <li><h:outputLink

                value="#{facesContext.externalContext.request.contextPath}/station">
            <i class="fa fa-podcast"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['label.station.proficient.type0']}</span>
        </h:outputLink></li>
        <li><h:outputLink

                value="#{facesContext.externalContext.request.contextPath}/station">
            <i class="fa fa-podcast"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['label.station.proficient.type1']}</span>
        </h:outputLink></li>
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/station')}"
                value="#{facesContext.externalContext.request.contextPath}/station">
            <i class="fa fa-podcast"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['label.station.proficient.type2']}</span>
        </h:outputLink></li>
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/station')}"
                value="#{facesContext.externalContext.request.contextPath}/station">
            <i class="fa fa-podcast"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['label.station.proficient.type3']}</span>
        </h:outputLink></li>
    </ul>
    <ul class="layout-tab-submenu" id="layout_station_dt_optimal_group">
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/change-param')}"
                value="#{facesContext.externalContext.request.contextPath}/change-param">
            <i class="fa fa-pencil-square-o"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['label.change.param']}</span>
        </h:outputLink></li>
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/change-hr')}"
                value="#{facesContext.externalContext.request.contextPath}/change-hr">
            <i class="fa fa-share-square-o"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['label.change.hr']}</span>
        </h:outputLink></li>
    </ul>
    <ul class="layout-tab-submenu" id="layout_station_dt_core_group">

    </ul>
    <ul class="layout-tab-submenu" id="layout_station_dt_fix_error_group">

    </ul>


</ui:composition>