<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/olympos">
    <po:menu widgetVar="OlymposMenu" />
    <h:form id="menuform">
        <po:menu>
            <p:submenu id="rescue_dashboards" style="background-color: transparent !important">
                <p:menuitem url="#{facesContext.externalContext.request.contextPath}/rescue"
                            rendered="#{sessionUtil.getUrlDisplay('/rescue')}">
                    <i class="fa fa-bolt"></i>
                    <span class="layout-tab-menu-link-text"></span>
                </p:menuitem>
            </p:submenu>
        </po:menu>
    </h:form>

    <ul class="layout-tab-submenu" id="layout-rescue">
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/rescue')}"
                value="#{facesContext.externalContext.request.contextPath}/rescue">
                <i class="fa fa-medkit"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.rescue']}</span>
            </h:outputLink>
        </li>
    </ul>

    <ul class="layout-tab-submenu" id="layout-station">
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/station')}"
                value="#{facesContext.externalContext.request.contextPath}/station"
                id="layout_station_dt_acess" rel="layout_station_dt_acess_group">
                <i class="fa fa-podcast"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.tittle.station.dt.acess']}</span>
            </h:outputLink></li>
        <ui:remove>
            <li><h:outputLink onclick="return false;" style="cursor:default"
                              rendered="#{sessionUtil.getUrlDisplay('/station')}"
                              id="layout_station_dt_core" rel="layout_station_dt_core_group">
                    <i class="fa fa-podcast"></i>
                    <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.tittle.station.dt.core']}</span>
                </h:outputLink></li>
            <li><h:outputLink onclick="return false;" style="cursor:default"
                              rendered="#{sessionUtil.getUrlDisplay('/station')}"
                              id="layout_station_dt_fix_error" rel="layout_station_dt_fix_error_group">
                    <i class="fa fa-podcast"></i>
                    <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.station.dt.fix.error']}</span>
                </h:outputLink></li>
        </ui:remove>

        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/change-param')}"
                value="#{facesContext.externalContext.request.contextPath}/change-param"
                id="layout_station_dt_optimal" rel="layout_station_dt_optimal_group">
                <i class="fa fa-podcast"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['label.change.param']}</span>
            </h:outputLink></li>
        <li><h:outputLink
                rendered="#{sessionUtil.getUrlDisplay('/change-hr')}"
                value="#{facesContext.externalContext.request.contextPath}/change-hr"
                id="layout_station_dt_optimal_1" rel="layout_station_dt_optimal_group">
                <i class="fa fa-podcast"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['label.change.hr']}</span>
            </h:outputLink></li>

    </ul>
    <ul id="layout-menu-config-other" class="layout-tab-submenu" style="height: auto;">
        <li role="menuitem"><a href="#" class="menulink"> <span> #{msg['menu.group.title.config.other']} </span></a>
            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab2-2" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/database/node"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')" rendered="#{sessionUtil.getUrlDisplay('/database/node')}">
                        <i class="fa fa-database"/><span>#{msg['menu.title.database.node']}</span>
                    </h:outputLink>
                </li></ul>
            
            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab2-3" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/database/service-mapping"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')" rendered="#{sessionUtil.getUrlDisplay('/database/service-mapping')}">
                        <i class="fa fa-table"/><span>#{msg['menu.title.database.service']}</span>
                    </h:outputLink>
                </li></ul>

            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab2-4" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/database/user-country"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')" rendered="#{sessionUtil.getUrlDisplay('/database/user-country')}">
                        <i class="fa fa-database"/><span>#{msg['menu.title.database.user.country']}</span>
                    </h:outputLink>
                </li></ul>
            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab2-5" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/database/process"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')"
                                  rendered="#{sessionUtil.getUrlDisplay('/database/process') and sessionUtil.checkUserAdmin()}">
                        <i class="fa fa-database"/><span>#{msg['menu.title.database.process']}</span>
                    </h:outputLink>
                </li></ul>
            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab2-6" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/database/console"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')"
                                  rendered="#{sessionUtil.getUrlDisplay('/database/console') and sessionUtil.checkUserAdmin()}">
                        <i class="fa fa-database"/><span>#{msg['menu.title.database.console']}</span>
                    </h:outputLink>
                </li></ul>
            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab2-7" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/database/logs"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')"
                                  rendered="#{sessionUtil.getUrlDisplay('/database/logs') and sessionUtil.checkUserAdmin()}">
                        <i class="fa fa-file-text-o"/><span>Logs</span>
                    </h:outputLink>
                </li></ul>
        </li>
    </ul>
    
    <ul id="layout-adm" class="layout-tab-submenu" style="height: auto;">
        <li role="menuitem"><a href="#" class="menulink"> <span> #{msg['menu.manager.adm']} </span></a>
            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab3-2" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/adm/admViewFunc"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')" rendered="#{sessionUtil.getUrlDisplay('/adm/admViewFunc')}">
                        <i class="fa fa-database"/><span>#{msg['label.adm.admViewFunc']}</span>
                    </h:outputLink>
                </li></ul>

            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab3-4" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/adm/admFunc"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')" rendered="#{sessionUtil.getUrlDisplay('/adm/admFunc')}">
                        <i class="fa fa-database"/><span>#{msg['label.adm.admFunc']}</span>
                    </h:outputLink>
                </li></ul>
            <ul role="menu"><li  role="menuitem">
                    <h:outputLink id="tab3-5" styleClass="menulink MenuLink" value="#{facesContext.externalContext.request.contextPath}/adm/admDatabase"
                                  onclick="PF('OlymposMenu').changeBodyClass('SlimMenu')"
                                  rendered="#{sessionUtil.getUrlDisplay('/adm/admDatabase')}">
                        <i class="fa fa-database"/><span>#{msg['label.adm.database']}</span>
                    </h:outputLink>
                </li></ul>
        </li>
    </ul>
    
    <ui:include src="/layout/olympos/layoutmenusub.xhtml"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#layout-station").children().each(function () {
                if ($(this).children().length === 0)
                    $(this).css('display', 'none');
            });
        });
    </script>

</ui:composition>