<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/olympos">

    <ul id="layout-tab-menu">
        <li><h:outputLink rendered="#{sessionUtil.getUrlDisplay('/station')}"
                          id="tab-7" rel="layout-station"
                          value="#"
                          onclick="PF('OlymposMenu').changeBodyClass('');return false;">
            <i class="fa fa-podcast"></i>
        </h:outputLink></li>
        <li><h:outputLink  rendered="#{sessionUtil.getUrlDisplay('/rescue')}" value="#{facesContext.externalContext.request.contextPath}/rescue" id="tab-5" rel="layout-menu">
            <i class="fa fa-medkit"></i>
            <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.rescue']}</span>
            </h:outputLink></li>
        <li><h:outputLink rendered="#{sessionUtil.getUrlDisplay('/execute')}" value="#{facesContext.externalContext.request.contextPath}/execute" id="tab-2" rel="layout-menu">
                <i class="fa fa-bolt"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.execute']}</span>
            </h:outputLink></li>
        <li><h:outputLink rendered="#{sessionUtil.getUrlDisplay('/mop')}" value="#{facesContext.externalContext.request.contextPath}/mop" id="tab-4" rel="layout-menu">
                <i class="fa fa-gavel"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.mop']}</span>
            </h:outputLink></li>	

        <li><h:outputLink rendered="#{sessionUtil.getUrlDisplay('/action')}" value="#{facesContext.externalContext.request.contextPath}/action" id="tab-1" rel="layout-menu">
                <i class="fa fa-tasks"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.action']}</span>
            </h:outputLink></li>
        <li><h:outputLink rendered="#{sessionUtil.getUrlDisplay('/command')}" value="#{facesContext.externalContext.request.contextPath}/command" id="tab-3"
                          rel="layout-menu">
                <i class="fa fa-terminal"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['menu.title.command']}</span>
            </h:outputLink></li>
<!--        <li><h:outputLink value="#{facesContext.externalContext.request.contextPath}/database" id="tab-6"
                          rel="layout-menu">
                <i class="fa fa-database"></i>
                <span class="layout-tab-menu-link-text"><span></span>#{msg['label.node.header']}</span>
            </h:outputLink></li>-->
        
        <li><h:outputLink  value="#" id="group-tab-2" rel="layout-menu-config-other"
                           onclick="PF('OlymposMenu').changeBodyClass('');return false;">
            <i class="icon-music236"></i>
        </h:outputLink>
        </li>
        
        <li><h:outputLink  value="#" id="group-tab-3" rel="layout-adm"
                           onclick="PF('OlymposMenu').changeBodyClass('');return false;">
                <i class="fa fa-file"></i>
            </h:outputLink>
        </li>

        <li><h:outputLink  value="#" rel="layout-menu-support" id="menu-support" onclick="PF('OlymposMenu').changeBodyClass('');return false;">
                <i class="icon-services1"></i>
            </h:outputLink>
        </li>
        <!--<li><h:outputLink href="#" rel="layout-messages" id="Notifications"-->
                          <!--onclick="PF('OlymposMenu').changeBodyClass('');return false;">-->
                <!--<i class="icon-chat66"></i> <span class="layout-tab-menu-link-text"><span></span> Notifications</span>-->
            <!--</h:outputLink>-->
        <!--</li>-->
    </ul>
    
    <ui:include src="/layout/olympos/layoutmenu.xhtml"/>
    <ui:include src="othertabsubmenus.xhtml"/>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#layout-tab-menu").children().each(function () {
                if ($(this).children().length === 0)
                    $(this).css('display', 'none');
            });
        });
    </script>
    <style type="text/css">
        #layout-tab-menu i{
            width: 100%;
        }
    </style>
</ui:composition>