<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:my="http://vipa.viettel.vn"
    xmlns:po="http://primefaces.org/olympos">

    <ul class="layout-tab-submenu" id="layout-messages">
        <li>
            <a>MESSAGES</a>
            <ul>
                <c:forEach var="n" items="#{notificationBean.notifications}">
                    <div class="EmptyBox10"></div>

                    <li><a href="#" class="menulink"> <i class="icon-bell60 Red"></i>
                        <span class="Fs10 DispBlock"><h:outputText value="#{n[0]}">
                            <my:convertDateTime pattern2="dd/MM/yyyy HH:mm"/>
                        </h:outputText></span>
                            <div class="EmptyBox5"></div>
                            <span class="DispBlock Blue Fs14 FontLatoRegular">#{n[1]}</span>
                            <span class="DispBlock FontLatoLight">#{n[2]}</span>
                        </a></li>
                </c:forEach>
            </ul>
        </li>
    </ul>

    <ul class="layout-tab-submenu" id="layout-menu-support">
        <li>
            <a>#{msg['menu.group.title.support.list']}</a>
            <ul>
                <div class="EmptyBox10"></div>
                <li><a href="#" class="menulink OvHidden">
                    <h:graphicImage name="images/supporters/Nguyennt10.jpg" styleClass="Fleft" library="olympos-layout"
                                    style="width: 60px; border-radius: 50%"/>
                        <span class="Fleft DispInlBlock">
                            <span class="DispBlock Fs14 FontLatoBold">Nguyễn Thế Nguyên</span>
                            <span class="DispBlock FontLatoLight Fs12">Nghiệp vụ di động</span>
                            <span class="Fs16 DispBlock FontLatoLight">+84 1693 441 393</span>
                            <span class="DispBlock FontLatoLight Fs12">nguyennt10@viettel.com.vn</span>
                        </span>
                    </a></li>
                <div class="EmptyBox10"></div>
                <li><a href="#" class="menulink OvHidden">
                    <h:graphicImage name="images/supporters/Quytv7.jpg" styleClass="Fleft" library="olympos-layout"
                                    style="width: 50px; border-radius: 50%"/>
                        <span class="Fleft DispInlBlock" style="margin-left: 5px">
                            <span class="DispBlock Fs14 FontLatoBold">Trần Văn Quý</span>
                            <span class="DispBlock FontLatoLight Fs12">Phần mềm</span>
                            <span class="Fs16 DispBlock FontLatoLight">+84 1667 297 336</span>
                            <span class="DispBlock FontLatoLight Fs12">quytv7@viettel.com.vn</span>
                        </span>
                    </a></li>
                <div class="EmptyBox10"></div>
                <li><a href="#" class="menulink OvHidden">
                    <h:graphicImage name="images/supporters/hienhv4.jpg" styleClass="Fleft" library="olympos-layout"
                                    style="width: 50px; border-radius: 50%"/>
                        <span class="Fleft DispInlBlock">
                            <span class="DispBlock Fs14 FontLatoBold">Hồ Văn Hiền</span>
                            <span class="DispBlock FontLatoLight Fs12">Phần mềm</span>
                            <span class="Fs16 DispBlock FontLatoLight">+84 984 797 563</span>
                            <span class="DispBlock FontLatoLight Fs12">hienhv4@viettel.com.vn</span>
                        </span>
                    </a></li>
                <div class="EmptyBox10"></div>
            </ul>
        </li>
    </ul>

</ui:composition>