<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
	
	<f:view locale="#{language.localeCode}" />
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>#{msg['page.title']}</title>
		<link rel="shortcut icon" type="image/png" href="#{facesContext.externalContext.request.contextPath}/resources/olympos-layout/images/favicon.png"/>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <h:outputScript name="js/nanoscroller.js" library="olympos-layout" />
        <h:outputScript name="js/layout.js" library="olympos-layout" />
        <h:outputScript name="js/selectonemenu.js" library="olympos-layout" />

		<h:outputScript library="primefaces" name="jquery/jquery.js" />
		<h:outputScript name="jquery/jquery-plugins.js" library="primefaces"/>
		
		<h:outputScript name="layout.js" library="other"/>
        
        <ui:insert name="head"/>
        <style>
			.global{
				position: fixed;
				width: 100%;
				z-index: 1000;
				display: none;
			}
			.global.ui-messages .ui-messages-warn {
				background-color: #f1b263 !important;
				border-color: #f1b263 !important;
				color: #ffffff !important;
			}
			
			.global.ui-messages .ui-messages-warn .ui-messages-warn-icon {
				background: none !important;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-indent: 0px !important;
				text-align: center;
				font-size: 24px;
				margin-top: -2px;
			}
			
			.global.ui-messages .ui-messages-warn .ui-messages-warn-icon:before {
				content: "\f071";
			}
		</style>
    </h:head>
		
    <h:body styleClass="AquaTopbar SlimMenu">

        <ui:include src="topbar.xhtml" />

        <!-- LAYOUT CONTAINER -->

        <div id="layout-container">
            <div id="layout-container-row">

                <!-- LAYOUT MENU COVER -->
                <div id="layout-menu-cover" class="nano Animated03">
                    <div id="layout-menu-cover-scroll-content" class="nano-content">

                        <ui:include src="layouttabmenu.xhtml" />

                    </div>
                </div>

                <!-- PORTLETS COVER -->
                <div id="layout-portlets-cover">
                    
					
				<div class="global ui-messages ui-widget" aria-live="polite">
					<div class="ui-messages-warn ui-corner-all">
						<span class="ui-messages-warn-icon">
						</span>
						<ul>
							<li>
								<span class="ui-messages-warn-summary">Warning!</span>
								<span class="ui-messages-warn-detail">System will be upgraded at 4 PM - Nov 2, 2016. Please save your work and DO NOT use system in this time!</span>
							</li>
						</ul>
					</div>
				</div>
                    <ui:insert name="content">
                        Template
                    </ui:insert>

                    <ui:include src="footer.xhtml" />

                </div>

            </div>
        </div>

        <h:outputStylesheet name="css/core-layout.css" library="olympos-layout" />
        <h:outputStylesheet name="css/animate.css" library="olympos-layout" />
        <h:outputStylesheet name="css/nanoscroller.css" library="olympos-layout" />
        <h:outputStylesheet name="css/olympos-font.css" library="olympos-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="olympos-layout" />
        <h:outputStylesheet name="css/olympos-layout.css" library="olympos-layout" />
        <!--hienhv4_20160906_start-->
        <h:outputStylesheet name="css/main.css" library="other"/>
        <!--hienhv4_20160906_end-->
        <h:outputStylesheet name="css/new-input.css" library="other"/>
        
    </h:body>

</html>