<ui:composition

        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui">


    <!-- LAYOUT TOPBAR COVER -->
    <div id="layout-topbar-cover">
        <div id="layout-topbar-row">
            <div id="layout-topbar-left" class="gift-box">
                <a id="logo" href="#{facesContext.externalContext.request.contextPath}/home"><h:graphicImage
                        name="images/logo.png" id="logo" library="olympos-layout"/></a>
            </div>
            <div id="layout-topbar-right" class="layout-wrapper">

                <a id="menu-resize-btn" class="topbar-link Animated03 active"><h:graphicImage
                        name="images/menu-resize-btn-icon.svg" id="menu-resize-btn" library="olympos-layout"/></a>
                <a id="mobile-menu-btn" class="topbar-link Animated03"><h:graphicImage name="images/menu-btn-icon.svg"
                                                                                       id="menu-btn-icon"
                                                                                       library="olympos-layout"/></a>

                <span class="White Heading2">VMSA</span>
                <span class="White Heading3"
                      style="font-family: latoregular; font-size: 2.1rem; font-style: italic;">#{msg['page.title']}</span>

                <a id="user" style="font-weight: bold; color: white; font-size: 11.5px"
                   class="topbar-link Animated03 Fright">
                    <i class="icon-user7"></i><br/>
                    <span style="background: #1D4E53;border-radius: 9px;padding: 5px;">#{sessionScope['count_user']}</span>
                </a>
                <a id="" class="topbar-link Animated03 Fright" style="width: auto; min-width: 12em">
                    <SPAN style="padding: 15px 0px 5px 10px; font-weight: bold; color: white; text-align: right; line-height: 47.8px">
                        #{sessionScope['vsaUserToken']==null?'':sessionScope['vsaUserToken'].fullName}
                    </SPAN>
                </a>
                <a id="support" href="#" class="topbar-link Animated03 Fright topbar-items" style="display: none">
                    <i class="topbar-icon material-icons2 animated swing fa fa-fw fa-phone-square Fs25"
                       style="margin-top: 1.1rem"></i>
                    <span class="topbar-badge animated rubberBand">7</span>
                    <span class="topbar-item-name">Supporters</span>
                </a>
                <!--20170505_HaNV15_Add_Start-->
                <div class="Animated03 Fright" style="height:4.78rem; text-align: center;margin-left: 5px">
                    <h:form id="fCountry" styleClass="" style="height:4.78rem; margin-top: 7px;">
                        <p:selectOneMenu panelStyleClass="Animated03 Fright" id="country"
                                         value="#{language.countryCode}"
                                         widgetVar="countryMain"
                                         title="#{msg['view.tip.country']}" styleClass="button-lang">
                            <c:forEach items="#{language.listCountryCode}" var="l">
                                <f:selectItem itemValue="#{l}" itemLabel="#{language.getTimeZoneDisplay(l)}"/>
                            </c:forEach>
                            <p:ajax event="itemSelect" listener="#{language.countryCodeChanged2}" update="@all"
                                    onstart="PF('block').show()" oncomplete="PF('block').hide()"/>
                        </p:selectOneMenu>
                        <p:tooltip for="country" position="bottom"/>
                        <p:blockUI block="fCountry" widgetVar="block">
                            LOADING<br/>
                            <p:graphicImage
                                    value="/resources/olympos-layout/images/ajax-loader.gif"/>
                        </p:blockUI>
                    </h:form>
                </div>
                <!--20170505_HaNV15_Add_End-->
                <DIV class="Animated03 Fright" style="height:4.78rem; text-align: center;">
                    <h:form id="flang" styleClass="" style="height:4.78rem; margin-top: 7px;">
                        <p:selectOneMenu panelStyleClass="Animated03 Fright" id="lang" value="#{language.localeCode}"
                                         valueChangeListener="#{language.countryLocaleCodeChanged}"
                                         title="#{msg['view.tip.language']}"
                                         onchange="submit();" styleClass="button-lang">
                            <c:forEach items="#{language.countries}" var="l">
                                <f:selectItem itemValue="#{l}" itemLabel="#{language.getLocaleName(l)}"/>
                            </c:forEach>
                        </p:selectOneMenu>
                        <p:tooltip for="lang" position="bottom"/>
                    </h:form>
                </DIV>

                <div id="search-bar">

                </div>

            </div>
        </div>
    </div>
    <DIV class="info">
        <div class="fr" style="margin-right: 0px;">
            <h:form rendered="#{sessionScope['vsaUserToken'] != null}" styleClass="TexAlRight">
                <p:commandLink id="cmdLogout" actionListener="#{authService.doLogout}" style="text-decoration: unset;"
                               styleClass="fa fa-sign-out White Fs18 ElemCmd" value="Sign out">
                </p:commandLink>
            </h:form>
        </div>
    </DIV>
    <div class="support">
        <ul class="poseidon-menu fadeInDown">
            <li role="menuitem">
                <a href="mailto:thanhtv11@viettel.com.vn?Subject=[VIPA] Support" class="topbar-message">
                    <span class="Fs16 Orange">Điều hành chung</span>
                    <i class="fa fa-user-secret White Fs14" aria-hidden="true">
                        <span class="White">Phạm Anh Đức</span>
                    </i>
                    <i class="fa fa-briefcase White Fs14" aria-hidden="true">
                        <span class="White">PGD TTVHKTTC</span>
                    </i>
                    <i class="fa fa-mobile White Fs20" style="line-height: 14px" aria-hidden="true">
                        <span class="White Fs14" style="margin-left: 5px"> 0989 993 197</span>
                    </i>
                </a>
            </li>
            <li role="menuitem">
                <a href="mailto:dungnd18@viettel.com.vn?Subject=[VIPA] Support" class="topbar-message">
                    <span class="Fs16 Orange">Nghiệp vụ</span>
                    <i class="fa fa-user-secret White Fs14" aria-hidden="true">
                        <span class="White">Lưu Đức Phong</span>
                    </i>
                    <i class="fa fa-briefcase White Fs14" aria-hidden="true">
                        <span class="White">PCNTT</span>
                    </i>
                    <i class="fa fa-mobile White Fs20" style="line-height: 14px" aria-hidden="true">
                        <span class="White Fs14" style="margin-left: 5px"> 0982 588 803</span>
                    </i>
                </a>
            </li>
            <li role="menuitem">
                <a href="mailto:tannv16@viettel.com.vn?Subject=[VIPA] Support" class="topbar-message">
                    <span class="Fs16 Orange">Nghiệp vụ</span>
                    <i class="fa fa-user-secret White Fs14" aria-hidden="true">
                        <span class="White">Nguyễn Thế Nguyên</span>
                    </i>
                    <i class="fa fa-briefcase White Fs14" aria-hidden="true">
                        <span class="White">TTVHKTTC</span>
                    </i>
                    <i class="fa fa-mobile White Fs20" style="line-height: 14px" aria-hidden="true">
                        <span class="White Fs14" style="margin-left: 5px"> 0969 529 345</span>
                    </i>
                </a>
            </li>
            <li role="menuitem">
                <a href="mailto:hieunt9@viettel.com.vn?Subject=[VIPA] Support" class="topbar-message">
                    <span class="Fs16 Orange">Phần mềm</span>
                    <i class="fa fa-user-secret White Fs14" aria-hidden="true">
                        <span class="White">Nguyễn Trung Hiếu</span>
                    </i>
                    <i class="fa fa-briefcase White Fs14" style="width: 100%" aria-hidden="true">
                        <span class="White">TT.PTPM</span>
                    </i>
                    <i class="fa fa-mobile White Fs20" style="line-height: 14px;" aria-hidden="true">
                        <span class="White Fs14" style="margin-left: 5px"> 0986 680 024</span>
                    </i>
                </a>
            </li>
            <li role="menuitem">
                <a href="mailto:huynx6@viettel.com.vn?Subject=[VIPA] Support" class="topbar-message">
                    <span class="Fs16 Orange">Phần mềm</span>
                    <i class="fa fa-user-secret White Fs14" aria-hidden="true">
                        <span class="White">Trần Văn Quý</span>
                    </i>
                    <i class="fa fa-briefcase White Fs14" aria-hidden="true">
                        <span class="White">TT.PTPM</span>
                    </i>
                    <i class="fa fa-mobile White Fs20" style="line-height: 14px" aria-hidden="true">
                        <span class="White Fs14" style="margin-left: 5px"> 01649 589 492</span>
                    </i>
                </a>
            </li>
            <li role="menuitem">
                <a href="mailto:hienhv4@viettel.com.vn?Subject=[VIPA] Support" class="topbar-message">
                    <span class="Fs16 Orange" style="width: 100%">Phần mềm</span>
                    <i class="fa fa-user-secret White Fs14" style="width: 100%" aria-hidden="true">
                        <span class="White">Hồ Văn Hiền</span>
                    </i>
                    <i class="fa fa-briefcase White Fs14" style="width: 100%" aria-hidden="true">
                        <span class="White">TT.PTPM</span>
                    </i>
                    <i class="fa fa-mobile White Fs20" style="line-height: 14px" aria-hidden="true">
                        <span class="White Fs14" style="margin-left: 5px"> 0984 797 563</span>
                    </i>
                </a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#user").click(function () {
                var a = $("#layout-topbar-cover").height();
                $(".info").css('top', a);
                $(".info").toggle('slide', {
                    duration: 1000,
                    easing: 'easeOutBounce',
                    direction: 'up'
                });
            });
            $("#support").click(function () {
                var a = $("#layout-topbar-cover").height();
                $(".support").css('top', a);
                $(".support").toggle('slide', {
                    duration: 1000,
                    easing: 'easeOutBounce',
                    direction: 'up'
                });
            });

        });
        function submit2() {
            window.location = window.location;
            $('#flang').submit();
        }

    </script>
    <style type="text/css">
        #flang\:lang_label, #fCountry\:country_label {
            background-color: transparent !important;
            color: white !important;
        }

        #flang\:lang, #flang\:lang .ui-selectonemenu-trigger,
        #fCountry\:country, #fCountry\:country .ui-selectonemenu-trigger {
            background-color: transparent !important;
        }

        #flang\:lang, #fCountry\:country {
            min-width: 30px !important;
        / / width: 30 px !important;
        }

        .info {
            width: 215px;
            padding-top: 20px;
            padding-bottom: 20px;
            position: fixed;
            right: 0px;
            top: 48px;
            background: #027FAC;
            z-index: 1000;
            display: none;
        }

        #search-bar #formSearch\:search-btn {
            width: 3.8rem;
            height: 2.8rem;
            float: right;
            border-radius: 1.4rem;
            display: inline-block;
            text-align: center;
            margin: 0.9rem 0px 0px -3.8rem;
        }

        #search-bar #formSearch\:search-btn:hover, #search-bar #formSearch\:search-btn:focus {
            background-color: rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }

        #search-bar #formSearch\:search-btn i {
            font-size: 1.6rem;
            margin: 0.5rem 0px 0px 0px;
            display: inline-block;
            color: rgba(255, 255, 255, 0.8);
        }

        #formSearch\:search {
            display: inherit !important;
            position: inherit !important;
        }

        .ElemCmd:HOVER {
            background-color: #12706C;
        }

        .topbar-items {
            position: relative;
            display: block;
            color: #5f666c;
        }

        a .topbar-item-name {
            display: none;
        }

        a .topbar-badge {
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: #f87f33;
            color: #ffffff;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            padding: 2px 5px;
            display: block;
            font-size: 13px;
            line-height: 14px;
            font-weight: bold;
        }

        .topbar-items .topbar-icon {

            -moz-transition: color 0.3s;
            -o-transition: color 0.3s;
            -webkit-transition: color 0.3s;
            transition: color 0.3s;
        }

        .topbar-items .topbar-icon:hover {
            color: #00acac;
        }

        .layout-wrapper ul {
            position: absolute;
            top: 57px;
            right: 5px;
            display: none;
            width: 250px;
            background-color: #ffffff;
            -webkit-animation-duration: .5s;
            -moz-animation-duration: .5s;
            animation-duration: .5s;
            list-style-type: none;
            margin: 0;
            padding: 8px 0;
            -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
        }

        .layout-wrapper ul a {
            padding: 8px 16px;
            display: block;
            width: 100%;
            box-sizing: border-box;
            color: #5f666c;
        }

        .layout-wrapper .topbar-items > li > ul a .fa {
            margin-right: 8px;
        }

        .layout-wrapper .topbar-items > li > ul a:hover {
            background-color: #f0f3f5;
            -moz-transition: background-color 0.3s;
            -o-transition: background-color 0.3s;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
        }

        .layout-wrapper .topbar-items > li.active-top-menu > ul {
            display: block;
        }

        .layout-wrapper .topbar-items > li .topbar-message img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
        }

        .support {
            width: 215px;
            padding-top: 5px;
            padding-bottom: 20px;
            position: absolute;
            right: 215px;
            top: 48px;
            background: #027FAC;
            z-index: 100;
            display: none;
        }

        .support ul li {
            padding-bottom: 14px;
        }

        .gift-box {
            background-image: url("#{facesContext.externalContext.request.contextPath}/resources/other/images/bg-rooster.jpg");
            background-size: 35% auto;
            background-repeat: no-repeat;
            background-position: 100% 65%;
        }
    </style>
</ui:composition>
