<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
	template="/layout/olympos/template.xhtml">

	<ui:define name="content">
		<p:growl id="growl" showDetail="true" showSummary="false" />

		<div style="height: 500px;" id="canvas"/>	
		
		<script type="text/javascript">
			$(document).ready(function() {
				var currentTabID = "tab-1";
				var currentIconID = "10";
				ChangeTab(currentTabID);
			});
			window.LIMITED_SIZE = 1000000;
			/*
		    if (window.location.hostname != 'localhost') {
		        (function (i, s, o, g, r, a, m) {
		            i['GoogleAnalyticsObject'] = r;
		            i[r] = i[r] || function () {
		                (i[r].q = i[r].q || []).push(arguments)
		            }, i[r].l = 1 * new Date();
		            a = s.createElement(o),
		                    m = s.getElementsByTagName(o)[0];
		            a.async = 1;
		            a.src = g;
		            m.parentNode.insertBefore(a, m)
		        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		        ga('create', 'UA-48136854-1', 'qunee.com');
		        ga('send', 'pageview');
		    }
		    */
			
			var graph = new Q.Graph(canvas);
			var hello = graph.createNode("Hello", -100, -50);
			hello.image = Q.Graphs.server;
			var qunee = graph.createNode("Qunee", 100, 50);
			var edge = graph.createEdge("Hello\nQunee", hello, qunee);

			edge.setStyle(Q.Styles.LABEL_OFFSET_Y, -10);
			edge.setStyle(Q.Styles.LABEL_POSITION, Q.Position.CENTER_TOP);
			edge.setStyle(Q.Styles.LABEL_ANCHOR_POSITION, Q.Position.CENTER_BOTTOM);
			edge.setStyle(Q.Styles.LABEL_BORDER, 1);
			edge.setStyle(Q.Styles.LABEL_POINTER, true);
			edge.setStyle(Q.Styles.LABEL_PADDING, new Q.Insets(2, 5));
			edge.setStyle(Q.Styles.LABEL_BACKGROUND_GRADIENT, Q.Gradient.LINEAR_GRADIENT_VERTICAL);
		</script>
		<style type="text/css">
			 
		</style>
	</ui:define>
</ui:composition>