<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">
        <h:form id="form">
            <p:messages id="msg" showDetail="true" showSummary="false" closable="true" />
            <p:panelGrid columns="2" style="width:100%">
                <p:fieldset legend="Số line cuối" >
                    <p:inputNumber value="#{logScannerController.tailLine}" minValue="0" decimalPlaces="0" />
                </p:fieldset>


                <p:commandButton id="exe" value="View Log" onstart="PF('block').show()" oncomplete="PF('block').hide()"
                        actionListener="#{logScannerController.run}" update="@form"/>


            </p:panelGrid>

            <p:inputTextarea id="result" value="#{logScannerController.log}"
                             style="width:calc(100% - 20px);height: 1000px; font-family: Console; font-size: 12px;spellcheck:false; ">

            </p:inputTextarea>
            <p:commandButton  value="Stop poll" oncomplete="PF('poll').stop()" styleClass="RedButton White" icon="fa fa-stop"/>
            <p:commandButton value="Start poll" oncomplete="PF('poll').start()" styleClass="BlueButton White" icon="fa fa-play" />
            <p:poll update="result" interval="5" widgetVar="poll" autoStart="false"
                    oncomplete="$('html, body').animate({scrollTop : document.body.scrollHeight},0);"
                    listener="#{logScannerController.buildLog}"/>
        </h:form>

        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="block" draggable="false" closable="false" resizable="false">
	        	<span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;">
	        		<i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"></i>
				  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x"
                       style="color: #00AAFF; font-size: 3em;"></i>
				  	<i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
				</span>
        </p:dialog>

        <script type="text/javascript">
            $(document).ready(function() {
                ChangeTab("group-tab-2","tab2-7");
                $("#form\\:searchTreeId").bind("keypress", function(e) {
                    if (e.keyCode == 13) {
                        return false;
                    }
                });

            });
        </script>
        <style type="text/css">
        </style>
    </ui:define>
</ui:composition>