<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view locale="#{language.localeCode}" />
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>#{msg['page.title']}</title>
        <link rel="shortcut icon" type="image/png" href="#{facesContext.externalContext.request.contextPath}/resources/olympos-layout/images/favicon.png"/>
        <ui:insert name="head" />
    </h:head>

    <h:body styleClass="GreenBack">

        <div class="Wid80 MarAuto">
            <div class="Wid70 MarAuto WidAutoOnMobile TexAlCenter">
                
                <div class="EmptyBox100 ShowOnDesktop"></div>
                <div class="EmptyBox20 ShowOnMobile"></div>
                <div class="Wid60 MarAuto WidAutoOnMobile">
                    <div class="Wid100 FontLatoRegular White Fs28">#{msg['msg.no.authen.page']}</div>
                    <div class="EmptyBox30"></div>
                    <div class="Card ui-fluid ShadowEffect">
                        <div class="EmptyBox40" >
                            <div class="Container30" style="width: 35%"/>

                            <div class="Container30" >
                                <h:form id="flang" styleClass=""  >
                                    <p:selectOneButton panelStyleClass="Animated03 Fright"  id="lang" value="#{language.localeCode}"
                                                     valueChangeListener="#{language.countryLocaleCodeChanged}"
                                                     title="#{msg['view.tip.language']}"
                                                     onchange="submit();"  styleClass="button-lang"  >
                                        <c:forEach items="#{language.countries}" var="l">
                                            <f:selectItem  itemValue="#{l}" itemLabel=""/>
                                        </c:forEach>
                                    </p:selectOneButton>

                                </h:form>
                            </div>

                        </div>
                        <div class="Container100">
                            <i class="fa fa-key Fs100 Orange"></i>
                        </div>
                        <div class="Container100 FontLatoBlack">

                            <h:form id="formAuth">
                                <p:messages id="mainMessageAuth"  showDetail="true" showSummary="false"
                                            closable="true" autoUpdate="true"/>

                                <p:fieldset legend="#{msg['view.title.code.otp']}">
                                    <p:inputText value="#{authenticationOTPController.otpNumber}" required="true" maxlength="6"
                                                 requiredMessage="#{msg['common.required'].replace('{0}',msg['view.title.code.otp'])}">
                                        <p:ajax event="keyup" listener="#{authenticationOTPController.autoAuth}"/>
                                    </p:inputText>
                                </p:fieldset>
                                <p:fieldset legend="#{msg['view.title.type.receive.code.otp']}">
                                    <p:selectManyCheckbox  value="#{authenticationOTPController.typeSends}" id="typeSend">
                                        <!--<f:selectItem itemLabel="SMS" itemValue="0" />-->
                                        <!--<f:selectItem itemLabel="Flash Message" itemValue="1" />-->
                                        <f:selectItem itemLabel="Email" itemValue="2" />
                                    </p:selectManyCheckbox>

                                </p:fieldset>
                                <div class="Container100">
                                    <div class="Container25">

                                        <p:commandButton value="#{msg['view.button.confirm']}" update=":formAuth" rendered="false"
                                                         id="authBt" icon="fa fa-sign-in" styleClass="White Fs16 " widgetVar="authBt"
                                                         actionListener="#{authenticationOTPController.authentication}"/>
                                        </div>
                                    <div class="Container50">
                                        <p:commandButton actionListener="#{authenticationOTPController.reCreateOtp}" styleClass="OrangeButton White Fs16"
                                                    process="@this,typeSend"   update="mainMessageAuth" id="reCreateOtp" icon="fa fa-refresh" value="#{msg['view.button.create.otp']}">
                                        </p:commandButton>
                                    </div>
                                    <div class="Container25">
                                    </div>
                                </div>
                                <p:blockUI block=":formAuth" trigger="authBt,reCreateOtp" widgetVar="blockAuthOtpDlg">
                                    <h:graphicImage library="olympos-layout" name="images/ajax-loader.gif"/>
                                </p:blockUI>
                            </h:form>
                            
                        </div>
                        <div class="EmptyBox10"></div>
                        <div class="Container100 FontLatoBlack Fs20 Orange">
                            <h:form rendered="#{sessionScope['vsaUserToken'] != null or true}">
                                <h:commandLink actionListener="#{authService.doLogout}"
                                               value="#{msg['label.logout']}" style="color: red" />
                            </h:form>
                        </div>
                        
                    </div>
                    
                    <div class="EmptyBox20"></div>
                    <div class="EmptyBox30"></div>
                </div>
            </div>
        </div>

        <style type="text/css">
            .ui-button-text, .ui-button-text-only .ui-button-text {
                padding: 15px !important;
                transition: none !important;
            }
            div.ui-button:nth-child(1) > span:nth-child(2){
                background: url("#{facesContext.externalContext.request.contextPath}/resources/olympos-layout/images/flag/vn.png") no-repeat;
            }
            div.ui-button:nth-child(2) > span:nth-child(2){
                background: url("#{facesContext.externalContext.request.contextPath}/resources/olympos-layout/images/flag/el.png") no-repeat;
            }



        </style>
        <script type="text/javascript">
            function submit(){
                window.location=window.location;
                $('#flang').submit();
            }

        </script>

        <h:outputStylesheet name="css/core-layout.css" library="olympos-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="olympos-layout" />
        <h:outputStylesheet name="css/animate.css" library="olympos-layout" />
        <h:outputStylesheet name="css/olympos-layout.css" library="olympos-layout" />
        <h:outputStylesheet name="css/olympos-font.css" library="olympos-layout" />
        <h:outputStylesheet name="css/material-icons.css" library="olympos-layout" />
    </h:body>

</html>

