<ui:composition template="/layout/olympos/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <f:metadata>
            <f:event type="preRenderView" listener="#{forwardService.doForward}" />
        </f:metadata>
    </ui:define>
</ui:composition>