<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>#{msg['page.title']}</title>
        <link rel="shortcut icon" type="image/png" href="#{facesContext.externalContext.request.contextPath}/resources/olympos-layout/images/favicon.png"/>
        <ui:insert name="head" />
    </h:head>

    <h:body styleClass="AquaBack">

        <div class="Wid80 MarAuto">
            <div class="Wid70 MarAuto WidAutoOnMobile TexAlCenter">
                
                <div class="EmptyBox100 ShowOnDesktop"></div>
                <div class="EmptyBox20 ShowOnMobile"></div>
                <div class="Wid50 MarAuto WidAutoOnMobile">
                    <div class="Wid100 FontLatoRegular White Fs18">#{msg['msg.no.access.page']}</div>
                    <div class="EmptyBox30"></div>
                    <div class="Card ui-fluid ShadowEffect">
                        <div class="EmptyBox20"></div>
                        <div class="Container100">
                            <i class="icon-clock4 Fs100 Orange"></i>
                        </div>
                        <div class="Container100 FontLatoBlack Fs30 Orange">
                        	
							#{msg['msg.timeout.page']}
                            
                        </div>
                        <div class="EmptyBox10"></div>
                        <div class="Container100 FontLatoBlack Fs30 Orange">
	                        <a href="#{facesContext.externalContext.request.contextPath}/home">#{msg['msg.home.page']}</a>
						</div>
                        
                    </div>
                    
                    <div class="EmptyBox20"></div>
                    <div class="EmptyBox30"></div>
                </div>
            </div>
        </div>
        
        <style>.ui-button-text, .ui-button-text-only .ui-button-text{padding:15px !important; transition:none !important;}</style>

        <h:outputStylesheet name="css/core-layout.css" library="olympos-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="olympos-layout" />
        <h:outputStylesheet name="css/animate.css" library="olympos-layout" />
        <h:outputStylesheet name="css/olympos-layout.css" library="olympos-layout" />
        <h:outputStylesheet name="css/olympos-font.css" library="olympos-layout" />
    </h:body>

</html>

