/*
* OLYMPOS LAYOUT & THEME
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2016 - PrimeFaces Theme Market - PrimeTek */
/* FONT-FACE*/
@font-face {
  font-family: 'latoblack';
  src: url("#{resource['primefaces-olympos:fonts/Lato-Black.eot']}");
  src: url("#{resource['primefaces-olympos:fonts/Lato-Black.eot']}#iefix") format('embedded-opentype'), url("#{resource['primefaces-olympos:fonts/Lato-Black.woff2']}") format('woff2'), url("#{resource['primefaces-olympos:fonts/Lato-Black.woff']}") format('woff'), url("#{resource['primefaces-olympos:fonts/Lato-Black.ttf']}") format('truetype'), url("#{resource['primefaces-olympos:fonts/Lato-Black.svg']}#latoblack") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url("#{resource['primefaces-olympos:fonts/Lato-Bold.eot']}");
  src: url("#{resource['primefaces-olympos:fonts/Lato-Bold.eot']}#iefix") format('embedded-opentype'), url("#{resource['primefaces-olympos:fonts/Lato-Bold.woff2']}") format('woff2'), url("#{resource['primefaces-olympos:fonts/Lato-Bold.woff']}") format('woff'), url("#{resource['primefaces-olympos:fonts/Lato-Bold.ttf']}") format('truetype'), url("#{resource['primefaces-olympos:fonts/Lato-Bold.svg']}#latobold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url("#{resource['primefaces-olympos:fonts/Lato-Regular.eot']}");
  src: url("#{resource['primefaces-olympos:fonts/Lato-Regular.eot']}#iefix") format('embedded-opentype'), url("#{resource['primefaces-olympos:fonts/Lato-Regular.woff2']}") format('woff2'), url("#{resource['primefaces-olympos:fonts/Lato-Regular.woff']}") format('woff'), url("#{resource['primefaces-olympos:fonts/Lato-Regular.ttf']}") format('truetype'), url("#{resource['primefaces-olympos:fonts/Lato-Regular.svg']}#latoregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url("#{resource['primefaces-olympos:fonts/Lato-Light.eot']}");
  src: url("#{resource['primefaces-olympos:fonts/Lato-Light.eot']}#iefix") format('embedded-opentype'), url("#{resource['primefaces-olympos:fonts/Lato-Light.woff2']}") format('woff2'), url("#{resource['primefaces-olympos:fonts/Lato-Light.woff']}") format('woff'), url("#{resource['primefaces-olympos:fonts/Lato-Light.ttf']}") format('truetype'), url("#{resource['primefaces-olympos:fonts/Lato-Light.svg']}#latolight") format('svg');
  font-weight: normal;
  font-style: normal;
}
.FontLatoLight {
  font-family: 'latolight';
}
.FontLatoRegular {
  font-family: 'latoregular';
}
.FontLatoBold {
  font-family: 'latobold';
}
.FontLatoBlack {
  font-family: 'latoblack';
}
/*BODY*/
html {
  height: 100%;
  font-size: 10px;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'latoregular';
  background-color: #f2f2f2;
}
/* Classes For Menu */
/* Coloring Topbar */
.NavyTopbar #layout-topbar-cover {
  background-color: #1f3b59 !important;
}
.LeadenTopbar #layout-topbar-cover {
  background-color: #355c68 !important;
}
.RedTopbar #layout-topbar-cover {
  background-color: #e2033d !important;
}
.GreenTopbar #layout-topbar-cover {
  background-color: #05c436 !important;
}
.YellowTopbar #layout-topbar-cover {
  background-color: #f7ce03 !important;
}
.OrangeTopbar #layout-topbar-cover {
  background-color: #ff9f1a !important;
}
.PurpleTopbar #layout-topbar-cover {
  background-color: #8f7ee6 !important;
}
.BlueTopbar #layout-topbar-cover {
  background-color: #00aaff !important;
}
.AquaTopbar #layout-topbar-cover {
  background-color: #0084b4 !important;
  /* background-color: #12706C !important; */

}
/* TOPBAR --------------------------------------------------------------------------------*/
/* Layout Topbar Cover*/
#layout-topbar-cover {
  width: 100%;
  display: table;
  box-sizing: border-box;
  position: fixed;
  table-layout: fixed;
  top: 0px;
  z-index: 999;
  height: 4.7rem;
  background-color: #355c68;
}
#layout-topbar-row {
  display: table-row;
}
#layout-topbar-left {
  height: 4.7rem;
  display: table-cell;
  width: 28rem;
  vertical-align: top;
}
.PopupMenu #layout-topbar-left {
  width: 27.3rem;
}
#logo {
  display: block;
  height: 4.7rem;
  overflow: hidden;
}
#logo img {
  height: 5.5rem;
  margin: -0.2rem 0px 0px 0.5rem;
}
#layout-topbar-right {
  height: 4.7rem;
  display: table-cell;
  background-color: rgba(40, 40, 40, 0.06);
  vertical-align: top;
}
.topbar-link {
  width: 4.7rem;
  height: 4.78rem;
  display: inline-block;
  text-align: center;
}
.topbar-link:hover,
.topbar-link:focus,
.topbar-link.active {
  background-color: rgba(40, 40, 40, 0.1);
  cursor: pointer;
}
.topbar-link img {
  width: 1.6rem;
  height: 1.5rem;
  margin: 1.6rem 0px 0px 0px;
}
.topbar-link i {
  font-size: 2rem;
  margin: 1.3rem 0px 0px 0px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}
#menu-resize-btn.active img {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
.PopupMenu #menu-resize-btn {
  display: none;
}
.SlimMenu #menu-resize-btn img {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
#mobile-menu-btn {
  display: none;
}
.PopupMenu #mobile-menu-btn.active {
  background-color: #282828;
}
.PopupMenu #mobile-menu-btn {
  display: inline-block;
}
#search-bar {
  display: inline-block;
  float: right;
  height: 4.7rem;
  padding: 0px 1.5rem;
}
#search-bar span input[type="text"] {
  height: 2.8rem;
  width: 150px;
  border: 0px none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.4rem;
  padding: 0px 3.9rem 0px 1.5rem;
  margin: 0.9rem 0px 0px 0px;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'latoregular';
  float: left;
}
/* placeholder styling */
#search-bar span input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#search-bar span input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#search-bar span input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#search-bar span input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#search-bar #search-btn {
  width: 3.8rem;
  height: 2.8rem;
  float: left;
  border-radius: 1.4rem;
  display: inline-block;
  text-align: center;
  margin: 0.9rem 0px 0px -3.8rem;
}
#search-bar #search-btn:hover,
#search-bar #search-btn:focus {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
#search-bar #search-btn i {
  font-size: 1.6rem;
  margin: 0.5rem 0px 0px 0px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}
/* LAYOUT COVER --------------------------------------------------------------------------------*/
#layout-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 4.7rem;
}
#layout-container-row {
  display: table-row;
}
/* MENU --------------------------------------------------------------------------------*/
/* Layout Menu Cover */
#layout-menu-cover {
  width: 280px;
  height: 100%;
  box-sizing: border-box;
  z-index: 998;
  display: table-cell;
  position: fixed;
  background-color: #282828;
  vertical-align: top;
}
#layout-menu-cover-scroll-content {
  display: block;
  height: 100%;
  position: relative;
}
/* Tab Menu */
#layout-tab-menu {
  width: 58px;
  height: auto;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(35, 31, 32, 0.9);
  position: absolute;
  left: 0px;
  top: 0px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
#layout-tab-menu > li {
  width: 58px;
  height: 50px;
}
#layout-tab-menu > li:first-child {
  padding: 1.5rem 0px 0px 0px;
}
#layout-tab-menu > li > a {
  display: block;
  width: 58px;
  height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#layout-tab-menu > li > a:hover,
#layout-tab-menu > li > a:focus,
#layout-tab-menu > li > a.active {
  background-color: #282828;
  color: #027FAC;
  -webkit-box-shadow: inset 1px 0 0 0 #355c68;
  box-shadow: inset 1px 0 0 0 #355c68;
}
.layout-tab-menu-link-text{
  color: white !important;
}
/* active tab link border color settings */
.NavyTopbar #layout-tab-menu > li > a:hover,
.NavyTopbar #layout-tab-menu > li > a:focus,
.NavyTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #1f3b59 !important;
  box-shadow: inset 2px 0 0 0 #1f3b59 !important;
}
.LeadenTopbar #layout-tab-menu > li > a:hover,
.LeadenTopbar #layout-tab-menu > li > a:focus,
.LeadenTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #355c68 !important;
  box-shadow: inset 2px 0 0 0 #355c68 !important;
}
.RedTopbar #layout-tab-menu > li > a:hover,
.RedTopbar #layout-tab-menu > li > a:focus,
.RedTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #e2033d !important;
  box-shadow: inset 2px 0 0 0 #e2033d !important;
}
.GreenTopbar #layout-tab-menu > li > a:hover,
.GreenTopbar #layout-tab-menu > li > a:focus,
.GreenTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #05c436 !important;
  box-shadow: inset 2px 0 0 0 #05c436 !important;
}
.YellowTopbar #layout-tab-menu > li > a:hover,
.YellowTopbar #layout-tab-menu > li > a:focus,
.YellowTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #f7ce03 !important;
  box-shadow: inset 2px 0 0 0 #f7ce03 !important;
}
.OrangeTopbar #layout-tab-menu > li > a:hover,
.OrangeTopbar #layout-tab-menu > li > a:focus,
.OrangeTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #ff9f1a !important;
  box-shadow: inset 2px 0 0 0 #ff9f1a !important;
}
.PurpleTopbar #layout-tab-menu > li > a:hover,
.PurpleTopbar #layout-tab-menu > li > a:focus,
.PurpleTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #8f7ee6 !important;
  box-shadow: inset 2px 0 0 0 #8f7ee6 !important;
}
.BlueTopbar #layout-tab-menu > li > a:hover,
.BlueTopbar #layout-tab-menu > li > a:focus,
.BlueTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #00aaff !important;
  box-shadow: inset 2px 0 0 0 #00aaff !important;
}
.AquaTopbar #layout-tab-menu > li > a:hover,
.AquaTopbar #layout-tab-menu > li > a:focus,
.AquaTopbar #layout-tab-menu > li > a.active {
  -webkit-box-shadow: inset 2px 0 0 0 #0084b4 !important;
  box-shadow: inset 2px 0 0 0 #0084b4 !important;
}
#layout-tab-menu > li > a i {
  display: inline-block;
  font-size: 27px;
  margin-top: 12px;
}
#layout-tab-menu > li > a .layout-tab-menu-link-text {
//position: relative;
  position: fixed;
  background-color: #5a5a5a;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: 'latoregular';
  font-size: 12px;
  max-width: 150px;
  display: none;
  margin: 5px 0px 0px 10px;
  float: left;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
  text-align: left;
  min-width: 120px;
}
#layout-tab-menu > li > a:hover .layout-tab-menu-link-text,
#layout-tab-menu > li > a:focus .layout-tab-menu-link-text {
  display: inline-block;
}
#layout-tab-menu > li > a.active .layout-tab-menu-link-text {
//display: none;
}
#layout-tab-menu > li > a .layout-tab-menu-link-text span {
  position: absolute;
  background-color: #5A5A5A;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  margin-left: -20px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* first level */
.layout-tab-submenu {
  padding: 10px;
  margin: 0px;
  width: 260px;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
  margin-left: 58px;
  background-color: #282828;
  padding-bottom: 100px;
  display: none;
}
.layout-tab-submenu.active {
  display: block;
}
.layout-tab-submenu > li {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
.layout-tab-submenu > li:first-child {
  margin-top: 0.5rem;
}
.layout-tab-submenu > li > a {
  display: block;
  padding: 5px;
  font-family: 'latoregular';
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
/* second level */
.layout-tab-submenu > li ul {
  margin: 0px;
  padding: 0px;
  display: block;
}
.layout-tab-submenu > li ul li {
  display: block;
  margin: 0px;
  padding: 0px;
}
.layout-tab-submenu > li ul li a {
  display: block;
  padding: 5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'latoregular';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.layout-tab-submenu > li a:hover,
.layout-tab-submenu > li a:focus,
.layout-tab-submenu > li ul li a:hover,
.layout-tab-submenu > li ul li a:focus,
.layout-tab-submenu > li ul li a.active-menu {
  color: #ffffff;
  font-family: 'latoregular';
  background-color: rgba(255, 255, 255, 0.1);
}
.layout-tab-submenu > li a.active-menu {
  color: #000;
  font-family: 'latoregular';
  background-color: #ff9f1a;
}

.layout-tab-submenu > li ul li a i {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
/* other levels */
.layout-tab-submenu > li ul li ul {
  overflow: hidden;
  height: 0px;
  display: none;
  padding-left: 10px;
}
.layout-tab-submenu > li ul li ul.active-menu {
  display: block;
  height: auto;
}
.layout-tab-submenu > li ul li ul li {
  border-left: dotted 1px #4E4E4E;
}
/* SlimMenu Menu Cover */
.SlimMenu #layout-menu-cover {
  width: 58px;
  background: transparent; //hienhv4
}
.SlimMenu #layout-menu-cover:hover,
.SlimMenu #layout-menu-cover:focus {
  width: 280px;
//background: transparent; //huynx6
}
.SlimMenu #layout-menu-cover .layout-tab-submenu {
  display: none;
}
.SlimMenu #layout-menu-cover:hover .layout-tab-submenu.active,
.SlimMenu #layout-menu-cover:focus .layout-tab-submenu.active {
  display: block;
}
/* PopupMenu Menu Cover */
.PopupMenu #layout-menu-cover {
  width: 320px;//huynx
left: -320px;
}
.PopupMenu #layout-menu-cover.active {
  left: 0px;
}
.PopupMenu .layout-tab-submenu {
  width: 260px;
}
/* PORTLETS --------------------------------------------------------------------------------*/
/*Layout Portlets Cover*/
#layout-portlets-cover {
  display: block;
  height: 100%;
  font-size: 14px;
  color: #282828;
  margin-left: 280px;
  vertical-align: top;
  padding: 1rem;
  box-sizing: border-box;
}
/* Cards */
.Card {
  width: 100%;
  display: block;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.Card1 {
  width: 100%;
  display: block;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: #ADFF2F;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.CardBigTopic {
  display: block;
  font-family: 'latoblack';
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0px;
  color: rgba(40, 40, 40, 0.8);
}
.CardSmallTopic {
  display: block;
  font-family: 'latobold';
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0px;
  color: rgba(40, 40, 40, 0.6);
}
/* SlimMenu Portlets Cover */
.SlimMenu #layout-portlets-cover {
  margin-left: 58px;
}
/* PopupMenu Portlets Cover */
.PopupMenu #layout-portlets-cover {
  margin-left: 0px;
}
/* FOOTER --------------------------------------------------------------------------------*/
/*Layout Footer*/
/* LAYOUT STANDART STYLES -----------------------------------------------------------------*/
a {
  text-decoration: none;
  outline: none;
}
img {
  outline: none;
}
li {
  list-style: none;
}
/* text colors */
.White {
  color: #ffffff !important;
}
.TransparentWhite {
  color: rgba(255, 255, 255, 0.7) !important;
}
.SoftGray {
  color: rgba(40, 40, 40, 0.6) !important;
}
.Black {
  color: #282828 !important;
}
.Blue {
  color: #00aaff !important;
}
.Red {
  color: #e2033d !important;
}
.Green {
  color: #05c436 !important;
}
.Orange {
  color: #ff9f1a !important;
}
.Yellow {
  color: #f7ce03 !important;
}
.Leaden {
  color: #355c68 !important;
}
.Purple {
  color: #8f7ee6 !important;
}
.Aqua {
  color: #0084b4 !important;
}
.Navy {
  color: #1f3b59 !important;
}
/* background colors */
.WhiteBack {
  background-color: #ffffff;
}
.SoftGrayBack {
  background-color: rgba(40, 40, 40, 0.6);
}
.BlackBack {
  background-color: #282828;
}
.BlueBack {
  background-color: #00aaff;
}
.RedBack {
  background-color: #e2033d;
}
.GreenBack {
  background-color: #05c436;
}
.OrangeBack {
  background-color: #ff9f1a;
}
.YellowBack {
  background-color: #f7ce03;
}
.LeadenBack {
  background-color: #355c68;
}
.PurpleBack {
  background-color: #8f7ee6;
}
.AquaBack {
  background-color: #0084b4;
}
.NavyBack {
  background-color: #1f3b59;
}
/* Borders */
.BorderLeft {
  border-left: solid 1px #d1d1d1;
}
.BorderRight {
  border-right: solid 1px #d1d1d1;
}
.BorderTop {
  border-top: solid 1px #d1d1d1;
}
.BorderBottom {
  border-bottom: solid 1px #d1d1d1;
}
.BorderAll {
  border: solid 1px #d1d1d1;
}
/* seperator line */
.Separator {
  border-bottom: dashed 1px #d1d3d4;
  width: 100%;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 1.2rem 0px;
  clear: both;
}
.SeparatorFull {
  border-bottom: dashed 1px #d1d3d4;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 1.2rem -1.5rem;
  clear: both;
}
/* hover effect for boxlink and links */
.HoverEffect {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.HoverEffect:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* shadow */
.ShadowEffect {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 0\0) {
  /* IE 10+ specific styles go here */
  .ShadowEffect {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  }
}
/* headings */
.Heading1 {
  font-family: 'latoblack';
  font-size: 3.2rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading2 {
  font-family: 'latoblack';
  font-size: 2.8rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading3 {
  font-family: 'latoblack';
  font-size: 2.4rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading4 {
  font-family: 'latoblack';
  font-size: 2rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading5 {
  font-family: 'latobold';
  font-size: 1.6rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading6 {
  font-family: 'latobold';
  font-size: 14px;
  padding: 10px 0px;
  margin: 0px;
}
/* For Docs Pages Demo */
.changecolor:hover {
  background-color: #FBB040;
  padding: 10px;
}
/* MEDIA QUERIES **************************************************************************************************************** */
/* Large desktop */
@media (min-width: 961px) and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 31rem;
  }
  .PopupMenu #layout-topbar-left {
    width: 30.9rem;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
  html {
    font-size: 9px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 100%;
    display: block;
  }
  #logo img {
    margin: 1.3rem 0px 0px 1.2rem;
  }
  #layout-topbar-right {
    width: 100%;
    display: block;
  }
  #menu-resize-btn {
    display: none;
  }
  #mobile-menu-btn {
    display: inline-block;
  }
  .PopupMenu #mobile-menu-btn.active,
  #mobile-menu-btn.active {
    background-color: #231f20;
  }
  #layout-container {
    padding-top: 9.4rem;
  }
  .SlimMenu #layout-menu-cover {
    width: 58px; //320px;huynx
  left: -320px;
  }
  .SlimMenu #layout-menu-cover:hover,
  .SlimMenu #layout-menu-cover:focus {
    width: 58px;
  }
  .SlimMenu #layout-menu-cover.active {
    left: 0px;
  }
  #layout-menu-cover .layout-tab-submenu,
  .SlimMenu #layout-menu-cover .layout-tab-submenu {
    width: 260px;
  }
  .SlimMenu #layout-menu-cover .layout-tab-submenu.active {
    display: block;
  }
  #layout-menu-cover {
    width: 320px;
    left: -320px;
  }
  #layout-menu-cover.active {
    left: 0px;
  }
  .SlimMenu #layout-portlets-cover {
    margin-left: 0px;
  }
  #layout-portlets-cover {
    margin-left: 0px;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 640px) {
  html {
    font-size: 8px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 100%;
    display: block;
  }
  #logo img {
    margin: 1.3rem 0px 0px 1.2rem;
  }
  #layout-topbar-right {
    width: 100%;
    display: block;
  }
  #menu-resize-btn {
    display: none;
  }
  #mobile-menu-btn {
    display: inline-block;
  }
  .PopupMenu #mobile-menu-btn.active,
  #mobile-menu-btn.active {
    background-color: #231f20;
  }
  #layout-container {
    padding-top: 9.4rem;
  }
  .SlimMenu #layout-menu-cover {
    width: 320px;
    left: -320px;
  }
  .SlimMenu #layout-menu-cover:hover,
  .SlimMenu #layout-menu-cover:focus {
    width: 320px;
  }
  .SlimMenu #layout-menu-cover.active {
    left: 0px;
  }
  #layout-menu-cover .layout-tab-submenu,
  .SlimMenu #layout-menu-cover .layout-tab-submenu {
    width: 260px;
  }
  .SlimMenu #layout-menu-cover .layout-tab-submenu.active {
    display: block;
  }
  #layout-menu-cover {
    width: 320px;
    left: -320px;
  }
  #layout-menu-cover.active {
    left: 0px;
  }
  .SlimMenu #layout-portlets-cover {
    margin-left: 0px;
  }
  #layout-portlets-cover {
    margin-left: 0px;
  }
}
/* Portrait phones and down */
@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 8px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 100%;
    display: block;
  }
  #logo img {
    margin: 1.3rem 0px 0px 1.2rem;
  }
  #layout-topbar-right {
    width: 100%;
    display: block;
  }
  #search-bar input[type="text"] {
    width: 100px;
  }
  #menu-resize-btn {
    display: none;
  }
  #mobile-menu-btn {
    display: inline-block;
  }
  .PopupMenu #mobile-menu-btn.active,
  #mobile-menu-btn.active {
    background-color: #231f20;
  }
  #layout-container {
    padding-top: 9.4rem;
  }
  .SlimMenu #layout-menu-cover {
    width: 320px;
    left: -320px;
  }
  .SlimMenu #layout-menu-cover:hover,
  .SlimMenu #layout-menu-cover:focus {
    width: 320px;
  }
  .SlimMenu #layout-menu-cover.active {
    left: 0px;
  }
  #layout-menu-cover .layout-tab-submenu,
  .SlimMenu #layout-menu-cover .layout-tab-submenu {
    width: 260px;
  }
  .SlimMenu #layout-menu-cover .layout-tab-submenu.active {
    display: block;
  }
  #layout-menu-cover {
    width: 320px;
    left: -320px;
  }
  #layout-menu-cover.active {
    left: 0px;
  }
  .SlimMenu #layout-portlets-cover {
    margin-left: 0px;
  }
  #layout-portlets-cover {
    margin-left: 0px;
  }
}
/* -------------------------------------------------------------------*/
/* for landscape phones and tablets */
/* OTHERS */
#layout-portlets-cover:before,
#layout-portlets-cover:after,
.Card:before,
.Card:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
#layout-portlets-cover:after,
.Card:after {
  clear: both;
}
/* body */
/* Layout Color Tones */
/* topbar */
.menu-resize-btn-image-active-rotation {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
.slimmenu-resize-btn-image-active-rotation {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
/* menu cover */
/* tab menu */
/* tab sub menus */
/* portlets cover */
/* Cards */
/* others */
/* misc */
/* transitions */
.short-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.medium-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.long-transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.no-transform {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.ui-tooltip{
  background: transparent !important;
  border: none !important;
}

.ui-growl .ui-growl-item-container {
  background-color: #f6f6f6;
}
/*.AppName {*/
/*color: white;*/
/*font-size: 20px;*/
/*font-family: 'ta';*/
/*}*/

.ForestButton .ui-button-text {
  background-color: #228B22;
  border-color: #127C12;
}
.ForestButton.ui-state-hover .ui-button-text {
  background-color: #127C12;
}
.ForestButton.ui-state-active .ui-button-text {
  background-color: #127C12;
}

.AmazoniteButton .ui-button-text {
  background-color: #3A9893;
  border-color: #00C4B0;
}
.AmazoniteButton.ui-state-hover .ui-button-text {
  background-color: #2f7976;
}
.AmazoniteButton.ui-state-active .ui-button-text {
  background-color: #3A9893;
}

.TealButton .ui-button-text {
  background-color: #009688;
  border: none;
}
.TealButton.ui-state-hover .ui-button-text {
  background-color: #00695c;
}
.TealButton.ui-state-focus .ui-button-text {
  background-color: #00c9b6;
}
.TealButton.ui-state-active .ui-button-text {
  background-color: #009688;
}
.TransparentButton .ui-button-text {
  background-color: white;
  border: none;
  color: white;
}

