<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <h:form id="formSgsnRncCommon">
        <p:confirmDialog global="true" header="#{msg['view.dialog.header.delete.rescue.info']}"  showEffect="face" hideEffect="scale"
                         widgetVar="comfirmDeleteRiSgRcPlan" id="comfirmDeleteRiSgRcPlan">
            <f:facet name="message">
                <h:outputText value="#{msg['title.confirm.delete']}" />
                <p:spacer width="100%" height="1px"></p:spacer>
            </f:facet>

            <p:commandButton value="Yes" update="form:formSgsnRnc:tableRiSgRcPlanId" process="@this"
                             actionListener="#{rescueInfomationController.deleteRiSgRcPlan}"
                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="No" styleClass="ui-confirmdialog-no AquaButton" process="@this"
                             oncomplete ="PF('comfirmDeleteRiSgRcPlan').hide()"
                             actionListener="#{rescueInfomationController.selectedRiSgRcPlan.clear()}"
                             update="form:formSgsnRnc:tableRiSgRcPlanId" 
                             icon="ui-icon-close fa fa-close Fs14 White" />
        </p:confirmDialog>
        <p:dialog id="dlgUploadRiSgRcPlan" widgetVar="dlgUploadRiSgRcPlan" width="70%"
                  height="30%" modal="true" header="#{msg['label.upload.rescue.info']}">
            <p:outputPanel style="text-align: center;margin: 5px" id="importRescue">
                <p:fileUpload
                    fileUploadListener="#{rescueInfomationController.onImportRiSgRcPlan}"
                    mode="advanced" dragDropSupport="false" multiple="true"
                    auto="false" update="form:mainMessage, form:formSgsnRnc:tableRiSgRcPlanId,importRescue"
                    sizeLimit="100000000" fileLimit="10"
                    allowTypes="/(\.|\/)(xls|xlsx)$/" />
                <p:commandButton  icon="fa fa-download"
                                  styleClass="White MarTop5 Fs14" ajax="false"
                                  value="Tải file template" style="margin: 5px">
                    <p:fileDownload value="#{rescueInfomationController.onDownloadTemplateRiSgRcPlan()}" />
                </p:commandButton>
                <p:commandButton  icon="fa fa-download"
                                  styleClass="White MarTop5 Fs14" ajax="false"
                                  rendered="#{rescueInfomationController.isRiSgRcImport}"
                                  oncomplete="PF('dlgUploadRiSgRcPlan').hide()"
                                  value="Kết quả import" style="margin: 5px;">
                    <p:fileDownload value="#{rescueInfomationController.onRiSgRcResultImport()}"  />
                </p:commandButton>
                <p:commandButton  icon="fa fa-close"
                                  styleClass="White MarTop5 Fs14"
                                  value="#{msg['label.cancel']}" style="margin: 5px;"
                                  oncomplete="PF('dlgUploadRiSgRcPlan').hide()" >
                </p:commandButton>
            </p:outputPanel>
        </p:dialog>

        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="loadingDialog" draggable="false" closable="false"
                  resizable="false">
            <p:graphicImage name="/other/images/loading.gif"
                            style="background: transparent; margin: -20px;" width="50"
                            height="50" />
        </p:dialog>

        <p:dialog id="dlgAddRiSgRcPlanId" widgetVar="dlgAddRiSgRcPlanNode"
                  width="70%" height="50%" modal="true"
                  header="#{msg['label.form.add.rescue.information']}">
            <p:panelGrid style="width: 100%;">
                <div class="Card NoPadding">
                    <div class="Container30">
                        <label class="control-label cd-text-required" for="deptId">
                            <h:outputText value="#{msg['label.rescue.RNC']}" style="margin-bottom: 5px;text-align: center"/>
                        </label>
                        <p:autoComplete size="26" placeholder="#{msg['label.nodecode']}"
                                        dropdown="true" scrollHeight="200" label="label.nodecode"
                                        value="#{rescueInfomationController.nodeRnc}"
                                        completeMethod="#{rescueInfomationController.autoCompleNodeRNC}"
                                        var="obj" converter="nodeConverter" itemLabel="#{obj.nodeCode}"
                                        itemValue="#{obj}">
                        </p:autoComplete>
                    </div>

                    <div class="Container30">
                        <label class="control-label cd-text-required" for="deptId">
                            <h:outputText value="#{msg['label.rescue.current.SGSN']}" />
                        </label>
                        <p:autoComplete size="26" placeholder="#{msg['label.nodecode']}"
                                        dropdown="true" scrollHeight="200" label="label.nodecode"
                                        value="#{rescueInfomationController.nodeSgsnCurrent}"
                                        completeMethod="#{rescueInfomationController.autoCompleNodeSGSN}"
                                        var="obj" converter="nodeConverter" itemLabel="#{obj.nodeCode}"
                                        itemValue="#{obj}">
                        </p:autoComplete>
                    </div>
                    <div class="Container30">
                        <label class="control-label cd-text-required" for="deptId">
                            <h:outputText value="#{msg['label.rescue.backup.SGSN']}" />
                        </label>
                        <p:autoComplete size="26" placeholder="#{msg['label.nodecode']}"
                                        dropdown="true" scrollHeight="200" label="label.nodecode"
                                        value="#{rescueInfomationController.nodeSgsnBackup}"
                                        completeMethod="#{rescueInfomationController.autoCompleNodeSGSN}"
                                        var="obj" converter="nodeConverter" itemLabel="#{obj.nodeCode}"
                                        itemValue="#{obj}">
                        </p:autoComplete>
                    </div>
                </div>

                <div class="Container100 Flex">
                    <div
                        style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                        <p:commandButton id="saveAction" type="submit"
                                         value="#{msg['label.update']}" icon="fa fa-save"
                                         styleClass="Fs14 White" widgetVar="gjh"
                                         update="form:formSgsnRnc:tableRiSgRcPlanId, form:mainMessage"
                                         actionListener="#{rescueInfomationController.saveRiSgRcPlan}" />
                        <p:spacer height="10px;" />
                        <p:commandButton id="cancelAction" type="submit"
                                         icon="fa fa-close" value="#{msg['label.cancel']}"
                                         styleClass="White Fs14"
                                         oncomplete="PF('dlgAddRiSgRcPlanNode').hide()" />
                    </div>
                </div>

            </p:panelGrid>
        </p:dialog>
        <p:dialog id="dlgRiSgRcCrossCheck" widgetVar="dlgRiSgRcCrossCheck"
                  width="40%" height="50%" modal="true"
                  header="#{msg['label.form.add.rescue.crosscheck']}">
            <p:panelGrid style="width: 100%;">
                <div class="Card NoPadding">
                    <div class="Container100">

                        <div style="margin-top: 10px;">
                            <h:outputText class="cd-text-required ui-g-3" value="#{msg['label.form.add.rescue.sgsndown']}"/>
                            <!--                            <p:selectManyMenu filter="true" filterMatchMode="contains" showCheckbox="true" scrollHeight="100"
                                                                          converter="nodeConverter" value="#{rescueInfomationController.nodeSgsnDown}"
                                                                          class="ui-g-8" id="nodeSgsnDownCrossCheck">
                                                            <f:selectItem itemLabel="All" itemValue="0" />
                                                            <f:selectItems var="sgsnDownObj" itemLabel="#{sgsnDownObj.nodeCode}" 
                                                                           itemValue="#{sgsnDownObj}" value="#{rescueInfomationController.listNodeSgsnDown}" />
                                                        </p:selectManyMenu>-->

                            <p:selectCheckboxMenu id="menu" value="#{rescueInfomationController.nodeSgsnDown}" label="SGSN" onShow="true"
                                                  converter="nodeConverter" scrollHeight="150" style="width: 190px;"
                                                  filter="true" filterMatchMode="startsWith" 
                                                  >
                                <f:selectItems var="sgsnDownObj" itemLabel="#{sgsnDownObj.nodeCode}" 
                                               itemValue="#{sgsnDownObj}" value="#{rescueInfomationController.listNodeSgsnDown}" />
                            </p:selectCheckboxMenu>

                        </div>
                    </div>

                    <div class="Container100 Flex">
                        <div
                            style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                            <p:commandButton id="crossCheck" type="submit"
                                             value="#{msg['label.rescue.auto.crosscheck']}" icon="fa fa-check"
                                             styleClass="Fs14 White"
                                             update="form:formSgsnRnc:tableRiSgRcPlanId, form:mainMessage"
                                             actionListener="#{rescueInfomationController.onClickAutoCheckRiSgRcPlan}" />
                            <p:spacer height="10px;" />
                            <p:commandButton id="cancelCheck" type="submit"
                                             icon="fa fa-close" value="#{msg['label.cancel']}"
                                             styleClass="White Fs14"
                                             oncomplete="PF('dlgRiSgRcCrossCheck').hide()" />
                        </div>
                    </div>
                </div>

            </p:panelGrid>
        </p:dialog>

        <p:dialog id="dlgRiSgRcCreateMop" widgetVar="dlgRiSgRcCreateMop"
                  width="40%" height="50%" modal="true"
                  header="#{msg['label.form.add.rescue.rescueNode']}">
            <p:panelGrid style="width: 100%;">
                <div class="Card NoPadding">
                    <div class ="Container100 Flex">
                        <div style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                            <p:selectOneButton styleClass="OneButtonMapType" value="#{rescueInfomationController.riSgRcMopType}">
                                <f:selectItem itemLabel="#{msg['label.impact.type.normal']}" itemValue="0" />
                                <f:selectItem itemLabel="#{msg['label.impact.type.uctt']}" itemValue="1" />
                            </p:selectOneButton>
                        </div>
                    </div>
                    <div class="Container100 Flex">
                        <div
                            style="text-align: center; margin-left: auto; margin-right: auto; display: block">
                            <p:commandButton id="riSgRcCreateMop" type="submit" style="width: 176px"
                                             onclick="PF('loadingDialog').show()"
                                             oncomplete="PF('loadingDialog').hide()"
                                             value="#{msg['label.form.add.rescue.rescue']}" icon="fa fa-check"
                                             styleClass="Fs14 White"
                                             update="form:formSgsnRnc:tableRiSgRcPlanId, form:mainMessage"
                                             actionListener="#{rescueInfomationController.onClickRiSgRcCreateMop}" />
                            <p:spacer height="10px;" />
                            <p:commandButton id="cancelRiSgRcCreateMop" type="submit"
                                             style="width: 180px"
                                             icon="fa fa-close" value="#{msg['label.cancel']}"
                                             styleClass="White Fs14" 
                                             actionListener="#{rescueInfomationController.selectedRiSgRcPlan.clear()}"
                                             update="form:formSgsnRnc:tableRiSgRcPlanId" 
                                             oncomplete="PF('dlgRiSgRcCreateMop').hide()" />
                        </div>
                    </div>
                </div>
            </p:panelGrid>
        </p:dialog>
        <p:dialog id="dlgRiSgRcRefreshParam" widgetVar="dlgRiSgRcRefreshParam" modal="true"
                  width="50%" style="top: 100px;"
                  header="#{msg['label.form.add.rescue.refreshParam']} 
                  ">
            <div style="text-align: center;margin-left: auto;margin-right: auto;display: block">
                <p:selectBooleanCheckbox id="chxUseAccountSystem" value="#{rescueInfomationController.useAccountSystem}" >
                    <p:ajax update="useAccountSystem"/>
                </p:selectBooleanCheckbox>
            </div>
            <div style="text-align: center;margin-left: auto;margin-right: auto;display: block">
                <h:outputText value="Dùng account hệ thống" style="color: #0084b4" />

            </div>
            <br/>
            <p:outputPanel id="useAccountSystem">
                <div class="ui-g" style="margin-left: 5px">
                    <h:outputText rendered="#{!rescueInfomationController.useAccountSystem}" value="#{msg['label.one.account']}:" style="margin-right: 5px; color: #0084b4" />
                    <p:selectBooleanCheckbox id="chxOneAccount" rendered="#{!rescueInfomationController.useAccountSystem}" value="#{rescueInfomationController.oneAccount}">
                        <p:ajax update="accountInfo"/>
                    </p:selectBooleanCheckbox>
                </div>

                <p:outputPanel id="accountInfo">
                    <p:outputLabel rendered="#{!rescueInfomationController.useAccountSystem and rescueInfomationController.oneAccount}" class="ui-g" style="margin: 5px;">
                        <p:inputText value="#{rescueInfomationController.account}"
                                     style="width: 100%" placeholder="#{msg['prompt.account']}" />
                    </p:outputLabel>

                    <p:outputLabel rendered="#{!rescueInfomationController.useAccountSystem and rescueInfomationController.oneAccount}" class="ui-g" style="margin: 5px;">
                        <p:password placeholder="#{msg['prompt.pass']}" style="width: 100%"
                                    value="#{rescueInfomationController.password}" />
                    </p:outputLabel>

                    <p:outputLabel rendered="#{!rescueInfomationController.useAccountSystem and !rescueInfomationController.oneAccount}" class="ui-g" style="margin: 5px;">
                        <p:dataTable var="obj" value="#{rescueInfomationController.mapAccount.entrySet()}"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                     paginator="true" rows="10" filterEvent="keyup" rowKey="#{obj.key}"
                                     rowIndexVar="rowIndex" paginatorPosition="bottom" id="SgRctableAccount"
                                     rowsPerPageTemplate="10,15,20"
                                     emptyMessage="#{msg['datatable.empty']}" editable="true">
                            <p:column style="width: 5%; text-align: left;" headerText="#{msg['datatable.header.stt']}">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                            <p:column headerText="#{msg['key.nodeCode']}" style="text-align: left">
                                <h:outputText value="#{obj.key}"/>
                            </p:column>
                            <p:column width="31%" headerText="#{msg['prompt.account']}" style="text-align: left">
                                <p:inputText value="#{obj.value.account}" />
                            </p:column>
                            <p:column width="31%" headerText="#{msg['prompt.pass']}" style="text-align: left">
                                <p:password value="#{obj.value.password}" />
                            </p:column>
                        </p:dataTable>
                    </p:outputLabel>

                </p:outputPanel>
            </p:outputPanel>

            <div style="text-align: center;margin-left: auto;margin-right: auto;display: block">
                <p:commandButton actionListener="#{rescueInfomationController.onClickRiSgRcRefreshParam}"
                                 onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()"
                                 value="#{msg['label.form.add.rescue.refreshParam']}" update="form:mainMessage"/>
                <p:commandButton value="#{msg['button.cancel']}" onclick="PF('dlgRiSgRcRefreshParam').hide()"/>
            </div>
        </p:dialog>



        <p:dialog id="dlgShowLogRiSgRc" widgetVar="dlgShowLogRiSgRc"
                  modal="true" resizable="false"
                  header="#{msg['label.rescueInfo.log']}"
                  width="90%" style="top: 50px; bottom: 30px; overflow: auto">
            <h:panelGrid columns="1" width="100%">
                <div class="Container100 Flex FlexWrap">
                    <p:dataTable var="obj" value="#{rescueInfomationController.lazyModelParamLog}" widgetVar="tableCommand"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 paginator="true" rows="10" filterEvent="keyup" rowKey="#{obj.id}"
                                 rowIndexVar="rowIndex" paginatorPosition="bottom" id="tableCommand" resizableColumns="true"
                                 rowsPerPageTemplate="10,15,20" sortMode="mutiple" sortBy="#{obj.insertTime}" sortOrder="descending"
                                 emptyMessage="#{msg['datatable.empty']}" lazy="true" editable="false">
                        <f:facet name="header">
                            <h:outputText style="text-align: center; margin-left: 8px; margin-top: 5px" value="#{msg['common.search.result']}"/>
                            <p:commandButton style="visibility: hidden; display: none">
                                <div style="clear: both"></div>
                            </p:commandButton>
                        </f:facet>
                        <p:column style="width: 50px; text-align: center;" >
                            <f:facet name="header">  
                                <h:outputText value="#{msg['datatable.header.stt']}"/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>
                        </p:column>

                        <p:column  filterBy="#{obj.nodeCode}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['key.nodeCode']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.nodeCode}"/>
                        </p:column>
                        <p:column filterBy="#{obj.nodeTypeName}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['label.nodeTypeName']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.nodeTypeName}"/>
                        </p:column>
                        <p:column filterBy="#{obj.vendorName}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['label.vendorName']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.vendorName}"/>
                        </p:column>
                        <p:column filterBy="#{obj.versionName}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['label.versionName']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.versionName}"/>
                        </p:column>
                        <p:column style="text-align: center" filterBy="#{obj.insertTime}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['label.updateTime']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.insertTime}"/>
                        </p:column>
                        <p:column filterBy="#{obj.userExcute}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['datatable.header.executeby']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.userExcute}"/>
                        </p:column>

                        <p:column style="width:132px;text-align: center; " exportable="false" headerText="#{msg['label.rescueInfo.log.param.header']}" >
                            <p:commandButton icon="fa fa-fw fa-edit" process="@this"
                                             update="@widgetVar(dlgShowLogParam),@widgetVar(paramLog),@widgetVar(cmdLog)"
                                             oncomplete="PF('dlgShowLogParam').show()"

                                             actionListener="#{rescueInfomationController.preShowLogParamRiSgRc(obj)}">
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:panelGrid>
        </p:dialog>

        <p:dialog id="dlgShowLogParam" widgetVar="dlgShowLogParam"
                  modal="true" resizable="false"
                  header="#{msg['label.rescueInfo.log.param']}"
                  width="90%" style="top: 50px; bottom: 30px; overflow: auto">
            <p:ajax event="open" update="panelShowLogAction"></p:ajax>
            <h:panelGroup id="panelShowLogAction"  >
                    <p:tabView id="tabResultNodeRnc" scrollable="true" style="width: 100%" dynamic="true">
                        <c:forEach items="#{rescueInfomationController.mapLogCommand}" var="paramLog"  varStatus="loop">                       		
                            <p:tab title="#{paramLog.key}" id="log-tab-view-#{loop.index}">   
                                <p:dataTable value="#{paramLog.value}" rowIndexVar="idx"
                                             var="cmdLog" editable="true" lazy="false"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                             paginatorPosition="bottom" paginator="true" rows="10"
                                             rowsPerPageTemplate="5,10,15">

                                    <p:column headerText="#{msg['datatable.header.stt']}"
                                              style="width : 3%; text-align: center">
                                        <h:outputText value="#{idx + 1}" />
                                    </p:column>

                                    <p:column headerText="#{msg['label.cmd']}"
                                              style="width: 10%">
                                        <h:outputText value="#{cmdLog.commandName}" />
                                    </p:column>

                                    <p:column width="3%" style="text-align: center" headerText="#{msg['label.check.command.result']}">
                                        <h:outputText value="#{cmdLog.commandResult}" />
                                    </p:column>

                                    <p:column
                                        headerText="#{msg['label.paramCode']}"
                                        style="width: 3%; text-align: center">
                                        <p:commandButton icon="fa fa-fw fa-edit" 
                                                         update="@widgetVar(dlgCmdLogParamValue),:formSgsnRncCommon:dlgCmdLogParamValueId"
                                                         oncomplete="PF('dlgCmdLogParamValue').show()"
                                                         actionListener="#{rescueInfomationController.preShowCmdLogParamValueRiSgRc(cmdLog)}">
                                        </p:commandButton>
                                    </p:column>

                                    <p:column style="width: 10%; text-align: center" headerText="#{msg['label.finishTime']}">
                                        <h:outputText value="#{cmdLog.insertTime}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column
                                        headerText="#{msg['label.check.command.resultDetail']}"
                                        style="width: 3%; text-align: center">
                                        <p:commandButton icon="fa fa-fw fa-edit" process="@this"
                                                         update="@widgetVar(dlgCmdLogDetail)"
                                                         oncomplete="PF('dlgCmdLogDetail').show()"
                                                         actionListener="#{rescueInfomationController.preShowCmdLogRiSgRc(cmdLog)}">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </c:forEach>
                    </p:tabView>
            </h:panelGroup>
        </p:dialog>

        <p:dialog width="60%" modal="true" height="400px" widgetVar="dlgCmdLogDetail"
                  id="dlgCmdLogDetail" resizable="false"
                  header="#{msg['label.rescueInfo.log.param.detail']}">
            <p:inputTextarea style="margin-top: 10px; width: 98%" rows="20"
                             value="#{rescueInfomationController.selectParamLogCommand.commandContent}"
                             autoResize="true" readonly="true" />
        </p:dialog>

        <p:dialog id="dlgCmdLogParamValue" widgetVar="dlgCmdLogParamValue"
                  modal="true" resizable="false"
                  header="#{msg['label.rescueInfo.log']}"
                  width="80%" style="top: 50px; bottom: 30px; overflow: auto">
            <h:panelGrid columns="1" width="100%" id="dlgCmdLogParamValueId">
                <div class="Container100 Flex FlexWrap">
                    <p:dataTable var="obj" value="#{rescueInfomationController.listParamValue}" widgetVar="tableLogParamValue"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 paginator="true" rows="10" filterEvent="keyup"
                                 rowIndexVar="rowIndex" paginatorPosition="bottom" id="tableLogParamValue" resizableColumns="true"
                                 rowsPerPageTemplate="10,15,20" sortMode="mutiple"
                                 emptyMessage="#{msg['datatable.empty']}" lazy="false" editable="true">
                        <f:facet name="header">
                            <h:outputText style="text-align: center; margin-left: 8px; margin-top: 5px" value="#{msg['common.search.result']}"/>
                            <p:commandButton style="visibility: hidden; display: none">
                                <div style="clear: both"></div>
                            </p:commandButton>
                        </f:facet>
                        <p:column style="width: 50px;" >
                            <f:facet name="header">  
                                <h:outputText value="#{msg['datatable.header.stt']}"/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>
                        </p:column>

                        <p:column filterBy="#{obj.paramCode}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['view.tilte.param']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.paramCode}"/>
                        </p:column>

                        <p:column filterBy="#{obj.paramValue}">
                            <f:facet name="header">  
                                <h:outputText value="#{msg['view.tilte.value']}"/>
                            </f:facet>
                            <h:outputText value="#{obj.paramValue}"/>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:panelGrid>
        </p:dialog>

    </h:form>
</ui:composition>