<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <h:form id="formSgsnRnc" rendered="#{rescueInfomationController.isShowIncidentSolution == 1}">
        <h:panelGroup id="panelGroupRiSgRcPlan" >
            <div class="ui-g">
                <div class="Container100">
                    <p:dataTable value="#{rescueInfomationController.lazyRiSgRcPlan}" id="tableRiSgRcPlanId"
                                 lazy="true" var="riSgRcPlan" rowKey="#{riSgRcPlan.id}" 
                                 selection="#{rescueInfomationController.selectedRiSgRcPlan}"  
                                 rowIndexVar="cusIdx" editable="true" editMode="cell"
                                 rows="10" paginator="true" paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                 rowsPerPageTemplate="5,10,20,30,40,50,60,70,80,90,100,150,200" widgetVar="tableRiSgRcPlanWidget"
                                 emptyMessage="#{msg['datatable.empty']}" 

                                 rowStyleClass="#{riSgRcPlan.checkActive == 0 ? 'checkActiveNOK' : (riSgRcPlan.autoCheck == 0 ? 'autoCheckNOK':'autoCheckOK')}"
                                 styleClass="RiSgRcTable Container100 NoPadding">
                        <f:facet name="header">
                            <div class="Card NoPadding" style="background: transparent;">
                                <div class="Container20 Responsive50" style="text-align: left;background: transparent;">
                                    <p:commandButton icon="fa fa-plus" styleClass="White Fs14 BlueButton MarTop5" title="#{msg['label.add']}"
                                                     actionListener="#{rescueInfomationController.clearRiSgRcPlan}"
                                                     update = "formSgsnRncCommon:dlgAddRiSgRcPlanId"
                                                     oncomplete="PF('dlgAddRiSgRcPlanNode').show()">
                                    </p:commandButton>

                                    <p:commandButton  icon="fa fa-upload"
                                                      actionListener="#{rescueInfomationController.cleanRiSgRcPlan}"
                                                      styleClass="White MarTop5 BlueButton Fs14"
                                                      oncomplete="PF('dlgUploadRiSgRcPlan').show()"
                                                      update="formSgsnRncCommon:dlgUploadRiSgRcPlan"
                                                      title="#{msg['button.import']}" />
                                </div>
                                <div class="Container60 Responsive50">
                                    <h:outputText styleClass="Fs20" value="#{msg['label.add.rescue.information.sgsn.rnc']}" />
                                </div>

                                <div class="Container20" style="text-align: right;">
                                    <p:commandButton icon="fa fa-share-square"
                                                     title="#{msg['button.export']}" ajax="false" styleClass="White MarTop5 BlueButton Fs14">
                                        <p:fileDownload value="#{rescueInfomationController.onExportRiSgRcPlan()}" />
                                    </p:commandButton>
                                    <p:commandButton id="toggler" type="button"  
                                                     style="float:right" icon="fa fa-sliders" styleClass="Fs14 BlueButton White MarTop5" />
                                    <p:columnToggler datasource="tableRiSgRcPlanId" trigger="toggler" />
                                </div>
                            </div>

                        </f:facet>

                        <p:column headerText="#{msg['datatable.header.stt']}" width="20" style="text-align: center">
                            <h:outputText value="#{cusIdx +1 }" />
                        </p:column>
                        <p:column selectionMode="multiple" width="22" style="text-align: center" styleClass="center" />

                        <p:column headerText="" width="15" style="text-align: center">
                            <p:rowToggler  />
                            <p:commandButton icon="fa fa-check" styleClass="Blue Fs14 TransparentButton SlimButton" 
                                             actionListener="#{rescueInfomationController.clearRiSgRcPlan()}"
                                             update="@widgetVar(tableRiSgRcPlanWidget),form:growl"
                                             rendered="#{riSgRcPlan.nodeRnc==null}">
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="#{msg['label.rescue.RNC']}" width="50" filterStyle="width:70%" style="text-align: center" 
                                  filterBy="#{riSgRcPlan.nodeRnc.nodeCode}">
                            <h:outputText value="#{riSgRcPlan.nodeRnc.nodeCode}" style="text-align: center"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.provinces']}"  width="60" style="text-align: center"
                                  filterBy="#{riSgRcPlan.nodeRnc.province.provinceCode}" filterStyle="width:70%">
                            <h:outputText value="#{riSgRcPlan.nodeRnc.province.provinceCode}" rendered="#{riSgRcPlan.nodeRnc!=null}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.vendor']}" width="60"
                                  filterBy="#{riSgRcPlan.nodeRnc.vendor.vendorName}" filterStyle="width:70%" style="text-align: center">
                            <h:outputText value="#{riSgRcPlan.nodeRnc.vendor.vendorName}" style="text-align: left"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.current.SGSN']}" width="85"
                                  filterBy="#{riSgRcPlan.nodeSgsnCurrent.nodeCode}" filterStyle="width:70%;" style="text-align: center">
                            <h:outputText value="#{riSgRcPlan.nodeSgsnCurrent.nodeCode}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.vendor']}" width="60"
                                  filterBy="#{riSgRcPlan.nodeSgsnCurrent.vendor.vendorName}" filterStyle="width:70%;padding-bottom: 2px" style="text-align: center">
                            <h:outputText value="#{riSgRcPlan.nodeSgsnCurrent.vendor.vendorName}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.backup.SGSN']}" width="85"
                                  filterBy="#{riSgRcPlan.nodeSgsnBackup.nodeCode}" filterStyle="width:70%" style="text-align: center">
                            <h:outputText value="#{riSgRcPlan.nodeSgsnBackup.nodeCode}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.vendor']}" width="60"
                                  filterBy="#{riSgRcPlan.nodeSgsnBackup.vendor.vendorName}" filterStyle="width:70%" style="text-align: center">
                            <h:outputText value="#{riSgRcPlan.nodeSgsnBackup.vendor.vendorName}" />
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.update.date']}" width="80" style="text-align: center">
                            <h:outputText value="#{riSgRcPlan.updateTime}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.auto.crosscheck']}" width="40" style="text-align: center">
                            <h:outputText value="#{riSgRcPlan.autoCheckName}"/>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.action']}" width="90" style="text-align: center">
                            <div style="text-align: center">
                                <p:tooltip position="top"></p:tooltip>
                                <p:commandButton title="#{msg['view.button.edit.enodeb']}"
                                                 actionListener="#{rescueInfomationController.prepareEditRiSgRcPlan(riSgRcPlan)}"
                                                 oncomplete="PF('dlgAddRiSgRcPlanNode').show()"
                                                 update="formSgsnRncCommon:dlgAddRiSgRcPlanId"
                                                 icon="fa fa-edit"
                                                 styleClass="Fs14 White OrangeButton" />
                                <p:commandButton title="#{msg['label.form.add.rescue.refreshParam']}"
                                                 actionListener="#{rescueInfomationController.preRiSgRcRefreshParam(riSgRcPlan)}"
                                                 oncomplete="PF('loadingDialog').hide();"
                                                 onstart="PF('loadingDialog').show();"
                                                 update="formSgsnRncCommon:dlgRiSgRcRefreshParam,form:mainMessage"
                                                 icon="fa fa-refresh"
                                                 styleClass="Fs14 White PinkButton" />


                            </div>
                        </p:column>
                        <p:column headerText="#{msg['label.rescue.backoffice.engineer']}" width="60" style="text-align: left">
                            <h:outputText value="#{riSgRcPlan.backOfficeEngineer}"/>
                        </p:column>


                        <p:rowExpansion>
                            <p:panelGrid styleClass="state" id="panellRescueDetail">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.RNC']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.PDP.RNC']}"/>
                                        </p:column>

                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.current.SGSN']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.License.SAU.current.SGSN']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAUR.current.SGSN']}"/>
                                        </p:column>

                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.backup.SGSN']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.License.SAU.backup.SGSN']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAUR.backup.SGSN']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAU.backup.after.SGSN']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.License.SAU.backup.after.SGSN']}"/>
                                        </p:column>
                                        <p:column width="50">
                                            <h:outputText value="#{msg['label.rescue.SAUR.backup.after.SGSN']}"/>
                                        </p:column>
                                    </p:row>

                                </f:facet>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{riSgRcPlan.sauRnc}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{riSgRcPlan.pdpRnc}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{riSgRcPlan.sauSgsnCurrent}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riSgRcPlan.licenseSauSgsnCurrent}"/>
                                    </p:column>
                                    <p:column >
                                        <h:outputText value="#{riSgRcPlan.saurSgsnCurrent}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riSgRcPlan.sauSgsnBackup}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riSgRcPlan.licenseSauSgsnBackup}"/>
                                    </p:column>
                                    <p:column >
                                        <h:outputText value="#{riSgRcPlan.saurSgsnBackup}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riSgRcPlan.sauSgsnBackupAfter}"/>
                                    </p:column>
                                    <p:column  >
                                        <h:outputText value="#{riSgRcPlan.licenseSauSgsnBackup}"/>
                                    </p:column>
                                    <p:column >
                                        <h:outputText value="#{riSgRcPlan.saurSgsnBackupAfter}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:rowExpansion>
                    </p:dataTable>
                    <p:outputPanel id="actionPanel" style="position: fixed;right: 0px; bottom: 30px;width: 45px;" >
                        <p:tooltip position="top" />

                        <p:commandButton icon="fa fa-check" styleClass="White Fs14 GreenButton MarTop5" title="#{msg['label.rescue.auto.crosscheck']}"
                                         actionListener="#{rescueInfomationController.preCrossCheckRiSgRcPlan()}"
                                         update="formSgsnRncCommon:dlgRiSgRcCrossCheck"
                                         oncomplete="PF('dlgRiSgRcCrossCheck').show()">
                        </p:commandButton>
                        <p:commandButton icon="fa fa-medkit" styleClass="White Fs14 GreenButton MarTop5" title="#{msg['label.form.add.rescue.rescue']}"
                                         actionListener="#{rescueInfomationController.preRiSgRcCreateMop()}"
                                         update="formSgsnRncCommon:dlgRiSgRcCreateMop,@widgetVar(tableRiSgRcPlanWidget),form:mainMessage" >
                        </p:commandButton>
                        <p:commandButton icon="fa fa-search" styleClass="White Fs14 GreenButton MarTop5" title="#{msg['label.rescue.auto.showLog']}"
                                         actionListener="#{rescueInfomationController.preshowLogRiSgRc()}"
                                         update="formSgsnRncCommon:dlgShowLogRiSgRc"
                                         oncomplete="PF('dlgShowLogRiSgRc').show()">
                        </p:commandButton>
                        <p:commandButton icon="fa fa-trash" actionListener="#{rescueInfomationController.preDeleteRiSgRcPlan}"
                                         update="@widgetVar(tableRiSgRcPlanWidget),form:mainMessage"
                                         title="#{msg['label.del']}" styleClass="White RedButton Fs14 MarTop5" >
                        </p:commandButton>
                    </p:outputPanel>
                </div>
            </div>
        </h:panelGroup>
    </h:form>
    <style type="text/css">
        .checkActiveNOK td{
            color: black !important;
        }
        .autoCheckNOK td{
            color: black !important;
        }
        .autoCheckOK td{
            color: black !important;
        }

    </style>
</ui:composition>