<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <p:dialog header="" widgetVar="showGroupClone" width="70%" 
              style="top:40px; bottom:40px;overflow:hidden;"  modal="true" 
              draggable="true" resizable="false" id="showGroupClone"  onShow="resizeTable()"
              >
        <h:form id="formGroupClone" style="">
            <p:growl showDetail="true" showSummary="false"/>
            <p:outputPanel class="ui-datatable" id="data-group-clone" style="width: 100%; overflow: auto;">
                <table style="" role="grid">
                    <THEAD >
                        <tr role="row">
                            <th width="200px" >
                                <p:commandButton value="#{msg['button.save']}"
                                                 disabled="#{buildTemplateFlowController.selectedFlowTemplate == null
                                                             or buildTemplateFlowController.selectedFlowTemplate.status == 9
                                                             or buildTemplateFlowController.selectedFlowTemplate.status == 1}"
                                                 icon="fa fa-save" styleClass="White"
                                                 update="@form" actionListener="#{groupCloneController.saveGroupConfig}" />
                            </th>
                            <th width="150px">#{msg['view.button.show.group.clone']}</th>	
                            <th width="150px">#{msg['view.button.show.group.stop']}</th>	
                        </tr>
                    </THEAD>
                    <TBODY>
                        <c:forEach items="#{groupCloneController.groupClones}" var="groupConfig" >
                            <tr>
                                <td>#{groupConfig.groupName}</td>
                                <td style="text-align: center; ">
                                    <p:inputSwitch style="width: 150px"
                                                   disabled="#{buildTemplateFlowController.selectedFlowTemplate == null
                                                             or buildTemplateFlowController.selectedFlowTemplate.status == 9
                                                             or buildTemplateFlowController.selectedFlowTemplate.status == 1}"
                                                   value="#{groupConfig.clone}" styleClass="SwitchNodeLayer" >
                                    </p:inputSwitch>
                                </td>
                                <td style="text-align: center; ">
                                    <p:inputSwitch style="width: 150px" 
                                                   disabled="#{buildTemplateFlowController.selectedFlowTemplate == null
                                                             or buildTemplateFlowController.selectedFlowTemplate.status == 9
                                                             or buildTemplateFlowController.selectedFlowTemplate.status == 1}"
                                                   value="#{groupConfig.stop}" styleClass="SwitchNodeLayer" >
                                    </p:inputSwitch>
                                </td>
                            </tr>	
                        </c:forEach>
                    </TBODY>
                </table>
            </p:outputPanel>

        </h:form>
    </p:dialog>
    <script type="text/javascript">
        function resizeTable() {
            var a = $('#showGroupClone').width() - 30;
            var b = $('#showGroupClone').height() - 58;
            $('#data-group-clone').css('width', a);
            $('#data-group-clone').css('height', b);
        }
    </script>
    <style type="text/css">
        .SwitchNodeLayer .ui-inputswitch-off span{
            color: red !important;
        }
    </style>
</ui:composition>	