<ui:composition template="/layout/olympos/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <!-- <ui:insert>
                <ui:include src="../../manager/left.xhtml" />
        </ui:insert> -->
        <h:form id="form">
            <div class="messagebox tc">
                <p:growl id="mainMessage" showDetail="true" showSummary="false"
                         life="30000" />
            </div>
            <div style="width: 100%; float: right;">
                <h:panelGrid width="100%">
                    <p:dataTable var="obj"
                                 value="#{databaseController.lazyModel}" paginator="true"
                                 rows="25" filterEvent="keyup" rowKey="#{obj.dbId}"
                                 rowIndexVar="rowIndex" paginatorPosition="bottom"
                                 id="objectTable" widgetVar="obj"
                                 rowsPerPageTemplate="25, 50, 100"
                                 emptyMessage="#{msg['table.nodata']}" lazy="true"
                                 editable="true" editMode="row"
                                 resizableColumns="true"
                                 >
                        <f:facet name="header">
                            <div class="Card NoPadding" style="background: transparent;">
                                <div class="Container20 Responsive50" style="text-align: left;">

                                </div>
                                <div class="Container60 Responsive50">
                                    <h:outputText value="#{msg['submenu.manager.database']}"
                                                  style="font-weight: bold; text-align: center; font-size: 18px;" />
                                </div>
                                <div class="Container20" style="text-align: right;">
                                    <p:commandButton title="Refresh" 
                                                     icon="fa fa-refresh White"
                                                     update="objectTable"/>
                                    <p:commandButton title="#{msg['button.add']}" 
                                                     actionListener="#{databaseController.clean()}"
                                                     icon="fa fa-plus White"
                                                     oncomplete="PF('dlgAdd').show();" update=":form:dlgAdd"/>
                                </div>
                            </div>
                        </f:facet>
                        <p:ajax event="rowEdit" listener="#{databaseController.onRowEdit}"
                                update=":form:mainMessage"/>
                        <p:ajax event="rowEditCancel" listener="#{databaseController.onRowCancel}"
                                update=":form:mainMessage"/>
                        <p:column style="width: 5%; text-align: center;">
                            <f:facet name="header">
                                <h:outputText value="#{msg['table.header.stt']}" />
                            </f:facet>
                            <h:outputText value="#{rowIndex+ 1}" />
                        </p:column>
                        <p:column style="width: 150px; text-align: center;" exportable="false">
                            <f:facet name="header">
                                <h:outputText value="#{msg['table.header.action']}"/>
                            </f:facet>
                            <p:splitButton value="#{msg['button.update']}" icon="fa fa-fw fa-edit White"
                                           actionListener="#{databaseController.prepareEdit(obj)}"
                                           oncomplete="PF('dlgAdd').show();" update=":form:dlgAdd">
                                <p:menuitem id="cmdDelete" icon="fa fa-remove Red"
                                            oncomplete="PF('confirmation').show()"
                                            value="#{msg['table.header.delete']}"
                                            update=":form:confirmDialog" process="@this">
                                    <f:setPropertyActionListener
                                        target="#{databaseController.selectObj}"
                                        value="#{obj}" />
                                </p:menuitem>

                            </p:splitButton>
                        </p:column>
                        <p:column style="width: 15%;text-align: center;"
                                  filterBy="#{obj.dbName}" sortBy="#{obj.dbName}" >
                            <f:facet name="header">
                                <h:outputText value="#{msg['label.dbName']}" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="input">
                                    <h:inputText value="#{obj.dbName}"/>
                                </f:facet>
                                <f:facet name="output">
                                    <h:outputText value="#{obj.dbName}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width: 15%;text-align: center;"
                                  filterBy="#{obj.license}" sortBy="#{obj.license}">
                            <f:facet name="header">
                                <h:outputText value="#{msg['label.license']}" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="input">
                                    <h:inputText value="#{obj.license}"/>
                                </f:facet>
                                <f:facet name="output">
                                    <h:outputText value="#{obj.license}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width: 15%;text-align: center;"
                                  filterBy="#{obj.url}" sortBy="#{obj.url}">
                            <f:facet name="header">
                                <h:outputText value="#{msg['table.header.url']}" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="input">
                                    <h:inputText value="#{obj.url}"/>
                                </f:facet>
                                <f:facet name="output">
                                    <h:outputText value="#{obj.url}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column style="width: 15%;text-align: center;"
                                  filterBy="#{obj.driver}" sortBy="#{obj.driver}">
                            <f:facet name="header">
                                <h:outputText value="#{msg['table.header.driver']}" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="input">
                                    <h:inputText value="#{obj.driver}"/>
                                </f:facet>
                                <f:facet name="output">
                                    <h:outputText value="#{obj.driver}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column style="width: 15%;text-align: center;"
                                  filterBy="#{obj.username}" sortBy="#{obj.username}">
                            <f:facet name="header">
                                <h:outputText value="#{msg['label.username']}" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="input">
                                    <h:inputText value="#{obj.username}"/>
                                </f:facet>
                                <f:facet name="output">
                                    <h:outputText value="#{obj.username}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width: 15%;text-align: center;" >
                            <f:facet name="header">
                                <h:outputText value="#{msg['table.header.password']}" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="input">
                                    <h:inputText value="#{obj.password}"/>
                                </f:facet>
                                <f:facet name="output">
                                    <h:outputText value="******" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width: 15%;text-align: center;" filterBy="#{obj.status}"
                                  sortBy="#{obj.status}">
                            <f:facet name="header">
                                <h:outputText value="#{msg['label.status']}" />
                            </f:facet>
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('obj').filter()" style="width: 100px">
                                    <f:selectItem itemValue="-1" itemLabel="#{msg['label.choose']}" />
                                    <f:selectItem itemValue="0" itemLabel="Disable" />
                                    <f:selectItem itemValue="1" itemLabel="Enable" />
                                </p:selectOneMenu>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{obj.status}" style="width: 100px">
                                        <f:selectItem itemValue="-1" itemLabel="#{msg['label.choose']}" />
                                        <f:selectItem itemValue="0" itemLabel="Disable" />
                                        <f:selectItem itemValue="1" itemLabel="Enable" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <f:facet name="output">
                                    <h:outputText value="Disable" rendered="#{obj.status == 0}"/>
                                    <h:outputText value="Enable" rendered="#{obj.status == 1}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                    </p:dataTable>

                </h:panelGrid> 
            </div>
            <p:confirmDialog id="confirmDialog"
                             message="#{msg['label.message.confirmDialog']}" header="#{msg['table.header.delete']}" severity="alert"
                             widgetVar="confirmation">
                <p:commandButton value="#{msg['button.confirm']}"
                                 actionListener="#{databaseController.delete(databaseController.selectObj)}"
                                 update=":form" oncomplete="PF('confirmation').hide()"
                                 process="@this" />
                <p:commandButton id="decline" value="#{msg['button.cancel']}"
                                 onclick="PF('confirmation').hide()" type="button" />
            </p:confirmDialog>
            <p:dialog closeOnEscape="true" widgetVar="dlgAdd" width="auto" 
                      id="dlgAdd" modal="true" showEffect="size" hideEffect="scale"
                      resizable="false">
                <f:facet name="header">
                    <h:outputText value="#{msg['dlg.header.adm.addDatabase']}"/>
                </f:facet>       
                <h:panelGrid id="pnl" cellpadding="5" columns="4" width="100%">
                    <p:outputLabel value="#{msg['label.dbName']}: "
                                   style="font-weight: bold;" class="cd-text-required" />
                    <p:inputText value="#{databaseController.dbName}" maxlength="200"/>

                    <p:outputLabel value="#{msg['label.license']}: "
                                   style="font-weight: bold;" />
                    <p:inputText value="#{databaseController.license}" maxlength="20"/>

                    <p:outputLabel value="#{msg['label.url']}: "
                                   style="font-weight: bold;" class="cd-text-required" />
                    <p:inputText value="#{databaseController.url}" maxlength="2000"/>
                    <p:outputLabel value="#{msg['label.drive']}: "
                                   style="font-weight: bold;" class="cd-text-required" />
                    <p:inputText value="#{databaseController.driver}" maxlength="2000"/>
                    <p:outputLabel value="#{msg['label.username']}: "
                                   style="font-weight: bold;" />
                    <p:inputText value="#{databaseController.username}" maxlength="20"/>

                    <p:outputLabel value="#{msg['table.header.password']}: " style="font-weight: bold;" />
                    <p:password value="#{databaseController.password}" />

                    <p:outputLabel value="#{msg['table.header.status']}: " style="font-weight: bold;" />
                    <p:selectOneMenu value="#{databaseController.status}" style="width: 135px;">
                        <f:selectItem itemValue="-1" itemLabel="#{msg['label.choose']}" />
                        <f:selectItem itemValue="0" itemLabel="Disable"/>
                        <f:selectItem itemValue="1" itemLabel="Enable"/>
                    </p:selectOneMenu>

                    <f:facet name="footer">
                        <div align="right">
                            <h:panelGrid columns="2">
                                <p:commandButton value="#{msg['button.save']}"
                                                 actionListener="#{databaseController.saveOrUpdate}"
                                                 update=":form"/>
                                <p:commandButton value="#{msg['button.cancel']}" 
                                                 onclick="PF('dlgAdd').hide();"
                                                 class="RedButton"/>
                            </h:panelGrid>
                        </div>
                    </f:facet>

                </h:panelGrid>
            </p:dialog>
        </h:form>

        <style type="text/css">
            span.cd-text-required::after {
                color: red;
                content: "*";
            }
        </style>
    </ui:define>
</ui:composition>
