<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:f="http://java.sun.com/jsf/core" 
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core" 
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">
        <p:messages id="mainMessage" showDetail="true" showSummary="false" closable="true" />
        <h:form id="form">
            <p:messages id="mainMessage3" showDetail="true" showSummary="false" closable="true" />
            <p:growl id="growl" showDetail="true" showSummary="false" widgetVar="growl" />

            <p:dataTable value="#{changeHrController.lazyChangeHrSdResource}" id="tableChangeId"
                         lazy="true" var="dataObj" rowKey="#{dataObj.id}"
                         selection="#{changeHrController.selectedChangeHrSdResources}"
                         rowIndexVar="cusIdx" editable="true" editMode="cell"
                         rows="20" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                         rowsPerPageTemplate="5,10,15,20,30,50,60,80,100,150,200" widgetVar="tableChangeWidget"
                         emptyMessage="#{msg['datatable.empty']}" styleClass="ChangeTable Container100 NoPadding MarTop10">
                <f:facet name="header">
                    <div class="Card NoPadding" style="background: transparent;">
                        <h:panelGroup id="addNewChangePanel" class="Container5" style="text-align: left;" layout="block" rendered="#{changeHrController.eventType == 5}">
                            <p:tooltip position="right" for="addNewChange"></p:tooltip>

                            <p:commandButton id="addNewChange" icon="fa fa-plus-circle" styleClass="OrangeButton White" style="margin-top: 5px"
                                             onclick="PF('block').show()"
                                             oncomplete="PF('defineRuleDlg').show();PF('block').hide()" update=":actForm"
                                             actionListener="#{changeHrController.preAddChangePlan}"
                                             title="#{msg['button.insert']}"
                            />
                        </h:panelGroup>
                        <div class="Container10" style="text-align: left;">
                            <p:tooltip position="left" for="eventTypeId"></p:tooltip>
                            <p:selectOneMenu filter="true" filterMatchMode="contains" style="#{(changeHrController.eventType == 5) ? 'margin-left: -15px;margin-top: -2px' : 'margin-top: -2px'}"
                                             value="#{changeHrController.eventType}" id="eventTypeId" >
                                <f:ajax event="change" render="tableChangeId" listener="#{changeHrController.onStart}"/>
                                <f:selectItem itemLabel="#{msg['label.change.hr.daily']}" itemValue="1" noSelectionOption="true" />
                                <f:selectItem itemLabel="#{msg['label.change.hr.weekly']}" itemValue="2" noSelectionOption="true" />
                                <f:selectItem itemLabel="#{msg['label.change.sd.daily']}" itemValue="3" noSelectionOption="true" />
                                <f:selectItem itemLabel="#{msg['label.change.sd.weekly']}" itemValue="4" noSelectionOption="true" />
                                <!--<f:selectItem itemLabel="#{msg['label.change.force.sd.hr']}" itemValue="5" noSelectionOption="true" />-->
                            </p:selectOneMenu>
                        </div>
                        <div class="Container80 Responsive50">
                            <h:outputText styleClass="Fs20" value="#{changeHrController.eventTypeStr}" />
                        </div>
                        <div class="Container5" style="text-align: right;">
                            <p:commandButton id="toggler" type="button"  
                                             style="float:right" icon="fa fa-sliders" styleClass="Fs14 White" />
                            <p:columnToggler datasource="tableChangeId" trigger="toggler" />
                        </div>
                    </div>
                </f:facet>

                <p:ajax event="page" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax> 
                <p:ajax event="filter" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                <p:column headerText="#{msg['datatable.header.stt']}" width="2" style="text-align: center">
                    <h:outputText value="#{cusIdx +1 }" />
                </p:column>
                <p:column selectionMode="multiple" width="2" style="text-align: center" styleClass="center" >
                </p:column>
                
                <!-- Columns for normal change HR-SD START -->
                <p:column headerText="#{msg['datatable.header.provCode']}" width="50"  
                          filterBy="#{dataObj.provCode}" rendered="#{changeHrController.eventType != 5}">
                    <h:outputText id="provCode" value="#{dataObj.provCode}"/>
                    <p:tooltip for="provCode"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.areaCode']}" width="40"  
                          filterBy="#{dataObj.kvCode}" rendered="#{changeHrController.eventType != 5}">
                    <h:outputText id="kvCode" value="#{dataObj.kvCode}"/>
                    <p:tooltip for="kvCode"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.rnc']}" width="20"  
                          filterBy="#{dataObj.rncBsc}" rendered="#{changeHrController.eventType != 5}">
                    <h:outputText id="rncBsc" value="#{dataObj.rncBsc}"/>
                    <p:tooltip for="rncBsc"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.cellCode']}" width="20"  
                          filterBy="#{dataObj.cellCode}" rendered="#{changeHrController.eventType != 5}">
                    <h:outputText id="cellCode" value="#{dataObj.cellCode}"/>
                    <p:tooltip for="cellCode"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.scr']}" width="20"  
                          filterBy="#{dataObj.scr}" rendered="#{changeHrController.eventType == 3}">
                    <h:outputText id="scr" value="#{dataObj.scr}"/>
                    <p:tooltip for="scr"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.tcr']}" width="20"  
                          filterBy="#{dataObj.scr}" rendered="#{changeHrController.eventType == 1}">
                    <h:outputText id="tcr" value="#{dataObj.tcr}"/>
                    <p:tooltip for="tcr"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.tchCongestion']}" width="20"
                          filterBy="#{dataObj.tchCongestion}" rendered="#{changeHrController.eventType == 1}">
                    <h:outputText id="tchCongestion" value="#{dataObj.tchCongestion}"/>
                    <p:tooltip for="tchCongestion"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.tu']}" width="20"  
                          filterBy="#{dataObj.tuNonHr}" rendered="#{changeHrController.eventType == 1}">
                    <h:outputText id="tuNonHr" value="#{dataObj.tuNonHr}"/>
                    <p:tooltip for="tuNonHr"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.tcx']}" width="20"  
                          filterBy="#{dataObj.trx}" rendered="#{changeHrController.eventType == 1 || changeHrController.eventType == 3}">
                    <h:outputText id="trx" value="#{dataObj.trx}"/>
                    <p:tooltip for="trx"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.count.scr']}" width="20"  
                          filterBy="#{dataObj.countScr}" rendered="#{changeHrController.eventType == 4}">
                    <h:outputText id="countScr" value="#{dataObj.countScr}"/>
                    <p:tooltip for="countScr"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['datatable.header.count.tcr']}" width="20"  
                          filterBy="#{dataObj.countTcr}" rendered="#{changeHrController.eventType == 2}">
                    <h:outputText id="countTcr" value="#{dataObj.countTcr}"/>
                    <p:tooltip for="countTcr"></p:tooltip>
                </p:column>

                <p:column headerText="#{msg['label.rescue.update.date']}" width="60"
                          filterBy="#{dataObj.updateTime}"
                          style="text-align: center"
                          rendered="#{changeHrController.eventType != 5}">
                    <h:outputText value="#{dataObj.updateTime}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg['datatable.header.dt.status']}" width="20"  
                          filterBy="#{dataObj.dtStatus}"
                          rendered="#{changeHrController.eventType != 5}">
                    <h:outputText id="dtStatus" value="#{dataObj.dtStatus}"/>
                    <p:tooltip for="dtStatus"></p:tooltip>
                </p:column>
                <!-- Columns for normal change HR-SD END -->
                
                <!-- Columns for force change HR-SD START -->
                <p:column headerText="#{msg['datatable.header.crNumber']}" width="50"  
                          filterBy="#{dataObj.crNumber}" rendered="#{changeHrController.eventType == 5}">
                    <h:outputText id="crNumberId" value="#{dataObj.crNumber}"/>
                    <p:tooltip for="crNumberId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.rescue.vendor']}" width="40"  
                          filterBy="#{dataObj.vendor.vendorName}" rendered="#{changeHrController.eventType == 5}">
                    <h:outputText id="changePlanVendorId" value="#{dataObj.vendor.vendorName}"/>
                    <p:tooltip for="changePlanVendorId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.networkType']}" width="20"  
                          filterBy="#{dataObj.crNumber}" rendered="#{changeHrController.eventType == 5}">
                    <h:outputText id="changePlanNetworkType" value="#{dataObj.networkType}"/>
                    <p:tooltip for="changePlanNetworkType"></p:tooltip>
                </p:column>

                <p:column headerText="#{msg['datatable.header.createby']}" width="20"  
                          filterBy="#{dataObj.userCreate}" rendered="#{changeHrController.eventType == 5}">
                    <h:outputText id="rncBscId" value="#{dataObj.userCreate}"/>
                    <p:tooltip for="rncBscId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.rescue.update.date']}" width="60"
                          filterBy="#{dataObj.updateTime}"
                          style="text-align: center"
                          rendered="#{changeHrController.eventType == 5}">
                    <h:outputText value="#{dataObj.updateTime}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <!-- Columns for force change HR-SD END -->
                
                <p:column headerText="#{msg['datatable.header.action']}" width="30" style="text-align: center">
                    <div style="text-align: center">
                        <p:tooltip position="top"></p:tooltip>
                        <p:commandButton title="#{msg['label.change.DT.rnc']}"
                                         actionListener="#{changeHrController.preShowChangeDT(dataObj)}"
                                         oncomplete="PF('dlgShowChangeDT').show()"
                                         icon="fa fa-search"
                                         update ="showChangeDTForm"
                                         styleClass="Fs14 White OrangeButton" />
                    </div>
                </p:column>

            </p:dataTable>
            <p:outputPanel id="actionPanel" style="position: fixed;right: 0px; bottom: 30px;width: 45px;" >
                <p:tooltip position="top" />
                <p:commandButton icon="fa fa-flash" actionListener="#{changeHrController.preCreateChangeDT}"
                                 update="@widgetVar(comfirmCreateChangeDT),:form"
                                 title="#{msg['menu.title.dt']}" styleClass="White GreenButton Fs14 MarTop5" >
                </p:commandButton>
            </p:outputPanel>

        </h:form>
        
        <p:dialog widgetVar="addChangeDlg" width="60%" 
                  height="50%"  modal="true" showEffect="size" hideEffect="scale">
            <f:facet name="header">
                <h:outputText value="#{msg['label.import']}"/>
            </f:facet>
            <h:form id="actForm">
                <div class="Container100 Flex FlexWrap">
                    <div class="Container50 Flex FlexWrap">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['datatable.header.crNumber']}" />
                        <p:inputText class="ui-g-7" id="crNumberInputId" value="#{changeHrController.currChangePlan.crNumber}" >
                            <f:ajax event="change"/>
                        </p:inputText>
                    </div>
                </div>

                <div class="Container100 Flex FlexWrap">
                    <div class="Container50 Flex FlexWrap" style="margin-bottom: 10px">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['label.vendorName']}"/>
                        <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7"
                                         value="#{changeHrController.currChangePlan.vendor}" id="vendorName" converter="vendorConverter">
                            <p:ajax event="change" update="@this"/>
                            <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                            <f:selectItems var="vendorObj" itemLabel="#{vendorObj.vendorName}" 
                                           itemValue="#{vendorObj}" value="#{changeHrController.vendors}" />

                        </p:selectOneMenu>
                    </div>
                    <div class="Container50 Flex FlexWrap" style="margin-bottom: 10px">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['label.networkType']}"/>
                        <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7" 
                                         value="#{changeHrController.currChangePlan.networkType}" id="networkType" >
                            <f:ajax event="change"/>
                            <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                            <f:selectItem itemLabel="#{msg['label.networkType.3G']}" itemValue="#{msg['label.networkType.3G']}" noSelectionOption="true" />
                            <f:selectItem itemLabel="#{msg['label.networkType.2G']}" itemValue="#{msg['label.networkType.2G']}" noSelectionOption="true" />

                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="Container100 NoPadding TexAlCenter">
                    <h:outputText class="control-label Container100" 
                                  value="Bạn cần chọn đúng file import theo từng vendor và loại node mạng!"
                                  style="color: green"
                                  />
                    <p:fileUpload  allowTypes="/(\.|\/)(xls|xlsx)$/" 
                                   uploadLabel="#{msg['button.import.temp']}" fileUploadListener="#{changeHrController.handleImportChangePlan}"
                                   label="#{msg['label.fileImport']}" onstart="PF('block').show()" oncomplete="PF('block').hide()"
                                   update=":form,:actForm" multiple="true"
                                   invalidFileMessage="#{msg['message.invalid.file.excel']}" invalidSizeMessage="#{msg['message.invalid.file.size']}"
                                   mode="advanced" skinSimple="true" sizeLimit="2097152" dragDropSupport="true">
                    </p:fileUpload>
                </div>
                <div class="Container100 Flex FlexWrap NoPadding TexAlCenter" style="overflow: hidden;">
                    <div class="Container100 TexAlCenter" >
                        
                    </div>
                </div>
            </h:form>
        </p:dialog>
        
        <p:dialog widgetVar="defineRuleDlg" width="60%"
                  height="50%"  modal="true" showEffect="size" hideEffect="scale">
            <f:facet name="header">
                <h:outputText value="#{msg['label.rule']}"/>
            </f:facet>
            <h:form id="ruleForm">
                <div style="overflow: auto; height: 500px; text-align:center; margin-bottom: 20px;">
                    <p:panel id="hotspot" header="#{msg['label.rule.sd.hotspot']}" style="margin-bottom: 20px;">
                        <h:panelGrid columns="4" cellpadding="10">
                            <f:facet name="header">
                                <h:outputText value = "#{msg['label.rule.sd.hotspot']}"/>
                            </f:facet>

                            <h:outputText value="" />
                            <h:outputText value="#{msg['label.TU']} &lt;" />
                            <p:spinner value="#{changeHrController.hotspot1SDRightValue}" stepFactor="1"/>
                            <p:inputText id="hotspot1SDValue" value="#{changeHrController.hotspot1SDValue}" required="true"/>  

                            <p:spinner value="#{changeHrController.hotspot2SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt;= #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.hotspot2SDRightValue}" stepFactor="1"/>
                            <p:inputText id="hotspot2SDValue" value="#{changeHrController.hotspot2SDValue}" required="true"/>  

                            <p:spinner value="#{changeHrController.hotspot3SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']}" />
                            <h:outputText value="" />
                            <p:inputText id="hotspot3SDValue" value="#{changeHrController.hotspot3SDValue}" required="true"/>  
                        </h:panelGrid>
                    </p:panel>
                    <p:panel id="normal" header="#{msg['label.rule.sd.normal']}" style="margin-bottom: 20px;">
                        <h:panelGrid columns="4" cellpadding="10">
                            <h:outputText value="" />
                            <h:outputText value="#{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal1SDRightValue}" stepFactor="1"/>
                            <p:inputText id="normal1SDValue" value="#{changeHrController.normal1SDValue}" required="true"/>  

                            <p:spinner value="#{changeHrController.normal2SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal2SDRightValue}" stepFactor="1"/>
                            <p:inputText id="normal2SDValue" value="#{changeHrController.normal2SDValue}" required="true"/>  

                            <p:spinner value="#{changeHrController.normal3SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal3SDRightValue}" stepFactor="1"/>
                            <p:inputText id="normal3SDValue" value="#{changeHrController.normal3SDValue}" required="true"/>  

                            <p:spinner value="#{changeHrController.normal4SDLeftValue}" stepFactor="1"/>
                            <h:outputText value="&lt; #{msg['label.TU']}" />
                            <h:outputText value="" />
                            <p:inputText id="normal4SDValue" value="#{changeHrController.normal4SDValue}" required="true"/>  
                        </h:panelGrid>
                    </p:panel>
                    <p:panel id="hr" header="#{msg['label.rule.hr']}" style="margin-bottom: 20px;">
                        <h:panelGrid columns="4" cellpadding="10">
                            <h:outputText value="" />
                            <h:outputText value="#{msg['label.TU']} &lt;" />
                            <p:spinner value="#{changeHrController.normal1HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal1HRValue" value="#{changeHrController.normal1HRValue}" decimalPlaces="0" required="true"/>  

                            <p:spinner value="#{changeHrController.normal2HRLeftValue}" stepFactor="1" min="#{changeHrController.normal1HRRightValue}"/>
                            <h:outputText value="&lt;= #{msg['label.TU']} &lt;" />
                            <p:spinner value="#{changeHrController.normal2HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal2HRValue" value="#{changeHrController.normal2HRValue}" decimalPlaces="0" required="true"/>  

                            <p:spinner value="#{changeHrController.normal3HRLeftValue}" stepFactor="1" min="#{changeHrController.normal2HRRightValue}"/>
                            <h:outputText value="&lt;= #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal3HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal3HRValue" value="#{changeHrController.normal3HRValue}" decimalPlaces="0" required="true"/>  

                            <p:spinner value="#{changeHrController.normal4HRLeftValue}" stepFactor="1" min="#{changeHrController.normal3HRRightValue}"/>
                            <h:outputText value="&lt; #{msg['label.TU']} &lt;=" />
                            <p:spinner value="#{changeHrController.normal4HRRightValue}" stepFactor="1"/>
                            <p:inputNumber id="normal4HRValue" value="#{changeHrController.normal4HRValue}" decimalPlaces="0" required="true"/>  

                            <p:spinner value="#{changeHrController.normal5HRLeftValue}" stepFactor="1" min="#{changeHrController.normal4HRRightValue}"/>
                            <h:outputText value="&lt; #{msg['label.TU']}" />
                            <h:outputText value="" />
                            <p:inputNumber id="normal5HRValue" value="#{changeHrController.normal5HRValue}" decimalPlaces="0" required="true"/>  
                        </h:panelGrid>
                    </p:panel>
                </div>
                
                <div class="Container100 NoPadding TexAlCenter">
                    <p:commandButton value="#{msg['button.confirm']}" 
                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White"
                             onclick="PF('block').show()"
                             oncomplete="PF('addChangeDlg').show();PF('block').hide();PF('defineRuleDlg').hide()" update=":actForm"
                             actionListener="#{changeHrController.preAddChangePlan}"
                    />
                    
                    <p:commandButton value="#{msg['button.cancel']}" styleClass="ui-confirmdialog-no AquaButton" process="@this"
                                     oncomplete ="PF('defineRuleDlg').hide()"
                                     actionListener="#{changeHrController.selectChangePlans.clear()}"
                                     update=":form" 
                                     icon="ui-icon-close fa fa-close Fs14 White" />
                </div>
                <div class="Container100 Flex FlexWrap NoPadding TexAlCenter" style="overflow: hidden;">
                    <div class="Container100 TexAlCenter" >
                        
                    </div>
                </div>
            </h:form>
        </p:dialog>
        
        <p:dialog id="dlgShowChangeDT" widgetVar="dlgShowChangeDT"
                  modal="true" resizable="false"
                  header="#{msg['label.change.DT.rnc']}"
                  width="90%" style="top: 50px; bottom: 30px; overflow: auto">
            <h:form id="showChangeDTForm">
                <h:panelGrid columns="1" width="100%">
                    <div class="Container100 Flex FlexWrap">
                        <p:dataTable value="#{changeHrController.lazyChangeDT}" id="tableChangeDTId"
                                     lazy="true" var="changeDT" rowKey="#{changeDetail.id}" filterDelay="2000"
                                     rowIndexVar="cusIdx" editable="true" editMode="cell"
                                     rows="20" paginator="true" paginatorPosition="bottom"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                     rowsPerPageTemplate="5,10,15,20,30,50,60,80,100,150,200" widgetVar="tableChangeDTWidget"
                                     emptyMessage="#{msg['datatable.empty']}" styleClass="ChangeTable Container100 NoPadding MarTop10">
                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">

                                    <div class="Container80">
                                        <h:outputText styleClass="Fs20" value="#{msg['label.change.DT.rnc']}" />
                                    </div>
                                    <div class="Container20" style="text-align: right;">
                                        <p:commandButton id="toggler" type="button"  
                                                         style="float:right" icon="fa fa-sliders" styleClass="Fs14 White" />
                                        <p:columnToggler datasource="tableChangeDTId" trigger="toggler" />
                                    </div>
                                </div>

                            </f:facet>

                            <p:ajax event="page" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax> 
                            <p:ajax event="filter" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                            <p:column headerText="#{msg['datatable.header.stt']}" width="5">
                                <h:outputText value="#{cusIdx +1 }" />
                            </p:column>
                            <p:column headerText="#{msg['label.nodecode']}" width="50"  
                                      filterBy="#{changeDT.node.nodeCode}">
                                <h:outputText id="nodeCodeId" value="#{changeDT.node.nodeCode}"/>
                                <p:tooltip for="nodeCodeId"></p:tooltip>
                            </p:column>
                            <p:column headerText="#{msg['datatable.header.name.flowrunaction']}" width="50"  
                                      filterBy="#{changeDT.flowRunAction.flowRunName}">
                                <h:outputText id="flowRunNameId" value="#{changeDT.flowRunAction.flowRunName}"/>
                                <p:tooltip for="flowRunNameId"></p:tooltip>
                            </p:column>
                            <p:column headerText="#{msg['label.group.action']}" width="50"  
                                      filterBy="#{changeDT.groupActionName}">
                                <h:outputText id="groupActionNameId" value="#{changeDT.groupActionName}"/>
                                <p:tooltip for="groupActionNameId"></p:tooltip>
                            </p:column>

                            <p:column headerText="#{msg['label.fileName']}" width="50"  
                                      filterBy="#{changeDT.fileName}">
                                <h:outputText id="fileNameId" value="#{changeDT.fileName}"/>
                                <p:tooltip for="fileNameId"></p:tooltip>
                            </p:column>
                            <p:column headerText="#{msg['label.dowload.fileName']}" width="20" style="text-align: center">
                                <div style="text-align: center">
                                    <p:tooltip position="top"></p:tooltip>
                                    <p:commandButton title="#{msg['label.dowload.fileName']}"
                                                     onstart="PF('block').show()"
                                                     oncomplete="PF('block').hide()"
                                                     icon="fa fa-download"
                                                     update=":form"
                                                     ajax="false"
                                                     styleClass="Fs14 White OrangeButton" >
                                        <p:fileDownload value="#{changeHrController.onDownloadFilePutOSS(changeDT)}" />
                                    </p:commandButton>
                                </div>
                            </p:column>
                        </p:dataTable>	
                    </div>
                </h:panelGrid>
            </h:form>
        </p:dialog>
        
        <p:confirmDialog global="true" header="#{msg['button.confirm']}"  showEffect="face" hideEffect="scale"
                         widgetVar="comfirmCreateChangeDT" id="comfirmCreateChangeDT">
            <f:facet name="message">
                <h:outputText value="#{msg['title.change.hr.confirm.create']}" />
                <p:spacer width="100%" height="1px"></p:spacer>
            </f:facet>

            <p:commandButton value="Yes" update=":form" process="@this"
                             actionListener="#{changeHrController.createChangeDT}"
                             onstart="PF('loadingDialog').show()" oncomplete="PF('loadingDialog').hide()"
                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="No" styleClass="ui-confirmdialog-no AquaButton" process="@this"
                             oncomplete ="PF('comfirmDeleteRiSgRcPlan').hide()"
                             actionListener="#{changeHrController.selectChangePlans.clear()}"
                             update=":form" 
                             icon="ui-icon-close fa fa-close Fs14 White" />
        </p:confirmDialog>

        <p:dialog modal="true" class="transparent-dialog" showHeader="false" 
                  widgetVar="block" draggable="false" closable="false" resizable="false" >
            <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
                <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
                <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
            </span>
        </p:dialog>
        <p:dialog modal="true" class="transparent-dialog" showHeader="false"
                  widgetVar="loadingDialog" draggable="false" closable="false" resizable="false" >
            <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
                <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
                <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
            </span>
        </p:dialog>

        <script type="text/javascript">
            $(document).ready(function () {
                var currentTabID = "tab-7";
                ChangeTab(currentTabID);
            });
            function focusToEnd(index) {
                var txt = document.getElementById('traceForm:logTxt' + index);
                if (txt.createTextRange) {
                    //IE  
                    var FieldRange = txt.createTextRange();
                    FieldRange.moveStart('character', txt.value.length);
                    FieldRange.collapse();
                    FieldRange.select();
                } else {
                    //Firefox and Opera  
                    txt.focus();
                    var length = txt.value.length;
                    txt.setSelectionRange(length, length);
                }
            }

        </script>
        <style type="text/css">
            .ChangeTable .ui-datatable-header {
                background: #00aaff;
                color: white;
            } 
            .ChangeTable .ui-datatable-header .ui-button {
                padding: 0px !important;
            }
            .ChangeTable table thead tr th{
                background: white;
            }
            .ChangeTable .ui-paginator{
                background: white;
            }
            .ChangeTable .ui-datatable-odd{
                background: #F4F4F4;
            }
            .ChangeTable .ui-paginator .ui-paginator-pages .ui-paginator-page{
                padding: 1px 6px;
                margin-right: 2px;
                border-radius: 50% !important;
            }
            .ChangeTable .ui-paginator .ui-paginator-pages .ui-state-active,
            .ChangeTable .ui-paginator .ui-paginator-pages .ui-state-focus{
                background: rgb(0, 150, 136) none repeat scroll 0% 0% !important;
                color: white !important;
                border: none !important;
            }
            .ui-fieldset-legend {
                background: transparent none repeat scroll 0% 0% !important;
                color: rgb(82, 82, 82) !important;
                padding-right: 6px !important;
                padding-left: 6px !important;
            }
            .state tbody tr td{
                text-align: center;
            }
            .state thead tr td{
                font-weight: bold;
            }
            .SlimButton {
                width: 16px !important;
                min-width: 8px !important;
                height: 16px !important;
                min-height: 8px !important;
            }
            .SlimButton .ui-button-text{
                padding: 0px !important;
            }
            .ui-datatable .ui-column-filter{
                width: 95% !important;
                padding-left: 0px!important;
                padding-right: 0px!important;
            }
            .ui-filter-column{
                vertical-align: bottom;
            }
            table tbody#form:tableEnodeId_data.ui-datatable-data.ui-widget-content tr.ui-widget-content.ui-datatable-odd.ui-datatable-selectable td.ui-selection-column{
                padding: 0px !important;
                text-align: center;
            }
            tr td.ui-selection-column {
                padding: 0px !important;
                text-align: center;
            }
            tr td.ui-selection-column div .ui-chkbox-box{
                margin: 0px !important;
            }
            div.DataSrt div table.ui-datagrid-data tbody tr.ui-datagrid-row td.ui-datagrid-column{
                padding: 5px 0px !important;
            }
            .ui-datatable table tbody tr td.NodeSrt{
                padding: 6px 3px !important;
                text-align: center !important;
            }

        </style>
    </ui:define>
</ui:composition>