<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:f="http://java.sun.com/jsf/core" 
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core" 
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui" 
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/layout/olympos/template.xhtml">

    <ui:define name="content">
        <p:messages id="mainMessage" showDetail="true" showSummary="false" closable="true" />
        <h:form id="form">
            <p:messages id="mainMessage3" showDetail="true" showSummary="false" closable="true" />
            <p:growl id="growl" showDetail="true" showSummary="false" widgetVar="growl" />

            <p:dataTable value="#{changeParamController.lazyChangePlan}" id="tableChangeId"
                         lazy="true" var="changePlan" rowKey="#{changePlan.id}" filterDelay="2000"
                         selection="#{changeParamController.selectChangePlans}"  
                         rowIndexVar="cusIdx" editable="true" editMode="cell"
                         rows="20" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                         rowsPerPageTemplate="5,10,15,20,30,50,60,80,100,150,200" widgetVar="tableChangeWidget"
                         emptyMessage="#{msg['datatable.empty']}" styleClass="ChangeTable Container100 NoPadding MarTop10">
                <f:facet name="header">
                    <div class="Card NoPadding" style="background: transparent;">
                        <div class="Container5" style="text-align: left;">
                            <p:tooltip position="right" for="addNewChange"></p:tooltip>
                            <p:commandButton id="addNewChange" icon="fa fa-plus-circle" styleClass="OrangeButton White" style="margin-top: 5px"
                                             onclick="PF('block').show()"  
                                             oncomplete="PF('addChangeDlg').show();PF('block').hide()" update=":actForm"
                                             actionListener="#{changeParamController.preAddChangePlan}"
                                             title="#{msg['button.insert']}" 
                                             />
                        </div>
                        <div class="Container10" style="text-align: left;">
                            <p:tooltip position="left" for="proficientTypeId"></p:tooltip>
                            <p:selectOneMenu filter="true" filterMatchMode="contains" style="margin-left: -15px;margin-top: -2px;font-weight: bold"
                                             value="#{changeParamController.selectProficientType}" id="proficientTypeId" >
                                <f:selectItem itemLabel="#{msg['label.changeParam.proficient.type0']}" itemValue="0" noSelectionOption="true" />
                                <f:selectItem itemLabel="#{msg['label.changeParam.proficient.type1']}" itemValue="1" noSelectionOption="true" />
                                <p:ajax update="form,tableChangeId,@widgetVar(tableChangeWidget)" listener="#{changeParamController.onStart}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="Container80 Responsive50">
                            <h:outputText styleClass="Fs20" value="#{changeParamController.selectProficientTypeStr}" />
                        </div>
                        <div class="Container5" style="text-align: right;">
                            <p:commandButton id="toggler" type="button"  
                                             style="float:right" icon="fa fa-sliders" styleClass="Fs14 White" />
                            <p:columnToggler datasource="tableChangeId" trigger="toggler" />
                        </div>
                    </div>
                </f:facet>

                <p:ajax event="page" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax> 
                <p:ajax event="filter" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                <p:column headerText="#{msg['datatable.header.stt']}" width="2" style="text-align: center">
                    <h:outputText value="#{cusIdx +1 }" />
                </p:column>
                <p:column selectionMode="multiple" width="2" style="text-align: center" styleClass="center" >
                </p:column>
                <p:column headerText="#{msg['datatable.header.crNumber']}" width="50"  
                          filterBy="#{changePlan.crNumber}">
                    <h:outputText id="crNumberId" value="#{changePlan.crNumber}"/>
                    <p:tooltip for="crNumberId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.rescue.vendor']}" width="40"  
                          filterBy="#{changePlan.vendor.vendorName}">
                    <h:outputText id="changePlanVendorId" value="#{changePlan.vendor.vendorName}"/>
                    <p:tooltip for="changePlanVendorId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.networkType']}" width="20"  
                          filterBy="#{changePlan.crNumber}">
                    <h:outputText id="changePlanNetworkType" value="#{changePlan.networkType}"/>
                    <p:tooltip for="changePlanNetworkType"></p:tooltip>
                </p:column>

                <p:column headerText="#{msg['datatable.header.createby']}" width="20"  
                          filterBy="#{changePlan.userCreate}">
                    <h:outputText id="rncBscId" value="#{changePlan.userCreate}"/>
                    <p:tooltip for="rncBscId"></p:tooltip>
                </p:column>
                <p:column headerText="#{msg['label.rescue.update.date']}" width="60"
                          filterBy="#{changePlan.updateTime}"
                          style="text-align: center">
                    <h:outputText value="#{changePlan.updateTime}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg['datatable.header.action']}" width="30" style="text-align: center">
                    <div style="text-align: center">
                        <p:tooltip position="top"></p:tooltip>
                        <p:commandButton title="#{msg['label.change.DT.rnc']}"
                                         actionListener="#{changeParamController.preShowChangeDT(changePlan)}"
                                         oncomplete="PF('dlgShowChangeDT').show()"
                                         icon="fa fa-search"
                                         update ="showChangeDTForm"
                                         styleClass="Fs14 White OrangeButton" />
                        <p:tooltip position="top"></p:tooltip>
                        <p:commandButton title="#{msg['label.dowload.fileName']}"
                                         onstart="PF('block').show()"
                                         oncomplete="PF('block').hide()"
                                         icon="fa fa-download"
                                         update=":form"
                                         ajax="false"
                                         styleClass="Fs14 White OrangeButton" >
                            <p:fileDownload value="#{changeParamController.exportResult(changePlan)}" />
                        </p:commandButton>
                    </div>
                </p:column>

            </p:dataTable>
            <p:outputPanel id="actionPanel" style="position: fixed;right: 0px; bottom: 30px;width: 45px;" >
                <p:tooltip position="top" />
                <p:commandButton icon="fa fa-trash" actionListener="#{changeParamController.preDeleteChangePlan}"
                                 update="@widgetVar(comfirmDeleteChangePlan),:form"
                                 title="#{msg['label.del']}" styleClass="White RedButton Fs14 MarTop5" >
                </p:commandButton>
            </p:outputPanel>

        </h:form>
        <p:dialog widgetVar="addChangeDlg" width="60%" 
                  height="50%"  modal="true" showEffect="size" hideEffect="scale">
            <f:facet name="header">
                <h:outputText value="#{msg['label.import']}"/>
            </f:facet>
            <h:form id="actForm">
                <div class="Container100 Flex FlexWrap">
                    <div class="Container50 Flex FlexWrap">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['datatable.header.crNumber']}" />
                        <p:inputText class="ui-g-7" id="crNumberInputId" value="#{changeParamController.currChangePlan.crNumber}" >
                            <f:ajax event="change"/>
                        </p:inputText>
                    </div>
                </div>

                <div class="Container100 Flex FlexWrap">
                    <div class="Container50 Flex FlexWrap" style="margin-bottom: 10px">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['label.vendorName']}"/>
                        <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7" 
                                         value="#{changeParamController.currChangePlan.vendor}" id="vendorName" converter="vendorConverter">
                            <p:ajax event="change" update="@this"/>
                            <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                            <f:selectItems var="vendorObj" itemLabel="#{vendorObj.vendorName}" 
                                           itemValue="#{vendorObj}" value="#{changeParamController.vendors}" />

                        </p:selectOneMenu>
                    </div>
                    <div class="Container50 Flex FlexWrap" style="margin-bottom: 10px">
                        <h:outputText class="cd-text-required control-label Container33" value="#{msg['label.networkType']}"/>
                        <p:selectOneMenu filter="true" filterMatchMode="contains" class="ui-g-7" 
                                         value="#{changeParamController.currChangePlan.networkType}" id="networkType" >
                            <f:ajax event="change"/>
                            <f:selectItem itemLabel="#{msg['common.choose']}" itemValue="null" noSelectionOption="true" />
                            <f:selectItem itemLabel="#{msg['label.networkType.3G']}" itemValue="#{msg['label.networkType.3G']}" noSelectionOption="true" />
                            <f:selectItem itemLabel="#{msg['label.networkType.2G']}" itemValue="#{msg['label.networkType.2G']}" noSelectionOption="true" />

                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="Container100 NoPadding TexAlCenter">
                    <h:outputText class="control-label Container100" 
                                  value="Bạn cần chọn đúng file import theo từng vendor và loại node mạng!"
                                  style="color: green"
                                  />
                    <p:fileUpload  allowTypes="/(\.|\/)(xls|xlsx)$/" 
                                   uploadLabel="#{msg['button.import.temp']}" fileUploadListener="#{changeParamController.handleImportChangePlan}"
                                   label="#{msg['label.fileImport']}" onstart="PF('block').show()" oncomplete="PF('block').hide()"
                                   update=":form,:actForm" multiple="true"
                                   invalidFileMessage="#{msg['message.invalid.file.excel']}" invalidSizeMessage="#{msg['message.invalid.file.size']}"
                                   mode="advanced" skinSimple="true" sizeLimit="2097152" dragDropSupport="true">
                    </p:fileUpload>
                </div>
                <div class="Container100 Flex FlexWrap NoPadding TexAlCenter" style="overflow: hidden;">
                    <div class="Container100 TexAlCenter" >
                        <p:commandButton icon="fa fa-download" styleClass="White Fs14" value="#{msg['button.export.result.import']}"
                                         ajax="false" actionListener="#{changeParamController.exportResult}" 
                                         process="@this" update="@none">
                        </p:commandButton>
                    </div>
                </div>
            </h:form>
        </p:dialog>	
        <p:dialog id="dlgShowChangeDT" widgetVar="dlgShowChangeDT"
                  modal="true" resizable="false"
                  header="#{msg['label.change.DT.rnc']}"
                  width="90%" style="top: 50px; bottom: 30px; overflow: auto">
            <h:form id="showChangeDTForm">
                <h:panelGrid columns="1" width="100%">
                    <div class="Container100 Flex FlexWrap">
                        <p:dataTable value="#{changeParamController.lazyChangeDT}" id="tableChangeDTId"
                                     lazy="true" var="changeDT" rowKey="#{changeDetail.id}" filterDelay="2000"
                                     rowIndexVar="cusIdx" editable="true" editMode="cell"
                                     rows="20" paginator="true" pag
                                     inatorPosition="bottom"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msg['label.total']} {totalRecords} #{msg['label.record']}"
                                     rowsPerPageTemplate="5,10,15,20,30,50,60,80,100,150,200" widgetVar="tableChangeDTWidget"
                                     emptyMessage="#{msg['datatable.empty']}" styleClass="ChangeTable Container100 NoPadding MarTop10">
                            <f:facet name="header">
                                <div class="Card NoPadding" style="background: transparent;">

                                    <div class="Container80">
                                        <h:outputText styleClass="Fs20" value="#{msg['label.change.DT.rnc']}" />
                                    </div>
                                    <div class="Container20" style="text-align: right;">
                                        <p:commandButton id="toggler" type="button"  
                                                         style="float:right" icon="fa fa-sliders" styleClass="Fs14 White" />
                                        <p:columnToggler datasource="tableChangeDTId" trigger="toggler" />
                                    </div>
                                </div>

                            </f:facet>

                            <p:ajax event="page" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax> 
                            <p:ajax event="filter" onstart="PF('block').show()" oncomplete="PF('block').hide()"></p:ajax>
                            <p:column headerText="#{msg['datatable.header.stt']}" width="5">
                                <h:outputText value="#{cusIdx +1 }" />
                            </p:column>
                            <p:column headerText="#{msg['label.nodecode']}" width="50"  
                                      filterBy="#{changeDT.node.nodeCode}">
                                <h:outputText id="nodeCodeId" value="#{changeDT.node.nodeCode}"/>
                                <p:tooltip for="nodeCodeId"></p:tooltip>
                            </p:column>
                            <p:column headerText="#{msg['datatable.header.name.flowrunaction']}" width="50"  
                                      filterBy="#{changeDT.flowRunAction.flowRunName}">
                                <h:outputText id="flowRunNameId" value="#{changeDT.flowRunAction.flowRunName}"/>
                                <p:tooltip for="flowRunNameId"></p:tooltip>
                            </p:column>
                            <p:column headerText="#{msg['datatable.header.status']}" width="50" filterBy="#{changeDT.flowRunAction.status}" >
                                <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('WdflowRunActionTable').filter()" >
                                                <f:selectItem itemLabel="#{msg['datatable.header.status']}" itemValue="" />
                                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status0']}" itemValue="0" />
                                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status1']}" itemValue="1" />
                                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status2']}" itemValue="2" />
                                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status3']}" itemValue="3" />
                                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status4']}" itemValue="4" />
                                                <f:selectItem itemLabel="#{msg['view.label.flowrunaction.status6']}" itemValue="6" />



                                        </p:selectOneMenu>
                                </f:facet>
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{changeDT.flowRunAction.status == 0}"> 
                                        <i class="fa  fa-unlock-alt  Fs18 Gray" style=""></i> 
                                        <br />
                                        <h:outputText value="#{msg['view.label.flowrunaction.status0']}" title="#{msg['view.label.flowrunaction.status0']}" 
                                                rendered="#{changeDT.flowRunAction.status == 0}" style="color: gray; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>
                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{changeDT.flowRunAction.status == 1}">
                                        <i class="fa fa-clock-o Fs20" style="color: #00BFFF !important;"></i> 
                                        <br />
                                        <h:outputText value="#{msg['view.label.flowrunaction.status1']}" rendered="#{changeDT.flowRunAction.status == 1}" 
                                                style="color: #00BFFF;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>	

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{changeDT.flowRunAction.status == 2}">
                                        <i class="fa fa-spinner fa-pulse fa-fw Fs20" style="color: #4169E1 !important;"></i> 
                                        <br />
                                        <h:outputText value="#{msg['view.label.flowrunaction.status2']}"
                                                style="color: #4169E1; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel> 

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{changeDT.flowRunAction.status == 3}">
                                        <i class="fa fa-check-circle Fs20" style="color: #228B22 !important;"></i> 
                                        <br />
                                        <h:outputText value="#{msg['view.label.flowrunaction.status3']}"  
                                        style="color: #228B22; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{changeDT.flowRunAction.status == 4}">
                                        <i class="fa fa-warning Fs20" style="color: #FF8C00 !important;"></i> 
                                        <br />
                                        <h:outputText value="#{msg['view.label.flowrunaction.status4']}"  
                                        style="color: #FF8C00; text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel> 

                                <p:outputPanel style="width: 100%; text-align:center" rendered="#{changeDT.flowRunAction.status == 6}">
                                        <i class="fa fa-stop-circle Fs20" style="color: #FF4500 !important;"></i> 
                                        <br />
                                        <h:outputText value="#{msg['view.label.flowrunaction.status6']}" rendered="#{changeDT.flowRunAction.status == 6}"
                                         style="color: #FF4500;text-shadow: 0px 0px 4px #fff;font-weight: bold;"/>
                                </p:outputPanel>	
                            </p:column>
                            <p:column headerText="#{msg['label.dowload.fileName']}" width="20" style="text-align: center">
                                <div style="text-align: center">
                                    <p:tooltip position="top"></p:tooltip>
                                    <p:commandButton title="#{msg['label.dowload.fileName']}"
                                                     onstart="PF('block').show()"
                                                     oncomplete="PF('block').hide()"
                                                     icon="fa fa-download"
                                                     update=":form"
                                                     ajax="false"
                                                     styleClass="Fs14 White OrangeButton" >
                                        <p:fileDownload value="#{changeParamController.onDownloadFilePutOSS(changeDT)}" />
                                    </p:commandButton>
                                </div>
                            </p:column>
                        </p:dataTable>	
                    </div>
                </h:panelGrid>
            </h:form>
        </p:dialog>
        <p:confirmDialog global="true" header="#{msg['button.delete']}"  showEffect="face" hideEffect="scale"
                         widgetVar="comfirmDeleteChangePlan" id="comfirmDeleteChangePlan">
            <f:facet name="message">
                <h:outputText value="#{msg['title.confirm.delete']}" />
                <p:spacer width="100%" height="1px"></p:spacer>
            </f:facet>

            <p:commandButton value="Yes" update=":form" process="@this"
                             actionListener="#{changeParamController.deleteChangePlan}"
                             styleClass="ui-confirmdialog-yes RedButton" icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="No" styleClass="ui-confirmdialog-no AquaButton" process="@this"
                             oncomplete ="PF('comfirmDeleteRiSgRcPlan').hide()"
                             actionListener="#{changeParamController.selectChangePlans.clear()}"
                             update=":form" 
                             icon="ui-icon-close fa fa-close Fs14 White" />
        </p:confirmDialog>

        <p:dialog modal="true" class="transparent-dialog" showHeader="false" 
                  widgetVar="block" draggable="false" closable="false" resizable="false" >
            <span class="fa-stack fa-2x" style="width: 5em; height: 5em; line-height: 5em;" >
                <i class="fa fa-fire fa-stack-1x" style="bottom: 40px; color: #FAFAFA; font-size: 0.8em"  ></i>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-stack-2x" style="color: #00AAFF; font-size: 3em;"></i>
                <i class="fa fa-coffee fa-stack-1x" style="color: #975524; bottom: 20px;font-size: 1.2em"></i>
            </span>
        </p:dialog>

        <script type="text/javascript">
            $(document).ready(function () {
                var currentTabID = "tab-7";
                ChangeTab(currentTabID);
            });
            function focusToEnd(index) {
                var txt = document.getElementById('traceForm:logTxt' + index);
                if (txt.createTextRange) {
                    //IE  
                    var FieldRange = txt.createTextRange();
                    FieldRange.moveStart('character', txt.value.length);
                    FieldRange.collapse();
                    FieldRange.select();
                } else {
                    //Firefox and Opera  
                    txt.focus();
                    var length = txt.value.length;
                    txt.setSelectionRange(length, length);
                }
            }

        </script>
        <style type="text/css">
            .ChangeTable .ui-datatable-header {
                background: #00aaff;
                color: white;
            } 
            .ChangeTable .ui-datatable-header .ui-button {
                padding: 0px !important;
            }
            .ChangeTable table thead tr th{
                background: white;
            }
            .ChangeTable .ui-paginator{
                background: white;
            }
            .ChangeTable .ui-datatable-odd{
                background: #F4F4F4;
            }
            .ChangeTable .ui-paginator .ui-paginator-pages .ui-paginator-page{
                padding: 1px 6px;
                margin-right: 2px;
                border-radius: 50% !important;
            }
            .ChangeTable .ui-paginator .ui-paginator-pages .ui-state-active,
            .ChangeTable .ui-paginator .ui-paginator-pages .ui-state-focus{
                background: rgb(0, 150, 136) none repeat scroll 0% 0% !important;
                color: white !important;
                border: none !important;
            }
            .ui-fieldset-legend {
                background: transparent none repeat scroll 0% 0% !important;
                color: rgb(82, 82, 82) !important;
                padding-right: 6px !important;
                padding-left: 6px !important;
            }
            .state tbody tr td{
                text-align: center;
            }
            .state thead tr td{
                font-weight: bold;
            }
            .SlimButton {
                width: 16px !important;
                min-width: 8px !important;
                height: 16px !important;
                min-height: 8px !important;
            }
            .SlimButton .ui-button-text{
                padding: 0px !important;
            }
            .ui-datatable .ui-column-filter{
                width: 95% !important;
                padding-left: 0px!important;
                padding-right: 0px!important;
            }
            .ui-filter-column{
                vertical-align: bottom;
            }
            table tbody#form:tableEnodeId_data.ui-datatable-data.ui-widget-content tr.ui-widget-content.ui-datatable-odd.ui-datatable-selectable td.ui-selection-column{
                padding: 0px !important;
                text-align: center;
            }
            tr td.ui-selection-column {
                padding: 0px !important;
                text-align: center;
            }
            tr td.ui-selection-column div .ui-chkbox-box{
                margin: 0px !important;
            }
            div.DataSrt div table.ui-datagrid-data tbody tr.ui-datagrid-row td.ui-datagrid-column{
                padding: 5px 0px !important;
            }
            .ui-datatable table tbody tr td.NodeSrt{
                padding: 6px 3px !important;
                text-align: center !important;
            }

        </style>
    </ui:define>
</ui:composition>